Repository mozilla/pdf.js, pull requests merged in 2018-08, with the labels that each got.

#9897 Prefer the Width/Height of the image data, rather than the image dictionary, for JPEG 2000 images (issue 9650)
  src/core/image.js
  src/core/jpx.js
  test/pdfs/issue9650.pdf.link
  test/test_manifest.json
Labels: 1-core, 4-image-jpeg

#9938 Ensure that Type0, i.e. composite, OpenType fonts with `CFF ` tables are *not* treated as CFF fonts if their glyph mapping is non-default (issue 9915)
  src/core/evaluator.js
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue9915_reduced.pdf
  test/test_manifest.json
Labels: 4-font-conversion, 4-font-opentype

#9948 Add (basic) unit-tests for the non-global `URL` constructor (PR 9868 follow-up)
  test/unit/util_spec.js
Labels: 1-test

#9954 Stop warning for non-Name /Filter entries in the `PDFImage` constructor (PR 9897 follow-up)
  src/core/image.js
Labels: 1-core

#9874 [api-minor] Include export value for checkboxes
  src/core/annotation.js
  test/unit/annotation_spec.js
Labels: 4-annotations

#9956 Allow loaded progress of 0 in unit tests.
  test/unit/api_spec.js
Labels: 1-test

#9960 Fail when MD5 of test files fails on bots.
  gulpfile.js
  test/test.js
Labels: 1-test

#9959 Utility script to add a reference test.
  test/add_test.js
Labels: 1-test

#9961 Parse the font file to determine the correct type/subtype, rather than relying on the (often incorrect) data in the font dictionary
  src/core/fonts.js
Labels: 4-font-conversion

#9958 Always fallback to system font on font failure.
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue9949.pdf
  test/test_manifest.json
Labels: 4-font-conversion

#9965 Update translations and packages
  l10n/bg/viewer.properties
  l10n/br/viewer.properties
  l10n/cs/viewer.properties
  l10n/cy/viewer.properties
  l10n/el/viewer.properties
  l10n/en-CA/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/fr/viewer.properties
  l10n/hi-IN/viewer.properties
  l10n/hsb/viewer.properties
  l10n/hu/viewer.properties
  l10n/ia/viewer.properties
  l10n/it/viewer.properties
  l10n/ka/viewer.properties
  l10n/kn/viewer.properties
  l10n/lt/viewer.properties
  l10n/mr/viewer.properties
  l10n/ms/viewer.properties
  l10n/nb-NO/viewer.properties
  l10n/nl/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/pl/viewer.properties
  l10n/pt-PT/viewer.properties
  l10n/rm/viewer.properties
  l10n/tr/viewer.properties
  l10n/uk/viewer.properties
  l10n/ur/viewer.properties
  l10n/zh-CN/viewer.properties
  l10n/zh-TW/viewer.properties
  package-lock.json
  package.json
  test/unit/testreporter.js
Labels: 1-other

#9964 Attempt to throw `MissingPDFException` when applicable in `node_stream.js` (issue 9791)
  src/display/node_stream.js
  test/unit/api_spec.js
Labels: 1-test

#9822 [api-minor] Refactor the annotation code to be asynchronous
  src/core/annotation.js
  src/core/document.js
  src/core/worker.js
  test/unit/annotation_spec.js
Labels: 4-annotations

#9975 Re-factor `destinations`/`getDestination` to reduce unnecessary duplication, and reject non-string inputs
  src/core/obj.js
  src/display/api.js
  test/unit/api_spec.js
Labels: 1-core

#9980 Ensure that `Uint8ClampedArray` is used for image data transfered by `getTransfers` (PR 9802 follow-up)
  src/core/operator_list.js
Labels: 1-core

#9988 Remove the unused `PDFDocument.mainXRefEntriesOffset` method
  src/core/document.js
Labels: 1-core

#9989 Update translations and packages
  l10n/ach/viewer.properties
  l10n/az/viewer.properties
  l10n/be/viewer.properties
  l10n/cak/viewer.properties
  l10n/cs/viewer.properties
  l10n/cy/viewer.properties
  l10n/da/viewer.properties
  l10n/de/viewer.properties
  l10n/el/viewer.properties
  l10n/eo/viewer.properties
  l10n/es-CL/viewer.properties
  l10n/es-ES/viewer.properties
  l10n/es-MX/viewer.properties
  l10n/eu/viewer.properties
  l10n/fi/viewer.properties
  l10n/fr/viewer.properties
  l10n/gn/viewer.properties
  l10n/gu-IN/viewer.properties
  l10n/hu/viewer.properties
  l10n/id/viewer.properties
  l10n/kab/viewer.properties
  l10n/kk/viewer.properties
  l10n/ko/viewer.properties
  l10n/mk/viewer.properties
  l10n/nb-NO/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/pl/viewer.properties
  l10n/pt-BR/viewer.properties
  l10n/rm/viewer.properties
  l10n/ru/viewer.properties
  l10n/sk/viewer.properties
  l10n/sl/viewer.properties
  l10n/sr/viewer.properties
  l10n/te/viewer.properties
  l10n/th/viewer.properties
  l10n/tr/viewer.properties
  l10n/uk/viewer.properties
  l10n/ur/viewer.properties
  package-lock.json
  package.json
Labels: 1-other

#9987 [api-minor] Remove the obsolete `createBlob` helper function
  src/pdf.js
  src/shared/util.js
  web/app.js
Labels: 1-core, 1-viewer

#9991 Remove the deprecated ways, in `BaseViewer`, of setting the Scroll/Spread modes (PR 9858 follow-up)
  web/base_viewer.js
Labels: 1-viewer

#9977 Add support for `async`/`await` using Babel
  .eslintrc
  external/builder/preprocessor2.js
  gulpfile.js
  package-lock.json
  package.json
  src/core/evaluator.js
  src/core/obj.js
  src/core/pdf_manager.js
  src/display/fetch_stream.js
  src/display/network.js
  src/display/node_stream.js
  src/display/transport_stream.js
  src/shared/message_handler.js
Labels: 1-core, 1-other

#10000 Remove the unused `defaultColor` property on `ColorSpace` instances
  src/core/colorspace.js
Labels: 1-core

#10008 Update translations/packages and fix duplicated function name in the Esprima fixtures
  external/builder/fixtures_esprima/comments-expected.js
  external/builder/fixtures_esprima/comments.js
  l10n/bg/viewer.properties
  l10n/de/viewer.properties
  l10n/eo/viewer.properties
  l10n/es-ES/viewer.properties
  l10n/fi/viewer.properties
  l10n/gu-IN/viewer.properties
  l10n/ltg/viewer.properties
  l10n/oc/viewer.properties
  l10n/pl/viewer.properties
  l10n/sl/viewer.properties
  l10n/ur/viewer.properties
  package-lock.json
  package.json
Labels: 1-other, 1-test

#9990 Convert the `Catalog` class, in `src/core/obj.js`, to ES6 syntax
  src/core/obj.js
Labels: 1-core

#10007 Convert the code in `src/core/colorspace.js to use ES6 classes
  src/core/colorspace.js
Labels: 1-core

#10015 Adding chunkname to async loaded code
  src/display/api.js
Labels: 1-other

#10020 Ensure that the built `PdfJsDefaultPreferences.jsm` file won't be affected/touched during tree-wide ESLint rule changes in `mozilla-central` (PR 9571 follow-up)
  gulpfile.js
  src/license_header.js
  src/license_header_libre.js
Labels: 1-other

#10022 Implement text rendering modes in SVG backend
  src/display/svg.js
Labels: 4-svg
