Repository mozilla/pdf.js, pull requests merged in 2018-02, with the labels that each got.

#9427 Fallback to the built-in JPEG decoder when browser decoding fails, and attempt to handle JPEG images with DNL (Define Number of Lines) markers (issue 8614)
  src/core/evaluator.js
  src/core/image.js
  src/core/jpg.js
  src/display/api.js
  src/shared/util.js
  test/pdfs/issue8614.pdf.link
  test/test_manifest.json
Labels: 1-core, 4-image-conversion, 4-image-jpeg

#9466 Refactor `PDFThumbnailViewer.scrollThumbnailIntoView` to avoid unnecessary DOM look-ups
  web/pdf_thumbnail_view.js
  web/pdf_thumbnail_viewer.js
Labels: 1-viewer

#9453 Upstream the changes from: Bug 1432992 - Remove definitions of Ci, Cr, Cc, and Cu
  extensions/firefox/bootstrap.js
  extensions/firefox/chrome/content.js
  extensions/firefox/content/PdfJs-stub.jsm
  extensions/firefox/content/PdfJs.jsm
  extensions/firefox/content/PdfJsTelemetry.jsm
  extensions/firefox/content/PdfStreamConverter.jsm
  extensions/firefox/content/PdfjsChromeUtils.jsm
  extensions/firefox/content/PdfjsContentUtils.jsm
  extensions/firefox/tools/l10n.js
  package.json
Labels: 1-other, 4-firefox-specific

#9468 Enable the `mozilla/avoid-removeChild` and `mozilla/use-includes-instead-of-indexOf` ESLint rules globally
  .eslintrc
  extensions/chromium/extension-router.js
  extensions/chromium/pdfHandler.js
  external/.eslintrc
  src/shared/compatibility.js
  test/downloadutils.js
  test/driver.js
  test/stats/statcmp.js
  test/webbrowser.js
  web/app.js
  web/debugger.js
  web/download_manager.js
  web/pdf_link_service.js
  web/pdf_print_service.js
  web/ui_utils.js
Labels: 1-other

#9465 Attempt to unify the `disableRange`/`contentLength` handling in the various network streams
  src/display/fetch_stream.js
  src/display/network.js
  src/display/node_stream.js
  src/display/transport_stream.js
Labels: 1-core

#9472 Improve the interface for `PDFFindController`
  web/pdf_find_controller.js
Labels: 1-viewer

#9473 Remove the non-`a.click()` case from the `DownloadManager`
  web/download_manager.js
Labels: 1-viewer

#9475 Remove the actual `enableHandToolOnLoad` preference (PR 9040 follow-up)
  extensions/chromium/preferences_schema.json
  web/default_preferences.json
Labels: 1-viewer

#9420 Take the dictionary, and not just the image data, into account when caching inline images (issue 9398)
  src/core/parser.js
  test/test_manifest.json
Labels: 1-core

#9479 [api-major] Refactor viewer components initialization to reduce their dependency on the global `PDFJS` object
  examples/mobile-viewer/viewer.js
  extensions/chromium/preferences_schema.json
  src/display/annotation_layer.js
  src/display/api.js
  src/display/dom_utils.js
  src/display/global.js
  src/pdf.js
  src/shared/compatibility.js
  test/driver.js
  test/unit/dom_utils_spec.js
  web/annotation_layer_builder.js
  web/app.js
  web/base_viewer.js
  web/chromecom.js
  web/debugger.js
  web/default_preferences.json
  web/firefoxcom.js
  web/genericcom.js
  web/interfaces.js
  web/pdf_link_service.js
  web/pdf_outline_viewer.js
  web/pdf_page_view.js
  web/ui_utils.js
  web/viewer_compatibility.js
Labels: 1-viewer

#9401 Make the test framework more resilient to errors.
  test/driver.js
Labels: 1-test

#9470 Ensure that `JpegImage.getData` returns the correct data length when `forceRGBoutput == true` (issue 4888)
  src/core/jpg.js
  test/unit/api_spec.js
Labels: 4-image-jpeg

#9480 [api-major] Move the worker related options from the global `PDFJS` object
  examples/acroforms/acroforms.js
  examples/browserify/main.js
  examples/components/pageviewer.js
  examples/components/simpleviewer.js
  examples/components/singlepageviewer.js
  examples/helloworld/hello.js
  examples/learning/helloworld.html
  examples/learning/helloworld64.html
  examples/learning/prevnext.html
  examples/mobile-viewer/viewer.js
  examples/svgviewer/viewer.js
  examples/text-only/pdf2svg.js
  examples/webpack/main.js
  external/dist/webpack.js
  src/display/api.js
  src/display/dom_utils.js
  src/display/global.js
  src/display/worker_options.js
  src/doc_helper.js
  src/pdf.js
  src/shared/util.js
  test/driver.js
  test/unit/api_spec.js
  test/unit/jasmine-boot.js
  web/app.js
Labels: 1-core

#9490 Fix regressions in preferences in Chrome
  extensions/chromium/options/migration.js
  extensions/chromium/options/options.html
  extensions/chromium/options/options.js
  extensions/chromium/preferences_schema.json
  gulpfile.js
  web/chromecom.js
Labels: 4-chrome-specific

#9505 Don't block origin-less blob:-URLs in hosted viewer
  web/app.js
Labels: 1-viewer

#9511 Upstream changes from bug 792808 and 1440284
  extensions/firefox/content/PdfJsTelemetry-stub.jsm
  extensions/firefox/content/PdfJsTelemetry.jsm
  extensions/firefox/content/PdfStreamConverter.jsm
  package.json
Labels: 1-addon, 4-firefox-specific

#9519 Upstream the changes from: Bug 888600 - Move ContentFrameMessageManager to WebIDL. Part 6: Mark some IDL interfaces as non-scriptable. r=bz.
  extensions/firefox/content/PdfjsChromeUtils.jsm
  extensions/firefox/content/PdfjsContentUtils.jsm
Labels: 1-addon, 4-firefox-specific
