Repository mozilla/pdf.js, pull requests merged in 2018-06, with the labels that each got.

#9740 Use Dict.getArray, instead of Dict.get, when getting the 'Size' in constructSampled in src/core/function.js
  src/core/function.js
Labels: 1-core

#9771 Remove the `gulp extension` build target
  gulpfile.js
Labels: 1-other

#9773 Fix multibyte decoding in content_disposition.js
  src/display/content_disposition.js
Labels: 1-core

#9769 Reduce the amount of errors logged, primarily in Node.js/Travis, when running the unit-tests
  examples/node/pdf2png/pdf2png.js
  src/core/worker.js
  src/display/api.js
  src/display/api_compatibility.js
  test/unit/clitests_helper.js
  web/ui_utils.js
  web/viewer_compatibility.js
Labels: 1-core

#9774 Use `fs.unlinkSync` instead of `fs.unlink` when removing files in the font tests
  test/font/ttxdriver.js
Labels: 1-test

#9741 Build improvements
  .gitignore
  examples/webpack/README.md
  examples/webpack/package.json
  examples/webpack/webpack.config.js
  external/webpack/pdfjsdev-loader.js
  gulpfile.js
  package-lock.json
  package.json
Labels: 1-other

#9779 Remove dead code in the `gh-pages-prepare` task in the Gulpfile
  gulpfile.js
Labels: 1-other

#9777 Various `PageViewport` and `MessageHandler` cleanup
  gulpfile.js
  src/core/worker.js
  src/display/api.js
  src/display/dom_utils.js
  src/shared/message_handler.js
  src/shared/util.js
  test/unit/clitests.json
  test/unit/jasmine-boot.js
  test/unit/message_handler_spec.js
Labels: 1-core, 1-test, 1-viewer

#9781 Miscellaneous API clean-up
  src/core/worker.js
  src/display/api.js
  src/display/dom_utils.js
  src/display/node_stream.js
  src/pdf.js
  src/shared/util.js
  test/unit/api_spec.js
  web/app.js
Labels: 1-core

#9792 Import translations
  l10n/ach/viewer.properties
  l10n/az/viewer.properties
  l10n/br/viewer.properties
  l10n/ca/viewer.properties
  l10n/cs/viewer.properties
  l10n/cy/viewer.properties
  l10n/da/viewer.properties
  l10n/eo/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/es-CL/viewer.properties
  l10n/es-ES/viewer.properties
  l10n/es-MX/viewer.properties
  l10n/fi/viewer.properties
  l10n/fr/viewer.properties
  l10n/fy-NL/viewer.properties
  l10n/gd/viewer.properties
  l10n/gu-IN/viewer.properties
  l10n/he/viewer.properties
  l10n/hu/viewer.properties
  l10n/id/viewer.properties
  l10n/it/viewer.properties
  l10n/ja/viewer.properties
  l10n/ka/viewer.properties
  l10n/ko/viewer.properties
  l10n/lij/viewer.properties
  l10n/lt/viewer.properties
  l10n/lv/viewer.properties
  l10n/ms/viewer.properties
  l10n/nb-NO/viewer.properties
  l10n/nl/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/pl/viewer.properties
  l10n/pt-BR/viewer.properties
  l10n/pt-PT/viewer.properties
  l10n/rm/viewer.properties
  l10n/ru/viewer.properties
  l10n/sk/viewer.properties
  l10n/sq/viewer.properties
  l10n/sr/viewer.properties
  l10n/sv-SE/viewer.properties
  l10n/te/viewer.properties
  l10n/th/viewer.properties
  l10n/tr/viewer.properties
  l10n/uk/viewer.properties
  l10n/zh-CN/viewer.properties
  l10n/zh-TW/viewer.properties
Labels: 1-viewer

#9660 Support running the tests headlessly.
  test/test.js
  test/webbrowser.js
Labels: 1-test

#9794 Implement drag-and-drop support in the viewer for local files
  web/app.js
Labels: 1-ux, 1-viewer

#9689 Fixed critical unhandled promise that prevented error catching using API
  src/display/api.js
Labels: 1-core

#9801 Replace deprecated `new Buffer(string, 'base64')` constructor with `Buffer.from(string, 'base64')
  test/font/ttxdriver.js
  test/test.js
Labels: 1-other

#9815 Remove the `disableFullscreen` hack for embedded IE 11 (issue 9585)
  web/app.js
  web/app_options.js
  web/viewer_compatibility.js
Labels: 1-viewer

#9816 Fix regression causing the pages to be offset horizontally in Presentation Mode (PR 8993 follow-up)
  web/viewer.css
Labels: 1-viewer

#9595 Disable ftp support in Chrome 59+, add file chooser at file
  extensions/chromium/pdfHandler.js
  web/app.js
  web/chromecom.js
  web/viewer-snippet-chrome-overlays.html
Labels: 1-addon, 4-chrome-specific

#9819 Fix regression affecting the horizontal `viewerContainer` offset for small window widths (PR 9816 follow-up)
  web/viewer.css
Labels: 1-viewer

#9809 Allow `FontFaceObject.getPathGenerator` to ignore non-embedded fonts during rendering
  src/display/api.js
  src/display/font_loader.js
  test/pdfs/issue4244.pdf.link
  test/test_manifest.json
Labels: 1-core

#9802 Update `ColorSpace` and `PDFImage` to use `Uint8ClampedArray`s and remove manual clamping/rounding
  gulpfile.js
  src/core/annotation.js
  src/core/chunked_stream.js
  src/core/colorspace.js
  src/core/evaluator.js
  src/core/image.js
  src/core/obj.js
  src/core/parser.js
  src/core/stream.js
  src/core/worker.js
  src/display/api.js
  test/unit/annotation_spec.js
  test/unit/api_spec.js
  test/unit/colorspace_spec.js
  test/unit/stream_spec.js
Labels: 1-core

#9795 Replace `Util.extendObj` by `Object.assign`
  src/core/operator_list.js
  src/display/api.js
  src/display/text_layer.js
  src/shared/compatibility.js
  src/shared/util.js
Labels: 1-core

#9827 Fix various corrupt PDF files (issue 9252, issue 9418)
  src/core/obj.js
  src/core/parser.js
  test/pdfs/.gitignore
  test/pdfs/issue9252.pdf
  test/pdfs/issue9418.pdf
  test/test_manifest.json
  test/unit/parser_spec.js
Labels: 4-corrupted-pdf

#9830 Removed safari compatibility check (issue #9824)
  gulpfile.js
  src/display/api.js
  src/display/api_compatibility.js
  web/app_options.js
Labels: 1-core

#9835 Clean-up the `PDFDocumentProxy.loadingParams` method in the API, and the `locale` viewer option
  src/display/api.js
  web/app.js
  web/app_options.js
Labels: 1-core, 1-viewer

#9832 Fix a number of regressions/inefficiencies introduced by adding Scroll/Spread modes to the viewer (PR 9208 follow-up)
  web/base_viewer.js
  web/pdf_single_page_viewer.js
  web/pdf_viewer.js
  web/secondary_toolbar.js
Labels: 1-viewer

#9839 Add unit-tests for `PDFPageProxy.stats` (PR 9245 follow-up)
  src/display/api.js
  test/unit/api_spec.js
Labels: 1-test

#9849 Replace the `cloneObj` helper function, in the viewer, with native `Object.assign` (PR 9795 follow-up)
  web/pdf_document_properties.js
  web/pdf_history.js
  web/preferences.js
  web/ui_utils.js
Labels: 1-viewer

#9838 Error, rather than warn, once a number of invalid path operators are encountered in `EvaluatorPreprocessor.read` (bug 1443140)
  src/core/evaluator.js
  test/pdfs/bug1443140.pdf.link
  test/test_manifest.json
  test/unit/evaluator_spec.js
Labels: 1-core

#9852 Proper Error Handling for Build Numbers of Downloaded Sources (Non-Git repositories).
  gulpfile.js
Labels: 1-other

#9859 Update translations and packages
  external/importL10n/locales.js
  l10n/ar/viewer.properties
  l10n/be/viewer.properties
  l10n/bg/viewer.properties
  l10n/br/viewer.properties
  l10n/brx/chrome.properties
  l10n/brx/viewer.properties
  l10n/cak/chrome.properties
  l10n/cak/viewer.properties
  l10n/crh/chrome.properties
  l10n/crh/viewer.properties
  l10n/de/viewer.properties
  l10n/el/viewer.properties
  l10n/en-CA/chrome.properties
  l10n/en-CA/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/eu/viewer.properties
  l10n/fa/viewer.properties
  l10n/gn/chrome.properties
  l10n/gn/viewer.properties
  l10n/he/viewer.properties
  l10n/hsb/chrome.properties
  l10n/hsb/viewer.properties
  l10n/hto/viewer.properties
  l10n/ia/chrome.properties
  l10n/ia/viewer.properties
  l10n/ja-JP-mac/chrome.properties
  l10n/ja-JP-mac/viewer.properties
  l10n/ja/viewer.properties
  l10n/kab/chrome.properties
  l10n/kab/viewer.properties
  l10n/kk/viewer.properties
  l10n/kok/chrome.properties
  l10n/kok/viewer.properties
  l10n/ks/chrome.properties
  l10n/ks/viewer.properties
  l10n/lo/viewer.properties
  l10n/ltg/chrome.properties
  l10n/ltg/viewer.properties
  l10n/meh/viewer.properties
  l10n/nb-NO/viewer.properties
  l10n/ne-NP/chrome.properties
  l10n/ne-NP/viewer.properties
  l10n/oc/viewer.properties
  l10n/pa-IN/viewer.properties
  l10n/rm/viewer.properties
  l10n/sat/chrome.properties
  l10n/sat/viewer.properties
  l10n/sk/viewer.properties
  l10n/sl/viewer.properties
  l10n/tsz/chrome.properties
  l10n/tsz/viewer.properties
  l10n/uz/chrome.properties
  l10n/uz/viewer.properties
  l10n/zam/viewer.properties
  package-lock.json
  package.json
Labels: 1-other

#9860 Update the localization README to indicate that the translations are imported from the Nightly channel
  l10n/README.md
Labels: 1-other

#9858 Additional Scroll/Spread mode clean-up (PR 9832 follow-up)
  web/app.js
  web/app_options.js
  web/base_viewer.js
  web/pdf_single_page_viewer.js
  web/pdf_viewer.js
  web/secondary_toolbar.js
Labels: 1-viewer
