Repository mozilla/pdf.js, pull requests merged in 2018-07, with the labels that each got.

#9861 Refactor `PDFFindController` to use the 'pagesinit' event, dispatched on the `eventBus`, to resolve the `_firstPagePromise`
  web/app.js
  web/base_viewer.js
  web/pdf_find_controller.js
Labels: 1-viewer

#9866 Prevent the development viewer, started with `gulp server`, from breaking completely in Private Browsing mode
  external/systemjs/plugin-babel-cached.js
Labels: 1-viewer

#9879 Correct the instructions in the README file for `examples/mobile-viewer`
  examples/mobile-viewer/README.md
Labels: 1-other

#9880 Remove the `jp-JP-mac` locale
  external/importL10n/locales.js
  l10n/ja-JP-mac/chrome.properties
  l10n/ja-JP-mac/viewer.properties
Labels: 1-other

#9877 Hide the Scroll/Spread mode buttons if the viewer is a `PDFSinglePageViewer` instance (PR 9858 follow-up)
  web/base_viewer.js
  web/pdf_cursor_tools.js
  web/secondary_toolbar.js
  web/viewer.css
  web/viewer.html
Labels: 1-viewer

#9837 Replace `NotImplementedException` with `unreachable`
  src/core/pdf_manager.js
  src/shared/util.js
Labels: 1-core

#9881 Replace the remaining occurences of `instanceof Array` with `Array.isArray()`
  .eslintrc
  package-lock.json
  package.json
  test/unit/api_spec.js
  web/app.js
  web/base_viewer.js
  web/pdf_history.js
  web/pdf_link_service.js
  web/pdf_thumbnail_viewer.js
Labels: 1-viewer

#9887 Convert more code in the `/src` folder to use ES6 classes, such that `Util.inherit` can be removed
  src/core/cmap.js
  src/core/font_renderer.js
  src/core/obj.js
  src/shared/util.js
Labels: 1-core

#9900 Prevent Metadata/XML parsing from breaking `PDFDocumentProxy.getMetadata` when no XML root document is found (issue 8884)
  src/display/xml_parser.js
  test/unit/metadata_spec.js
Labels: 1-core

#9904 Modified Examples to work without systemjs
  README.md
  docs/contents/examples/index.md
  examples/helloworld/README.md
  examples/helloworld/hello.js
  examples/helloworld/helloworld.pdf
  examples/helloworld/index.html
  examples/svgviewer/index.html
  examples/svgviewer/viewer.js
Labels: 1-other

#9917 Add a `BasePreferences.getAll` method and use it to fetch all Preferences at once in `PDFViewerApplication._readPreferences`; ensure that the `externalLinkTarget` option is correctly set when the viewer is embedded
  web/app.js
  web/preferences.js
Labels: 1-viewer

#9933 README.md: suggest usage of https instead of git protocol
  README.md
Labels: 1-other

#9935 [Regression] Convert `Catalog.builtInCMapCache` into a `Map`, instead of an Object, to ensure that it's correctly reset (PR 8064 follow-up)
  src/core/evaluator.js
  src/core/obj.js
Labels: 1-core

#9936 Validate the Preferences when fetching them from storage
  web/app.js
  web/preferences.js
Labels: 1-viewer

#9925 Attempt to estimate the minimum required `buffer` length when initializing `StreamsSequenceStream` instances
  src/core/stream.js
Labels: 1-core

#9931 Refactor `getPage` (in the worker), and attempt to use the `Linearization` dictionary to lookup the first Page
  src/core/document.js
  src/core/obj.js
Labels: 1-core
