Repository mozilla/pdf.js, pull requests merged in 2019-05, with the labels that each got.

#10784 Ensure that the `OperatorList` constructor actually initializes a `NullOptimizer` when intended (PR 9089 follow-up)
  src/core/operator_list.js
Labels: 1-core

#10756 Attempt to handle corrupt PDF documents that contains path operators inside of text object (issue 10542)
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue10542_reduced.pdf
  test/test_manifest.json
Labels: 1-core

#10789 Change `PartialEvaluator.handleColorN` to throw when no valid pattern is found
  src/core/evaluator.js
Labels: 1-core

#10771 [api-minor] Implement creation/modification date for annotations
  l10n/en-US/viewer.properties
  l10n/nl/viewer.properties
  src/core/annotation.js
  src/display/annotation_layer.js
  src/display/display_utils.js
  src/pdf.js
  test/annotation_layer_builder_overrides.css
  test/unit/annotation_spec.js
  test/unit/display_utils_spec.js
  web/annotation_layer_builder.css
  web/pdf_document_properties.js
Labels: 1-core

#10795 Update the `canvas` npm package to fix Travis CI builds (issue 10790)
  package-lock.json
  package.json
  test/unit/parser_spec.js
Labels: 1-test

#10805 Enable the `consistent-return` ESLint rule
  .eslintrc
  extensions/chromium/extension-router.js
  extensions/chromium/pdfHandler.js
  extensions/chromium/preserve-referer.js
  external/webpack/pdfjsdev-loader.js
  gulpfile.js
  src/core/annotation.js
  src/core/evaluator.js
  src/core/jpg.js
  src/core/obj.js
  src/core/operator_list.js
  src/display/api.js
  src/display/canvas.js
  src/display/font_loader.js
  src/shared/message_handler.js
  test/test.js
  test/unit/fetch_stream_spec.js
  test/unit/network_spec.js
  test/unit/network_utils_spec.js
  test/unit/node_stream_spec.js
  web/app.js
  web/download_manager.js
  web/grab_to_pan.js
  web/password_prompt.js
  web/pdf_document_properties.js
  web/pdf_print_service.js
Labels: 1-core, 1-viewer

#10794 Fix glyph at index zero in CIDFontType2 that has a CIDToGIDMap stream
  src/core/evaluator.js
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue10519_reduced.pdf
  test/test_manifest.json
Labels: 4-font-conversion

#10826 Remove unused `ref` property from the `parameters` object used when creating annotations in `AnnotationFactory._create`
  src/core/annotation.js
Labels: 4-annotations

#10827 Convert the (remaining) network streams to ES6 classes
  src/display/fetch_stream.js
  src/display/network.js
  src/display/transport_stream.js
Labels: 1-core

#10854 make print resolution configurable via AppOptions
  web/app_options.js
  web/pdf_print_service.js
Labels: 4-printing

#10833 [api-minor] Implement contents and creation date for the correct annotation types
  src/core/annotation.js
  test/unit/annotation_spec.js
Labels: 4-annotations

#10859 Update translations and packages
  l10n/cak/viewer.properties
  l10n/cs/viewer.properties
  l10n/cy/viewer.properties
  l10n/da/viewer.properties
  l10n/el/viewer.properties
  l10n/en-CA/viewer.properties
  l10n/en-GB/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/es-CL/viewer.properties
  l10n/es-ES/viewer.properties
  l10n/fr/viewer.properties
  l10n/fy-NL/viewer.properties
  l10n/he/viewer.properties
  l10n/hsb/viewer.properties
  l10n/hu/viewer.properties
  l10n/ia/viewer.properties
  l10n/it/viewer.properties
  l10n/ka/chrome.properties
  l10n/ka/viewer.properties
  l10n/ko/viewer.properties
  l10n/lt/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/pa-IN/viewer.properties
  l10n/pl/viewer.properties
  l10n/pt-BR/viewer.properties
  l10n/pt-PT/viewer.properties
  l10n/ro/viewer.properties
  l10n/ru/viewer.properties
  l10n/sk/viewer.properties
  l10n/sq/viewer.properties
  l10n/sv-SE/viewer.properties
  l10n/th/viewer.properties
  l10n/tr/viewer.properties
  l10n/ur/viewer.properties
  l10n/vi/viewer.properties
  l10n/zh-CN/viewer.properties
  l10n/zh-TW/viewer.properties
  package-lock.json
  package.json
Labels: 1-other

#10862 Add caching to reduce the number of `Ref` objects
  src/core/document.js
  src/core/obj.js
  src/core/parser.js
  src/core/primitives.js
  src/core/worker.js
  test/unit/annotation_spec.js
  test/unit/colorspace_spec.js
  test/unit/core_utils_spec.js
  test/unit/primitives_spec.js
Labels: 1-core, 2-performance

#10863 Ensure that the `Cmd`/`Name`/`Ref` caches are cleared when running other `cleanup` code
  src/core/obj.js
  src/core/primitives.js
Labels: 1-core, 2-performance

#10869 Restore referrer preserving functionality in Chrome 72+
  extensions/chromium/preserve-referer.js
Labels: 4-chrome-specific

#10867 Don't clip if path is undefined in SVG back-end
  src/display/svg.js
Labels: 4-svg

#10872 Re-use, rather than re-creating, some `Array`s when resetting them in `src/display/api.js`
  src/display/api.js
Labels: 1-core

#10873 Ensure that the `Cmd`/`Name`/`Ref` caches are cleared when terminating the worker (PR 10863 follow-up)
  src/core/worker.js
Labels: 1-core
