Repository mozilla/pdf.js, pull requests merged in 2019-03, with the labels that each got.

#10591 Add unique glyph names for CFF fonts.
  src/core/cff_parser.js
  src/core/fonts.js
  test/unit/cff_parser_spec.js
Labels: 4-font-conversion

#10601 Zero the width/height of the temporary canvas used during `TextLayer` rendering
  src/display/text_layer.js
Labels: 1-core

#10604 Put the string name of the glyph in the charset array.
  src/core/cff_parser.js
  src/core/fonts.js
Labels: 4-font-conversion

#10606 Update translations and packages
  l10n/pl/viewer.properties
  l10n/pt-PT/viewer.properties
  l10n/ro/viewer.properties
  l10n/si/viewer.properties
  package-lock.json
  package.json
Labels: 1-other

#10590 Fix missing moveTos in SVG paths
  src/display/svg.js
Labels: 4-svg

#10608 Reduce usage of `Date.now()` in `src/core/worker.js`
  src/core/worker.js
  src/display/api.js
  src/display/display_utils.js
  src/shared/util.js
Labels: 1-core

#10610 Add type validation to the `default_preferences` generation (PR 10548 follow-up)
  gulpfile.js
  web/app.js
  web/app_options.js
  web/preferences.js
Labels: 1-viewer

#10605 Convert `let` to `const` if possible in, and improve unit test coverage for, `src/display/display_utils.js`
  src/display/display_utils.js
  test/unit/display_utils_spec.js
Labels: 1-core, 1-test

#10615 Handle corrupt ASCII85Decode inline images with whitespace "inside" of the EOD marker (issue 10614)
  src/core/parser.js
  test/pdfs/issue10614.pdf.link
  test/test_manifest.json
Labels: 1-core

#10621 Don't scale SVG stroke width by text matrix
  src/display/svg.js
Labels: 4-svg

#10634 Move `NativeImageDecoder` into a separate file, and convert it to a `class`
  src/core/evaluator.js
  src/core/image_utils.js
Labels: 1-core

#10633 Convert `MurmurHash3_64` to an ES6 class
  src/core/murmurhash3.js
Labels: 1-core

#10628 Try to improve text-selection for Type3 fonts that utilize a non-default /FontMatrix (bug 1513120)
  src/core/evaluator.js
  src/shared/util.js
  test/pdfs/.gitignore
  test/pdfs/bug1513120_reduced.pdf
  test/test_manifest.json
Labels: 4-font-conversion

#10636 Small clean-up of the `PDFDocumentProxy.destroy` method and related code
  src/display/api.js
  test/unit/api_spec.js
Labels: 1-core

#10647 Actually transfer eligible ImageMask data, rather than always copying it
  src/core/evaluator.js
  src/core/operator_list.js
Labels: 1-core

#10644 Ensure that `blob:` URLs will be revoked when pages are cleaned-up/destroyed (JPEG memory usage)
  src/display/api.js
  src/display/display_utils.js
Labels: 1-core

#10646 Implement linear-gradient, radial-gradient and dummy-pattern in SVGGraphics.
  src/display/svg.js
Labels: 4-svg

#10635 Convert `src/core/parser.js` to ES6 syntax and write more unit tests for the lexer and the parser
  src/core/parser.js
  test/unit/parser_spec.js
Labels: 1-core, 1-test

#10657 Update test case description
  test/unit/evaluator_spec.js
Labels: 1-test

#10652 Prepare the `MOZCENTRAL` viewer for receiving zoom events from the browser UI (bug 786674, bug 1177385)
  web/app.js
  web/firefoxcom.js
Labels: 1-viewer

#10668 Remove the Firefox-specific 'read with streaming' unit-test
  test/unit/network_spec.js
Labels: 1-test

#10681 fix: electron enviroment detection
  src/shared/is_node.js
Labels: 1-core

#10685 Take the `FirstChar`/`LastChar` properties into account when computing the hash in `PartialEvaluator.preEvaluateFont` (issue 10665)
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue10665_reduced.pdf
  test/test_manifest.json
Labels: 4-font-conversion

#10683 Use CMap in Type0 fonts when CFF is not a CID font
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue9534_reduced.pdf
  test/test_manifest.json
Labels: 3-pdf-broken, 4-font-conversion, 4-font-type0

#10692 Add Mozilla Code of Conduct
  CODE_OF_CONDUCT.md
Labels: 1-other

#6606 Improve performance and correctness of Tiling Patterns
  src/display/pattern_helper.js
  test/pdfs/.gitignore
  test/pdfs/tiling-pattern-box.pdf
  test/pdfs/tiling-pattern-large-steps.pdf
  test/test_manifest.json
Labels: 4-tiling-type

#10698 Update translations/packages and include the code of conduct for `pdfjs-dist` too
  external/dist/CODE_OF_CONDUCT.md
  l10n/is/viewer.properties
  l10n/ka/viewer.properties
  l10n/ko/viewer.properties
  l10n/lij/viewer.properties
  l10n/mr/viewer.properties
  l10n/pt-BR/viewer.properties
  l10n/tr/viewer.properties
  l10n/vi/viewer.properties
  l10n/zh-CN/viewer.properties
  package-lock.json
  package.json
Labels: 1-other
