Repository mozilla/pdf.js, pull requests merged in 2020-10, with the labels that each got.

#12439 Add `version`/`build` info at the top of the *built* `web/viewer.js` file
  web/viewer.js
Labels: 1-viewer

#12436 Enable the ESLint `no-var` rule in the `src/shared/` folder
  src/shared/.eslintrc
  src/shared/compatibility.js
  src/shared/message_handler.js
  src/shared/util.js
Labels: 1-core

#12333 Add tooltip if any in annotations layer
  src/core/annotation.js
  src/display/annotation_layer.js
  test/unit/annotation_spec.js
Labels: 4-annotations

#12437 Enable the ESLint `no-var` rule in the `src/display/` folder
  src/display/.eslintrc
  src/display/annotation_layer.js
  src/display/api.js
  src/display/canvas.js
  src/display/display_utils.js
  src/display/fetch_stream.js
  src/display/network.js
  src/display/node_utils.js
  src/display/pattern_helper.js
  src/display/svg.js
  src/display/text_layer.js
  src/display/transport_stream.js
  src/display/webgl.js
Labels: 1-core

#12441 Re-factor how the ESLint `no-var` rule is enabled in the `src/` folder
  src/.eslintrc
  src/core/.eslintrc
  src/core/annotation.js
  src/core/arithmetic_decoder.js
  src/core/bidi.js
  src/core/ccitt_stream.js
  src/core/cff_parser.js
  src/core/charsets.js
  src/core/chunked_stream.js
  src/core/cmap.js
  src/core/core_utils.js
  src/core/crypto.js
  src/core/document.js
  src/core/evaluator.js
  src/core/font_renderer.js
  src/core/fonts.js
  src/core/function.js
  src/core/glyphlist.js
  src/core/image.js
  src/core/image_utils.js
  src/core/jbig2.js
  src/core/jpg.js
  src/core/jpx.js
  src/core/metrics.js
  src/core/murmurhash3.js
  src/core/obj.js
  src/core/operator_list.js
  src/core/parser.js
  src/core/pattern.js
  src/core/primitives.js
  src/core/ps_parser.js
  src/core/standard_fonts.js
  src/core/stream.js
  src/core/type1_parser.js
  src/core/unicode.js
  src/core/worker.js
  src/core/worker_stream.js
  src/core/writer.js
  src/shared/.eslintrc
Labels: 1-core

#12442 Upgrade Puppeteer to version 5.3.1
  package-lock.json
  package.json
  test/test.js
Labels: 1-test

#12444 Update packages and translations
  l10n/ar/viewer.properties
  l10n/hr/viewer.properties
  l10n/hye/viewer.properties
  l10n/kab/viewer.properties
  l10n/ko/viewer.properties
  l10n/oc/viewer.properties
  l10n/szl/viewer.properties
  l10n/tl/viewer.properties
  l10n/uk/viewer.properties
  package-lock.json
  package.json
  test/unit/jasmine-boot.js
Labels: 1-dependencies, 1-test

#12445 Upgrade minor/major versions of dependencies that don't require code changes
  gulpfile.js
  package-lock.json
  package.json
Labels: 1-dependencies

#12446 [Firefox] Stop logging `RenderingCancelledException`s as errors when printing
  web/firefox_print_service.js
Labels: 1-viewer, 4-printing

#12448 Enable the ESLint `no-debugger` and `no-alert` rules
  .eslintrc
  examples/.eslintrc
  web/app.js
  web/chromecom.js
Labels: 1-viewer

#12450 Fix invalid `XUID` entries in CFF fonts
  src/core/cff_parser.js
  test/pdfs/.gitignore
  test/pdfs/issue12399_reduced.pdf
  test/test_manifest.json
Labels: 4-font-conversion

#12451 Upgrade `acorn` to version 8
  external/builder/preprocessor2.js
  package-lock.json
  package.json
Labels: 1-dependencies

#12454 Upgrade `terser` to version 5
  gulpfile.js
  package-lock.json
  package.json
Labels: 1-dependencies

#12458 Add local caching of TilingPatterns in `PartialEvaluator.getOperatorList` (issue 2765 and 8473)
  src/core/evaluator.js
  src/core/image_utils.js
  src/core/pattern.js
Labels: 1-core, 2-performance, 4-tiling-type

#12476 Remove the `scope` parameter from the "GetOperatorList" handler in `src/core/worker.js` (PR 11110 follow-up)
  src/core/worker.js
Labels: 1-core

#12477 Handle `WorkerTask`s, and various PDF document properties, correctly in the "SaveDocument" handler in `src/core/worker.js`
  src/core/worker.js
Labels: 1-core

#12429 [api-minor] Add the possibility to collect Javascript actions
  src/core/annotation.js
  src/core/document.js
  src/core/worker.js
  src/display/api.js
  src/shared/util.js
  test/unit/annotation_spec.js
  test/unit/document_spec.js
Labels: 4-annotations

#12479 Fix the "should get form info when AcroForm is present" unit-test
  test/unit/document_spec.js
  test/unit/test_utils.js
Labels: 1-test

#12478 Convert `PartialEvaluator.translateFont` to an `async` method
  src/core/evaluator.js
Labels: 1-core

#12486 Stop caching the *parsed* Font data on its `Dict` object (PR 7347 follow-up)
  src/core/evaluator.js
  src/core/obj.js
Labels: 1-core

#12483 Don't store complex data in `PDFDocument.formInfo`, and replace the `fields` object with a `hasFields` boolean instead
  src/core/document.js
  src/display/api.js
  test/unit/document_spec.js
Labels: 4-annotations

#12481 Get urls if any in AA::D dictionary for pushbuttons
  src/core/annotation.js
  src/core/obj.js
  test/unit/annotation_spec.js
Labels: 4-annotations

#12485 [api-minor] JS - Add a function in api to get the fields ids in AcroForm::CO
  src/core/document.js
  src/core/worker.js
  src/display/api.js
  test/unit/document_spec.js
Labels: 4-annotations

#12489 Add a test for pdfDocument::fieldObjects
  test/unit/document_spec.js
Labels: 1-test

#12491 Update packages and translations
  l10n/az/viewer.properties
  l10n/fi/viewer.properties
  l10n/pa-IN/viewer.properties
  l10n/sq/viewer.properties
  l10n/tl/viewer.properties
  package-lock.json
  package.json
Labels: 1-dependencies

#12493 Support adding pages, in addition to regular destinations, to the browser history and use it with thumbnails (issue 12440)
  src/display/annotation_layer.js
  web/interfaces.js
  web/pdf_history.js
  web/pdf_link_service.js
  web/pdf_outline_viewer.js
  web/pdf_thumbnail_view.js
Labels: 1-viewer

#12515 Enable the `unicorn/no-abusive-eslint-disable` ESLint plugin rule
  .eslintrc
Labels: 1-other

#12503 Invalidate an annotation with no quadPoints (when it's required)
  src/core/annotation.js
  test/unit/annotation_spec.js
Labels: 4-annotations

#12432 JS - Add the basic architecture to be able to execute embedded js
  extensions/chromium/preferences_schema.json
  gulpfile.js
  src/display/annotation_layer.js
  src/scripting_api/aform.js
  src/scripting_api/app.js
  src/scripting_api/console.js
  src/scripting_api/doc.js
  src/scripting_api/error.js
  src/scripting_api/event.js
  src/scripting_api/field.js
  src/scripting_api/initialization.js
  src/scripting_api/pdf_object.js
  src/scripting_api/proxy.js
  src/scripting_api/util.js
  web/app.js
  web/app_options.js
  web/firefoxcom.js
  web/ui_utils.js
Labels: 4-annotations

#12516 Prevent issues, in `PDFDocument.fieldObjects`, for invalid Annotations
  src/core/document.js
Labels: 4-annotations

#12526 Improve argument/name handling when parsing TilingPatterns (PR 12458 follow-up)
  src/core/evaluator.js
Labels: 1-core

#12524 A couple of small (viewer) tweaks of tooltip-only Annotations (PR 12333 follow-up)
  src/display/annotation_layer.js
  web/pdf_link_service.js
Labels: 1-viewer

#12522 Fix a couple of edge-cases in `PDFViewerApplication._initializeJavaScript` (PR 12432 follow-up)
  web/app.js
  web/firefoxcom.js
  web/ui_utils.js
Labels: 1-viewer

#12464 Fix getVisibleElements helper in RTL-locales
  test/unit/ui_utils_spec.js
  web/base_viewer.js
  web/ui_utils.js
Labels: 1-viewer

#12508 Fallback font for buttons must be ZapfDingbats.
  src/core/annotation.js
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/bug1669099.pdf
  test/test_manifest.json
  test/unit/annotation_spec.js
Labels: 4-annotations

#12528 Convert `var` to `const`/`let` in the `test/unit` folder
  test/unit/.eslintrc
  test/unit/api_spec.js
  test/unit/bidi_spec.js
  test/unit/cff_parser_spec.js
  test/unit/cmap_spec.js
  test/unit/crypto_spec.js
  test/unit/custom_spec.js
  test/unit/display_svg_spec.js
  test/unit/evaluator_spec.js
  test/unit/function_spec.js
  test/unit/jasmine-boot.js
  test/unit/murmurhash3_spec.js
  test/unit/network_spec.js
  test/unit/stream_spec.js
  test/unit/testreporter.js
  test/unit/type1_parser_spec.js
  test/unit/ui_utils_spec.js
  test/unit/unicode_spec.js
Labels: 1-test

#12529 Tweak the `pdf.scripting.js` bundling, to improve overall consistency
  gulpfile.js
  src/pdf.scripting.js
Labels: 1-other

#12527 Remove SystemJS usage from the development viewer and the unit-tests
  gulpfile.js
  src/core/core_utils.js
  src/core/glyphlist.js
  src/core/unicode.js
  src/display/api.js
  src/shared/.eslintrc
  test/unit/display_svg_spec.js
  test/unit/jasmine-boot.js
  test/unit/unit_test.html
  web/app.js
Labels: 1-core

#12534 Ensure that `MurmurHash3_64.update` handles `ArrayBuffer` input correctly, to avoid hash-collisions (issue 12533)
  src/core/murmurhash3.js
  test/pdfs/issue12533.pdf.link
  test/test_manifest.json
Labels: 1-core

#12532 Modernize, and remove SystemJS usage from, the font-tests
  .eslintignore
  test/font/.eslintrc
  test/font/font_core_spec.js
  test/font/font_fpgm_spec.js
  test/font/font_os2_spec.js
  test/font/font_post_spec.js
  test/font/font_test.html
  test/font/fontutils.js
  test/font/jasmine-boot.js
  test/font/ttxdriver.js
Labels: 1-test

#12540 Ensure that the same version of PDF.js is used in both the API and the Viewer (PR 8959 follow-up)
  web/base_viewer.js
Labels: 1-viewer

#12539 Use standard `import` statements more when running the unit-tests
  test/font/font_test.html
  test/font/jasmine-boot.js
  test/unit/.eslintrc
  test/unit/jasmine-boot.js
  test/unit/testreporter.js
  test/unit/unit_test.html
  test/unit/util_spec.js
Labels: 1-test

#12395 Render not displayed annotations in using normal appearance when printing
  src/core/annotation.js
  src/display/annotation_layer.js
  test/pdfs/.gitignore
  test/pdfs/prefilled_f1040.pdf
  test/test_manifest.json
  test/unit/annotation_spec.js
Labels: 4-annotations, 4-form-acroform

#12542 Add a `MurmurHash3_64.update` unit-test for TypedArrays which share the same underlying ArrayBuffer (PR 12534 follow-up)
  test/unit/murmurhash3_spec.js
Labels: 1-test

#12543 Use a `Map`, rather than an `Object`, internally in the `Catalog.openAction` getter (PR 11644 follow-up)
  src/core/obj.js
  src/display/annotation_storage.js
  src/display/metadata.js
  src/display/optional_content_config.js
  src/shared/util.js
Labels: 1-core

#12551 Fix *some* errors reported by the ESLint `no-useless-escape` rule
  src/core/annotation.js
  src/core/evaluator.js
  src/scripting_api/field.js
  src/shared/xml_parser.js
Labels: 1-core

#12525 [api-minor] Implement API to get MarkInfo from the catalog.
  src/core/obj.js
  src/core/worker.js
  src/display/api.js
  test/unit/api_spec.js
  web/app.js
Labels: 1-core

#12552 Miscellaneous (small) improvements in `src/core/annotation.js`
  src/core/annotation.js
  src/core/fonts.js
  src/core/obj.js
  src/shared/util.js
Labels: 1-core
