Repository mozilla/pdf.js, pull requests merged in 2020-01, with the labels that each got.

#11447 Convert all non-RGBA colors to RGBA colors
  examples/mobile-viewer/viewer.css
  test/annotation_layer_builder_overrides.css
  web/annotation_layer_builder.css
  web/pdf_viewer.css
  web/text_layer_builder.css
  web/viewer.css
Labels: 1-viewer

#11466 [Firefox] Slightly simplify how the generator is determined, when sending telemetry data from the viewer
  web/app.js
Labels: 1-viewer

#11474 [api-minor] Remove the Webpack-only npm dependencies from `pdfjs-dist` (PR 11418 follow-up)
  external/dist/webpack.js
  gulpfile.js
Labels: 1-other

#11488 Enable the `no-nested-ternary` ESLint rule in the `web/` directory
  .eslintrc
  web/.eslintrc
  web/app.js
Labels: 1-viewer

#11505 Enable the ESLint `no-unneeded-ternary` rule
  .eslintrc
  web/base_viewer.js
Labels: 1-viewer

#11504 Add `direction: ltr;` to the canvases used in `examples/learning`, to ensure correct text rendering (issue 11457)
  examples/learning/helloworld.html
  examples/learning/helloworld64.html
  examples/learning/prevnext.html
Labels: 1-other

#11503 Remove the unused `id` properties from page and thumbnail canvas/image DOM elements (issue 11499)
  l10n/en-US/viewer.properties
  l10n/sv-SE/viewer.properties
  web/pdf_page_view.js
  web/pdf_thumbnail_view.js
Labels: 1-viewer

#11520 Update the `GlobalWorkerOptions.workerSrc` JSDoc comment
  src/display/worker_options.js
Labels: 1-other

#11521 Remove the `supportsDocumentColors` warning in MOZCENTRAL builds (bug 844349 follow-up)
  l10n/en-US/viewer.properties
  web/app.js
  web/chromecom.js
  web/firefoxcom.js
  web/genericcom.js
Labels: 1-viewer

#11519 Enable import/extensions of ESlint plugin to enforce all `import` have a `.js` file extension.
  .eslintrc
  src/shared/util.js
  web/firefoxcom.js
  web/genericl10n.js
Labels: 1-other

#11522 Ensure that the viewer telemetry reporting, and fallback code, runs in development mode and GENERIC builds
  web/app.js
Labels: 1-viewer

#11510 Skip failing FBF tests in Google Chrome when running `makeref` on the bots
  test/test.js
Labels: 1-test

#11529 Display the CSS tab in the interactive examples (issue 11506 follow-up)
  docs/contents/examples/index.md
Labels: 1-other

#11502 Fix a couple of cases where Prettier broke existing formatting (PR 11446 follow-up)
  src/core/fonts.js
  src/core/type1_parser.js
Labels: 1-core

#11511 Enable the `no-nested-ternary` ESLint rule (PR 11488 follow-up)
  .eslintrc
  extensions/chromium/options/migration.js
  extensions/chromium/options/options.js
  src/core/bidi.js
  src/core/colorspace.js
  src/core/font_renderer.js
  src/core/fonts.js
  src/core/image.js
  src/core/jbig2.js
  src/core/jpg.js
  src/core/jpx.js
  src/display/annotation_layer.js
  src/display/canvas.js
  src/display/pattern_helper.js
  src/display/svg.js
  web/.eslintrc
Labels: 1-core

#11497 Add support for `Promise.allSettled`
  src/shared/compatibility.js
  src/shared/message_handler.js
Labels: 1-core

#11533 Remove the "useOnlyCssZoom" (debugging) hash parameter
  web/app.js
Labels: 1-viewer

#11489 Remove the `FIREFOX` build flag, since it's completely unused and simplify a couple of `PDFJSDev` checks
  gulpfile.js
  src/core/jpg.js
  src/display/api.js
  src/display/network.js
  src/display/text_layer.js
  src/pdf.js
  src/shared/message_handler.js
  web/app.js
  web/firefoxcom.js
  web/pdf_attachment_viewer.js
  web/pdf_page_view.js
  web/pdf_presentation_mode.js
  web/pdf_thumbnail_view.js
  web/text_layer_builder.js
  web/ui_utils.js
  web/view_history.js
  web/viewer.html
  web/viewer.js
Labels: 1-core, 1-other, 1-viewer

#11534 Enable the ESLint `prefer-const` rule globally (PR 11450 follow-up)
  .eslintrc
  src/core/annotation.js
  src/core/ccitt.js
  src/core/ccitt_stream.js
  src/core/cff_parser.js
  src/core/chunked_stream.js
  src/core/cmap.js
  src/core/colorspace.js
  src/core/core_utils.js
  src/core/crypto.js
  src/core/evaluator.js
  src/core/font_renderer.js
  src/core/fonts.js
  src/core/function.js
  src/core/image.js
  src/core/jbig2.js
  src/core/jbig2_stream.js
  src/core/jpeg_stream.js
  src/core/jpg.js
  src/core/jpx.js
  src/core/jpx_stream.js
  src/core/obj.js
  src/core/parser.js
  src/core/pattern.js
  src/core/primitives.js
  src/core/stream.js
  src/display/api.js
  src/display/api_compatibility.js
  src/display/canvas.js
  src/display/content_disposition.js
  src/display/display_utils.js
  src/display/font_loader.js
  src/display/metadata.js
  src/display/network_utils.js
  src/display/node_stream.js
  src/display/pattern_helper.js
  src/display/text_layer.js
  src/display/xml_parser.js
  src/pdf.js
  src/shared/compatibility.js
  src/shared/util.js
  test/add_test.js
  test/driver.js
  test/unit/annotation_spec.js
  test/unit/api_spec.js
  test/unit/cmap_spec.js
  test/unit/colorspace_spec.js
  test/unit/custom_spec.js
  test/unit/fetch_stream_spec.js
  test/unit/message_handler_spec.js
  test/unit/node_stream_spec.js
  test/unit/pdf_history_spec.js
  test/unit/stream_spec.js
  test/unit/test_utils.js
  test/unit/ui_utils_spec.js
  test/unit/util_spec.js
  web/.eslintrc
Labels: 1-core

#11515 Cache the fallback font dictionary on the `PartialEvaluator` (PR 11218 follow-up)
  src/core/document.js
  src/core/evaluator.js
  src/core/worker.js
Labels: 1-core

#11482 Convert `src/core/jpg.js` to use the `readUint16` helper function in `src/core/core_utils.js`, rather than re-implementing it twice
  src/core/core_utils.js
  src/core/document.js
  src/core/fonts.js
  src/core/jbig2.js
  src/core/jpg.js
  src/core/jpx.js
  src/core/parser.js
  src/core/ps_parser.js
  src/core/stream.js
  src/core/type1_parser.js
  src/shared/util.js
  test/unit/core_utils_spec.js
  test/unit/util_spec.js
Labels: 1-core

#11535 Render Popup annotations last, once all other annotations have been rendered (issue 11362)
  src/display/annotation_layer.js
  test/pdfs/.gitignore
  test/pdfs/issue11362.pdf
  test/test_manifest.json
Labels: 4-annotations

#11508 Simplify the handling of unsupported/incorrect markers in `src/core/jpg.js`
  src/core/jpg.js
  test/pdfs/issue1877.pdf.link
  test/test_manifest.json
Labels: 1-core, 4-image-jpeg

#11537 Send the `verbosity` level when setting up fake workers (issue 11536)
  src/display/api.js
Labels: 1-core

#11544 Make the `decodeHuffman` function, in `src/core/jpg.js`, slightly more efficient
  src/core/jpg.js
Labels: 1-core, 2-performance, 4-image-jpeg

#11545 Use the native `URL.createObjectURL` method in `web/debugger.js`
  web/app.js
  web/debugger.js
Labels: 1-viewer

#11542 Add a README file to the `/lib` folder in `pdfjs-dist` (issue 11539)
  external/dist/lib/README.md
Labels: 1-other

#11546 Fix the indices of arguments for RadialAxial. It is related to #10646.
  src/display/svg.js
Labels: 4-svg
