Repository mozilla/pdf.js, pull requests merged in 2020-04, with the labels that each got.

#11771 Fail early, in modern `GENERIC` builds, if certain required browser functionality is missing (issue 11762)
  external/dist/lib/README.md
  gulpfile.js
  src/core/worker.js
  src/shared/compatibility.js
  test/unit/clitests.json
Labels: 1-other

#11772 Update packages and translations
  l10n/hy-AM/viewer.properties
  l10n/oc/viewer.properties
  l10n/sq/viewer.properties
  l10n/sr/viewer.properties
  l10n/ur/viewer.properties
  package-lock.json
  package.json
Labels: 1-other

#11769 Ensure that `Font.charToGlyph` won't fail because `String.fromCodePoint` is given an invalid code point (issue 11768)
  src/core/fonts.js
Labels: 4-font-conversion

#11781 Update the "gulp jsdoc" task to account for API changes in the `mkdirp` package (PR 11772 follow-up)
  gulpfile.js
Labels: 1-other

#11780 Move the initialization of "page labels"/"metadata"/"auto print" out of `PDFViewerApplication.load`
  web/app.js
Labels: 1-viewer

#11773 [api-minor] Change `Font.exportData` to use an explicit white-list of exportable properties, and stop exporting internal/unused properties
  src/core/evaluator.js
  src/core/fonts.js
Labels: 4-font-conversion

#11777 [api-minor] Change `Font.exportData` to, by default, stop exporting properties which are completely unused on the main-thread and/or in the API (PR 11773 follow-up)
  src/core/evaluator.js
  src/core/fonts.js
  src/core/worker.js
  src/display/api.js
  web/app.js
  web/app_options.js
Labels: 4-font-conversion

#11746 Create the glyph mapping correctly for composite Type1, i.e. CIDFontType0, fonts (issue 11740)
  src/core/fonts.js
  src/core/type1_parser.js
  src/shared/compatibility.js
  test/pdfs/.gitignore
  test/pdfs/issue11740_reduced.pdf
  test/test_manifest.json
Labels: 4-font-conversion

#11727 Add a heuristic to scale even single-char text, when the horizontal/vertical scaling differs significantly (issue 11713)
  src/display/text_layer.js
  test/pdfs/.gitignore
  test/pdfs/issue11713.pdf
  test/test_manifest.json
Labels: 4-text-selection

#11789 Add a new `pdfjs.enablePermissions` preference, off by default, to allow the PDF documents to disable copying in the viewer (bug 792816)
  extensions/chromium/preferences_schema.json
  web/app.js
  web/app_options.js
  web/viewer.css
Labels: 1-viewer

#11797 Don't bundle the fallback `grab`/`grabbing` cursor images when running `gulp mozcentral`
  gulpfile.js
Labels: 1-other

#11799 Fail early, in modern `GENERIC` builds, if certain required browser functionality is missing (PR 11771 follow-up)
  src/core/worker.js
Labels: 1-other

#11800 Remove any mention of Gitpod from the README (issue 11732)
  README.md
Labels: 1-other

#11806 [api-minor] Fix the return value of `PDFDocumentProxy.getViewerPreferences` when no viewer preferences are present (PR 10738 follow-up)
  src/core/obj.js
  src/display/api.js
  test/unit/api_spec.js
Labels: 1-core

#11810 A couple of small `String.fromCodePoint` improvements (PR 11698 and 11769 follow-up)
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue11768_reduced.pdf
  test/test_manifest.json
Labels: 1-core

#11805 Always skip over any additional, unexpected, RSTx (restart) markers in corrupt JPEG images (issue 11794)
  src/core/jpg.js
  test/pdfs/issue11794.pdf.link
  test/test_manifest.json
Labels: 4-image-jpeg

#11813 Suppress browser autofill on page number
  web/viewer.html
Labels: 1-viewer

#11821 docs: Fix simple typo, occurences -> occurrences
  gulpfile.js
  systemjs.config.js
Labels: 1-other

#11819 [src/core/jpg.js] Remove redundant marker validation at the end of the `decodeScan` function (PR 11805 follow-up)
  src/core/jpg.js
Labels: 1-core, 4-image-jpeg

#11818 Enable the `dot-notation` ESLint rule
  .eslintrc
  examples/mobile-viewer/viewer.js
  gulpfile.js
  src/core/ccitt.js
  src/core/document.js
  src/core/evaluator.js
  src/core/fonts.js
  src/core/glyphlist.js
  src/core/jpx.js
  src/core/metrics.js
  src/core/standard_fonts.js
  src/core/type1_parser.js
  src/display/node_stream.js
  src/shared/is_node.js
  test/stats/statcmp.js
  test/test.js
  test/unit/api_spec.js
  test/unit/node_stream_spec.js
  test/unit/testreporter.js
  test/unit/unicode_spec.js
  test/webserver.js
  web/app.js
  web/base_viewer.js
  web/pdf_document_properties.js
  web/pdf_link_service.js
  web/pdf_print_service.js
Labels: 1-core, 1-viewer

#11814 Support the vertical writing mode with SVG backend.
  src/display/svg.js
Labels: 4-svg

#11822 Update packages and translations
  l10n/oc/viewer.properties
  l10n/sr/viewer.properties
  l10n/ur/viewer.properties
  package-lock.json
  package.json
Labels: 1-other

#11826 Change the "download" keyboard shortcut (Ctrl+S) handling, in GENERIC/CHROME builds, to utilize the `EventBus` (issue 11657); add a new "openfile" keyboard shortcut (Ctrl+O), in GENERIC builds
  web/app.js
Labels: 1-viewer

#11823 [src/core/fonts.js] Improve the `validateOS2Table` function and other code
  src/core/fonts.js
Labels: 1-core, 4-font-conversion

#11825 Avoid reading the "disablePreferences"/"locale" options, when initializing the viewer, in extension builds
  web/app.js
  web/app_options.js
Labels: 1-viewer

#11831 Use Node LTS releases to fix Travis CI builds (issue 10790)
  .travis.yml
Labels: 1-test

#11835 [api-minor] Change `PageViewport` to throw when the `rotation` is not a multiple of 90 degrees
  src/display/display_utils.js
  test/unit/api_spec.js
Labels: 1-core

#11837 Always attempt to dispatch the "webviewerloaded" event at the embedding `document` (PR 10318 follow-up, issue 11829)
  web/viewer.js
Labels: 1-viewer

#11844 [api-minor] Immediately release the `font.data` property once the font been attached to the DOM (PR 11777 follow-up)
  examples/node/pdf2svg.js
  src/display/api.js
  src/display/canvas.js
  src/display/svg.js
Labels: 1-core, 2-performance

#11845 Use the native `URL.createObjectURL` method more in the `web/` folder
  web/firefoxcom.js
  web/pdf_attachment_viewer.js
Labels: 1-viewer

#11847 Move the `maybeValidDimensions` check, used with JPEG images, to occur earlier (PR 11523 follow-up)
  src/core/evaluator.js
  src/core/image_utils.js
Labels: 1-core, 2-performance

#11807 Introduce Puppeteer for handling browsers during tests
  gulpfile.js
  package-lock.json
  package.json
  test/driver.js
  test/font/jasmine-boot.js
  test/resources/browser_manifests/.gitignore
  test/resources/browser_manifests/browser_manifest.json.example
  test/resources/firefox/user.js
  test/test.js
  test/unit/jasmine-boot.js
  test/unit/testreporter.js
  test/webbrowser.js
Labels: 1-test

#11853 Include the name for interactive form elements
  src/display/annotation_layer.js
Labels: 4-annotations, 4-form-acroform

#11834 Preserve error types during translation
  web/app.js
Labels: 1-viewer
