Repository mozilla/pdf.js, pull requests merged in 2020-06, with the labels that each got.

#11947 Ensure that that we don't attempt to cache *inline* images in the `GlobalImageCache` (PR 11912 follow-up)
  src/core/evaluator.js
Labels: 1-core

#11948 Bump versions in `pdfjs.config` and update the getting started page of the website for the new release
  docs/contents/getting_started/index.md
  pdfjs.config
Labels: 1-other

#11958 [api-minor] Remove the deprecated `PDFDocumentProxy.getOpenActionDestination` method (PR 11644 follow-up)
  src/display/api.js
Labels: 1-core

#11967 Do not transform jpeg RGB components
  src/core/jpg.js
  test/pdfs/.gitignore
  test/pdfs/issue11931.pdf
  test/test_manifest.json
Labels: 1-core, 4-image-conversion

#11964 Fix pdfjs-dist/webpack causing errors with certain configs
  examples/webpack/README.md
  external/dist/webpack.js
Labels: 1-other

#11953 For #11838: trigger fallback bar after user clicks in pdf
  web/app.js
Labels: 1-viewer

#11972 Change the `loadedChunks` property, on `ChunkedStream` instances, from an Array to a Set
  src/core/chunked_stream.js
Labels: 1-core

#11963 Avoid calling Math.pow if possible.
  src/core/colorspace.js
Labels: 2-performance, 4-image-conversion

#11974 A couple of small image caching/sending improvements
  src/core/evaluator.js
  src/core/image_utils.js
Labels: 1-core

#11976 Remove unused methods from `NetworkManager`, in `src/display/network.js`
  src/display/network.js
Labels: 1-core

#11978 Improve unit test coverage for primitives
  test/unit/primitives_spec.js
Labels: 1-test

#11977 Convert the `RefSet` primitive to a proper class and use a `Set` internally
  src/core/primitives.js
Labels: 1-core, 2-performance

#11985 Convert some `Object`s to `Map`s in `ChunkedStreamManager`, and move the `isEmptyObj` helper function to the test utils
  src/core/chunked_stream.js
  src/shared/util.js
  test/unit/metadata_spec.js
  test/unit/test_utils.js
  test/unit/util_spec.js
Labels: 1-core

#11992 Prevent the (old) preprocessor from appending trailing whitespace when removing closing HTML comments
  external/builder/builder.js
Labels: 1-other

#11993 Change the `dependencies` property, on `OperatorList` instances, from an Object to a Set
  src/core/document.js
  src/core/operator_list.js
Labels: 1-core

#11969 For #11961: collect telemetry on all unique unsupported features that…
  web/app.js
Labels: 1-viewer

#11997 Add basic support for the nullish coalescing operator `??`
  gulpfile.js
  package.json
  web/pdf_thumbnail_view.js
Labels: 1-viewer

#11999 Update packages and translations
  l10n/el/viewer.properties
  l10n/fi/viewer.properties
  l10n/gn/viewer.properties
  l10n/ko/viewer.properties
  l10n/ur/viewer.properties
  package-lock.json
  package.json
Labels: 1-other

#12000 Ensure that `PDFImage.buildImage` won't accidentally swallow errors, e.g. from ColorSpace parsing (issue 6707, PR 11601 follow-up)
  src/core/evaluator.js
  src/core/image.js
  test/pdfs/issue6707.pdf.link
  test/test_manifest.json
Labels: 1-core

#12001 Add local caching of `ColorSpace`s, by name, in `PartialEvaluator.getOperatorList` (issue 2504)
  src/core/evaluator.js
Labels: 1-core, 2-performance

#12002 Small improvements in `CFFCompiler.encodeNumber` and `CFFCompiler.encodeFloat`
  src/core/cff_parser.js
Labels: 1-core, 2-performance

#12004 Convert the code in `src/core/worker.js` to use ES6 classes
  src/core/worker.js
Labels: 1-core

#12005 Convert the code in `src/core/cff_parser.js` to use ES6 classes
  src/core/cff_parser.js
Labels: 1-core

#12017 Convert the `PDFPageProxy.intentStates` property from an `Object` to a `Map`
  src/core/chunked_stream.js
  src/display/api.js
Labels: 1-core

#12016 Tweak the `QueueOptimizer` to recognize `OPS.paintImageMaskXObject` operators as *repeated* when the "skew" transformation matrix elements are non-zero (issue 8078)
  src/core/operator_list.js
  src/display/canvas.js
  test/pdfs/issue8078.pdf.link
  test/test_manifest.json
Labels: 1-core, 2-performance

#12021 Move the `fetchBuiltInCMap` method to the `PartialEvaluator.prototype`
  src/core/evaluator.js
Labels: 1-core

#12012 Improve (local) caching of parsed `ColorSpace`s (PR 12001 follow-up)
  src/core/colorspace.js
  src/core/evaluator.js
  src/core/image.js
  src/core/image_utils.js
  src/core/pattern.js
  test/unit/colorspace_spec.js
Labels: 1-core, 2-performance

#12024 Update Needle to 2.5.0 or greater.
  package-lock.json
  package.json
Labels: 1-other

#12028 Attempt to detect inline images which contain "EI" sequence in the actual image data (issue 11124)
  src/core/parser.js
  test/pdfs/.gitignore
  test/pdfs/issue11124.pdf
  test/test_manifest.json
Labels: 1-core
