Repository mozilla/pdf.js, pull requests merged in 2020-07, with the labels that each got.

#12049 Enable the `no-promise-executor-return` ESLint rule
  .eslintrc
Labels: 1-other

#12036 Add at least *some* test-coverage for the `RenderTask.onContinue` functionality
  test/driver.js
  test/test_manifest.json
Labels: 1-test

#12043 Add a reduced test-case for issue 4260 (PR 4521 follow-up)
  test/pdfs/.gitignore
  test/pdfs/issue4260_reduced.pdf
  test/test_manifest.json
Labels: 1-test

#12044 Adjust the heuristics used when dealing with rectangles, i.e. `re` operators, with zero width/height (issue 12010)
  src/display/canvas.js
  test/pdfs/.gitignore
  test/pdfs/issue12010_reduced.pdf
  test/test_manifest.json
Labels: 1-core

#12040 Replace non-inclusive "whitelist" term with "allowlist"
  extensions/chromium/contentscript.js
  extensions/chromium/extension-router.js
  src/shared/util.js
  test/unit/util_spec.js
Labels: 1-other

#12039 [api-minor] Use the `NodeCanvasFactory`/`NodeCMapReaderFactory` classes as defaults in Node.js environments (issue 11900)
  examples/node/pdf2png/pdf2png.js
  examples/node/pdf2svg.js
  gulpfile.js
  src/display/api.js
  src/display/display_utils.js
  src/display/node_utils.js
  test/unit/api_spec.js
  test/unit/cmap_spec.js
  test/unit/custom_spec.js
  test/unit/test_utils.js
Labels: 1-core

#12034 Add local caching of `Function`s, by reference, in the `PDFFunctionFactory` (issue 2541)
  src/core/colorspace.js
  src/core/document.js
  src/core/evaluator.js
  src/core/function.js
  src/core/image_utils.js
  src/core/pattern.js
Labels: 1-core, 2-performance

#12057 Allow `BaseLocalCache` to, optionally, only allocate storage for caching of references (PR 12034 follow-up)
  src/core/image_utils.js
Labels: 1-core

#12059 Convert the code in `src/core/image.js` to use ES6 classes
  src/core/image.js
Labels: 1-core

#12060 Convert the code in `src/core/evaluator.js` to use standard classes
  src/core/evaluator.js
Labels: 1-core

#12056 Refactor/simplify the "delayedFallback" handling in the default viewer
  web/app.js
Labels: 1-viewer

#12070 Re-factor the `idFactory` functionality, used in the `core/`-code, and move the `fontID` generation into it
  src/core/document.js
  src/core/evaluator.js
  src/core/fonts.js
  test/unit/document_spec.js
  test/unit/test_utils.js
Labels: 1-core

#12083 Remove the IR (internal representation) part of the ColorSpace parsing
  src/core/colorspace.js
  test/unit/colorspace_spec.js
Labels: 1-core

#12063 Tweak the heuristic, in `src/core/jpg.js`, that handles JPEG images with a wildly incorrect SOF (Start of Frame) `scanLines` parameter (issue 10989)
  src/core/jpg.js
  test/pdfs/issue10989.pdf.link
  test/test_manifest.json
Labels: 4-image-jpeg

#12092 Update packages and translations
  l10n/da/viewer.properties
  l10n/gn/viewer.properties
  l10n/uk/viewer.properties
  package-lock.json
  package.json
Labels: 1-dependencies, 1-other

#12090 Stop special-casing the (very unlikely) "no `/XObject` found"-scenario, when parsing `OPS.paintXObject` operators, in `PartialEvaluator.{getOperatorList, getTextContent}`
  src/core/evaluator.js
  src/display/canvas.js
  test/unit/evaluator_spec.js
Labels: 1-core

#12099 Use a `RefSet`, rather than a plain Object, for tracking already processed nodes in `PartialEvaluator.hasBlendModes`
  src/core/evaluator.js
Labels: 1-core

#12085 Make the detection of Node.js environments on Electron strict.
  src/shared/is_node.js
Labels: 1-core

#12089 Convert `RefSetCache` to a proper class and to use a `Map` internally
  src/core/primitives.js
  test/unit/primitives_spec.js
Labels: 1-core

#12087 Add local caching of "simple" Graphics State (ExtGState) data in `PartialEvaluator.{getOperatorList, getTextContent}` (issue 2813)
  src/core/evaluator.js
  src/core/image_utils.js
  test/unit/evaluator_spec.js
Labels: 1-core, 2-performance

#12101 Add a new `size` getter and `getRawValues` method, to `Dict` instances, to simplify some code
  src/core/document.js
  src/core/evaluator.js
  src/core/obj.js
  src/core/primitives.js
  test/unit/primitives_spec.js
Labels: 1-core

#12023 Fix auto-rotate for printing landscape PDFs where the first page is also landscape
  extensions/chromium/preferences_schema.json
  web/base_viewer.js
Labels: 4-printing

#12114 Remove a couple of unnecessary `PDFJSDev` checks from the viewer
  web/app.js
  web/app_options.js
Labels: 1-viewer

#12106 Add an annotation storage in order to save annotation data in acroforms
  src/core/annotation.js
  src/core/document.js
  src/core/worker.js
  src/display/annotation_layer.js
  src/display/annotation_storage.js
  src/display/api.js
  test/unit/annotation_storage_spec.js
  test/unit/clitests.json
  test/unit/jasmine-boot.js
  web/annotation_layer_builder.js
  web/base_viewer.js
  web/firefox_print_service.js
  web/pdf_print_service.js
Labels: 4-annotations, 4-form-acroform

#12124 Include the browser name when printing unit-test results
  test/test.js
Labels: 1-test

#12126 Attempt to reduce intermittent failures in the "cleans up document resources during rendering of page" unit-test
  test/unit/api_spec.js
Labels: 1-test

#12125 Improve test bot stability
  package-lock.json
  package.json
  test/test.js
Labels: 1-test

#12127 Improve how Type3-fonts with dependencies are handled
  src/core/evaluator.js
  src/display/api.js
Labels: 1-core

#12135 [src/core/worker.js] Remove a useless Promise handler from the `pdfManagerReady` function
  src/core/worker.js
Labels: 1-core

#12136 Ignore `fetch()` errors, in `PDFFetchStreamRangeReader`, once the request has been aborted
  src/display/fetch_stream.js
Labels: 1-core

#12107 Add support for checkboxes printing
  src/core/annotation.js
  src/display/annotation_layer.js
  test/unit/annotation_spec.js
Labels: 4-annotations, 4-form-acroform, Gecko 81

#12143 fix reftests after #12107
  src/pdf.js
  test/driver.js
Labels: 1-test

#12141 Populate the find field with the search query when URL has #search hash
  web/app.js
Labels: 1-viewer

#12147 [api-minor] Fix the `AnnotationStorage` usage properly in the viewer/tests (PR 12107 and 12143 follow-up)
  src/display/annotation_layer.js
  src/display/annotation_storage.js
  src/pdf.js
  test/driver.js
  web/annotation_layer_builder.js
  web/interfaces.js
Labels: 4-annotations, 4-form-acroform, Gecko 81

#12144 Prevent `Uncaught (in promise) AbortException` when running the unit-tests
  src/core/chunked_stream.js
  src/display/api.js
Labels: 1-test

#12148 Revert "Populate the find field with the search query when URL has #search hash"
  web/app.js
Labels: 1-viewer

#12131 [api-minor] Allow loading pdf fonts into another document.
  src/display/api.js
  src/display/display_utils.js
  src/display/font_loader.js
  src/display/text_layer.js
  test/unit/custom_spec.js
Labels: 1-core
