Repository mozilla/pdf.js, pull requests merged in 2021-02, with the labels that each got.

#12879 XFA - Add a parser for XFA files
  gulpfile.js
  src/core/xfa/builder.js
  src/core/xfa/config.js
  src/core/xfa/namespaces.js
  src/core/xfa/parser.js
  src/core/xfa/setup.js
  src/core/xfa/unknown.js
  src/core/xfa/utils.js
  src/core/xfa/xdp.js
  src/core/xfa/xfa_object.js
  src/shared/xml_parser.js
  test/unit/clitests.json
  test/unit/jasmine-boot.js
  test/unit/xfa_parser_spec.js
Labels: 1-core

#12943 Re-enable the `issue6961` test-case (issue 7112)
  test/test_manifest.json
Labels: 1-test

#12947 Update Puppeteer to version 6 (issue 12945)
  package-lock.json
  package.json
Labels: 1-dependencies

#12954 XFA -- Add attributes and children in XFAObject
  src/core/xfa/config.js
  src/core/xfa/xdp.js
  src/core/xfa/xfa_object.js
Labels: 1-core

#12952 Don't focus the `PasswordPrompt` input-field on load, when the viewer is embedded in e.g. an `iframe` (issue 12951)
  web/app.js
  web/password_prompt.js
Labels: 1-viewer

#12946 XFA -- Add template object
  src/core/xfa/setup.js
  src/core/xfa/template.js
  src/core/xfa/utils.js
  test/unit/xfa_parser_spec.js
Labels: 1-core

#11647 [Firefox] Block the "load" event until all pages are loaded, to ensure that printing works (bug 1618553)
  web/app.js
  web/viewer.js
Labels: 1-viewer

#12944 XFA -- Update config object
  src/core/xfa/config.js
Labels: 1-core

#12941 fix(a11y): resolve sidebar, find, toolbar missing aria-expanded and aria-controls state
  web/pdf_find_bar.js
  web/pdf_sidebar.js
  web/secondary_toolbar.js
  web/viewer.html
Labels: 1-viewer

#12961 Use optional chaining, where possible, in the `web/`-folder
  web/app.js
  web/base_viewer.js
  web/chromecom.js
  web/password_prompt.js
  web/pdf_layer_viewer.js
  web/pdf_link_service.js
  web/pdf_page_view.js
  web/pdf_sidebar.js
  web/pdf_sidebar_resizer.js
  web/pdf_thumbnail_viewer.js
  web/text_layer_builder.js
  web/ui_utils.js
Labels: 1-viewer

#12965 Request all data, rather than throwing, when encountering general errors in `ObjectLoader._walk` (issue 9462, PR 3289 follow-up)
  src/core/obj.js
  test/pdfs/issue9462.pdf.link
  test/test_manifest.json
Labels: 1-core

#12966 Update packages and translations
  l10n/cs/viewer.properties
  l10n/da/viewer.properties
  l10n/en-CA/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/es-CL/viewer.properties
  l10n/fr/viewer.properties
  l10n/fy-NL/viewer.properties
  l10n/gn/viewer.properties
  l10n/he/viewer.properties
  l10n/hr/viewer.properties
  l10n/hye/viewer.properties
  l10n/ia/viewer.properties
  l10n/ja/viewer.properties
  l10n/ka/viewer.properties
  l10n/kab/viewer.properties
  l10n/lt/viewer.properties
  l10n/nl/viewer.properties
  l10n/pa-IN/viewer.properties
  l10n/pt-BR/viewer.properties
  l10n/pt-PT/viewer.properties
  l10n/ru/viewer.properties
  l10n/sr/viewer.properties
  l10n/szl/viewer.properties
  l10n/tr/viewer.properties
  l10n/vi/viewer.properties
  package-lock.json
  package.json
Labels: 1-dependencies, 1-other

#12962 Handle errors gracefully, in `PartialEvaluator.translateFont`, when fetching the font file (issue 9462)
  src/core/evaluator.js
Labels: 4-font-conversion

#12971 Use DOM hidden property instead of attribute methods
  examples/mobile-viewer/viewer.js
  src/display/annotation_layer.js
  web/annotation_layer_builder.js
  web/app.js
  web/debugger.js
  web/pdf_page_view.js
Labels: 1-core, 1-viewer

#12975 Remove the `contentmenu` usage, from PresentationMode, since it's no longer working
  l10n/en-US/viewer.properties
  web/app.js
  web/pdf_presentation_mode.js
  web/viewer.html
  web/viewer.js
Labels: 1-viewer

#12972 [GENERIC viewer] Skip the `iframe`-case when checking if the `container` div, on `BaseViewer`-instances, is absolutely positioned (PR 12354 follow-up)
  web/base_viewer.js
Labels: 1-viewer

#12973 Use `Math.hypot`, instead of `Math.sqrt` with manual squaring
  src/core/colorspace.js
  src/core/evaluator.js
  src/core/pattern.js
  src/display/canvas.js
  src/display/svg.js
  src/display/text_layer.js
  src/shared/util.js
  web/ui_utils.js
Labels: 1-core, 1-viewer

#12978 [api-minor] Rename `-es5` to `-legacy`, to reduce confusion over what's actually supported (issue 12976)
  README.md
  docs/contents/getting_started/index.md
  examples/node/getinfo.js
  examples/node/pdf2png/pdf2png.js
  examples/node/pdf2svg.js
  external/dist/README.md
  external/dist/legacy/build/pdf.d.ts
  gulpfile.js
  src/core/worker.js
  test/unit/clitests.json
Labels: 1-other

#12948 XFA -- Add localset object
  src/core/xfa/locale_set.js
  src/core/xfa/setup.js
Labels: 1-core

#12949 XFA -- Add other objects
  src/core/xfa/connection_set.js
  src/core/xfa/datasets.js
  src/core/xfa/parser.js
  src/core/xfa/setup.js
  src/core/xfa/signature.js
  src/core/xfa/stylesheet.js
  src/core/xfa/xfa_object.js
  src/core/xfa/xhtml.js
  test/unit/xfa_parser_spec.js
Labels: 1-core

#12982 Update the year in the `license_header` files
  external/dist/webpack.js
  src/license_header.js
  src/license_header_libre.js
  src/pdf.worker.entry.js
Labels: 1-other

#12984 Replace a few `new Date().getTime()` instances with `Date.now()`
  test/unit/testreporter.js
  web/pdf_presentation_mode.js
Labels: 1-test, 1-viewer

#12981 Collect the l10n error/warning message lookup, in `web/app.js`, in a new helper method
  web/app.js
Labels: 1-viewer

#12904 fix initial state of checkboxes in display layer
  src/display/annotation_layer.js
  test/pdfs/issue12716.pdf.link
  test/test_manifest.json
Labels: 4-annotations, 4-form-acroform

#12759 Annotation -- Don't compute appearance when nothing has changed
  src/core/annotation.js
  src/display/annotation_layer.js
  src/display/annotation_storage.js
  test/unit/annotation_spec.js
  test/unit/annotation_storage_spec.js
Labels: 4-annotations, 4-form-acroform

#12988 Remove unneeded `instanceof MissingDataException` checks
  src/core/evaluator.js
  src/core/obj.js
Labels: 1-core

#12896 Modifiy the way to compute baseline to have a better match between canvas and text layer
  src/display/text_layer.js
Labels: 4-text-selection

#12992 Use a more compact format for the fallback EventBus-listeners in `PDFViewerApplication_initializeJavaScript`
  web/app.js
  web/base_viewer.js
Labels: 1-viewer

#12991 Stop including unused/unnecessary code in the viewer, for `MOZCENTRAL`-builds
  web/app.js
  web/pdf_cursor_tools.js
  web/viewer.html
  web/viewer.js
Labels: 1-viewer

#12993 [api-minor] Change the `dc:subject` Metadata field to an Array
  src/display/metadata.js
  test/unit/metadata_spec.js
Labels: 1-core

#12964 Avoid infinite loop when getting annotation field name
  src/core/annotation.js
  src/core/core_utils.js
  test/pdfs/.gitignore
  test/pdfs/issue12963.pdf
  test/test_manifest.json
  test/unit/core_utils_spec.js
Labels: 4-annotations, 4-corrupted-pdf

#12995 Stop showing the fallback bar for "errorFontMissing" errors (PR 11218 follow-up)
  web/app.js
Labels: 1-viewer

#12830 JS -- Fix doc.getField and add missing field methods
  src/scripting_api/doc.js
  src/scripting_api/field.js
  src/scripting_api/initialization.js
  test/unit/scripting_spec.js
Labels: 1-core

#12936 XFA - Add a lexer/parser for FormCalc language
  src/core/xfa/formcalc_lexer.js
  src/core/xfa/formcalc_parser.js
  test/unit/clitests.json
  test/unit/jasmine-boot.js
  test/unit/xfa_formcalc_spec.js
Labels: 1-core

#12999 [api-minor] Remove support for synchronous event dispatching in `LoopbackPort`
  src/display/api.js
Labels: 1-core

#12997 Move the Metadata parsing to the worker-thread
  src/core/core_utils.js
  src/core/metadata_parser.js
  src/core/obj.js
  src/core/writer.js
  src/core/xfa/parser.js
  src/core/xml_parser.js
  src/display/api.js
  src/display/metadata.js
  src/shared/util.js
  test/unit/core_utils_spec.js
  test/unit/metadata_spec.js
  test/unit/util_spec.js
  test/unit/xml_spec.js
  web/app.js
Labels: 1-core

#12979 XFA - Add support for prototypes
  src/core/xfa/builder.js
  src/core/xfa/parser.js
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  test/unit/xfa_parser_spec.js
Labels: 1-core

#13001 Send the `AnnotationStorage`-data to the worker-thread as a `Map`
  src/core/annotation.js
  src/display/annotation_storage.js
  src/display/api.js
  test/unit/annotation_spec.js
Labels: 1-core

#13004 Add a `this`-bound method for `InternalRenderTask.cancel`
  src/display/api.js
Labels: 1-core

#13005 JS - Fix setting a color on an annotation
  src/display/annotation_layer.js
  src/scripting_api/aform.js
  src/scripting_api/field.js
  test/integration/scripting_spec.js
  test/pdfs/.gitignore
  test/pdfs/js-colors.pdf
  test/unit/scripting_spec.js
Labels: 1-core, 4-annotations

#13008 Allow minor and patch versions for the `webpack-stream` dependency again
  package.json
Labels: 1-dependencies

#12983 XFA -- Add support for SOM expressions
  src/core/xfa/som.js
  src/core/xfa/xfa_object.js
  test/unit/xfa_parser_spec.js
Labels: 1-core

#13009 Move the opening of PDF file attachments into the `DownloadManager`-implementations
  src/display/annotation_layer.js
  web/download_manager.js
  web/firefoxcom.js
  web/pdf_attachment_viewer.js
  web/ui_utils.js
Labels: 1-viewer

#13019 Remove the `findResultsCount`-check from `PDFFindBar.updateResultsCount`, and unnecessary defaults from the constructor
  web/pdf_find_bar.js
Labels: 1-viewer

#13020 Remove the `NullL10n` default value from viewer components not included in the `COMPONENTS`-bundle
  web/password_prompt.js
  web/pdf_document_properties.js
  web/pdf_find_bar.js
  web/pdf_print_service.js
  web/pdf_sidebar.js
  web/pdf_sidebar_resizer.js
  web/pdf_thumbnail_view.js
  web/pdf_thumbnail_viewer.js
  web/toolbar.js
Labels: 1-viewer

#13021 Remove the, strictly unnecessary, closure and variable shadowing from `createObjectURL`
  src/shared/util.js
  web/pdf_page_view.js
Labels: 1-core, 1-viewer

#13014 [api-minor] Support the Content-Disposition filename in the Firefox PDF Viewer (bug 1694556, PR 9379 follow-up)
  src/display/api.js
  src/display/display_utils.js
  src/display/network_utils.js
  src/display/transport_stream.js
  src/pdf.js
  web/app.js
  web/download_manager.js
  web/firefoxcom.js
  web/pdf_attachment_viewer.js
  web/ui_utils.js
Labels: 1-core, 1-viewer

#13025 Convert code in `src/core/function.js` to use "normal" classes
  src/core/function.js
Labels: 1-core

#13026 Convert code in `src/core/crypto.js` to use "normal" classes
  src/core/crypto.js
  src/shared/util.js
Labels: 1-core

#13024 Update Puppeteer to version 8
  package-lock.json
  package.json
Labels: 1-test

#13023 Fix integration test with js-colors
  test/integration/scripting_spec.js
Labels: 1-test

#13029 Enable the `no-var` linting rule in more core files
  src/core/ccitt_stream.js
  src/core/glyphlist.js
  src/core/metrics.js
  src/core/primitives.js
  src/core/unicode.js
Labels: 1-core

#13030 Modernize some of the code in `src/core/cmap.js` by using classes and async/await
  src/core/cmap.js
Labels: 1-core

#13031 Implement rendering square/circle annotations without appearance stream
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/annotation-square-circle-without-appearance.pdf
  test/test_manifest.json
Labels: 4-annotations

#13032 Don't warn about actions that require scripting support in `Catalog.parseDestDictionary`
  src/core/obj.js
Labels: 1-core

#13033 Implement rendering line annotations without appearance stream
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/annotation-line-without-appearance.pdf
  test/test_manifest.json
Labels: 4-annotations
