Repository mozilla/pdf.js, pull requests merged in 2021-08, with the labels that each got.

#13833 Make worker-loader optional as peerDependencies. Close #13825.
  gulpfile.js
Labels: 1-other

#13836 Fix inefficient regular expressions in `external/cmapscompress/parse.js`
  external/cmapscompress/parse.js
Labels: 1-other, 1-test

#13831 Change the `parseQueryString` function to return a `Map` rather than an Object (issue 13829)
  web/app.js
  web/pdf_history.js
  web/pdf_link_service.js
  web/ui_utils.js
Labels: 1-viewer

#13837 Implement unit tests for the `parseQueryString` utility function
  test/unit/ui_utils_spec.js
  web/ui_utils.js
Labels: 1-test

#13839 Fix a broken regular expression in the `docId` unit-test (issue 13838, PR 13813 follow-up)
  test/unit/api_spec.js
Labels: 1-test, 3-regression

#13841 Allow customization of theme in Chrome extension + set default theme
  extensions/chromium/options/options.html
  extensions/chromium/preferences_schema.json
  web/app_options.js
Labels: 4-chrome-specific

#13842 Visually hide br in text selections
  web/text_layer_builder.css
Labels: 4-text-selection

#13847 Remove useless assignment of `availableSpace` in the `src/core/xfa/template.js` file (issue 13829, 13835)
  src/core/xfa/template.js
Labels: 4-form-xfa

#13859 Remove the `isEOF` helper function and slightly re-factor `EOF`
  src/core/cmap.js
  src/core/parser.js
  src/core/primitives.js
  test/unit/primitives_spec.js
Labels: 1-core

#13848 Remove the LGTM configuration and inline disable comments (issue 13829)
  lgtm.yml
  src/core/file_spec.js
  test/integration/scripting_spec.js
  test/webserver.js
Labels: 1-other

#13854 Prevent breaking errors when an optional content group is undefined (issue 13851)
  src/display/optional_content_config.js
  test/pdfs/issue13851.pdf.link
  test/test_manifest.json
Labels: 1-core

#13846 Add a special `gulp xfatest` command, to limit the ref-tests to only XFA-documents (issue 13744)
  gulpfile.js
  test/driver.js
  test/test.js
Labels: 1-test, 4-form-xfa

#13858 Add aria-labels to XFA form elements. (bug 1723422)
  src/core/xfa/template.js
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#13864 [XFA] Add alt text for images. (bug 1723418)
  src/core/xfa/template.js
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#13856 XFA - Avoid to put something in very small areas
  src/core/xfa/layout.js
  test/pdfs/xfa_issue13855.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13869 Enable linting in the `test/resources/` folder, and fix the "Remote property injection" warning (issue 13862)
  .eslintignore
  .stylelintignore
  test/resources/reftest-analyzer.css
  test/resources/reftest-analyzer.js
Labels: 1-test

#13874 Update the Annotation `--zoom-factor` CSS variable when `PDFPageView` is used standalone (PR 13868 follow-up)
  web/base_viewer.js
  web/pdf_page_view.js
  web/pdf_rendering_queue.js
Labels: 1-viewer

#13873 XFA - Support aria heading and table structure. (bug 1723421) (bug 1723425)
  src/core/xfa/template.js
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#13879 Fix the global variable definitions in `test/resources/reftest-analyzer.js` (issue 13862)
  test/resources/reftest-analyzer.js
Labels: 1-test

#13867 [api-minor] Re-factor the *internal* renderingIntent, and change the default `intent` value in the `PDFPageProxy.getAnnotations` method
  src/core/document.js
  src/core/operator_list.js
  src/core/worker.js
  src/display/api.js
  src/shared/util.js
  test/unit/api_spec.js
Labels: 1-core

#13882 [api-minor] Remove the closure from the `PDFWorker` class, in the `src/display/api.js` file
  src/display/api.js
  test/unit/api_spec.js
  web/app.js
Labels: 1-core

#13883 Improve caching of Annotations-data, by using a `Map`, in the API
  src/display/api.js
Labels: 1-core

#13884 Update packages and translations
  .eslintrc
  l10n/ja/viewer.properties
  package-lock.json
  package.json
Labels: 1-other

#13890 Update some deprecated ESLint rules
  .eslintrc
Labels: 1-other

#13886 Re-factor the `BaseException.name` handling, and clean-up some code
  src/core/core_utils.js
  src/core/jbig2.js
  src/core/jpg.js
  src/core/jpx.js
  src/display/api.js
  src/display/display_utils.js
  src/shared/message_handler.js
  src/shared/util.js
  web/app.js
  web/base_viewer.js
Labels: 1-core, 1-viewer

#13896 Simplify the `ReadableStream` polyfill
  src/shared/compatibility.js
Labels: 1-core

#13892 Move some validation, in `Dict.merge`, used during merging of sub-dictionaries (PR 13775 follow-up)
  src/core/primitives.js
Labels: 1-core

#13900 [api-minor] Stop translating logical assignment in non-`legacy` builds (PR 12887 follow-up)
  gulpfile.js
Labels: 1-other

#13911 Ensure that the `TESTING` define can always be overridden in `gulpfile.js`
  gulpfile.js
  web/app_options.js
Labels: 1-other

#13905 Re-factor `loadAndEnablePDFBug` and `PDFBug.init`
  web/app.js
  web/debugger.js
Labels: 1-viewer

#13904 Re-factor the LocalTilingPatternCache to cache by Ref rather than Name (PR 12458 follow-up, issue 13780)
  src/core/evaluator.js
  src/core/image_utils.js
Labels: 1-core, 4-tiling-type

#13899 [Regression] Re-factor the *internal* `includeAnnotationStorage` handling, since it's currently subtly wrong
  .eslintrc
  src/core/document.js
  src/core/worker.js
  src/display/annotation_storage.js
  src/display/api.js
  src/shared/util.js
Labels: 1-core

#13920 Extend the glyph maps for standard respectively Calibri fonts (issue 13916)
  src/core/standard_fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue13916.pdf
  test/test_manifest.json
Labels: 4-font-conversion

#13921 Update packages and translations
  l10n/gd/viewer.properties
  l10n/ko/viewer.properties
  package-lock.json
  package.json
Labels: 1-other

#13922 Enable the ESLint `object-shorthand` rule in the `extensions/chromium/`-folder
  extensions/chromium/.eslintrc
  extensions/chromium/options/migration.js
  extensions/chromium/pageAction/background.js
  extensions/chromium/pdfHandler-vcros.js
  extensions/chromium/pdfHandler.js
  extensions/chromium/preserve-referer.js
Labels: 4-chrome-specific

#13908 [api-minor] XFA - Support text search in XFA documents.
  src/display/api.js
  src/display/xfa_layer.js
  src/display/xfa_text.js
  test/integration/find_spec.js
  web/base_viewer.js
  web/interfaces.js
  web/pdf_page_view.js
  web/text_highlighter.js
  web/text_layer_builder.js
  web/xfa_layer_builder.css
  web/xfa_layer_builder.js
Labels: 1-core, 1-viewer, 4-form-xfa

#13660 XFA - Disable xfa rendering for XFAF pdfs
  src/core/catalog.js
  src/core/document.js
Labels: 4-form-xfa

#13923 [api-minor] Introduce a new `annotationMode`-option, in `PDFPageProxy.{render, getOperatorList}`
  extensions/chromium/preferences_schema.json
  src/core/document.js
  src/display/annotation_layer.js
  src/display/api.js
  src/pdf.js
  src/shared/util.js
  test/driver.js
  test/unit/api_spec.js
  web/annotation_layer_builder.js
  web/app.js
  web/app_options.js
  web/base_viewer.js
  web/firefox_print_service.js
  web/interfaces.js
  web/pdf_page_view.js
  web/pdf_print_service.js
Labels: 1-core, 1-viewer, 1-test

#13941 Ensure that `PasswordException` is handled correctly in the `wrapReason` function
  src/shared/message_handler.js
Labels: 1-core

#13942 Export the XFA/StructTree-layers in the viewer components
  examples/components/pageviewer.js
  web/annotation_layer_builder.js
  web/pdf_page_view.js
  web/pdf_viewer.component.js
  web/text_layer_builder.js
  web/xfa_layer_builder.js
Labels: 1-viewer

#13943 Use `async` a bit more in the API
  src/display/api.js
Labels: 1-core

#13944 Re-factor the `setPDFNetworkStreamFactory` usage for the unit-tests (PR 13549 follow-up)
  test/unit/jasmine-boot.js
Labels: 1-test

#13937 Fix handling of fetch errors
  src/core/chunked_stream.js
  src/display/fetch_stream.js
Labels: 1-core

#13932 Support Optional Content in Image-/XObjects (issue 13931)
  src/core/evaluator.js
  test/driver.js
  test/pdfs/.gitignore
  test/pdfs/issue13931.pdf
  test/test_manifest.json
Labels: 1-core

#13949 Only use base encoding if it's populated. (bug 1727053)
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/bug1727053.pdf
  test/test_manifest.json
Labels: 4-font-conversion, 4-font-truetype
