Repository mozilla/pdf.js, pull requests merged in 2021-07, with the labels that each got.

#13657 Replace `instanceof Object` with `typeof` checks
  .eslintrc
  src/core/xfa/xfa_object.js
  web/pdf_link_service.js
  web/pdf_outline_viewer.js
Labels: 1-core, 1-viewer

#13658 Don't attempt to structure clone unsupported types with workers disabled
  src/display/api.js
Labels: 1-core

#13664 Remove the `version` field from the `package.json` file
  package-lock.json
  package.json
Labels: 1-other

#13661 [api-minor] Support accessing both the original and modified PDF fingerprint
  src/core/document.js
  src/core/worker.js
  src/display/api.js
  test/unit/api_spec.js
  web/app.js
Labels: 1-core

#13662 XFA - Don't use system font when a font is not embeded but there is a substitution
  src/core/xfa/html_utils.js
Labels: 4-form-xfa

#13666 Enable the ESLint `operator-assignment` rule
  .eslintrc
  external/cmapscompress/compress.js
  src/core/ascii_85_stream.js
  src/core/ascii_hex_stream.js
  src/core/cff_parser.js
  src/core/cmap.js
  src/core/crypto.js
  src/core/document.js
  src/core/glyf.js
  src/core/image.js
  src/core/jbig2.js
  src/core/jpx.js
  src/core/type1_parser.js
  src/display/annotation_layer.js
  src/display/canvas.js
  test/integration/find_spec.js
  web/debugger.js
Labels: 1-core, 1-other

#13654 XFA - An image can be a stream in the pdf (bug 1718521)
  src/core/catalog.js
  src/core/document.js
  src/core/pdf_manager.js
  src/core/worker.js
  src/core/xfa/factory.js
  src/core/xfa/template.js
  test/pdfs/xfa_bug1718521_1.pdf.link
  test/pdfs/xfa_bug1718521_2.pdf.link
  test/pdfs/xfa_bug1718521_3.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13653 XFA - Improve text layout
  src/core/xfa/html_utils.js
  src/core/xfa/template.js
  src/core/xfa/text.js
  src/core/xfa/xhtml.js
  web/xfa_layer_builder.css
Labels: 4-form-xfa

#13665 XFA - Fix indentation for justified paragraph
  src/core/xfa/html_utils.js
  src/core/xfa/template.js
  test/pdfs/xfa_issue13633.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13675 [test/driver.js] Ensure that Image `src` is set *after* the callbacks in `resolveImages`
  test/driver.js
Labels: 1-test

#13683 Fix transformations when painting image masks and tiling patterns.
  src/display/canvas.js
  src/display/pattern_helper.js
  test/pdfs/.gitignore
  test/pdfs/issue13561_reduced.pdf
  test/test_manifest.json
Labels: 4-shading-pattern, 4-tiling-type

#13649 Merge the supplemental font data files used with XFA documents
  src/core/calibri_bold.js
  src/core/calibri_bold_italic.js
  src/core/calibri_factors.js
  src/core/calibri_italic.js
  src/core/calibri_regular.js
  src/core/helvetica_bold.js
  src/core/helvetica_bold_italic.js
  src/core/helvetica_factors.js
  src/core/helvetica_italic.js
  src/core/helvetica_regular.js
  src/core/liberationsans_bold_italic_widths.js
  src/core/liberationsans_bold_widths.js
  src/core/liberationsans_italic_widths.js
  src/core/liberationsans_regular_widths.js
  src/core/liberationsans_widths.js
  src/core/myriadpro_bold.js
  src/core/myriadpro_bold_italic.js
  src/core/myriadpro_factors.js
  src/core/myriadpro_italic.js
  src/core/myriadpro_regular.js
  src/core/segoeui_bold.js
  src/core/segoeui_bold_italic.js
  src/core/segoeui_factors.js
  src/core/segoeui_italic.js
  src/core/segoeui_regular.js
  src/core/xfa_fonts.js
Labels: 1-core

#13694 XFA - remove unnecessary check in the `handleBreak` function (PR 13687 follow-up)
  src/core/xfa/template.js
Labels: 4-form-xfa

#13692 XFA - Correctly bind global data (bug 1718725)
  src/core/xfa/bind.js
  src/core/xfa/datasets.js
  src/core/xfa/xfa_object.js
  test/pdfs/xfa_bug1718725.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13708 XFA - Add support for traversal and traverse element
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
Labels: 4-form-xfa

#13710 XFA - Move xfa layer on top of the others (follow-up of #13706)
  web/pdf_page_view.js
Labels: 1-viewer, 4-form-xfa

#13690 Fixed text annotation comb input box
  web/annotation_layer_builder.css
Labels: 1-viewer, 4-annotations, 4-form-acroform

#13696 [GENERIC viewer] Try to fixup "incomplete" language codes (issue 13689)
  web/genericl10n.js
  web/l10n_utils.js
Labels: 1-viewer

#13699 making webpack aware of the change inside of the worker file and hash
  external/dist/webpack.js
Labels: 1-other

#13712 XFA - Always compute the transformed BBox values in `checkDimensions` (PR 13691 follow-up)
  src/core/xfa/layout.js
Labels: 4-form-xfa

#13705 XFA - Fix text positions (bug 1718741)
  src/core/calibri_factors.js
  src/core/evaluator.js
  src/core/fonts.js
  src/core/helvetica_factors.js
  src/core/myriadpro_factors.js
  src/core/segoeui_factors.js
  src/core/xfa/html_utils.js
  src/core/xfa/template.js
  src/core/xfa/text.js
  src/core/xfa/xhtml.js
  src/core/xfa_fonts.js
  test/pdfs/xfa_bug1718741.pdf.link
  test/test_manifest.json
  test/unit/xfa_tohtml_spec.js
  web/xfa_layer_builder.css
Labels: 4-form-xfa

#13715 Update packages and translations
  l10n/br/viewer.properties
  l10n/gd/viewer.properties
  l10n/it/viewer.properties
  l10n/lt/viewer.properties
  package-lock.json
  package.json
Labels: 1-dependencies, 1-other

#13714 XFA - Use fake MyriadPro as a fallback for missing fonts
  src/core/document.js
  src/core/xfa/factory.js
  src/core/xfa/fonts.js
  src/core/xfa_fonts.js
  test/pdfs/xfa_issue13597.pdf.link
  test/test_manifest.json
Labels: 4-font-conversion, 4-form-xfa

#13717 XFA - Fix wrong vertical alignments
  web/xfa_layer_builder.css
Labels: 4-form-xfa

#13718 XFA - Support assist element
  src/core/xfa/template.js
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#13721 XFA - Avoid to have containers not pushed in the html
  src/core/xfa/layout.js
  src/core/xfa/template.js
  test/pdfs/xfa_issue13668.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13725 Avoid all rendering breaking completely when `CanvasPattern.setTransform()` is unsupported
  src/display/pattern_helper.js
Labels: 1-core

#13739 Remove `<meta>` tag only necessary for IE-compatibility
  web/viewer.html
Labels: 1-viewer

#13738 Re-factor the handling of *empty* `Name`-instances (PR 13612 follow-up)
  src/core/evaluator.js
  src/core/image_utils.js
  src/core/parser.js
  src/core/primitives.js
  test/unit/primitives_spec.js
Labels: 1-core

#13730 Add a new "botbrowsertest" gulp-task, to allow running only the browser tests on the bots
  gulpfile.js
Labels: 1-other

#13732 XFA - A rectangle must have the width of its parent but without inner margins
  src/core/xfa/template.js
  test/pdfs/xfa_issue13584.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13743 XFA - Checkboxes must be printed (bug 1720182)
  src/display/xfa_layer.js
  test/driver.js
  test/pdfs/xfa_bug1720182.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa, 4-printing

#13745 Enable XFA by default in the development viewer
  web/app.js
  web/app_options.js
Labels: 1-viewer, 4-form-xfa

#13754 Remove the IR (internal representation) part of the `PDFFunction` parsing
  src/core/function.js
Labels: 1-core

#13746 [api-minor] Add `intent` support to the `PDFPageProxy.getOperatorList` method (issue 13704)
  src/core/annotation.js
  src/core/document.js
  src/core/operator_list.js
  src/display/api.js
  src/display/canvas.js
  test/unit/annotation_spec.js
  test/unit/api_spec.js
Labels: 1-core

#13735 Ensure that the field value, for checkboxes, refers to an existing appearance state (bug 1720411)
  src/core/annotation.js
  test/pdfs/bug1720411.pdf.link
  test/test_manifest.json
  test/unit/annotation_spec.js
Labels: 4-annotations, 4-form-acroform

#13761 XFA - Prevent breaking errors in `Binder`, when `searchNode` doesn't return data (issue 13756)
  src/core/xfa/bind.js
  test/pdfs/issue13756.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13763 XFA - Must use bindItems element even if there is no direct binding (bug 1720907)
  src/core/xfa/bind.js
  test/unit/xfa_parser_spec.js
Labels: 4-form-xfa

#13764 XFA - Add a missing method to `XFAAttribute`, to prevent breaking errors (issue 13748)
  src/core/xfa/xfa_object.js
  test/pdfs/issue13748.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13768 XFA - Remove namespace from nodes under xfa:data node
  src/core/xfa/builder.js
  src/core/xfa/datasets.js
  src/core/xfa/parser.js
  src/core/xfa/xfa_object.js
  test/pdfs/xfa_bug1721600.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13766 XFA - Handle `startIndex` correctly in the `Template.$toHTML` method (issue 13751)
  src/core/xfa/template.js
  test/pdfs/issue13751.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13772 Include the `font`/`integration`/`unit`-test folders in the LGTM report
  lgtm.yml
Labels: 1-other

#13776 Include most of the `test`-folder in the LGTM report (PR 13772 follow-up)
  lgtm.yml
Labels: 1-other

#13770 Improve performance of reused patterns.
  src/core/evaluator.js
  src/display/api.js
  src/display/canvas.js
  src/display/pattern_helper.js
  test/pdfs/.gitignore
  test/pdfs/bug1721218_reduced.pdf
  test/test_manifest.json
Labels: 2-performance, 4-shading-pattern

#13782 [api-minor] XFA - Remove the `xfaLayer` from the DOM when resetting pages (bug 1721977, PR 13427 follow-up)
  web/pdf_page_view.js
Labels: 1-viewer, 4-form-xfa

#13775 Remove some duplication in the `Dict.merge` method
  src/core/primitives.js
Labels: 1-core

#13786 Remove a couple of small closures in `src/core/` code
  src/core/function.js
  src/core/ps_parser.js
Labels: 1-core

#13784 When parsing corrupt documents, avoid inserting obviously broken data in the XRef-table (issue 13783)
  src/core/core_utils.js
  src/core/parser.js
  src/core/xref.js
  test/pdfs/issue13783.pdf.link
  test/test_manifest.json
Labels: 1-core, 4-corrupted-pdf

#13787 Fix (most) LGTM warnings
  src/core/file_spec.js
  src/display/pattern_helper.js
  test/integration/scripting_spec.js
  test/test.js
  test/webserver.js
Labels: 1-core, 1-other, 1-test

#13788 Enable the `no-empty-character-class` and `no-template-curly-in-string` linting rules
  .eslintrc
Labels: 1-other

#13793 Bump versions in `pdfjs.config`
  pdfjs.config
Labels: 1-other

#13792 Remove the remaining closure in the `src/display/canvas.js` file
  src/display/canvas.js
Labels: 1-core

#13795 XFA - Elements created outside of XML must have all their properties (bug 1722029)
  src/core/xfa/bind.js
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  test/pdfs/xfa_bug1722029.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13801 Access `navigator` safely in the `src/display/annotation_layer.js` file
  src/display/annotation_layer.js
Labels: 4-annotations

#13804 Move the `compatibilityParams` into the `web/app_options.js` file
  gulpfile.js
  web/app.js
  web/app_options.js
  web/download_manager.js
  web/pdf_page_view.js
  web/pdf_print_service.js
  web/viewer_compatibility.js
Labels: 1-viewer

#13807 XFA - Get the full value when binding and not only the 1st line (bug 1718725)
  src/core/xfa/template.js
Labels: 4-form-xfa

#13796 Allow `StreamsSequenceStream.readBlock` to skip sub-streams with errors (issue 13794)
  src/core/decode_stream.js
  src/core/document.js
  src/shared/util.js
  test/pdfs/issue13794.pdf.link
  test/test_manifest.json
Labels: 1-core, 4-corrupted-pdf

#13806 XFA - Fix auto-sized fields (bug 1722030)
  src/core/calibri_factors.js
  src/core/evaluator.js
  src/core/fonts.js
  src/core/helvetica_factors.js
  src/core/myriadpro_factors.js
  src/core/segoeui_factors.js
  src/core/xfa/fonts.js
  src/core/xfa/html_utils.js
  src/core/xfa/template.js
  src/core/xfa/text.js
  src/core/xfa_fonts.js
  test/pdfs/xfa_bug1722030_1.pdf.link
  test/test_manifest.json
  web/xfa_layer_builder.css
Labels: 4-form-xfa

#13816 [api-minor] Remove the separate `enableScripting` option in `BaseViewer`
  examples/components/simpleviewer.js
  examples/components/singlepageviewer.js
  web/app.js
  web/base_viewer.js
Labels: 1-viewer

#13813 Remove a couple of closures in the `src/display/api.js` file
  src/display/api.js
  test/unit/api_spec.js
Labels: 1-core, 1-test

#13822 Prevent "Uncaught promise" messages in the console when cancelling (some) `ReadableStream`s
  src/display/api.js
  src/display/text_layer.js
Labels: 1-core

#13824 When no "V" entry exists, let the fieldValue fallback to the "DV" entry (issue 13823)
  src/core/annotation.js
  test/pdfs/issue13823.pdf.link
  test/test_manifest.json
Labels: 4-annotations, 4-form-acroform

#13828 Introduce the GitHub Advanced Security workflow
  .github/workflows/ci.yml
  .github/workflows/github_advanced_security.yml
Labels: 1-test

#13830 Improve the code analysis workflow with quality checks
  .github/workflows/codeql.yml
Labels: 1-test
