Repository mozilla/pdf.js, pull requests merged in 2021-04, with the labels that each got.

#13169 [api-minor] Change the format of the `fontName`-property, in `defaultAppearanceData`, on Annotation-instances (PR 12831 follow-up)
  src/core/annotation.js
  src/core/default_appearance.js
  src/core/evaluator.js
  test/unit/default_appearance_spec.js
Labels: 1-core, 4-annotations

#13175 [GENERIC viewer] Avoid data loss in forms, by triggering saving when the document is closed (issue 12257)
  web/app.js
Labels: 1-viewer

#13179 Utilize `Set` a bit more in the code-base
  src/core/evaluator.js
  src/display/api.js
Labels: 1-core

#13172 [api-minor] Add an option, in `PDFDocumentProxy.cleanup`, to allow fonts to remain attached to the DOM
  src/display/api.js
  test/unit/api_spec.js
  web/app.js
Labels: 1-core

#13183 Bump versions in `pdfjs.config`
  pdfjs.config
Labels: 1-other

#13184 Convert objects to sets in places where we only track keys
  src/core/obj.js
  web/pdf_find_controller.js
Labels: 1-core, 1-viewer

#13186 Remove some `deprecated` code
  src/display/annotation_storage.js
  web/pdf_link_service.js
  web/pdf_presentation_mode.js
Labels: 1-core, 1-viewer

#13194 Fuzzy-match the fontName, for TrueType Collection fonts, where the "name"-table is wrong (issue 13193)
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue13193.pdf
  test/test_manifest.json
Labels: 4-font-conversion

#13204 Fix typo in canvas.js
  src/display/canvas.js
Labels: 1-core

#13210 Cache babel source map.
  external/systemjs/plugin-babel-cached.js
Labels: 1-other

#13209 Remove the `enableScripting` option from the `PDFPageView` constructor
  web/base_viewer.js
  web/pdf_page_view.js
Labels: 1-viewer

#13207 [api-minor] Remove the manual passing of an `AnnotationStorage`-instance when calling various API-method
  src/display/api.js
  test/driver.js
  web/app.js
  web/firefox_print_service.js
  web/pdf_print_service.js
Labels: 1-core, 1-viewer

#13171 [api-minor] Add support for basic structure tree for accessibility.
  src/core/document.js
  src/core/evaluator.js
  src/core/obj.js
  src/core/struct_tree.js
  src/core/worker.js
  src/display/api.js
  src/display/text_layer.js
  test/driver.js
  test/integration-boot.js
  test/integration/accessibility_spec.js
  test/pdfs/.gitignore
  test/pdfs/structure_simple.pdf
  test/text_layer_test.css
  test/unit/clitests.json
  test/unit/jasmine-boot.js
  test/unit/struct_tree_spec.js
  web/base_viewer.js
  web/interfaces.js
  web/pdf_page_view.js
  web/struct_tree_layer_builder.js
  web/text_layer_builder.css
  web/viewer.css
Labels: 1-core

#13197 Improve the image quality of thumbnails rendered by `PDFThumbnailView.draw` (issue 8233)
  web/pdf_thumbnail_view.js
Labels: 1-viewer

#13212 Check that the correct `pdfDocument` is still active, before rendering the outline/attachments/layers
  web/app.js
  web/pdf_outline_viewer.js
  web/pdf_sidebar.js
Labels: 1-viewer

#13214 Display widget signature
  l10n/en-US/chrome.properties
  src/core/annotation.js
  src/core/document.js
  src/shared/util.js
  test/pdfs/.gitignore
  test/pdfs/bug854315.pdf
  test/test_manifest.json
  test/unit/api_spec.js
  test/unit/document_spec.js
  web/app.js
Labels: 4-annotations

#13216 Remove obsolete done callbacks from the unit tests
  test/unit/annotation_spec.js
  test/unit/api_spec.js
  test/unit/cff_parser_spec.js
  test/unit/cmap_spec.js
  test/unit/colorspace_spec.js
  test/unit/crypto_spec.js
  test/unit/display_utils_spec.js
  test/unit/evaluator_spec.js
  test/unit/node_stream_spec.js
  test/unit/primitives_spec.js
  test/unit/scripting_spec.js
  test/unit/ui_utils_spec.js
  test/unit/unicode_spec.js
  test/unit/writer_spec.js
Labels: 1-test

#13220 Ensure that `currentOutlineButton` enabling/disabling won't depend on the exact timing of the "pagesloaded" event (PR 13212 follow-up)
  web/pdf_outline_viewer.js
Labels: 1-viewer

#13221 [api-minor] A couple of smaller `PDFPageProxy.getStructTree` fixes (PR 13171 follow-up)
  src/core/document.js
  src/core/struct_tree.js
  src/display/api.js
  test/unit/api_spec.js
  web/pdf_page_view.js
Labels: 1-core

#13217 [GENERIC viewer] Display a warning message, using the `errorWrapper`, for documents with signatures (PR 13214 follow-up, issue 13215)
  l10n/en-US/viewer.properties
  web/app.js
  web/l10n_utils.js
  web/viewer.css
Labels: 1-viewer

#13141 XFA -- Display text content
  src/core/xfa/html_utils.js
  src/core/xfa/parser.js
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  src/core/xfa/xhtml.js
  test/unit/clitests.json
  test/unit/xfa_parser_spec.js
  test/unit/xfa_tohtml_spec.js
  web/xfa_layer_builder.css
Labels: 1-core

#13203 Implement high contrast mode
  web/pdf_viewer.css
  web/viewer.css
Labels: 1-viewer

#13223 Remove the unused "GetIsPureXfa" message handler; and avoid unnecessary parsing when no structTree is available (PR 13069 follow-up, PR 13221 follow-up)
  src/core/document.js
  src/core/struct_tree.js
  src/core/worker.js
Labels: 1-core

#13232 Fix annotation input focus trap regression in Safari
  src/display/annotation_layer.js
Labels: 1-core

#13234 [api-minor] Ensure that `PDFDocumentProxy.hasJSActions` won't fail if `MissingDataException`s are thrown during the associated worker-thread parsing
  src/core/document.js
  src/core/obj.js
  test/unit/api_spec.js
Labels: 1-core

#13235 Split the classes in `src/core/obj.js` into separate files
  src/core/annotation.js
  src/core/catalog.js
  src/core/document.js
  src/core/file_spec.js
  src/core/name_number_tree.js
  src/core/object_loader.js
  src/core/struct_tree.js
  src/core/xref.js
Labels: 1-core

#13244 Update the `postcss-calc` package to the latest version
  package-lock.json
  package.json
Labels: 1-dependencies

#13240 Update `eslint-config-prettier`/`eslint-plugin-unicorn` packages to their latest versions
  package-lock.json
  package.json
Labels: 1-dependencies

#13222 Convert done callbacks to async/await in the smaller unit test files
  test/unit/custom_spec.js
  test/unit/fetch_stream_spec.js
  test/unit/network_spec.js
  test/unit/node_stream_spec.js
  test/unit/primitives_spec.js
  test/unit/ui_utils_spec.js
  test/unit/util_spec.js
Labels: 1-test

#13243 Implement visibility expressions for optional content
  src/core/evaluator.js
  src/display/optional_content_config.js
  test/pdfs/.gitignore
  test/pdfs/visibility_expressions.pdf
  test/test_manifest.json
Labels: 1-core

#13246 Convert done callbacks to async/await in more unit test files
  test/unit/annotation_storage_spec.js
  test/unit/cmap_spec.js
  test/unit/crypto_spec.js
  test/unit/display_svg_spec.js
  test/unit/message_handler_spec.js
Labels: 1-test

#13247 Update the `yargs` package to the latest version
  package-lock.json
  package.json
  test/test.js
Labels: 1-dependencies, 1-test

#13249 [GENERIC viewer] Don't display the `errorWrapper`, for documents with signatures (PR 13217 follow-up)
  l10n/en-US/viewer.properties
  web/app.js
  web/l10n_utils.js
Labels: 1-viewer

#13250 Remove the `PDFViewerApplication._delayedFallback` functionality
  web/app.js
Labels: 1-viewer

#13146 XFA -- Load fonts permanently from the pdf
  src/core/core_utils.js
  src/core/document.js
  src/core/evaluator.js
  src/core/fonts.js
  src/core/pdf_manager.js
  src/core/worker.js
  src/display/font_loader.js
  test/unit/core_utils_spec.js
Labels: 1-core

#13254 A couple of small scripting/XFA-related tweaks in the worker-code
  src/core/document.js
  src/core/fonts.js
  src/core/worker.js
  test/unit/document_spec.js
Labels: 1-core

#13253 Convert done callbacks to async/await in `test/unit/api_spec.js`
  test/unit/api_spec.js
Labels: 1-test

#13256 Convert done callbacks to async/await in the last two unit test files
  test/unit/annotation_spec.js
  test/unit/evaluator_spec.js
Labels: 1-test

#13275 Ensure that the /Properties, used with optional content, is actually loaded *before* parsing the operatorList/textContent (PR 12095 follow-up)
  src/core/document.js
Labels: 1-core

#13277 For CFF fonts without proper `ToUnicode`/`Encoding` data, utilize the "charset"/"Encoding"-data from the font file to improve text-selection (issue 13260)
  src/core/evaluator.js
  src/core/fonts.js
Labels: 4-font-conversion

#13263 Replace `done` callbacks in the font-tests with async/await instead
  test/font/font_core_spec.js
  test/font/font_fpgm_spec.js
  test/font/font_os2_spec.js
  test/font/font_post_spec.js
  test/font/fontutils.js
Labels: 1-test

#13283 Change `NameOrNumberTree.getAll` to return a `Map` rather than an Object
  src/core/catalog.js
  src/core/name_number_tree.js
Labels: 1-core

#13272 Update all the text widgets having the same name with the same value
  src/display/annotation_layer.js
  test/integration/annotation_spec.js
  test/pdfs/.gitignore
  test/pdfs/issue13271.pdf
Labels: 1-core

#13291 Replace a bunch of `Array.prototype.forEach()` cases with `for...of` loops instead
  src/core/evaluator.js
  src/core/function.js
  src/core/worker.js
  src/core/worker_stream.js
  src/display/annotation_layer.js
  src/display/api.js
  src/display/fetch_stream.js
  src/display/font_loader.js
  src/display/network.js
  src/display/node_stream.js
  src/display/svg.js
  src/display/text_layer.js
  src/display/transport_stream.js
  web/ui_utils.js
Labels: 1-core

#13297 Add a note about minification to the webpack-example README (issue 13290)
  examples/webpack/README.md
Labels: 1-other

#13294 Enable the `no-var` linting rule in `src/core/{cmap,image,worker}.js`
  src/core/cmap.js
  src/core/image.js
  src/core/worker.js
Labels: 1-core

#13300 Convert the code in `src/display/canvas.js` to use standard classes
  src/display/canvas.js
Labels: 1-core

#13304 Convert more code in `src/core/` to use standard classes
  src/core/ccitt.js
  src/core/ccitt_stream.js
  src/core/jbig2_stream.js
  src/core/jpeg_stream.js
  src/core/jpx_stream.js
Labels: 1-core

#13305 Implement rendering polyline/polygon annotations without appearance stream
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/annotation-polyline-polygon-without-appearance.pdf
  test/test_manifest.json
Labels: 4-annotations

#13306 Fix position of highlighted all text.
  test/integration-boot.js
  test/integration/find_spec.js
  test/pdfs/.gitignore
  test/pdfs/find_all.pdf
  web/text_layer_builder.css
Labels: 4-text-selection

#13257 [api-minor] Fix the way to chunk the strings
  src/core/evaluator.js
  src/display/text_layer.js
  test/unit/api_spec.js
Labels: 4-text-selection
