Repository mozilla/pdf.js, pull requests merged in 2021-05, with the labels that each got.

#13303 Add an abstract base-class, which all the various Stream implementations inherit from
  src/core/ascii_85_stream.js
  src/core/ascii_hex_stream.js
  src/core/base_stream.js
  src/core/ccitt_stream.js
  src/core/chunked_stream.js
  src/core/crypto.js
  src/core/decode_stream.js
  src/core/decrypt_stream.js
  src/core/document.js
  src/core/evaluator.js
  src/core/flate_stream.js
  src/core/image.js
  src/core/jbig2_stream.js
  src/core/jpeg_stream.js
  src/core/jpx_stream.js
  src/core/lzw_stream.js
  src/core/object_loader.js
  src/core/parser.js
  src/core/predictor_stream.js
  src/core/primitives.js
  src/core/run_length_stream.js
  src/core/stream.js
  test/unit/stream_spec.js
Labels: 1-core

#13322 Update packages and translations
  l10n/be/viewer.properties
  l10n/cak/viewer.properties
  l10n/cy/viewer.properties
  l10n/de/viewer.properties
  l10n/en-CA/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/es-ES/viewer.properties
  l10n/fi/viewer.properties
  l10n/fr/viewer.properties
  l10n/fy-NL/viewer.properties
  l10n/gl/viewer.properties
  l10n/nl/viewer.properties
  l10n/oc/viewer.properties
  l10n/rm/viewer.properties
  l10n/ru/viewer.properties
  l10n/sl/viewer.properties
  l10n/tg/viewer.properties
  l10n/tr/viewer.properties
  l10n/zh-TW/viewer.properties
  package-lock.json
  package.json
Labels: 1-dependencies, 1-other

#13320 Add a new `BaseStream.getString(...)` method to replace manual `bytesToString(BaseStream.getBytes(...))` calls
  src/core/base_stream.js
  src/core/catalog.js
  src/core/core_utils.js
  src/core/document.js
  src/core/fonts.js
  src/core/writer.js
  src/display/font_loader.js
Labels: 1-core

#13321 Enable the `no-var` linting rule in `src/core/{crypto,function}.js`
  src/core/crypto.js
  src/core/function.js
Labels: 1-core

#13324 Fix highlighting of search results when the `textLayer` contains `br`-elements (PR 13257 follow-up, issue 13323)
  test/text_layer_test.css
  web/text_layer_builder.css
Labels: 1-viewer, 4-text-selection

#13319 JS -- add support for page property in field
  src/core/annotation.js
  src/core/catalog.js
  src/scripting_api/field.js
  test/integration/scripting_spec.js
  test/pdfs/.gitignore
  test/pdfs/evaljs.pdf
Labels: 1-core

#13274 [JS] Fix several issues found in pdf in #13269
  src/display/annotation_layer.js
  src/pdf.sandbox.external.js
  src/scripting_api/app.js
  src/scripting_api/doc.js
  src/scripting_api/event.js
  src/scripting_api/field.js
  src/scripting_api/initialization.js
  src/scripting_api/proxy.js
  test/integration/scripting_spec.js
  test/pdfs/.gitignore
  test/pdfs/issue13269.pdf
  web/pdf_scripting_manager.js
Labels: 1-core, 4-form-js

#13340 Fix integration test in the windows bot
  test/integration/scripting_spec.js
Labels: 1-test

#13339 Remove unnecessary closure in `src/display/text_layer.js`, and use standard classes
  src/display/text_layer.js
Labels: 1-core

#13327 Split the functionality in `src/core/fonts.js` into multiple files, and use standard classes
  src/core/cff_font.js
  src/core/evaluator.js
  src/core/fonts.js
  src/core/fonts_utils.js
  src/core/opentype_file_builder.js
  src/core/to_unicode_map.js
  src/core/type1_font.js
  test/font/font_fpgm_spec.js
  test/font/font_os2_spec.js
  test/font/font_post_spec.js
  test/unit/cff_parser_spec.js
  test/unit/type1_parser_spec.js
Labels: 1-core

#13341 Remove unnecessary closure in the `src/core/font_renderer.js` file
  src/core/font_renderer.js
Labels: 1-core

#13338 Convert the `src/core/{jbig2, jpg, jpx}.js` files to use standard classes
  src/core/jbig2.js
  src/core/jpg.js
  src/core/jpx.js
Labels: 1-core

#13344 Enable the `no-var` rule in the `src/core/evaluator.js` file
  src/core/evaluator.js
Labels: 1-core

#13350 Add option enableXfa to the viewer
  extensions/chromium/preferences_schema.json
  web/app.js
  web/app_options.js
Labels: 1-viewer

#13354 Export the "raw" toUnicode-data from `PartialEvaluator.preEvaluateFont`
  src/core/evaluator.js
Labels: 4-font-conversion

#13355 Fix some integration tests
  test/integration/annotation_spec.js
  test/integration/scripting_spec.js
Labels: 1-test

#13357 Remove the `disableCanvasToImageConversion` functionality from `PDFThumbnailView` (PR 7029 follow-up)
  web/pdf_thumbnail_view.js
  web/pdf_thumbnail_viewer.js
Labels: 1-viewer

#13363 Prevent LGTM from complaining about useless assignments (PR 12562 follow-up)
  lgtm.yml
Labels: 1-other

#13368 Fix the `Jbig2Image` export for the `gulp image_decoders` build (PR 9729 follow-up, issue 13367)
  src/pdf.image_decoders.js
Labels: 1-core

#13360 Only include the `renderer`-preference in builds where `SVGGraphics` is defined
  extensions/chromium/preferences_schema.json
  src/display/svg.js
  web/app_options.js
Labels: 1-core

#13366 Convert the remaining functions in `src/core/primitives.js` to use standard classes
  src/core/primitives.js
  test/unit/annotation_spec.js
Labels: 1-core

#13361 Fix several issues with radial/axial shadings and tiling patterns.
  src/core/pattern.js
  src/display/canvas.js
  src/display/pattern_helper.js
  test/pdfs/.gitignore
  test/pdfs/issue11473.pdf
  test/pdfs/issue13325_reduced.pdf
  test/pdfs/issue6769.pdf
  test/pdfs/issue6769_no_matrix.pdf
  test/pdfs/issue7847_radial.pdf
  test/test_manifest.json
Labels: 1-core, 4-shading-pattern, 4-tiling-type

#13371 Revert "Fix the remaining `no-var` failures, which couldn't be handled automatically, in the `src/core/evaluator.js` file" (PR 13344 follow-up)
  src/core/evaluator.js
Labels: 1-core

#13369 Fix tiling pattern with smask.
  src/display/pattern_helper.js
  test/pdfs/.gitignore
  test/pdfs/issue8565.pdf
  test/test_manifest.json
Labels: 4-smask, 4-tiling-type

#13375 Improve the `Page.content` and `Page.getContentStream` methods
  src/core/document.js
  src/core/primitives.js
Labels: 1-core

#13377 Re-factor and convert the code in `src/core/pattern.js` to use standard classes
  src/core/pattern.js
Labels: 1-core

#13379 [api-minor] Update minimum supported browser versions (PR 13361 follow-up)
  gulpfile.js
  src/shared/compatibility.js
Labels: 1-other

#13380 Re-factor and convert the code in `src/display/pattern_helper.js` to use standard classes
  src/display/canvas.js
  src/display/pattern_helper.js
Labels: 1-core

#13385 Convert `src/core/operator_list.js` to use standard classes
  src/core/operator_list.js
Labels: 1-core

#13386 Enable the `no-var` linting rule in `src/core/bidi.js`
  src/core/bidi.js
Labels: 1-core

#13387 Fix a few *safe* ESLint no-var failures in `src/core/evaluator.js` (13371 follow-up)
  src/core/evaluator.js
Labels: 1-core

#13328 JS - Add support for display property
  src/core/annotation.js
  src/core/document.js
  src/display/annotation_layer.js
  src/scripting_api/proxy.js
  test/integration/scripting_spec.js
  web/pdf_scripting_manager.js
Labels: 4-form-js

#13408 Remove focus from the zoom dropdown, when a mouse is used (bug 1300525, issue 4923)
  web/toolbar.js
Labels: 1-ux

#13415 Improve handling of named destinations in out-of-order NameTrees (PR 10274 follow-up)
  src/core/catalog.js
  src/core/name_number_tree.js
  src/display/api.js
  test/pdfs/issue10272.pdf.link
  test/test_manifest.json
  test/unit/api_spec.js
Labels: 1-core

#13416 XFA - Fix wrong function name
  src/core/xfa/config.js
Labels: 4-form-xfa

#13419 Use the `stringToBytes` helper function in more places
  src/core/xfa/template.js
  src/display/content_disposition.js
Labels: 1-core

#13381 Handle errors gracefully, in PartialEvaluator.buildFontPaths, when glyph path building fails
  src/core/evaluator.js
  src/core/font_renderer.js
  src/shared/util.js
Labels: 1-core

#13417 [XFA] Send URLs as strings, rather than objects (issue 1773)
  src/core/xfa/template.js
  src/display/api.js
Labels: 4-form-xfa

#13420 Drop obsolete logic from the `downloadFile` function in `test/downloadutils.js`
  test/downloadutils.js
Labels: 1-test

#13421 XFA - Don't display images with a href
  src/core/xfa/template.js
Labels: 4-form-xfa

#13402 XFA - Fix lot of layout issues
  src/core/xfa/bind.js
  src/core/xfa/builder.js
  src/core/xfa/html_utils.js
  src/core/xfa/layout.js
  src/core/xfa/parser.js
  src/core/xfa/som.js
  src/core/xfa/template.js
  src/core/xfa/utils.js
  src/core/xfa/xfa_object.js
  src/core/xfa/xhtml.js
  src/display/xfa_layer.js
  test/unit/xfa_parser_spec.js
  test/unit/xfa_tohtml_spec.js
  web/xfa_layer_builder.css
Labels: 4-form-xfa

#13435 Enable the `unicorn/no-array-push-push` ESLint plugin rule
  .eslintrc
  src/core/annotation.js
  src/core/core_utils.js
  src/core/font_renderer.js
  src/core/jbig2.js
  src/core/writer.js
  src/display/canvas.js
  src/scripting_api/aform.js
  src/shared/util.js
Labels: 1-core

#13456 Replace clazz by classNames
  src/core/xfa/template.js
Labels: 4-form-xfa

#13427 XFA - Add a storage to save fields values
  src/core/xfa/template.js
  src/display/xfa_layer.js
  web/base_viewer.js
  web/pdf_page_view.js
  web/xfa_layer_builder.js
Labels: 4-form-xfa

#13443 Re-factor the `charsCache` on `Font`-instances
  src/core/fonts.js
Labels: 4-font-conversion

#13457 Work-around for HighlightAnnotations without a top-level /ExtGState-entry (issue 13242)
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/issue13242.pdf
  test/test_manifest.json
Labels: 4-annotations

#13448 Support strokeAlpha/fillAlpha when creating a fallback appearance stream (issue 6810)
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/issue13447.pdf
  test/test_manifest.json
Labels: 4-annotations

#13460 Update webpack import instructions
  examples/webpack/README.md
Labels: 1-other

#13462 Update packages and translations
  l10n/da/viewer.properties
  l10n/eo/viewer.properties
  l10n/ia/viewer.properties
  l10n/id/viewer.properties
  l10n/kk/viewer.properties
  l10n/nb-NO/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/oc/viewer.properties
  l10n/pa-IN/viewer.properties
  l10n/sco/viewer.properties
  l10n/sk/viewer.properties
  package-lock.json
  package.json
Labels: 1-dependencies, 1-other

#13464 Bump versions in `pdfjs.config`
  pdfjs.config
Labels: 1-other

#13466 Fix typo in template.js
  src/core/xfa/template.js
Labels: 1-other

#13465 Some `-es5`/`-legacy` renaming clean-up, and `deprecated` API options removal (PR 12978, PR 13207 follow-up)
  docs/contents/getting_started/index.md
  gulpfile.js
  src/display/api.js
Labels: 1-other

#13472 Don't change options of the globally used `PartialEvaluator` in the "should render checkbox with fallback font for printing" unit-test
  src/core/evaluator.js
  test/unit/annotation_spec.js
Labels: 1-test
