Repository mozilla/pdf.js, pull requests merged in 2021-12, with the labels that each got.

#14333 Handle errors correctly when data lookup fails during /Pages-tree parsing (issue 14303)
  src/core/catalog.js
  test/pdfs/.gitignore
  test/pdfs/poppler-742-0-fuzzed.pdf
  test/pdfs/poppler-937-0-fuzzed.pdf
  test/unit/api_spec.js
Labels: 1-core, 4-corrupted-pdf

#14325 Remove the unused `skipCount` parameter from `Catalog.getPageDict` (PR 14311 follow-up)
  src/core/catalog.js
  src/core/document.js
  test/unit/api_spec.js
Labels: 1-core, 1-test

#14328 Update (primarily) the Node.js examples to release page resources
  examples/node/getinfo.js
  examples/node/pdf2png/pdf2png.js
  examples/node/pdf2svg.js
  examples/text-only/pdf2svg.js
Labels: 1-other, 4-node-specific

#14335 [Regression] Eagerly fetch/parse the entire /Pages-tree in corrupt documents (issue 14303, PR 14311 follow-up)
  src/core/catalog.js
  src/core/core_utils.js
  src/core/document.js
  test/pdfs/.gitignore
  test/pdfs/GHOSTSCRIPT-698804-1-fuzzed.pdf
  test/pdfs/poppler-395-0-fuzzed.pdf
  test/unit/api_spec.js
Labels: 1-core, 3-regression, 4-corrupted-pdf

#14324 Enforce PAGE-scrolling for *very* large/long documents (bug 1588435, PR 11263 follow-up)
  web/base_viewer.js
  web/secondary_toolbar.js
  web/viewer.css
  web/viewer.html
Labels: 1-viewer, 2-performance

#14341 Ensure that the `shadow` helper function is passed a valid property (PR 14152 follow-up)
  src/shared/util.js
Labels: 1-core

#14340 Handle errors when fetching the raw /Metadata (issue 14305)
  src/core/catalog.js
  test/pdfs/.gitignore
  test/pdfs/PDFBOX-3148-2-fuzzed.pdf
  test/unit/api_spec.js
Labels: 1-core, 4-corrupted-pdf

#14338 [api-minor] Clear all caches in `XRef.indexObjects`, and improve /Root dictionary validation in `XRef.parse` (issue 14303)
  src/core/xref.js
  test/unit/api_spec.js
Labels: 1-core, 4-corrupted-pdf

#14339 Add a (linked) test-case for issue 8019
  test/pdfs/issue8019.pdf.link
  test/test_manifest.json
Labels: 1-test

#14345 Ensure that the viewer handles `BaseViewer` initialization failures
  web/app.js
  web/base_viewer.js
  web/pdf_outline_viewer.js
Labels: 1-viewer, 4-corrupted-pdf

#14344 Modernize the test driver
  test/driver.js
Labels: 1-test

#14348 Add a (linked) test-case for issue 8022
  test/pdfs/issue8022.pdf.link
  test/test_manifest.json
Labels: 1-test

#14347 Improve caching in `Catalog.getPageDict` (PR 8207 follow-up)
  src/core/catalog.js
Labels: 1-core

#14350 Prevent an infinite loop when parsing corrupt /CCITTFaxDecode data (issue 14305)
  src/core/ccitt.js
  test/pdfs/.gitignore
  test/pdfs/poppler-90-0-fuzzed.pdf
  test/unit/api_spec.js
Labels: 1-core, 4-corrupted-pdf

#14354 Further improve caching in `Catalog.getPageDict`, for `disableAutoFetch` mode (PR 8207 follow-up)
  src/core/catalog.js
Labels: 1-core

#14355 Change `WorkerTransport.{pageCache, pagePromises}` from an Array to a Map
  src/display/api.js
Labels: 1-core

#14358 Improve `PDFDocument.checkLastPage`/`Catalog.getAllPageDicts` for documents with corrupt XRef tables (PR 14311, 14335 follow-up)
  src/core/catalog.js
  src/core/document.js
Labels: 1-core

#14359 Avoid overloading the worker-thread during eager page initialization in the viewer (PR 11263 follow-up)
  web/base_viewer.js
Labels: 1-viewer

#14361 Upgrade Node.js to version 16 in the CI workflow
  .github/workflows/ci.yml
Labels: 1-dependencies

#14360 Update packages and translations
  l10n/eo/viewer.properties
  l10n/et/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/pl/viewer.properties
  l10n/vi/viewer.properties
  package-lock.json
  package.json
Labels: 1-dependencies

#14362 Support disabling of form editing when `pdfjs.enablePermissions` is set (issue 14356)
  web/app.js
  web/base_viewer.js
  web/pdf_page_view.js
  web/pdf_viewer.css
  web/viewer.css
Labels: 1-viewer, 2-feature

#14364 Only call `PDFDocumentProxy.getPermissions`, in the viewer, when `pdfjs.enablePermissions` is set (PR 14362 follow-up)
  web/base_viewer.js
Labels: 1-viewer, 3-regression

#14367 Disable failing print actions integration test in Firefox
  test/integration/scripting_spec.js
Labels: 1-test

#14368 Consistently use string arguments for page.waitForFunction calls and upgrade to Puppeteer 13.0.0
  package-lock.json
  package.json
  test/integration/scripting_spec.js
Labels: 1-dependencies

#14380 Move the `EventBus`, and related functionality, into its own file
  test/unit/clitests.json
  test/unit/event_utils_spec.js
  test/unit/jasmine-boot.js
  test/unit/pdf_find_controller_spec.js
  test/unit/ui_utils_spec.js
  web/app.js
  web/event_utils.js
  web/pdf_history.js
  web/pdf_viewer.component.js
  web/ui_utils.js
Labels: 1-viewer, 1-test

#14372 Move the /Lang handling into the `BaseViewer` (PR 14114 follow-up)
  src/display/api.js
  web/app.js
  web/base_viewer.js
Labels: 1-viewer

#14370 Slightly reduce asynchronicity in the `Catalog.getPageDict` method (PR 14338 follow-up)
  src/core/catalog.js
Labels: 1-core

#14386 Ignore *negative* /FitH parameters in the viewer (issue 14385)
  web/base_viewer.js
Labels: 1-viewer

#14373 [api-minor] Fix broken/missing JSDocs and `typedef`s, to allow updating TypeScript to the latest version (issue 14342)
  package-lock.json
  package.json
  src/display/annotation_layer.js
  src/display/api.js
  src/display/xfa_layer.js
  test/driver.js
  web/annotation_layer_builder.js
  web/app.js
  web/base_viewer.js
  web/default_factory.js
  web/download_manager.js
  web/genericl10n.js
  web/interfaces.js
  web/pdf_find_controller.js
  web/pdf_history.js
  web/pdf_link_service.js
  web/pdf_page_view.js
  web/pdf_rendering_queue.js
  web/pdf_scripting_manager.js
  web/pdf_sidebar.js
  web/pdf_thumbnail_view.js
  web/pdf_thumbnail_viewer.js
  web/pdf_viewer.component.js
  web/print_utils.js
  web/struct_tree_layer_builder.js
  web/text_highlighter.js
  web/text_layer_builder.js
  web/ui_utils.js
  web/xfa_layer_builder.js
Labels: 1-dependencies

#14387 Modernize the test utilities
  test/test.js
  test/testutils.js
Labels: 1-test

#14389 Bump versions in `pdfjs.config`
  pdfjs.config
Labels: 1-other

#14388 Unblock the "load" event in inactive windows/tabs (bug 1746213, PR 11646 follow-up)
  web/base_viewer.js
Labels: 1-viewer

#14401 Update packages and translations
  l10n/dsb/viewer.properties
  l10n/hsb/viewer.properties
  l10n/sat/viewer.properties
  package-lock.json
  package.json
Labels: 1-dependencies

#14391 Handle non-integer Annotation border widths correctly (issue 14203)
  src/core/annotation.js
  test/pdfs/issue14203.pdf.link
  test/test_manifest.json
  test/unit/annotation_spec.js
Labels: 4-annotations

#14400 [api-minor] Convert `Catalog.getPageDict` to an asynchronous method
  src/core/catalog.js
  test/unit/api_spec.js
  web/base_viewer.js
Labels: 1-core

#14409 Improve caching for the `Catalog.getPageIndex` method (PR 13319 follow-up)
  src/core/catalog.js
  src/core/document.js
  test/unit/api_spec.js
Labels: 1-core, 1-test
