Repository mozilla/pdf.js, pull requests merged in 2021-11, with the labels that each got.

#14217 [Firefox] Handle errors if loading failed before the "supportsRangedLoading" message was sent (bug 1732141)
  web/firefoxcom.js
Labels: 1-viewer, 4-firefox-specific

#14221 Use `BaseViewer.previousPage` more in the default viewer (PR 12870 follow-up)
  web/app.js
Labels: 1-viewer

#14225 Avoid doing unnecessary checks, when pre-rendering page layouts with "holes" (PR 14131 follow-up)
  web/pdf_rendering_queue.js
Labels: 1-viewer

#14213 Tweak the Bidi-detection heuristics for very short RTL strings (issue 11656)
  src/core/bidi.js
  test/pdfs/.gitignore
  test/pdfs/issue11656.pdf
  test/test_manifest.json
  test/unit/bidi_spec.js
Labels: 4-text-selection

#14219 Let `getVisibleElements` return a Set containing the visible element `id`s
  test/unit/ui_utils_spec.js
  web/base_viewer.js
  web/pdf_rendering_queue.js
  web/pdf_thumbnail_viewer.js
  web/ui_utils.js
Labels: 1-viewer

#14218 XFA subform with occur min=0 and no bound data displaying.
  src/core/xfa/bind.js
  test/pdfs/.gitignore
  test/pdfs/issue14130.pdf
  test/test_manifest.json
Labels: 4-form-xfa

#14238 Add a couple of basic unit-tests for `PDFPageViewBuffer`
  test/unit/base_viewer_spec.js
  test/unit/clitests.json
  test/unit/jasmine-boot.js
  web/base_viewer.js
Labels: 1-viewer, 1-test

#14241 Don't double apply a group xobject's bbox.
  src/core/evaluator.js
  test/test_manifest.json
Labels: 1-core

#14230 Create shading patterns the size of the current path. (bug 1722807)
  src/display/canvas.js
  src/display/pattern_helper.js
Labels: 2-performance, 4-shading-pattern

#14244 Prevent mobile devices from interfering with the textLayer-elements (issue 14243)
  web/text_layer_builder.css
Labels: 1-viewer

#14240 XFA - Get each page asynchronously in order to avoid blocking the event loop (#14014)
  src/core/document.js
  src/core/xfa/factory.js
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#14245 Convert `PDFPageViewBuffer` to a standard class, and use a `Set` internally
  test/unit/base_viewer_spec.js
  test/unit/ui_utils_spec.js
  web/base_viewer.js
  web/ui_utils.js
Labels: 1-viewer

#14250 XFA - Encode tag names in UTF-8 when saving (fix #14249)
  src/core/xfa/xfa_object.js
  test/unit/xfa_serialize_data_spec.js
Labels: 4-form-xfa

#14239 XFA - Fix a breakBefore issue when target is a contentArea and startNew is 1 (bug 1739502)
  src/core/xfa/layout.js
  src/core/xfa/template.js
  test/pdfs/xfa_bug1739502.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#14258 Always prefer abbreviated keys, over full ones, when doing any dictionary lookups (issue 14256)
  src/core/colorspace.js
  src/core/evaluator.js
  src/core/image.js
  src/core/jpeg_stream.js
  src/core/parser.js
  src/core/pattern.js
  src/core/predictor_stream.js
  src/core/primitives.js
  test/pdfs/.gitignore
  test/pdfs/issue14256.pdf
  test/test_manifest.json
  test/unit/primitives_spec.js
Labels: 1-core

#14265 XFA - Avoid an exception when looking for a font in a parent node
  src/core/xfa/html_utils.js
  test/pdfs/xfa_issue14150.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#14266 Don't consider space as real space when there is an extra spacing (bug 931481)
  src/core/evaluator.js
  test/pdfs/bug931481.pdf.link
  test/test_manifest.json
  test/unit/api_spec.js
Labels: 4-text-selection

#14270 When parsing corrupt documents without any trailer-dictionary, fallback to the "top"-dictionary (issue 14269)
  src/core/xref.js
  test/pdfs/issue14269.pdf.link
  test/test_manifest.json
Labels: 1-core, 4-corrupted-pdf

#14253 [Chromium addon] Add the Page scrolling mode to the options (PR 14112 follow-up)
  extensions/chromium/options/options.html
  extensions/chromium/preferences_schema.json
Labels: 1-addon, 4-chrome-specific

#14260 Report "pageInfo" telemetry once, rather than for each rendered page
  web/app.js
  web/base_viewer.js
Labels: 1-viewer

#14271 Parse query string in using URLSearchParams
  test/driver.js
  test/resources/reftest-analyzer.js
  web/ui_utils.js
Labels: 1-viewer, 1-test

#14255 Convert `GrabToPan` to a standard `class`
  web/grab_to_pan.js
Labels: 1-viewer

#14273 Update packages and translations
  .eslintrc
  l10n/cs/viewer.properties
  l10n/el/viewer.properties
  l10n/es-ES/viewer.properties
  l10n/es-MX/viewer.properties
  l10n/eu/viewer.properties
  l10n/fi/viewer.properties
  l10n/kk/viewer.properties
  l10n/lt/viewer.properties
  l10n/ne-NP/viewer.properties
  l10n/oc/viewer.properties
  l10n/ru/viewer.properties
  l10n/sc/viewer.properties
  l10n/sl/viewer.properties
  l10n/sq/viewer.properties
  l10n/th/viewer.properties
  package-lock.json
  package.json
  src/core/colorspace.js
  src/core/jpg.js
Labels: 1-core, 1-other, 1-dependencies

#14247 [api-minor] Render pushbuttons on their own canvas (bug 1737260)
  src/core/annotation.js
  src/core/document.js
  src/display/annotation_layer.js
  src/display/api.js
  src/display/canvas.js
  test/driver.js
  test/unit/annotation_spec.js
  web/annotation_layer_builder.css
  web/annotation_layer_builder.js
  web/base_viewer.js
  web/interfaces.js
  web/pdf_page_view.js
  web/pdf_viewer.css
Labels: 4-annotations

#14280 Slightly optimize `spreadMode` toggling with `ScrollMode.PAGE` set (PR 14112 follow-up)
  web/base_viewer.js
Labels: 1-viewer

#14278 Replace the remaining `Node.removeChild()` instances with `Element.remove()`
  .eslintrc
  extensions/chromium/contentscript.js
  src/display/font_loader.js
  test/driver.js
  test/resources/reftest-analyzer.js
  web/debugger.js
  web/pdf_page_view.js
Labels: 1-core, 1-viewer, 1-test

#14276 Only show the `loadingIcon`-spinner on visible pages (issue 14242)
  test/unit/base_viewer_spec.js
  web/base_viewer.js
  web/pdf_page_view.js
  web/pdf_viewer.css
Labels: 1-viewer, 2-performance

#14262 Include the /Lang-property, when it exists, in the StructTree-data (issue 14261)
  src/core/struct_tree.js
  test/unit/api_spec.js
  test/unit/struct_tree_spec.js
  web/struct_tree_layer_builder.js
Labels: 1-core, 1-viewer

#14229 Add an easy way to log to the terminal during browser tests.
  test/driver.js
Labels: 1-test

#14291 [api-minor] Only use Workers when `postMessage` transfers are supported (PR 11123 follow-up)
  src/core/worker.js
  src/display/api.js
  src/shared/message_handler.js
Labels: 1-core

#14294 [api-minor] Replace `PDFDocumentProxy.getStats` with a synchronous `PDFDocumentProxy.stats` getter
  src/core/core_utils.js
  src/core/evaluator.js
  src/core/parser.js
  src/core/pdf_manager.js
  src/core/worker.js
  src/core/xref.js
  src/display/api.js
  test/unit/api_spec.js
  test/unit/test_utils.js
  web/app.js
Labels: 1-core, 1-viewer

#14295 Remove the `{BaseViewer, PDFThumbnailViewer}._pagesRequests` caches
  test/unit/api_spec.js
  web/base_viewer.js
  web/pdf_thumbnail_viewer.js
Labels: 1-viewer

#14299 Convert examples/components/pageviewer.js to await/async (issue 14127)
  examples/components/pageviewer.js
Labels: 1-other

#14304 Ensure that `ChunkedStream` won't attempt to request data *beyond* the document size (issue 14303)
  src/core/chunked_stream.js
  test/pdfs/.gitignore
  test/pdfs/PDFBOX-4352-0.pdf
  test/unit/api_spec.js
Labels: 1-core, 4-corrupted-pdf

#14298 Center pages vertically in PresentationMode (issue 10906)
  web/base_viewer.js
  web/pdf_viewer.css
  web/viewer.css
Labels: 1-viewer

#14310 Abort parsing when the XRef /W-array contain bogus entries (issue 14303)
  src/core/xref.js
  test/pdfs/.gitignore
  test/pdfs/REDHAT-1531897-0.pdf
  test/unit/api_spec.js
Labels: 1-core, 4-corrupted-pdf

#14314 [Regression] Prevent errors, during loading, in the viewer for XFA-documents (PR 14295 follow-up)
  web/pdf_link_service.js
Labels: 1-viewer, 3-regression, 4-form-xfa

#14319 XFA - Draw arcs correctly
  src/core/xfa/template.js
  test/pdfs/.gitignore
  test/pdfs/xfa_issue14315.pdf
  test/test_manifest.json
Labels: 4-form-xfa

#14313 Change the `_pagePromises` cache, in the worker, from an Array to a Map
  src/core/document.js
Labels: 1-core

#14311 [api-minor] Validate the /Pages-tree /Count entry during document initialization (issue 14303)
  src/core/catalog.js
  src/core/core_utils.js
  src/core/document.js
  src/core/worker.js
  test/pdfs/.gitignore
  test/pdfs/poppler-67295-0.pdf
  test/pdfs/poppler-85140-0.pdf
  test/unit/api_spec.js
Labels: 1-core, 4-corrupted-pdf

#14320 Update packages and translations
  l10n/da/viewer.properties
  l10n/de/viewer.properties
  l10n/en-CA/viewer.properties
  l10n/ja/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/pa-IN/viewer.properties
  l10n/pt-PT/viewer.properties
  package-lock.json
  package.json
Labels: 1-other, 1-dependencies

#14312 Prevent circular references in XRef tables from hanging the worker-thread (issue 14303)
  src/core/parser.js
  src/core/primitives.js
  src/core/xref.js
  test/pdfs/.gitignore
  test/pdfs/poppler-91414-0-53.pdf
  test/pdfs/poppler-91414-0-54.pdf
  test/unit/api_spec.js
Labels: 1-core, 4-corrupted-pdf

#14321 Upgrade to Puppeteer 12
  package-lock.json
  package.json
  test/test.js
Labels: 1-test
