Repository mozilla/pdf.js, pull requests merged in 2021-06, with the labels that each got.

#13378 Replace terminal null char by a endchar command in CFF charstrings to make OTS happy
  src/core/cff_parser.js
Labels: 4-font-conversion

#13411 XFA - Add support to print XFA forms
  src/display/xfa_layer.js
  web/firefox_print_service.js
  web/pdf_print_service.js
  web/ui_utils.js
  web/viewer.css
  web/xfa_layer_builder.css
  web/xfa_layer_builder.js
Labels: 4-form-xfa

#13476 Update Puppeteer to version 10
  package-lock.json
  package.json
Labels: 1-dependencies

#13451 XFA - Use native radio and checkbox buttons
  src/core/xfa/template.js
  src/display/xfa_layer.js
  web/xfa_layer_builder.css
  web/xfa_layer_builder.js
Labels: 4-form-xfa

#13480 [GENERIC viewer] Fix printing regression from PR 13411
  web/firefox_print_service.js
  web/pdf_print_service.js
  web/ui_utils.js
  web/viewer.css
Labels: 1-viewer, 3-regression, 4-printing

#13489 Add `hasEOL` to the `TextItem` typedef in the API (PR 13257 follow-up)
  src/display/api.js
Labels: 1-core

#13478 Fix find highlighting regression from #13306.
  web/text_layer_builder.css
  web/text_layer_builder.js
Labels: 4-text-selection

#13482 Fix scrolling of search results in documents with marked content (bug 1714183)
  web/pdf_find_controller.js
  web/ui_utils.js
Labels: 1-viewer, 3-regression, 4-text-selection

#13473 XFA - Implement usehref support
  src/core/xfa/builder.js
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  test/unit/xfa_parser_spec.js
Labels: 4-form-xfa

#13492 Add normalization for Hyphen -> Hyphen-minus
  web/pdf_find_controller.js
Labels: 1-viewer

#13490 Miscellaneous improvements for `gulpfile.js` (issue 10362)
  gulpfile.js
Labels: 1-other

#13497 Initialize `HTMLResult.{FAILURE, EMPTY}` lazily
  src/core/xfa/utils.js
Labels: 4-form-xfa

#13376 Replace command with not enough args by an endchar in CFF font
  src/core/cff_parser.js
  test/pdfs/.gitignore
  test/pdfs/issue6132.pdf
  test/test_manifest.json
Labels: 4-font-conversion

#13494 Add more info for showText operator in stepper.
  src/core/fonts.js
  web/debugger.js
  web/viewer.css
Labels: 1-viewer, 4-font-conversion

#13498 Normalize the coordinates used in `SVGGraphics._makeTilingPattern` (issue 12996)
  src/display/svg.js
Labels: 4-svg

#13461 Improve text-selection for Type3 fonts with empty /FontBBox-entries (issue 6605)
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue6605.pdf
  test/test_manifest.json
Labels: 4-font-type3, 4-text-selection

#13503 XFA - Don't bind a form node with an empty value when the data node doesn't exist
  src/core/xfa/bind.js
  test/unit/xfa_parser_spec.js
Labels: 4-form-xfa

#13505 Use the `DOMSVGFactory`, rather than manually creating the SVG-element, in `createMatrix` (PR 13361 follow-up)
  src/display/pattern_helper.js
Labels: 1-core

#13501 XFA - CDATA can be xml so parse it when required
  src/core/xfa/parser.js
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  test/unit/xfa_parser_spec.js
Labels: 4-form-xfa

#13506 XFA - Add support for reftests
  src/display/api.js
  src/display/font_loader.js
  test/driver.js
  test/pdfs/hsbc.pdf.link
  test/test_manifest.json
  web/xfa_layer_builder.css
Labels: 1-test, 4-form-xfa

#13479 XFA - Fix layout issues (again)
  src/core/xfa/html_utils.js
  src/core/xfa/layout.js
  src/core/xfa/template.js
  src/core/xfa/xhtml.js
  src/display/xfa_layer.js
  test/unit/xfa_tohtml_spec.js
  web/xfa_layer_builder.css
Labels: 4-form-xfa

#13521 [XFA] Use `align-items: flex-start;` to improve browser compatibility (issue 13518)
  web/xfa_layer_builder.css
Labels: 4-form-xfa

#13495 XFA - Display rectangle, line and arc
  src/core/xfa/template.js
  src/display/xfa_layer.js
  test/pdfs/xfa_fish_licence.pdf.link
  test/pdfs/xfa_imm1295e.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13524 XFA - Don't print arrow in select
  web/xfa_layer_builder.css
Labels: 4-form-xfa

#13517 XFA - Add Liberation-Sans font as a substitution for some missing fonts
  external/standard_fonts/LICENSE_LIBERATION
  external/standard_fonts/LiberationSans-Bold.ttf
  external/standard_fonts/LiberationSans-BoldItalic.ttf
  external/standard_fonts/LiberationSans-Italic.ttf
  external/standard_fonts/LiberationSans-Regular.ttf
  external/standard_fonts/README.md
  gulpfile.js
  src/core/calibri_bold.js
  src/core/calibri_bold_italic.js
  src/core/calibri_italic.js
  src/core/calibri_regular.js
  src/core/document.js
  src/core/evaluator.js
  src/core/fonts.js
  src/core/glyf.js
  src/core/helvetica_bold.js
  src/core/helvetica_bold_italic.js
  src/core/helvetica_italic.js
  src/core/helvetica_regular.js
  src/core/myriadpro_bold.js
  src/core/myriadpro_bold_italic.js
  src/core/myriadpro_italic.js
  src/core/myriadpro_regular.js
  src/core/segoeui_bold.js
  src/core/segoeui_bold_italic.js
  src/core/segoeui_italic.js
  src/core/segoeui_regular.js
  src/core/standard_fonts.js
  src/core/xfa/html_utils.js
  src/core/xfa_fonts.js
  src/display/base_factory.js
  test/pdfs/xfa_imm1344e.pdf.link
  test/test_manifest.json
  test/unit/xfa_tohtml_spec.js
Labels: 4-font-conversion, 4-form-xfa

#13359 Add the possibility to rescale each glyph in a font
  src/core/fonts.js
  src/core/glyf.js
Labels: 4-font-conversion

#13515 Cache the "raw" standard font data in the worker-thread (PR 12726 follow-up)
  src/core/catalog.js
  src/core/document.js
  src/core/evaluator.js
  test/unit/annotation_spec.js
Labels: 1-core, 2-performance, 4-font-conversion

#13525 [api-minor] Re-factor the `disableFontFace` fallback value, and skip initializing factories with `useWorkerFetch` set
  src/display/api.js
  src/display/api_compatibility.js
  src/pdf.js
Labels: 1-core

#13516 Always use standard font data, with `disableFontFace` set in the API (PR 12726 follow-up)
  src/core/evaluator.js
Labels: 4-font-conversion

#13502 XFA - contentarea must be on top of the other containers in a pageArea
  src/core/xfa/template.js
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#13527 XFA - Avoid infinite loop when creating some nodes in data
  src/core/xfa/bind.js
  src/core/xfa/som.js
  test/unit/xfa_parser_spec.js
Labels: 4-form-xfa

#13530 Add a `DOMMatrix` polyfill for Node.js environments (PR 13361 follow-up)
  gulpfile.js
  package-lock.json
  package.json
  src/display/display_utils.js
  src/shared/compatibility.js
Labels: 1-core

#13546 Re-factor the `DOMCanvasFactory` and `DOMSVGFactory` implementations slightly
  src/display/base_factory.js
  src/display/display_utils.js
  src/display/node_utils.js
Labels: 1-core

#13547 XFA - Handle correctly subformSet
  src/core/xfa/html_utils.js
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  test/pdfs/xfa_issue13213.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13549 Remove the `isFetchSupported` function since the Fetch API is available in all supported browsers
  src/display/display_utils.js
  src/pdf.js
Labels: 1-core

#13552 Update packages and translations
  l10n/ca/viewer.properties
  l10n/es-MX/viewer.properties
  l10n/sco/viewer.properties
  package-lock.json
  package.json
Labels: 1-dependencies, 1-other

#13548 XFA - Default fill color for rectangle is transparent
  src/core/xfa/template.js
Labels: 4-form-xfa

#13557 XFA - Fix error when creating a new data node
  src/core/xfa/som.js
  src/core/xfa/template.js
  test/pdfs/xfa_issue13556.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13563 Add basic linting of JSON files using `eslint-plugin-json`
  .eslintrc
  gulpfile.js
  package-lock.json
  package.json
  test/types/tsconfig.json
Labels: 1-other

#13554 XFA - Add support for overflow element
  src/core/xfa/layout.js
  src/core/xfa/template.js
  src/core/xfa/utils.js
  src/core/xfa/xfa_object.js
  test/pdfs/xfa_annual_expense_report.pdf.link
  test/pdfs/xfa_annual_voting_survey.pdf.link
  test/pdfs/xfa_bug1716047.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13393 Tweak `adjustToUnicode` to allow extending a built-in /ToUnicode map
  src/core/evaluator.js
  src/core/fonts.js
Labels: 4-font-conversion, 4-text-selection

#13565 Fix how patterns are applied to image mask objects.
  src/display/canvas.js
  src/display/pattern_helper.js
  test/pdfs/.gitignore
  test/pdfs/issue13372.pdf
  test/test_manifest.json
Labels: 4-shading-pattern

#13560 XFA - Add the possibily to layout and measure text
  src/core/document.js
  src/core/fonts.js
  src/core/worker.js
  src/core/xfa/factory.js
  src/core/xfa/html_utils.js
  src/core/xfa/template.js
  src/core/xfa/text.js
  src/core/xfa/xfa_object.js
  src/core/xfa/xhtml.js
  test/pdfs/xfa_issue13500.pdf.link
  test/test_manifest.json
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#13566 XFA - Fix layout issues
  src/core/xfa/html_utils.js
  src/core/xfa/layout.js
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  test/pdfs/xfa_candidate_petitions.pdf.link
  test/test_manifest.json
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#13577 Remove the internal `PDFScriptingManager._pageEventsReady` boolean (PR 13074 follow-up)
  web/pdf_scripting_manager.js
Labels: 1-viewer

#13587 Set the default value of `useSystemFonts` correctly, depending on `disableFontFace`, in the API (PR 13516 follow-up)
  src/core/evaluator.js
  src/display/api.js
Labels: 1-core

#13588 Add a (basic) TypeScript definitions for the viewer components (issue 13267)
  external/dist/legacy/web/pdf_viewer.d.ts
  external/dist/lib/README.md
  external/dist/web/pdf_viewer.d.ts
  gulpfile.js
Labels: 1-other

#13590 Stop encoding the value in the `DOMElement.setAttribute` method (issue 8558)
  examples/node/domstubs.js
Labels: 4-node-specific

#13589 Allow using the standard font data for non-Type1 fonts (issue 13585, PR 12726 follow-up)
  src/core/evaluator.js
Labels: 4-font-conversion

#13591 XFA - Match font family correctly
  src/core/document.js
  src/core/fonts.js
  src/core/xfa/factory.js
  src/core/xfa/fonts.js
  src/core/xfa/html_utils.js
  src/core/xfa/parser.js
  src/core/xfa/template.js
  src/core/xfa/text.js
  src/core/xfa/xfa_object.js
  src/core/xfa/xhtml.js
  test/pdfs/xfa_bug1716980.pdf.link
  test/test_manifest.json
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#13595 XFA - Add support for access property
  src/core/xfa/html_utils.js
  src/core/xfa/template.js
  src/display/xfa_layer.js
  test/pdfs/xfa_bug1716816.pdf.link
  test/test_manifest.json
  web/xfa_layer_builder.css
Labels: 4-form-xfa

#13593 XFA - Don't display invisible rectangle borders
  src/core/xfa/template.js
Labels: 4-form-xfa

#13573 XFA - Fix the way to select page on breaking
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  test/pdfs/xfa_bug1716838.pdf.link
  test/test_manifest.json
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#13603 Revert "Revert "XFA - Fix the way to select page on breaking""
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  test/pdfs/xfa_bug1716838.pdf.link
  test/test_manifest.json
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#13592 XFA - Don't display print-only elements
  src/core/xfa/html_utils.js
  src/core/xfa/template.js
  web/xfa_layer_builder.css
Labels: 4-form-xfa

#13604 XFA - A prototype can have a property which needs itself to resolve a proto
  src/core/xfa/xfa_object.js
Labels: 4-form-xfa

#13609 Correctly align the `xfaLayer` content with horizontal scrolling/spread modes
  web/xfa_layer_builder.css
Labels: 1-viewer, 4-form-xfa

#13594 XFA - Add margins if needed after having layout some text
  src/core/xfa/template.js
  test/pdfs/xfa_bug1716380.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13606 Correctly align the `textLayer` content with horizontal/spread scrolling modes (issue 13605)
  web/text_layer_builder.css
Labels: 4-text-selection

#13617 Reset the `IPDFLinkService.externalLinkEnabled` property on document closing
  web/app.js
  web/pdf_link_service.js
Labels: 1-viewer

#13612 Support corrupt documents with *empty* `Name`-entries (issue 13610)
  src/core/parser.js
  src/core/primitives.js
  test/pdfs/issue13610.pdf.link
  test/test_manifest.json
  test/unit/evaluator_spec.js
Labels: 1-core, 4-corrupted-pdf

#13613 [api-minor] Slightly tweak/improve various code related to XFA-printing
  src/display/api.js
  src/display/display_utils.js
  src/display/xfa_layer.js
  src/pdf.js
  web/firefox_print_service.js
  web/pdf_print_service.js
  web/print_utils.js
  web/ui_utils.js
  web/xfa_layer_builder.js
Labels: 4-form-xfa, 4-printing

#13618 XFA - Always bind root subform on root data
  src/core/xfa/bind.js
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#13622 XFA - No container stretching with lr-tb layout
  web/xfa_layer_builder.css
Labels: 4-form-xfa

#13619 XFA - Add back empty subforms (which can have a background)
  src/core/xfa/template.js
Labels: 4-form-xfa

#13627 XFA - Save filled data in the pdf when downloading the file (Bug 1716288)
  src/core/document.js
  src/core/pdf_manager.js
  src/core/worker.js
  src/core/writer.js
  src/core/xfa/bind.js
  src/core/xfa/data.js
  src/core/xfa/factory.js
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  src/display/api.js
  src/display/xfa_layer.js
  test/pdfs/.gitignore
  test/pdfs/xfa_filled_imm1344e.pdf
  test/test_manifest.json
  test/unit/clitests.json
  test/unit/jasmine-boot.js
  test/unit/xfa_serialize_data_spec.js
Labels: 4-form-xfa

#13600 Take the position of the `selected` element into account when scrolling matches (issue 13596)
  web/pdf_find_controller.js
  web/text_layer_builder.js
Labels: 1-viewer

#13628 Check that TrueType (3, 0) cmap tables, for symbolic fonts, are sorted correctly (issue 13626)
  src/core/fonts.js
  test/pdfs/issue13626.pdf.link
  test/test_manifest.json
Labels: 4-font-conversion, 4-font-truetype

#13637 Update packages and translations
  l10n/el/viewer.properties
  l10n/ja/viewer.properties
  l10n/oc/viewer.properties
  l10n/sr/viewer.properties
  l10n/ur/viewer.properties
  package-lock.json
  package.json
Labels: 1-dependencies, 1-other

#13638 A couple of smaller JSDocs tweaks in `src/display/api.js`
  src/display/api.js
Labels: 1-other

#13639 XFA - Replace deprecated break element (bug 1718053)
  src/core/xfa/template.js
  test/pdfs/xfa_bug1718053.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13635 XFA - Fix width of a container with lr-tb layout (bug 1718037)
  src/core/xfa/layout.js
  test/pdfs/xfa_bug1718037.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13641 XFA - Implement aspect property on image element
  src/core/xfa/template.js
  test/driver.js
  test/pdfs/xfa_issue13634.pdf.link
  test/test_manifest.json
  web/xfa_layer_builder.css
Labels: 4-form-xfa

#13644 XFA - Support non-embedded fonts without a Widths entry
  src/core/document.js
  src/core/liberationsans_bold_italic_widths.js
  src/core/liberationsans_bold_widths.js
  src/core/liberationsans_italic_widths.js
  src/core/liberationsans_regular_widths.js
  src/core/xfa/factory.js
  src/core/xfa/fonts.js
  src/core/xfa/parser.js
  src/core/xfa/template.js
  src/core/xfa/xhtml.js
  src/core/xfa_fonts.js
Labels: 4-form-xfa

#13645 XFA - Choice list has no selected value by default (bug 1718241)
  src/core/xfa/template.js
Labels: 4-form-xfa

#13616 Add PDFs from #1773 to the reftests
  test/pdfs/MBTA-pretax-form-July2012.pdf.link
  test/pdfs/xfa_imm5257e.pdf.link
  test/test_manifest.json
Labels: 1-test, 4-form-xfa

#13640 Add non-PRODUCTION/TESTING overflow `assert`s to various string helper-functions (issue 6759)
  src/core/evaluator.js
  src/core/fonts.js
  src/shared/util.js
  test/font/font_fpgm_spec.js
  test/font/font_os2_spec.js
  test/font/font_post_spec.js
Labels: 1-core, 1-test

#13598 XFA - Remove empty pages
  src/core/xfa/layout.js
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  test/pdfs/xfa_bug1717668_1.pdf.link
  test/pdfs/xfa_bug1717668_2.pdf.link
  test/pdfs/xfa_bug1717668_3.pdf.link
  test/pdfs/xfa_bug1717805.pdf.link
  test/pdfs/xfa_dhl_shipment.pdf.link
  test/pdfs/xfa_issue13611.pdf.link
  test/test_manifest.json
  test/unit/xfa_tohtml_spec.js
  web/xfa_layer_builder.css
Labels: 4-form-xfa
