Repository mozilla/pdf.js, pull requests merged in 2021-09, with the labels that each got.

#13945 Implement `PDFNetworkStreamRangeRequestReader._onError`, to handle range request errors with XMLHttpRequest (issue 9883)
  src/display/network.js
Labels: 1-core

#13952 Extend `getNonStdFontMap` for non-embedded versions of the ItcSymbol font (issue 11532)
  src/core/standard_fonts.js
  test/pdfs/issue11532.pdf.link
  test/test_manifest.json
Labels: 4-font-conversion, 4-non-standard-fonts

#13959 Correctly pad strings when saving an encrypted pdf (bug 1726789)
  src/core/crypto.js
  test/unit/crypto_spec.js
Labels: 1-core

#13698 [FIX] fix jpx tag tree decode (issue 11957)
  src/core/jpx.js
  test/pdfs/issue12579.pdf.link
  test/test_manifest.json
Labels: 4-image-jpx

#13970 Fallback to the /ToUnicode map for TrueType fonts with (3, 1) and (1, 0) cmap-tables (issue 13316)
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue13316_reduced.pdf
  test/test_manifest.json
Labels: 4-font-conversion, 4-font-truetype

#13961 Simplify some regular expressions
  src/core/core_utils.js
  src/core/document.js
  src/core/xfa/formcalc_lexer.js
  src/core/xfa/template.js
  src/core/xfa/utils.js
  src/scripting_api/aform.js
  src/scripting_api/util.js
  test/unit/annotation_spec.js
Labels: 1-core, 1-test

#13973 [api-minor] Change `{PDFPageView, PDFThumbnailView}.update` to take a parameter object
  web/base_viewer.js
  web/pdf_page_view.js
  web/pdf_thumbnail_view.js
  web/pdf_thumbnail_viewer.js
Labels: 1-viewer

#13972 Treat all content as visible when no optional content groups are defined (issue 13971)
  src/display/optional_content_config.js
  test/pdfs/issue13971.pdf.link
  test/test_manifest.json
Labels: 1-core

#13975 Update packages and translations
  l10n/el/viewer.properties
  l10n/ro/viewer.properties
  package-lock.json
  package.json
Labels: 1-other, 1-dependencies

#13976 Reduce the size of `TextLayerRenderTask._textDivProperties` in "regular" text-selection mode
  src/display/text_layer.js
Labels: 4-text-selection

#13988 Avoid an error in integration test because of a locale different of en-US
  test/integration/test_utils.js
Labels: 1-test

#13985 Improve glyph mapping for non-embedded composite standard fonts (issue 11088)
  src/core/fonts.js
  test/pdfs/issue11088.pdf.link
  test/test_manifest.json
Labels: 4-font-conversion, 4-font-type0

#13992 XFA - Remove the checked attribute from the checkbox when unchecked (bug 1729877)
  src/display/xfa_layer.js
  test/pdfs/xfa_bug1729877.pdf.link
  test/test_manifest.json
Labels: 4-printing, 4-form-xfa

#13995 XFA - Handle $record shorcut in SOM expression (issue #13994)
  src/core/xfa/som.js
  test/pdfs/xfa_issue13994.pdf.link
  test/test_manifest.json
Labels: 4-form-xfa

#13996 Make `verifyManifestFiles` fail for non-linked test-cases with a `"link": true`-entry
  test/downloadutils.js
  test/test_manifest.json
Labels: 1-test

#13991 Enable/disable image smoothing based on image interpolate value. (bug 1722191)
  src/core/evaluator.js
  src/core/image.js
  src/display/canvas.js
  src/display/display_utils.js
  src/pdf.js
  test/driver.js
  test/pdfs/.gitignore
  test/pdfs/issue4706.pdf
  test/pdfs/issue9713.pdf
  test/test_manifest.json
  web/firefox_print_service.js
  web/pdf_print_service.js
  web/ui_utils.js
Labels: 4-image-conversion, 2-image-quality

#14000 Re-factor the `CSS_PIXELS_PER_INCH`/`PDF_PIXELS_PER_INCH` exports (PR 13991 follow-up)
  src/display/canvas.js
  src/display/display_utils.js
  src/pdf.js
  test/driver.js
  web/firefox_print_service.js
  web/pdf_print_service.js
  web/ui_utils.js
Labels: 1-core

#13993 Don't create `PDFViewerApplication.pdfHistory` when the browsing history is disabled
  web/app.js
  web/pdf_link_service.js
Labels: 1-viewer

#13977 [api-minor] Reduce `postMessage` overhead, in `PartialEvaluator.getTextContent`, by sending text chunks in batches (issue 13962)
  src/core/evaluator.js
  src/core/worker.js
  src/shared/message_handler.js
Labels: 4-text-selection

#13983 Update the `learning/` examples with basic HiDPI-screen support
  docs/contents/examples/index.md
  examples/learning/helloworld.html
  examples/learning/helloworld64.html
  examples/learning/prevnext.html
Labels: 1-other

#14004 [CRX] enableScripting=false by default in Chrome extension
  extensions/chromium/preferences_schema.json
  web/app_options.js
Labels: 4-chrome-specific

#14002 Let `Lexer.getObj` return a dummy-`Cmd` for commands that start with a non-visible ASCII character (issue 13999)
  src/core/parser.js
  test/pdfs/issue13999.pdf.link
  test/test_manifest.json
  test/unit/parser_spec.js
Labels: 1-core

#13998 Write boolean value when saving a form (bug 1729971)
  src/core/writer.js
  test/unit/writer_spec.js
Labels: 4-form-xfa

#14006 [src/core/writer.js] Remove unnecessary string-wrapping for boolean values in `writeValue` (PR 13998 follow-up)
  src/core/writer.js
Labels: 1-core

#14007 [src/core/writer.js] Support `null` values in the `writeValue` function
  src/core/writer.js
  test/unit/writer_spec.js
Labels: 1-core

#14028 Use CSS variables for setting the width of the zoom dropdown (PR 11570 follow-up)
  web/toolbar.js
  web/viewer.css
  web/viewer.js
Labels: 1-viewer

#13984 Enable XFA by default in the viewer, and `components/` examples (issue 13968)
  examples/components/pageviewer.js
  examples/components/simpleviewer.js
  examples/components/singlepageviewer.js
  extensions/chromium/preferences_schema.json
  web/app_options.js
  web/text_layer_builder.js
Labels: 1-viewer, 4-form-xfa

#14025 Improve glyph mapping for non-embedded composite standard fonts with a /CIDToGIDMap (issue 11915)
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue11915.pdf
  test/test_manifest.json
Labels: 4-font-conversion, 4-font-type0

#14035 Annotation - For checkboxes, get field value from AS (if any) instead of V (bug 1722036)
  src/core/annotation.js
  test/pdfs/bug1722036.pdf.link
  test/test_manifest.json
Labels: 4-form-acroform

#14040 JS - Avoid the Stay/Leave popup when clicking on a button with a JS action
  src/display/annotation_layer.js
Labels: 4-annotations

#14038 JS - Implement few possibilities with app.execMenuItem (bug 1724399)
  src/scripting_api/app.js
  web/pdf_scripting_manager.js
Labels: 4-form-js

#14043 Re-factor the `EventBus` and `isInAutomation` handling (PR 11655 follow-up)
  test/types/main.ts
  web/app.js
  web/ui_utils.js
Labels: 1-viewer

#14013 Improve the API unit-tests, and try to expose more API-functionality in the TypeScript definitions
  src/display/api.js
  src/pdf.js
  test/unit/api_spec.js
Labels: 1-core

#14045 XFA - Only warn about the wrong xfa type when there is an xfa thing
  src/core/worker.js
Labels: 1-core, 4-form-xfa

#14005 [GENERIC viewer] Always show the Download-buttons, to allow saving of forms (issue 13997)
  web/app.js
  web/download_manager.js
Labels: 1-viewer

#14044 Annotations - Avoid empty value in text field when storage contains something for it (bug 1719148)
  src/display/annotation_storage.js
  test/unit/annotation_storage_spec.js
Labels: 4-annotations

#14041 Support cmaps with only CID characters, when building the ToUnicode-map (issue 9367)
  src/core/evaluator.js
  src/core/fonts.js
  test/pdfs/issue9367.pdf.link
  test/test_manifest.json
Labels: 4-font-conversion

#14050 Tweak how fonts with an /Encoding are handled in `adjustToUnicode` (issue 14048, PR 13277 follow-up)
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue14048.pdf
  test/test_manifest.json
Labels: 3-regression, 4-font-conversion, 4-text-selection

#14053 Move the zoomIn/zoomOut functionality into `BaseViewer` (PR 14038 follow-up)
  web/app.js
  web/base_viewer.js
  web/pdf_scripting_manager.js
  web/ui_utils.js
Labels: 1-viewer

#14056 Correctly validate URLs in XFA documents (bug 1731240)
  src/core/catalog.js
  src/core/core_utils.js
  src/core/xfa/xhtml.js
  test/unit/xfa_tohtml_spec.js
Labels: 4-form-xfa

#14055 Add `PDF_TO_CSS_UNITS` to the `PixelsPerInch`-structure
  src/display/canvas.js
  src/display/display_utils.js
  test/driver.js
  web/base_viewer.js
  web/pdf_page_view.js
  web/print_utils.js
  web/ui_utils.js
Labels: 1-core, 1-viewer, 1-test

#14058 [api-minor] Change `EventBus.dispatch` to only support *one* data-argument
  web/ui_utils.js
Labels: 1-viewer

#14063 [GENERIC viewer] Warn about AppOptions being overridden by Preferences during loading
  web/app.js
  web/app_options.js
Labels: 1-viewer

#14023 Re-factor `document.getElementsByName` lookups in the AnnotationLayer (issue 14003)
  src/display/annotation_layer.js
  src/display/api.js
  test/integration/annotation_spec.js
  test/pdfs/.gitignore
  test/pdfs/issue14023.pdf
  web/annotation_layer_builder.js
  web/base_viewer.js
  web/interfaces.js
  web/pdf_page_view.js
Labels: 1-core, 4-annotations

#14066 Print a special warning message, in the viewer, for XFA Foreground documents
  src/display/api.js
  web/app.js
Labels: 1-viewer, 4-form-xfa

#14068 Fix typo "_annotatationMode" => "_annotationMode"
  web/pdf_page_view.js
Labels: 1-viewer

#14042 Fix dialogs with forced colors (bug 1722984)
  web/viewer.css
Labels: 1-viewer

#14073 XFA - Bind items when there's a bindItems entry
  src/core/xfa/bind.js
  test/unit/xfa_parser_spec.js
Labels: 4-form-xfa

#14069 Mark the `paintJpegXObject` operator as deprecated (PR 11601 follow-up)
  src/shared/util.js
Labels: 1-core

#14070 Some small readability improvements in the `MessageHandler` code
  src/shared/message_handler.js
Labels: 1-core

#14065 [api-minor] Stop exporting, by default, a few additional Font properties (PR 11777 follow-up)
  src/core/fonts.js
Labels: 4-font-conversion

#14074 [api-minor] Add basic support for RTL text-content in PopupAnnotations (issue 14046)
  src/core/annotation.js
  src/core/bidi.js
  src/display/annotation_layer.js
  src/display/api.js
  test/pdfs/.gitignore
  test/pdfs/issue14046.pdf
  test/test_manifest.json
  test/unit/annotation_spec.js
Labels: 1-core, 4-annotations

#14064 Fallback to font name matching, when checking for serif fonts (issue 13845)
  src/core/evaluator.js
  src/core/fonts.js
  src/core/standard_fonts.js
  test/pdfs/issue13845.pdf.link
  test/test_manifest.json
Labels: 4-text-selection

#14036 Annotation - Some checkboxes have an empty N dictionary
  src/core/annotation.js
  src/display/annotation_layer.js
  test/pdfs/issue14021.pdf.link
  test/test_manifest.json
Labels: 4-annotations

#14077 Fix issues in driver.js when getting css sheets
  test/driver.js
Labels: 1-test

#14081 [api-minor] Move the `addDefaultProtocolToUrl`/`tryConvertUrlEncoding` functionality into the `createValidAbsoluteUrl` function
  src/core/catalog.js
  src/core/core_utils.js
  src/core/xfa/html_utils.js
  src/shared/util.js
  test/unit/annotation_spec.js
Labels: 1-core

#14049 Annotation - Use border and background colors from MK dictionary
  src/core/annotation.js
  src/display/annotation_layer.js
  test/test_manifest.json
  web/annotation_layer_builder.css
  web/xfa_layer_builder.css
Labels: 4-annotations

#14083 AcroForm: Add support for ResetForm action
  src/core/catalog.js
  src/display/annotation_layer.js
  src/scripting_api/event.js
  src/scripting_api/field.js
  test/integration/annotation_spec.js
  test/pdfs/.gitignore
  test/pdfs/resetform.pdf
Labels: 4-form-acroform
