Repository mozilla/pdf.js, pull requests merged in 2022-03, with the labels that each got.

#14536 Fix some issues with lineWidth < 1 after transform (bug 1753075, bug 1743245, bug 1710019)
  src/display/canvas.js
  test/pdfs/.gitignore
  test/pdfs/bug1753075.pdf.link
  test/pdfs/issue13211.pdf
  test/test_manifest.json
Labels: core

#14615 Remove the `-webkit-overflow-scrolling: touch;` CSS rules (PR 4516 follow-up)
  web/viewer.css
Labels: viewer

#14617 Remove the `-webkit-outer-spin-button` CSS rule
  web/viewer.css
Labels: viewer

#14623 Remove some deprecated code from the viewer
  examples/components/simpleviewer.js
  examples/components/singlepageviewer.js
  web/pdf_find_controller.js
  web/pdf_page_view.js
Labels: viewer

#14624 Simplify the `fallback`-logic in the default viewer
  web/app.js
  web/firefoxcom.js
Labels: viewer, firefox-specific

#14629 Compute the loca table `endOffset`, of the "first" glyph, correctly (issue 14618)
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue14618.pdf
  test/test_manifest.json
Labels: font-conversion

#14631 Fix a couple of small typos in JSDoc `typedef` comments
  src/core/catalog.js
  web/base_viewer.js
  web/pdf_link_service.js
Labels: other

#14628 When `stopAtErrors` is set, throw rather than warn when exceeding `maxImageSize` (issue 14626)
  src/core/evaluator.js
Labels: core

#14634 Replace XMLHttpRequest usage with the Fetch API in `Driver.run`
  test/driver.js
Labels: test

#14633 Update packages and translations
  l10n/ca/viewer.properties
  l10n/cs/viewer.properties
  l10n/cy/viewer.properties
  l10n/dsb/viewer.properties
  l10n/en-CA/viewer.properties
  l10n/en-GB/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/es-CL/viewer.properties
  l10n/es-MX/viewer.properties
  l10n/fy-NL/viewer.properties
  l10n/hsb/viewer.properties
  l10n/hu/viewer.properties
  l10n/ia/viewer.properties
  l10n/id/viewer.properties
  l10n/is/viewer.properties
  l10n/ko/viewer.properties
  l10n/nl/viewer.properties
  l10n/pt-PT/viewer.properties
  l10n/sat/viewer.properties
  l10n/sk/viewer.properties
  l10n/sv-SE/viewer.properties
  l10n/uk/viewer.properties
  l10n/zh-CN/viewer.properties
  l10n/zh-TW/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#14635 Replace XMLHttpRequest usage with the Fetch API in `loadStyles` (in `test/driver.js`)
  test/driver.js
Labels: test

#14638 Replace XMLHttpRequest usage with the Fetch API in the reftest-analyzer
  test/resources/reftest-analyzer.js
Labels: test

#14637 Use proper private methods in `web/{pdf_cursor_tools,pdf_find_bar,secondary_toolbar}.js`
  web/pdf_cursor_tools.js
  web/pdf_find_bar.js
  web/secondary_toolbar.js
Labels: viewer

#14636 Replace XMLHttpRequest usage with the Fetch API in `Driver._quit`
  test/driver.js
Labels: test

#14640 Update TypeScript to version `4.6.2` and work-around stricter type checks
  package-lock.json
  package.json
  src/display/base_factory.js
  src/display/display_utils.js
  src/display/node_utils.js
Labels: dependencies

#14648 Simplify the `PDFDocument` constructor
  src/core/document.js
Labels: core

#14645 [api-minor] Remove the, in `legacy` builds, bundled `DOMMatrix` polyfill
  gulpfile.js
  src/shared/compatibility.js
Labels: core

#14642 Replace XMLHttpRequest usage with the Fetch API in `Driver._send`
  test/driver.js
Labels: test

#14651 Replace XMLHttpRequest usage with the Fetch API in `inlineImages` (in `test/driver.js`)
  test/driver.js
Labels: test

#14620 Bug 1757527 - Slightly reduce (repeated) message passing overhead when localizing the PDF Viewer
  extensions/firefox/tools/l10n.js
  web/firefoxcom.js
Labels: viewer, firefox-specific

#14554 Try to improve a11y for the "button groups" in the SecondaryToolbar/Sidebar (issue 14526)
  web/pdf_sidebar.js
  web/secondary_toolbar.js
  web/viewer.html
Labels: viewer, ux, accessibility

#14654 Replace XMLHttpRequest usage with the Fetch API in `send` (in `test/unit/testreporter.js`)
  test/unit/testreporter.js
Labels: test

#14656 Move the `isSameOrigin` helper function
  src/display/api.js
  src/shared/util.js
  test/unit/api_spec.js
  test/unit/util_spec.js
Labels: core

#14658 Validate the `cMapUrl`/`standardFontDataUrl` parameters in `getDocument`
  src/display/api.js
Labels: core

#14661 Update Checkout to version 3
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: test

#14667 Enable the "gets fieldObjects" unit-test in Node.js (PR 14409 follow-up)
  test/unit/api_spec.js
Labels: test, node-specific

#14668 Remove the `addLinkAttributes` warnings in the Annotation/XFA-layers (PR 14092 follow-up)
  src/display/annotation_layer.js
  src/display/xfa_layer.js
Labels: core

#14665 Convert the `BasePreferences` class to use private fields
  web/genericcom.js
  web/preferences.js
Labels: viewer

#14669 Replace `dir`-dependent `padding-left`/`padding-right`/`text-align` with logical properties
  web/viewer.css
Labels: viewer

#14678 Convert the `PDFDocumentProperties` class to use private methods
  web/pdf_document_properties.js
Labels: viewer

#14675 Build the `web/viewer.css` file used in the development viewer (i.e. `gulp server`)
  gulpfile.js
  web/viewer.css
  web/viewer.js
Labels: viewer

#14682 [gulpfile.js] Use the regular `defines` in the `preprocessCSS` function
  external/builder/builder.js
  gulpfile.js
Labels: other

#14688 Add general iteration support in the `RefSet` and `RefSetCache` classes
  src/core/catalog.js
  src/core/evaluator.js
  src/core/image_utils.js
  src/core/primitives.js
  test/unit/primitives_spec.js
Labels: core

#14683 [src/display/api.js] Simplify the `sendTest` function, used with Worker initialization (PR 14291 follow-up)
  src/core/worker.js
  src/display/api.js
Labels: core

#14689 Slightly simplify the `PDFFindController._extractText` method, and convert all "private" methods into proper ones
  web/pdf_find_controller.js
Labels: viewer

#14670 Replace `dir`-dependent `margin`/`margin-left`/`margin-right` with logical properties
  gulpfile.js
  package-lock.json
  package.json
  web/viewer.css
Labels: viewer

#14671 Replace `dir`-dependent `float` with logical properties
  gulpfile.js
  package-lock.json
  package.json
  web/viewer.css
Labels: viewer

#14695 Update packages and translations
  l10n/da/viewer.properties
  l10n/de/viewer.properties
  l10n/el/viewer.properties
  l10n/en-CA/viewer.properties
  l10n/es-ES/viewer.properties
  l10n/et/viewer.properties
  l10n/eu/viewer.properties
  l10n/fr/viewer.properties
  l10n/gn/viewer.properties
  l10n/hye/viewer.properties
  l10n/ka/viewer.properties
  l10n/oc/viewer.properties
  l10n/pt-BR/viewer.properties
  l10n/rm/viewer.properties
  l10n/ru/viewer.properties
  l10n/sl/viewer.properties
  l10n/tr/viewer.properties
  l10n/vi/viewer.properties
  package-lock.json
  package.json
  src/core/evaluator.js
  src/core/parser.js
Labels: dependencies

#14690 Replace `dir`-dependent `left`/`right` with logical properties
  web/viewer.css
Labels: viewer

#14704 Convert the `OverlayManager` class to use private fields/methods
  web/overlay_manager.js
Labels: viewer

#14699 Slightly improve validation of (some) parameters in `getDocument`
  src/display/api.js
  src/display/network_utils.js
  test/unit/network_utils_spec.js
Labels: core

#14691 Replace `dir`-dependent `border`-rules with logical properties
  web/viewer.css
Labels: viewer

#14693 Remove the remaining `dir`-dependent CSS rules
  web/viewer.css
Labels: viewer

#14717 Change the type of the `container` property, in the `TextLayerRenderParameters` typedef (issue 14716)
  src/display/text_layer.js
Labels: other

#14715 Avoid the `textLayer` becoming visible in high contrast mode (issue 13230)
  web/text_layer_builder.css
Labels: viewer

#14703 [text selection] Add the whitespaces present in the pdf in the text chunk
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue14627.pdf
  test/test_manifest.json
  test/unit/api_spec.js
  test/unit/pdf_find_controller_spec.js
Labels: text-selection

#14720 [Annotations] Add support for printing/saving choice list with multiple selections
  src/core/annotation.js
  src/core/writer.js
  src/display/annotation_layer.js
  src/scripting_api/event.js
  src/scripting_api/field.js
  test/test_manifest.json
  test/unit/annotation_spec.js
Labels: annotations, form-acroform

#14710 Convert the existing overlays to use `<dialog>` elements (issue 14698)
  package-lock.json
  package.json
  web/chromecom.js
  web/overlay_manager.js
  web/password_prompt.js
  web/pdf_document_properties.js
  web/pdf_print_service.js
  web/viewer-snippet-chrome-overlays.html
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: viewer
