Repository mozilla/pdf.js, pull requests merged in 2022-10, with the labels that each got.

#15514 Replace the `DOMMatrix` polyfill, used with Node.js, with the one from `node-canvas`
  gulpfile.js
  package-lock.json
  package.json
  src/shared/compatibility.js
Labels: other

#15511 More `FontLoader` clean-up
  src/display/font_loader.js
Labels: core

#15530 Re-factor the `toggleButton` l10n in the `PDFSidebar` class
  web/l10n_utils.js
  web/pdf_sidebar.js
Labels: viewer

#15510 Change how `src/shared/compatibility.js` is imported
  src/shared/compatibility.js
  src/shared/util.js
Labels: core

#15508 Update dependencies and translations to the most recent versions
  l10n/es-ES/viewer.properties
  l10n/fy-NL/viewer.properties
  l10n/gn/viewer.properties
  l10n/is/viewer.properties
  l10n/kk/viewer.properties
  l10n/oc/viewer.properties
  l10n/pt-PT/viewer.properties
  l10n/si/viewer.properties
  l10n/sk/viewer.properties
  package-lock.json
  package.json
  test/integration/scripting_spec.js
Labels: other, dependencies

#15533 [GENERIC viewer] Remove the `errorWrapper` UI
  l10n/en-US/viewer.properties
  web/app.js
  web/l10n_utils.js
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: viewer

#15534 [api-minor] Stop setting an `id` on the styleElement used with CSS font-loading
  src/display/api.js
  src/display/font_loader.js
  test/unit/custom_spec.js
Labels: core, test

#15536 Use more `for...of` loops in the code-base
  src/core/catalog.js
  src/core/cff_parser.js
  src/core/document.js
  src/core/evaluator.js
  src/core/fonts.js
  src/core/function.js
  src/core/jpg.js
  src/core/object_loader.js
  src/core/opentype_file_builder.js
  src/core/type1_font.js
  src/core/xml_parser.js
  src/core/xref.js
  src/display/canvas.js
  src/display/editor/freetext.js
  src/display/text_layer.js
  web/text_highlighter.js
Labels: core, viewer

#15537 [api-minor] Add partial support for the "GoToE" action (issue 8844)
  src/core/annotation.js
  src/core/catalog.js
  src/display/annotation_layer.js
  test/pdfs/.gitignore
  test/pdfs/issue8844.pdf
  test/unit/api_spec.js
  web/app.js
  web/pdf_outline_viewer.js
Labels: core, viewer

#15542 [api-minor] Make `isOffscreenCanvasSupported` configurable via the API (issue 14952)
  src/core/evaluator.js
  src/core/image.js
  src/core/worker.js
  src/display/api.js
  src/display/svg.js
  web/app_options.js
Labels: core, svg

#15539 Replace loop with `TypedArray.prototype.set` in the `DecryptStream.readBlock` method
  src/core/decrypt_stream.js
Labels: core

#15538 Stop localizing error *details* in the viewer (PR 15533 follow-up)
  l10n/en-US/viewer.properties
  web/app.js
  web/l10n_utils.js
Labels: viewer

#15547 Remove the unused `Util.apply3dTransform` method
  src/shared/util.js
Labels: core

#15549 [XFA] Add some padding inline in selects
  web/xfa_layer_builder.css
Labels: form-xfa

#15554 [api-major] Remove some deprecated constants
  src/shared/util.js
Labels: core

#15553 Remove the unused `CMapCompressionType.STREAM` value
  src/core/cmap.js
  src/shared/util.js
Labels: core

#15552 Simplify the `dropdownToolbarButton`-select width computation
  web/toolbar.js
  web/viewer.css
  web/viewer.html
Labels: viewer

#15555 Clean-up the data that we're sending with "GetDocRequest"
  src/core/worker.js
  src/display/api.js
Labels: core

#15562 Slightly re-factor the version fetching in `PDFDocument.checkHeader`
  src/core/document.js
Labels: core

#15565 [GENERIC viewer] Ensure that the we register the `editorTypes` for each `AnnotationEditorUIManager`-instance (issue 15564)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/tools.js
Labels: viewer, editor

#15567 [Editor] Change the caret cursor into the arrow one only when a text editor isn't empty (bug 1794717)
  src/display/editor/freetext.js
Labels: editor

#15570 [JS] Take into account all the required fields for some computations
  src/scripting_api/aform.js
  src/scripting_api/doc.js
  src/scripting_api/field.js
  test/unit/scripting_spec.js
Labels: form-js

#15569 [api-minor] Stop sending "UnsupportedFeature" from the worker-thread GetOperatorList-handling
  src/core/worker.js
Labels: core

#15563 Take the /CIDToGIDMap into account when getting the glyph mapping for CFF fonts (issue 15559)
  src/core/cff_font.js
  test/pdfs/issue15559.pdf.link
  test/test_manifest.json
Labels: font-conversion, font-type0

#15574 Use all the current transform as key when caching some image for masks used with pattern fill (bug 1795263, #15573)
  src/display/canvas.js
  test/pdfs/.gitignore
  test/pdfs/bug1795263.pdf
  test/test_manifest.json
Labels: core

#15575 Don't trigger worker-thread cleanup when destruction has already started
  src/display/api.js
Labels: core

#15572 Slightly re-factor `PartialEvaluator._simpleFontToUnicode`
  src/core/evaluator.js
Labels: core

#15576 Re-factor the PDF version parsing in the worker-thread
  src/core/catalog.js
  src/core/core_utils.js
  src/core/document.js
Labels: core

#15578 [Editor] Ink editors must have their dimensions in percents after having been resized
  src/display/editor/editor.js
  src/display/editor/ink.js
Labels: editor

#15583 [Editor] Commit the current editor before setting the new viewport
  src/display/editor/annotation_editor_layer.js
  src/display/editor/tools.js
Labels: editor

#15589 Fallback and try a *previous* generation if all else fails in `XRef.indexObjects` (issue 15577)
  src/core/xref.js
  test/pdfs/issue15577.pdf.link
  test/test_manifest.json
Labels: core, corrupted-pdf

#15592 [Annotation] Take the border into account when computing the font size (bug 1794403)
  src/display/annotation_layer.js
Labels: annotations

#15593 Relax the /Pages dictionary /Count check for corrupt documents (issue 9105)
  src/core/xref.js
  test/pdfs/.gitignore
  test/pdfs/issue9105_other.pdf
  test/test_manifest.json
Labels: core, corrupted-pdf

#15596 Extend `getSupplementalGlyphMapForCalibri` with some umlauts (issue 15594)
  src/core/standard_fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue15594_reduced.pdf
  test/test_manifest.json
Labels: font-conversion

#15595 [Editor] Make FreeText annotations visible for screen readers when in editing mode (bug 1793419)
  src/display/editor/freetext.js
Labels: editor

#15598 [Annotation] Replace use of id by data-element-id to have the correct id
  src/display/annotation_layer.js
  test/integration/annotation_spec.js
  test/pdfs/.gitignore
  test/pdfs/issue15597.pdf
Labels: form-acroform

#15586 Remove the `Glyph.matchesForCache` method (PR 13494 follow-up)
  src/core/fonts.js
Labels: font-conversion

#15608 Update icons (last and final update)
  web/images/findbarButton-next.svg
  web/images/findbarButton-previous.svg
  web/images/secondaryToolbarButton-documentProperties.svg
  web/images/secondaryToolbarButton-firstPage.svg
  web/images/secondaryToolbarButton-handTool.svg
  web/images/secondaryToolbarButton-lastPage.svg
  web/images/secondaryToolbarButton-rotateCcw.svg
  web/images/secondaryToolbarButton-rotateCw.svg
  web/images/secondaryToolbarButton-scrollHorizontal.svg
  web/images/secondaryToolbarButton-scrollPage.svg
  web/images/secondaryToolbarButton-scrollVertical.svg
  web/images/secondaryToolbarButton-scrollWrapped.svg
  web/images/secondaryToolbarButton-selectTool.svg
  web/images/secondaryToolbarButton-spreadEven.svg
  web/images/secondaryToolbarButton-spreadNone.svg
  web/images/secondaryToolbarButton-spreadOdd.svg
  web/images/toolbarButton-bookmark.svg
  web/images/toolbarButton-currentOutlineItem.svg
  web/images/toolbarButton-openFile.svg
  web/images/toolbarButton-presentationMode.svg
  web/images/toolbarButton-secondaryToolbarToggle.svg
  web/images/toolbarButton-sidebarToggle.svg
  web/images/toolbarButton-viewAttachments.svg
  web/images/toolbarButton-viewLayers.svg
  web/images/toolbarButton-viewOutline.svg
  web/images/toolbarButton-viewThumbnail.svg
Labels: ux

#15606 Let `Lexer.getNumber` treat more invalid "numbers" as zero (issue 15604)
  src/core/parser.js
  test/pdfs/issue15604.pdf.link
  test/test_manifest.json
  test/unit/parser_spec.js
Labels: core

#15581 Revert "Avoid all rendering breaking completely when CanvasPattern.setTransform() is unsupported" (PR 13725 follow-up)
  src/display/pattern_helper.js
Labels: core, release-blocker

#15617 Update the l10n-strings for the download-buttons (bug 1662416)
  l10n/en-US/viewer.properties
  l10n/sv-SE/viewer.properties
  web/viewer.html
Labels: viewer

#15616 Let the `PdfManager.requestLoadedStream` method return the stream
  src/core/pdf_manager.js
  src/core/worker.js
Labels: core

#15625 Fix font for the 'current view' entry in the secondary toolbar (bug 1797310)
  web/viewer.css
Labels: viewer

#15623 Fix editor tests on Windows
  test/integration/freetext_editor_spec.js
  test/integration/scripting_spec.js
  test/integration/test_utils.js
Labels: test, editor

#15630 Prevent textLayer errors in documents with unbalanced beginMarkedContent/endMarkedContent operators (issue 15629)
  src/display/text_layer.js
  test/pdfs/.gitignore
  test/pdfs/issue15629.pdf
  test/test_manifest.json
Labels: text-selection

#15631 [JS] Avoid to trigger a commit event on 'ENTER' when the textfield is multiline
  src/display/annotation_layer.js
Labels: form-js

#15637 Combine `Array.from` and `Array.prototype.map` calls
  src/core/annotation.js
  src/core/default_appearance.js
Labels: core

#15618 [JS] Some functions (print, alert,...) must be called only after a user activation
  src/pdf.sandbox.external.js
  src/scripting_api/app.js
  src/scripting_api/doc.js
  src/scripting_api/event.js
Labels: form-js

#15632 [api-minor] Move the handling of unbalanced markedContent to the worker-thread (PR 15630 follow-up)
  src/core/evaluator.js
  src/display/text_layer.js
Labels: core, text-selection

#15633 [Editor] Change the cursor icons
  web/annotation_editor_layer_builder.css
  web/images/cursor-editorInk.svg
Labels: editor

#15641 Remove the `PdfManager.onLoadedStream` method (PR 15616 follow-up)
  src/core/chunked_stream.js
  src/core/pdf_manager.js
  src/core/worker.js
Labels: core

#15640 Update packages and translations
  l10n/be/viewer.properties
  l10n/eu/viewer.properties
  l10n/fy-NL/viewer.properties
  l10n/gn/viewer.properties
  l10n/it/viewer.properties
  l10n/kk/viewer.properties
  l10n/ko/viewer.properties
  l10n/tr/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#15643 Bump versions in `pdfjs.config`
  pdfjs.config
Labels: other

#15649 Changed link for "Gulp's getting started guide"
  README.md
Labels: other

#15615 [Form] Don't use field appearances when /NeedAppearances is set to true (bug 1796741)
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/bug1796741.pdf
  test/test_manifest.json
Labels: form-acroform

#15648 Prevent interaction with form elements in PresentationMode (issue 12232)
  src/display/annotation_layer.js
  web/annotation_layer_builder.js
  web/interfaces.js
  web/pdf_link_service.js
  web/pdf_presentation_mode.js
  web/viewer.css
Labels: viewer, annotations, form-acroform
