Repository mozilla/pdf.js, pull requests merged in 2022-07, with the labels that each got.

#15122 [editor] Tweak `@media` CSS rules to account for the new toolbar buttons
  web/base_viewer.js
  web/viewer.css
Labels: viewer, editor

#15123 [editor] Disable editing while PresentationMode is active
  web/base_viewer.js
  web/pdf_presentation_mode.js
Labels: viewer, editor

#15121 [api-minor] Further modernize the `ProgressBar` class (PR 14918 follow-up)
  examples/mobile-viewer/viewer.css
  examples/mobile-viewer/viewer.js
  web/app.js
  web/ui_utils.js
  web/viewer.css
Labels: viewer

#15126 [Editor] Update the id for a l10n string
  l10n/en-US/viewer.properties
  src/display/editor/freetext.js
  web/l10n_utils.js
Labels: editor

#15124 Call `AnnotationLayer.setDimensions` as part of the `render`/`update`-methods (PR 15036 follow-up)
  src/display/annotation_layer.js
  test/driver.js
  web/annotation_layer_builder.js
Labels: annotations

#15133 Improve text-selection for Type3 fonts with bogus /FontBBox-entries (issue 14999)
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue14999_reduced.pdf
  test/test_manifest.json
Labels: text-selection, font-type3

#15130 [Editor] Dispatch an event when some global states are changing (bug 1777695)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/tools.js
  web/app.js
  web/base_viewer.js
  web/firefoxcom.js
Labels: editor

#15142 [editor] Use the `fit-curve` package (issue 15004)
  .eslintrc
  gulpfile.js
  package-lock.json
  package.json
  src/display/editor/fit_curve.js
  src/display/editor/fit_curve/fit_curve.js
  src/display/editor/ink.js
  test/unit/clitests.json
  test/unit/editor_spec.js
  test/unit/jasmine-boot.js
  test/unit/unit_test.html
  web/viewer.html
Labels: dependencies, editor

#15144 [Editor] Allow editors deletion on Backspace or Delete keys
  src/display/editor/annotation_editor_layer.js
Labels: editor

#15146 [Editor] Change the cursor to a pen for the Ink editor
  src/display/editor/ink.js
  web/annotation_editor_layer_builder.css
  web/images/toolbarButton-editorInk.svg
Labels: editor

#15143 [jsdoc] failing typescript builds - wrong type
  src/display/annotation_layer.js
Labels: other

#15147 [Editor] Avoid to resize and redraw the ink canvas when it's useless
  src/display/editor/ink.js
Labels: editor

#15135 Use default colors only in forced-colors mode (bug 1778068)
  extensions/chromium/preferences_schema.json
  web/app.js
  web/app_options.js
Labels: accessibility

#15151 [Editor] Remove useless and faulty code when destroying the global manager
  src/display/editor/tools.js
Labels: editor

#15152 Ensure that the /Resources-entry is actually a dictionary (issue 15150)
  src/core/document.js
  test/pdfs/.gitignore
  test/pdfs/issue15150.pdf
  test/unit/api_spec.js
Labels: core, corrupted-pdf

#15153 [Annotation] A push button can have no action (bug 1778692)
  src/display/annotation_layer.js
  test/pdfs/bug1778692.pdf.link
  test/test_manifest.json
Labels: annotations

#15145 [api-minor] Deprecate the `enhanceTextSelection` functionality
  src/display/text_layer.js
Labels: core

#15155 Update packages and translations
  l10n/da/viewer.properties
  l10n/de/viewer.properties
  l10n/dsb/viewer.properties
  l10n/en-GB/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/es-CL/viewer.properties
  l10n/es-ES/viewer.properties
  l10n/es-MX/viewer.properties
  l10n/fy-NL/viewer.properties
  l10n/gn/viewer.properties
  l10n/he/viewer.properties
  l10n/hsb/viewer.properties
  l10n/hu/viewer.properties
  l10n/ia/viewer.properties
  l10n/is/viewer.properties
  l10n/it/viewer.properties
  l10n/kab/viewer.properties
  l10n/kk/viewer.properties
  l10n/ko/viewer.properties
  l10n/lt/viewer.properties
  l10n/nl/viewer.properties
  l10n/pl/viewer.properties
  l10n/pt-BR/viewer.properties
  l10n/pt-PT/viewer.properties
  l10n/ru/viewer.properties
  l10n/sk/viewer.properties
  l10n/sl/viewer.properties
  l10n/tg/viewer.properties
  l10n/tr/viewer.properties
  l10n/uk/viewer.properties
  l10n/vi/viewer.properties
  l10n/zh-CN/viewer.properties
  l10n/zh-TW/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#15154 Replace element `id`s with custom attributes in the xfaLayer
  src/display/xfa_layer.js
Labels: form-xfa

#15163 [Editor] Always have an ink editor (when in ink mode)
  src/display/annotation_storage.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/tools.js
Labels: editor

#15162 Enable the `unicorn/prefer-logical-operator-over-ternary` ESLint plugin rule
  .eslintrc
  src/core/fonts.js
  src/core/primitives.js
  src/core/xfa/html_utils.js
  src/core/xfa/template.js
Labels: other

#15157 Add unicode mapping in the font cmap to have correct chars when printing in pdf (bug 1778484)
  src/core/fonts.js
Labels: font-conversion, firefox-specific

#15168 Disable canvas acceleration for linux tests
  test/test.js
Labels: test

#15169 Handle errors in the "Loading by ref" code-path in `PartialEvaluator.loadFont`
  src/core/evaluator.js
Labels: font-conversion

#15170 [JS] Embedded JS scripts can have some null chars
  src/core/catalog.js
  src/core/core_utils.js
Labels: form-js

#15173 [api-minor] Deprecate the SVG back-end
  src/display/svg.js
  web/app.js
  web/pdf_page_view.js
Labels: core, viewer

#15179 [Editor] Use serialized data when copying/pasting
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.js
Labels: editor

#15187 [Editor] Remove useless and potentially deleted editors
  src/display/editor/tools.js
Labels: editor

#15186 [Editor] Move the keyboard manager at the container level
  src/display/editor/annotation_editor_layer.js
  src/display/editor/freetext.js
  src/display/editor/tools.js
  web/base_viewer.js
Labels: editor

#15192 Ignore invalid /CIDToGIDMap-entries when parsing fonts (issue 15139)
  src/core/evaluator.js
  test/pdfs/issue15139.pdf.link
  test/test_manifest.json
Labels: font-conversion, corrupted-pdf

#15196 [Editor] Add a z-index in order to draw them in the right order
  src/display/editor/editor.js
  web/annotation_editor_layer_builder.css
Labels: editor

#15183 Remove the `svgviewer` example
  examples/svgviewer/README.md
  examples/svgviewer/index.html
  examples/svgviewer/viewer.js
  web/base_viewer.js
  web/pdf_page_view.js
  web/ui_utils.js
Labels: viewer, other

#15206 [Editor] Simplify the command manager
  src/display/editor/tools.js
  test/unit/editor_spec.js
Labels: editor

#15200 [Editor] Add the ability to make multiple selections (bug 1779582)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.js
  web/annotation_editor_layer_builder.css
Labels: editor

#15210 [Editor] Unselect correctly removed editors
  src/display/editor/ink.js
  src/display/editor/tools.js
  test/integration-boot.js
  test/integration/freetext_editor_spec.js
  test/integration/ink_editor_spec.js
  test/integration/test_utils.js
Labels: editor

#15188 [Editor] Replace mouse events by pointer ones (bug 1779015)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  web/annotation_editor_layer_builder.css
Labels: editor

#15211 [Editor] Fix multi-selection on touch screens
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/tools.js
Labels: editor

#15214 Update packages and translations
  l10n/be/viewer.properties
  l10n/cy/viewer.properties
  l10n/de/viewer.properties
  l10n/el/viewer.properties
  l10n/en-CA/viewer.properties
  l10n/eo/viewer.properties
  l10n/es-ES/viewer.properties
  l10n/et/viewer.properties
  l10n/eu/viewer.properties
  l10n/fr/viewer.properties
  l10n/id/viewer.properties
  l10n/it/viewer.properties
  l10n/ja/viewer.properties
  l10n/ka/viewer.properties
  l10n/nb-NO/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/oc/viewer.properties
  l10n/pa-IN/viewer.properties
  l10n/pl/viewer.properties
  l10n/sl/viewer.properties
  l10n/sr/viewer.properties
  l10n/sv-SE/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#15218 [Editor] Fix few keyboard shortcuts on mac
  src/display/editor/editor.js
  src/display/editor/tools.js
Labels: editor

#15221 Support images with /Filter-entries that contain Arrays (issue 15220)
  src/core/image.js
  test/pdfs/issue15220.pdf.link
  test/test_manifest.json
Labels: image-conversion

#15230 [Editor] Avoid editor creation/selection on right click (bug 1781762)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.js
  test/integration/ink_editor_spec.js
Labels: editor

#15231 [Editor] Don't set as active an editor which is not (bug 1781763)
  src/display/editor/freetext.js
Labels: editor

#15219 [Editor] Add the possibility to change line opacity in Ink editor
  l10n/en-US/viewer.properties
  src/core/annotation.js
  src/display/display_utils.js
  src/display/editor/ink.js
  src/display/editor/tools.js
  src/shared/util.js
  test/unit/annotation_spec.js
  web/annotation_editor_params.js
  web/viewer.html
  web/viewer.js
Labels: editor

#15233 [Editor] Avoid to add unexpected commands in the undo/redo queue when undoing/redoing (bug 1781790)
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.js
Labels: editor

#15234 [Editor] Reset the queue when a command is added after having undone all the commands
  src/display/editor/tools.js
Labels: editor

#15217 [Editor] Simplify the strings for the tools in the UI
  l10n/en-US/viewer.properties
  web/viewer.html
Labels: viewer

#15236 Set `opacity` in the reference tests (PR 15219 follow-up)
  test/test_manifest.json
Labels: regression, test, editor

#15235 Ensure that the `isUsingOwnCanvas`-parameter is consistently included in operatorLists (PR 14247 follow-up)
  src/core/annotation.js
  test/unit/api_spec.js
Labels: annotations

#15232 Fix text selection with hdpi screens (#15229)
  src/display/text_layer.js
Labels: text-selection

#15238 Fix wrong order of arguments when calling the CipherTransform ctor (bug 1782186)
  src/core/crypto.js
  test/pdfs/.gitignore
  test/pdfs/bug1782186.pdf
  test/test_manifest.json
Labels: core

#15240 [api-minor] Change the various factories, in the viewer, to accept Objects
  web/base_viewer.js
  web/default_factory.js
  web/interfaces.js
  web/pdf_page_view.js
Labels: viewer

#15242 [Editor] Avoid to slightly move ink editor when undoing/redoing
  src/display/editor/ink.js
  test/integration/ink_editor_spec.js
Labels: editor

#15244 [Editor] Add an editor in the annotation storage only when it's non-empty (#15241)
  src/display/annotation_storage.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
Labels: editor

#15215 [api-minor] Improve how we disable `PDFThumbnailView.setImage` for documents with Optional Content
  src/display/optional_content_config.js
  web/base_viewer.js
  web/pdf_page_view.js
  web/pdf_thumbnail_view.js
  web/pdf_thumbnail_viewer.js
Labels: core, viewer

#15248 Update l10n files
  l10n/cy/viewer.properties
  l10n/dsb/viewer.properties
  l10n/el/viewer.properties
  l10n/en-GB/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/es-CL/viewer.properties
  l10n/es-MX/viewer.properties
  l10n/he/viewer.properties
  l10n/hsb/viewer.properties
  l10n/hu/viewer.properties
  l10n/ia/viewer.properties
  l10n/id/viewer.properties
  l10n/it/viewer.properties
  l10n/ko/viewer.properties
  l10n/nl/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/pt-BR/viewer.properties
  l10n/sk/viewer.properties
  l10n/sv-SE/viewer.properties
  l10n/tg/viewer.properties
  l10n/th/viewer.properties
  l10n/tr/viewer.properties
  l10n/uk/viewer.properties
  l10n/vi/viewer.properties
  l10n/zh-CN/viewer.properties
  l10n/zh-TW/viewer.properties
Labels: dependencies

#15247 Misc. small CSS cleanup
  web/viewer.css
Labels: viewer

#15246 [api-minor] Improve `thumbnail` handling in documents that contain interactive forms
  src/core/annotation.js
  src/core/document.js
  src/core/operator_list.js
  src/display/api.js
  test/unit/annotation_spec.js
  test/unit/api_spec.js
  web/pdf_page_view.js
Labels: core, viewer, annotations, ux

#15252 Bump versions in `pdfjs.config`
  pdfjs.config
Labels: other

#15251 Ignore too small page-canvases in `PDFThumbnailView.setImage`
  web/pdf_thumbnail_view.js
Labels: viewer

#15253 [api-minor] Update the minimum supported Safari version
  gulpfile.js
  web/app_options.js
  web/base_viewer.js
Labels: other
