Repository mozilla/pdf.js, pull requests merged in 2022-12, with the labels that each got.

#15768 Prevent the `debugger` from breaking on unbalanced save/restore OPS (issue 15767)
  web/debugger.js
Labels: viewer

#15722 [api-minor] Refactor the text layer code in order to avoid to recompute it on each draw
  src/display/text_layer.js
  src/pdf.js
  test/driver.js
  test/text_layer_test.css
  test/unit/text_layer_spec.js
  web/app.js
  web/default_factory.js
  web/interfaces.js
  web/pdf_page_view.js
  web/pdf_viewer.js
  web/text_highlighter.js
  web/text_layer_builder.css
  web/text_layer_builder.js
Labels: core, viewer, text-selection

#15752 Enable the `no-typeof-undefined` ESLint plugin rule
  .eslintrc
  src/display/canvas.js
  src/display/fetch_stream.js
  src/display/network.js
  src/display/node_stream.js
  systemjs.config.js
  test/unit/testreporter.js
Labels: other

#15773 [api-minor] Normalize the `view`-getter on the worker-thread
  src/core/document.js
  src/display/display_utils.js
Labels: core

#15779 [api-minor] Combine the `textContent`/`textContentStream` parameters
  src/display/text_layer.js
  test/driver.js
  test/unit/text_layer_spec.js
  web/pdf_page_view.js
  web/text_layer_builder.js
Labels: core, viewer, text-selection

#15778 Don't re-create the `structTreeLayer` on zooming and rotation
  src/display/api.js
  web/default_factory.js
  web/interfaces.js
  web/pdf_page_view.js
  web/pdf_viewer.js
  web/struct_tree_layer_builder.js
Labels: viewer

#15791 [Editor] Take all the viewBox into account when computing the coordinates of an annotation in the page (fixes #15789)
  src/display/editor/editor.js
  test/integration/freetext_editor_spec.js
  test/pdfs/.gitignore
  test/pdfs/issue15789.pdf
Labels: editor

#15798 Fix page-switching for landscape documents with SpreadModes and PresentationMode (PR 14877 follow-up)
  web/pdf_viewer.js
Labels: viewer

#15796 Ensure that the various layers always get the correct initial size (issue 15795)
  web/pdf_page_view.js
  web/pdf_viewer.js
Labels: viewer

#15800 [AnnotationEditorLayerBuilder] Inline the `destroy` code in the `cancel` method
  web/annotation_editor_layer_builder.js
  web/pdf_page_view.js
Labels: viewer, editor

#15805 Change the `XfaLayerBuilder.render` method to be asynchronous
  web/xfa_layer_builder.js
Labels: viewer, form-xfa

#15806 Don't attempt to re-create the `annotationLayer`, for pages without any annotations, on zooming and rotation
  src/display/api.js
  web/annotation_layer_builder.js
Labels: core, viewer, annotations

#15797 [api-minor] Add a new `PageViewport`-getter to access the original, un-scaled, viewport dimensions
  src/display/annotation_layer.js
  src/display/display_utils.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/text_layer.js
Labels: core

#15820 The annotation layer dimensions must be set before adding some elements (follow-up of #15770)
  src/display/annotation_layer.js
  test/integration/accessibility_spec.js
  test/pdfs/.gitignore
  test/pdfs/fields_order.pdf
Labels: annotations, accessibility

#15819 [JS] Handle correctly choice widgets where the display and the export values are different (issue #15815)
  src/core/annotation.js
  src/display/annotation_layer.js
  src/scripting_api/event.js
  src/scripting_api/field.js
  test/integration/scripting_spec.js
  test/pdfs/.gitignore
  test/pdfs/issue15815.pdf
  test/test_manifest.json
Labels: form-js

#15822 [JS] Run the named actions before running the format when the file is open (issue #15818)
  src/display/annotation_layer.js
  src/scripting_api/doc.js
  src/scripting_api/event.js
  test/integration/scripting_spec.js
  test/pdfs/.gitignore
  test/pdfs/issue15818.pdf
  web/annotation_layer_builder.js
  web/default_factory.js
  web/interfaces.js
  web/pdf_scripting_manager.js
  web/pdf_viewer.js
Labels: form-js

#15824 Handle possibly undefined parameters *once* per `AnnotationLayer.render` invocation
  src/display/annotation_layer.js
  web/annotation_layer_builder.js
Labels: annotations

#15825 [api-minor] Allow specifying an extra-delay, in `RenderTask.cancel`, for worker-thread aborting of operatorList parsing
  src/display/api.js
  src/display/display_utils.js
  test/unit/api_spec.js
Labels: core

#15829 Don't remove the loading icon from the DOM when a page is resetted
  web/pdf_page_view.js
Labels: viewer

#15831 [GV] Add a viewer for GeckoView
  gulpfile.js
  web/app.js
  web/ui_utils.js
  web/viewer-geckoview.css
  web/viewer-geckoview.html
  web/viewer-geckoview.js
Labels: viewer

#15834 Always parse the entire `startXRefQueue` in `XRef.readXRef` (issue 15833)
  src/core/xref.js
  test/pdfs/issue15833.pdf.link
  test/test_manifest.json
Labels: core, corrupted-pdf

#15835 Protect a few additional DOM element accesses in the viewer (PR 15831 follow-up)
  web/app.js
Labels: viewer

#15832 Attempt to expose `OnProgressParameters` in the TypeScript definitions (issue 15828)
  src/pdf.js
Labels: other

#15841 Strip out a reserved operator (9) from CFF char strings (fixes issue #15784)
  src/core/cff_parser.js
  test/pdfs/issue15784.pdf.link
  test/test_manifest.json
Labels: font-conversion

#15842 [GeckoView] Ignore the pageLayout, from the PDF document, to prevent issues
  web/app.js
  web/pdf_scripting_manager.js
  web/ui_utils.js
Labels: viewer

#15845 [TextLayer] Hide the text layer when it's created in order to avoid reflows (fix #15844)
  web/text_layer_builder.js
Labels: text-selection

#15830 Avoid to compute the client rect of the viewer
  web/app.js
  web/pdf_viewer.js
Labels: viewer

#15849 [Editor] Avoid to scroll when an annotation is commited (fixes issue #15744)
  src/display/editor/freetext.js
  src/display/editor/ink.js
Labels: editor

#15811 [api-minor] Remove the default factories, used to initialize various layers, in the viewer
  examples/components/pageviewer.js
  src/display/api.js
  web/annotation_editor_layer_builder.js
  web/default_factory.js
  web/interfaces.js
  web/pdf_page_view.js
  web/pdf_viewer.component.js
  web/pdf_viewer.js
Labels: core, viewer

#15852 A couple of small viewer fixes (PR 15811 and 15831 follow-up)
  examples/mobile-viewer/viewer.js
  web/pdf_page_view.js
Labels: viewer

#15860 Ensure that the `loadingIconDiv` is always visible (PR 15829 follow-up)
  web/pdf_page_view.js
Labels: viewer, regression

#15854 Re-factor searching for incomplete objects in `XRef.indexObjects` (issue 15803)
  src/core/xref.js
  test/pdfs/issue15803.pdf.link
  test/test_manifest.json
Labels: core, corrupted-pdf

#15864 Update packages and translations
  gulpfile.js
  l10n/be/viewer.properties
  l10n/cs/viewer.properties
  l10n/eu/viewer.properties
  l10n/fur/viewer.properties
  l10n/hr/viewer.properties
  l10n/ka/viewer.properties
  l10n/ko/viewer.properties
  l10n/pa-IN/viewer.properties
  l10n/sc/viewer.properties
  l10n/sr/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#15812 Only redraw after zooming is finished (bug 1661253)
  extensions/chromium/preferences_schema.json
  web/app.js
  web/app_options.js
  web/pdf_page_view.js
  web/pdf_viewer.css
  web/pdf_viewer.js
  web/text_layer_builder.js
Labels: viewer

#15862 Set a z-index for the different layers within a page (fixes #15861)
  web/annotation_editor_layer_builder.css
  web/annotation_layer_builder.css
  web/pdf_page_view.js
  web/pdf_viewer.css
  web/text_layer_builder.css
Labels: viewer

#15872 [Regression] Ensure that documents with varying page sizes are initialized correctly (PR 15812 follow-up)
  web/pdf_page_view.js
Labels: viewer, regression, release-blocker

#15870 Remove `PDFPageProxy.getJSActions` caching, since it's unused, in the API
  src/display/api.js
Labels: core

#15869 Always abort a pending `streamReader` cancel timeout in `PDFPageProxy._abortOperatorList` (PR 15825 follow-up)
  src/display/api.js
Labels: core

#15867 Only display the loadingIcons when rendering is currently running
  web/app.js
  web/pdf_page_view.js
  web/pdf_viewer.js
Labels: viewer

#15875 Improve name consistency in the viewer (PR 15812 follow-up)
  web/app.js
  web/pdf_page_view.js
  web/pdf_viewer.js
Labels: viewer

#15874 Decouple the loadingBar `background-color` from the rest of the viewer
  web/viewer-geckoview.css
  web/viewer.css
Labels: viewer
