Repository mozilla/pdf.js, pull requests merged in 2022-04, with the labels that each got.

#14735 [Annotations] Some annotations can have their values stored in the xfa:datasets
  src/core/annotation.js
  src/core/dataset_reader.js
  src/core/document.js
  src/core/xml_parser.js
  test/pdfs/issue14685.pdf.link
  test/test_manifest.json
Labels: form-acroform

#14734 Don't manually convert `setAttribute` values to strings (PR 14554 follow-up)
  web/pdf_sidebar.js
  web/secondary_toolbar.js
Labels: viewer

#14738 Decode non-ASCII values found in the xfa:datasets (PR 14735 follow-up)
  src/core/dataset_reader.js
Labels: form-acroform

#14742 Replace most loops in `web/debugger.js` with `for...of` loops
  web/debugger.js
Labels: viewer

#14744 Update GitHub Actions workflow steps/dependencies/translations to the most recent versions
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  l10n/be/viewer.properties
  l10n/eo/viewer.properties
  l10n/id/viewer.properties
  l10n/ja/viewer.properties
  l10n/kk/viewer.properties
  l10n/nb-NO/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/pl/viewer.properties
  l10n/tg/viewer.properties
  l10n/th/viewer.properties
  package-lock.json
  package.json
Labels: test, dependencies

#14745 Convert `web/debugger.js` to a *basic* module
  gulpfile.js
  web/app.js
  web/debugger.js
Labels: viewer

#14739 Refactor some xfa*** getters in document.js
  src/core/dataset_reader.js
  src/core/document.js
Labels: core

#14663 [GENERIC viewer] Try to improve a11y, for search results, in the findbar (issue 14525)
  web/pdf_find_bar.js
  web/viewer.css
  web/viewer.html
Labels: viewer, accessibility

#14761 Use a bit more optional chaining in the viewer
  web/app.js
  web/viewer.js
Labels: viewer

#14751 Re-factor the `isLittleEndian`/`isEvalSupported` caching
  src/core/catalog.js
  src/core/function.js
  src/display/canvas.js
  src/display/font_loader.js
  src/shared/util.js
Labels: core

#14750 Remove the `BaseViewer._getCurrentVisiblePage` helper method
  web/base_viewer.js
  web/pdf_history.js
Labels: viewer

#14754 Improve performance with image masks (bug 857031)
  src/core/evaluator.js
  src/core/image.js
  src/core/operator_list.js
  src/display/api.js
  src/display/canvas.js
  src/shared/image_utils.js
  src/shared/util.js
  test/pdfs/issue4436r.pdf
  test/test.js
  test/test_manifest.json
  test/unit/api_spec.js
Labels: performance, image-conversion

#14766 Improve performance of applyMaskImageData
  src/shared/image_utils.js
Labels: core, performance

#14764 Correct typos
  examples/learning/prevnext.html
  src/core/annotation.js
  src/core/cff_parser.js
  src/core/evaluator.js
  src/core/struct_tree.js
  src/core/worker.js
  src/core/xfa/formcalc_lexer.js
  src/core/xfa/som.js
  src/core/xfa/xfa_object.js
  src/display/canvas.js
  src/display/pattern_helper.js
Labels: other

#14765 Simplify handling of `requestFullscreen` errors in `PDFPresentationMode`
  web/pdf_presentation_mode.js
Labels: viewer

#14767 [GENERIC viewer] Re-factor the `fileInput` initialization
  web/app.js
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: viewer

#14769 Remove unnecessary `@media` CSS rules (PR 8993 follow-up)
  web/viewer.css
Labels: viewer

#14770 Always remove the `sidebarMoving` CSS class when the sidebar is closed
  web/pdf_sidebar.js
  web/viewer.js
Labels: viewer

#14771 Simplify the `dialog::backdrop` CSS rules (PR 14710 follow-up)
  web/viewer.css
Labels: viewer

#14772 Remove/simplify some CSS rules
  web/viewer.css
Labels: viewer

#14780 Replace the `--viewport-scale-factor` CSS variable
  src/display/canvas.js
  web/base_viewer.js
  web/pdf_page_view.js
  web/pdf_viewer.css
Labels: core, viewer

#14722 PDFScriptingManager: Bind mousedown listener with capture=true
  web/pdf_scripting_manager.js
Labels: viewer

#14784 Improve performance of shared/utils.js::intersect (bug 1135277)
  src/shared/util.js
Labels: core, performance

#14785 Update `core-js` to allow removing a `structuredClone` work-around
  package-lock.json
  package.json
  src/display/api.js
Labels: core

#14777 [api-minor] Improve performances with image masks (bug 857031)
  src/core/evaluator.js
  src/core/operator_list.js
  src/display/canvas.js
  test/pdfs/bug857031.pdf.link
  test/test_manifest.json
Labels: performance, image-conversion

#14796 [api-minor] Simplify min/max computations in constructPath (bug 1135277)
  src/core/evaluator.js
  src/display/canvas.js
  src/shared/util.js
Labels: core, performance

#14797 Don't clip when the clip path is empty (issue #12306)
  src/display/canvas.js
  test/pdfs/issue12306.pdf.link
  test/test_manifest.json
Labels: core

#14799 Fix clipping issue with pattern (follow-up of #14797)
  src/display/canvas.js
  src/display/pattern_helper.js
Labels: core

#14788 Move the `PDFBug`-related CSS from `viewer.css` and into its own file
  gulpfile.js
  web/app.js
  web/debugger.css
  web/debugger.js
  web/viewer.css
Labels: viewer

#14790 Remove some outdated CSS rules related to printing
  web/viewer.css
Labels: viewer

#14792 Update packages and translations
  gulpfile.js
  l10n/be/viewer.properties
  l10n/kab/viewer.properties
  l10n/sc/viewer.properties
  l10n/tg/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#14795 Reduce more duplication in the CSS
  web/viewer.css
Labels: viewer

#14793 Simplify spread-mode handling for the PAGE scroll-mode
  web/base_viewer.js
Labels: viewer

#14801 [GENERIC viewer] Simplify the styling of the previous/next findbar buttons
  web/viewer.css
  web/viewer.html
Labels: viewer, ux

#14803 Add support for the /Catalog Base-URI when resolving URLs (issue 14802)
  src/core/annotation.js
  src/core/catalog.js
  src/core/pdf_manager.js
  test/pdfs/.gitignore
  test/pdfs/issue14802.pdf
  test/test_manifest.json
Labels: core

#14794 Remove the PresentationMode special-case from `BaseViewer.update`
  web/base_viewer.js
Labels: viewer

#14810 Stop bundling `errorWrapper` CSS rules in the MOZCENTRAL build
  web/viewer.css
  web/viewer.html
Labels: viewer, firefox-specific

#14817 Some more, small, CSS clean-up
  web/viewer.css
Labels: viewer

#14818 Use correct case for JavaScript
  src/core/xfa/som.js
  src/license_header_libre.js
Labels: other

#14815 Ignore non-Stream /SMask-entries when parsing images (issue 14814)
  src/core/image.js
  test/pdfs/.gitignore
  test/pdfs/issue14814.pdf
  test/test_manifest.json
Labels: image-conversion

#14828 Use more `for...of` loops in the viewer
  web/base_viewer.js
  web/pdf_thumbnail_viewer.js
Labels: viewer

#14827 Simplify setting of spacing at the left/right edges of the toolbar(s)
  web/viewer.css
Labels: viewer

#14823 Ignore invalid /Encoding-entries when parsing fonts (issue 14821)
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue14821.pdf
  test/test_manifest.json
Labels: font-conversion, corrupted-pdf

#14825 Ensure that worker-thread image caching doesn't break optional content (issue 14824)
  src/core/evaluator.js
  src/core/operator_list.js
  test/pdfs/issue14824.pdf.link
  test/test_manifest.json
Labels: core

#14829 Remove unnecessary `print` CSS rules
  web/viewer.css
Labels: viewer, printing

#14831 Add a helper function for incrementing the `count` of cached ImageMasks
  src/core/evaluator.js
Labels: core

#14848 Support destinations in NameTrees with encoded keys (issue 14847)
  src/core/catalog.js
  src/core/name_number_tree.js
  test/pdfs/.gitignore
  test/pdfs/issue14847.pdf
  test/unit/api_spec.js
Labels: core

#14833 Stop bundling the openFile-buttons in the MOZCENTRAL build
  gulpfile.js
  web/app.js
  web/secondary_toolbar.js
  web/toolbar.js
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: viewer, firefox-specific

#14835 Clean-up some CSS rules for the various toolbar separators
  web/viewer.css
Labels: viewer

#14856 [api-minor] Remove the `forceClamped`-functionality in the Streams (issue 14849)
  src/core/base_stream.js
  src/core/chunked_stream.js
  src/core/decode_stream.js
  src/core/evaluator.js
  src/core/image.js
  src/core/operator_list.js
  src/core/stream.js
  test/unit/stream_spec.js
Labels: core, image-conversion

#14853 Use integer coordinates when drawing images (bug 1264608, issue #3351)
  src/display/canvas.js
  test/pdfs/issue3351.1.pdf.link
  test/pdfs/issue3351.2.pdf.link
  test/pdfs/issue3351.3.pdf.link
  test/test_manifest.json
Labels: core, image-quality

#14854 Remove redundant class names from the button DOM-elements
  web/viewer.css
  web/viewer.html
Labels: viewer

#14857 Inline the `webViewerOpenFileViaURL` function in `webViewerInitialized`
  web/app.js
Labels: viewer
