Repository mozilla/pdf.js, pull requests merged in 2023-11, with the labels that each got.

#17208 [Firefox] Fetch browser preferences/options together with the viewer preferences (bug 1862192)
  gulpfile.mjs
  web/app.js
  web/app_options.js
  web/chromecom.js
  web/firefoxcom.js
  web/genericcom.js
  web/preferences.js
Labels: viewer, firefox-specific

#17201 Update the GitHub Actions workflows to use the current Node.js LTS version
  .github/workflows/ci.yml
  .github/workflows/publish_website.yml
Labels: other

#17223 Update packages and translations
  gulpfile.mjs
  l10n/da/viewer.ftl
  l10n/de/viewer.ftl
  l10n/es-ES/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/uk/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, L10n

#17217 Use even more optional chaining in the code-base
  src/display/xfa_layer.js
  test/test.mjs
  test/unit/xfa_tohtml_spec.js
Labels: core, test

#17202 Also test the latest Node.js version in GitHub Actions
  .github/workflows/ci.yml
  test/unit/annotation_spec.js
  test/unit/test_utils.js
Labels: other

#17218 Re-factor how some API-options are handled in `PDFViewerApplication.open` (PR 17208 follow-up)
  web/app.js
  web/app_options.js
Labels: viewer

#17224 Update `external/dist/webpack.js` to account for outputting of JavaScript modules (PR 17055 follow-up)
  external/dist/webpack.mjs
Labels: other

#17220 Also pause translation when expanding the current outline-item (PR 17176 follow-up)
  web/base_tree_viewer.js
Labels: viewer, release-blocker

#17222 Remove the `viewerCssTheme`-option, since it's partially broken
  extensions/chromium/preferences_schema.json
  web/app.js
  web/app_options.js
Labels: viewer, release-blocker

#17226 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#17233 Don't try to collect a nonexistent field because of an invalid ref
  src/core/document.js
  test/pdfs/issue17232.pdf.link
  test/test_manifest.json
Labels: form-acroform

#17242 Ensure that `fieldObjects` and `#collectFieldObjects` handles References correctly
  src/core/document.js
Labels: core

#17247 Don't avoid to execute the Blur callback when blurring a text field (bug 1863910)
  src/display/annotation_layer.js
  test/integration/scripting_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/bug1863910.pdf
Labels: form-js

#17244 Remove the "Open file"-button from the main toolbar
  web/toolbar.js
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: viewer

#17243 [Editor] Add a toolbar to selected editors with a button to delete it (bug 1863763)
  gulpfile.mjs
  src/display/editor/editor.js
  src/display/editor/ink.js
  src/display/editor/toolbar.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.mjs
  web/annotation_editor_layer_builder.css
  web/images/editor-toolbar-delete.svg
Labels: editor

#17253 Fix the maxp table version in font to make it visible on Windows
  src/core/fonts.js
  test/pdfs/issue16839.pdf.link
  test/test_manifest.json
Labels: font-conversion

#17256 Tweak the background-color of the `editorParamsToolbar`s
  web/viewer.css
Labels: viewer

#17260 Update dependencies and translations to the most recent versions
  l10n/da/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/pt-PT/viewer.ftl
  l10n/rm/viewer.ftl
  l10n/sl/viewer.ftl
  l10n/zh-CN/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, L10n

#17265 Set a type for the `Blob` used in `createCDNWrapper` (issue 17259)
  src/display/api.js
Labels: core

#17252 Rename *.d.ts to *.d.mts
  external/dist/legacy/build/pdf.d.mts
  external/dist/legacy/web/pdf_viewer.d.mts
  external/dist/legacy/web/pdf_viewer.d.ts
  external/dist/web/pdf_viewer.d.mts
  external/dist/web/pdf_viewer.d.ts
  gulpfile.mjs
  test/types/legacy.ts
  test/types/modern.ts
  test/types/package.json
  test/types/tsconfig.json
Labels: types

#17255 Ensure that the viewer waits for the library to complete loading (issue 17228)
  gulpfile.mjs
  web/pdfjs.js
Labels: other

#17264 [Editor] Avoid to click on the delete button in the freetext integration tests
  test/integration/freetext_editor_spec.mjs
Labels: test

#17267 Move linting to a separate GitHub Actions workflow
  .github/workflows/lint.yml
  gulpfile.mjs
Labels: other

#17266 Move `gulp typestest` to a separate GitHub Actions workflow
  .github/workflows/types_tests.yml
  gulpfile.mjs
Labels: types

#17268 Clean-up the CI workflow a bit
  .github/workflows/ci.yml
  gulpfile.mjs
Labels: test

#17270 [GENERIC viewer] Fallback to the short-format of the language code (issue 17269)
  web/genericl10n.js
Labels: viewer, L10n

#17272 Fix typo in the `--hcm-highlight-filter` CSS variable name (issue 17254)
  web/annotation_layer_builder.css
  web/pdf_page_view.js
  web/pdf_viewer.js
Labels: viewer

#17271 Get the field name from its parent when it doesn't have one when collecting fields (bug 1864136)
  src/core/document.js
  test/integration/scripting_spec.mjs
  test/integration/test_utils.mjs
Labels: form-acroform

#17273 Re-factor the `L10n`-implementations to use lowercase language-codes internally
  gulpfile.mjs
  web/genericcom.js
  web/genericl10n.js
  web/l10n.js
  web/l10n_utils.js
  web/pdf_document_properties.js
Labels: viewer, L10n

#17281 [Editor] Add a tooltip to the delete button
  l10n/en-US/viewer.ftl
  src/display/editor/toolbar.js
Labels: editor

#17293 Restore the option to set light/dark mode for chromium and generic builds
  extensions/chromium/preferences_schema.json
  gulpfile.mjs
  package-lock.json
  package.json
  web/app.js
  web/app_options.js
Labels: viewer, chrome-specific

#17300 [Editor] Make the alt-text button large enough to display correctly whatever string
  web/annotation_editor_layer_builder.css
Labels: editor

#17303 Throw a `JpegError` when a JPEG image has no frame data (issue 17302)
  src/core/jpg.js
Labels: image-jpeg

#17291 [Editor] Add a way to extract the outlines of a union of rectangles
  src/display/draw_layer.js
  src/display/editor/outliner.js
  src/pdf.js
  test/draw_layer_test.css
  test/driver.js
  test/test.mjs
  test/test_manifest.json
  test/unit/pdf_spec.js
  web/draw_layer_builder.css
  web/draw_layer_builder.js
  web/pdfjs.js
Labels: editor

#17287 Re-factor the loading-icons used in the viewer toolbars
  web/images/loading-dark.svg
  web/toolbar.js
  web/viewer.css
  web/viewer.html
Labels: viewer

#17304 [Editor] Add support for saving/printing a newly added Highlight annotation (bug 1865708)
  src/core/annotation.js
  src/shared/util.js
  test/test_manifest.json
  test/unit/annotation_spec.js
Labels: editor

#17294 Move the editor-buttons in the main toolbar
  web/viewer.css
  web/viewer.html
Labels: viewer

#17318 Make sure that only one radio button is checked in its group (bug 1864136)
  src/display/annotation_layer.js
  test/driver.js
  test/integration/scripting_spec.mjs
  test/pdfs/bug1864136.pdf.link
  test/test_manifest.json
Labels: form-acroform

#17330 [Editor] Only focus the canvas for mouse events when drawing in the canvas
  src/display/editor/ink.js
Labels: editor

#17328 Use the `fetchData` helper function in more cases
  src/display/display_utils.js
  src/display/editor/tools.js
  web/l10n_utils.js
Labels: core

#17320 Fix examples/webpack/README.md.
  examples/webpack/README.md
Labels: other

#17331 Remove language codes from text strings.
  src/shared/util.js
  test/unit/util_spec.js
Labels: core

#17334 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/be/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/eo/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/gl/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/is/viewer.ftl
  l10n/it/viewer.ftl
  l10n/kab/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/pl/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/sq/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/th/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
  web/app_options.js
  web/pdf_viewer.js
Labels: dependencies, L10n

#17339 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#17340 Don't throw when there isn't enough data to get block info in flate stream
  src/core/flate_stream.js
  test/pdfs/issue17332.pdf.link
  test/test_manifest.json
Labels: core

#17344 [Editor] Avoid to add a new ink editor when we aren't editing anymore
  src/display/editor/annotation_editor_layer.js
  src/display/editor/tools.js
Labels: editor

#17329 [Editor] Move the alt text button in the editor toolbar
  l10n/en-US/viewer.ftl
  src/display/editor/alt_text.js
  src/display/editor/editor.js
  src/display/editor/toolbar.js
  test/integration/stamp_editor_spec.mjs
  web/annotation_editor_layer_builder.css
Labels: editor

#17338 [Firefox] Remove the `FirefoxCom.requestSync` method
  web/firefoxcom.js
Labels: viewer, firefox-specific

#17351 [Editor] Fix subtype for telemetry data (follow-up of #17329)
  src/display/editor/alt_text.js
Labels: firefox-specific, editor

#17352 [Editor] Fix the colors in HCM when hovering a button in the editor toolbar
  web/annotation_editor_layer_builder.css
Labels: accessibility, editor
