Repository mozilla/pdf.js, pull requests merged in 2023-03, with the labels that each got.

#16100 [api-minor] Move the `canvasFactory` option into `getDocument`
  examples/node/pdf2png/pdf2png.js
  src/display/api.js
  test/unit/api_spec.js
Labels: core

#16062 [api-minor] Generate images in the worker instead of the main thread.
  src/core/document.js
  src/core/evaluator.js
  src/core/image.js
  src/core/jpeg_stream.js
  src/core/jpg.js
  src/core/operator_list.js
  src/display/api.js
  src/display/canvas.js
  src/display/display_utils.js
  src/pdf.js
  src/shared/image_utils.js
  test/unit/api_spec.js
  test/unit/display_svg_spec.js
Labels: core, performance

#16103 [api-minor] Remove calling `getDocument` directly with a `PDFDataRangeTransport`-instance (PR 15943 follow-up)
  src/display/api.js
Labels: core

#16077 Render large images even if they're larger than the canvas limits (bug 1720282)
  src/core/evaluator.js
  src/core/image.js
  src/core/image_resizer.js
  test/pdfs/issue6741.pdf.link
  test/pdfs/issue8076.pdf.link
  test/test_manifest.json
Labels: core

#16110 [Annotation] Don't rotate an annotation when it has the NoRotate flag
  src/core/annotation.js
  src/display/annotation_layer.js
  test/annotation_layer_builder_overrides.css
  test/driver.js
  test/test_manifest.json
  web/annotation_layer_builder.css
Labels: annotations

#16118 Revert "Update `rimraf` to version 4"
  gulpfile.js
  package-lock.json
  package.json
  test/test.js
  test/testutils.js
Labels: other

#16124 Slightly modify the max width of a tracking space
  src/core/evaluator.js
  test/pdfs/issue16119.pdf.link
  test/test_manifest.json
  test/unit/api_spec.js
Labels: text-selection

#16125 [api-minor] Add an option to set the max canvas area
  src/core/evaluator.js
  src/core/image_resizer.js
  src/display/api.js
  web/app.js
  web/firefoxcom.js
Labels: core

#16122 [api-minor] Remove the deprecated `onUnsupportedFeature` functionality (PR 15758 follow-up)
  src/core/document.js
  src/core/evaluator.js
  src/core/pattern.js
  src/display/api.js
  src/display/font_loader.js
  src/pdf.js
  src/shared/util.js
Labels: core

#16128 Support (rare) Type3 fonts with Pattern resources (issue 16127)
  src/core/evaluator.js
  src/display/api.js
  src/display/canvas.js
  test/pdfs/issue16127.pdf.link
  test/test_manifest.json
Labels: font-conversion, font-type3

#16115 Apply transfer filters to any graphic commands
  src/display/canvas.js
  src/display/display_utils.js
  test/pdfs/issue16114.pdf.link
  test/test_manifest.json
Labels: core

#16138 Fix search in pdf a containing some UTF-32 characters (bug 1820909)
  test/pdfs/.gitignore
  test/pdfs/bug1820909.1.pdf
  test/pdfs/bug1820909.pdf.link
  test/test_manifest.json
  test/unit/pdf_find_controller_spec.js
  web/pdf_find_controller.js
Labels: text-selection

#16096 Correct PostScript trigonometric operators
  src/core/function.js
  test/pdfs/.gitignore
  test/pdfs/colorspace_atan.pdf
  test/pdfs/colorspace_cos.pdf
  test/pdfs/colorspace_sin.pdf
  test/test_manifest.json
  test/unit/function_spec.js
Labels: core

#16123 [api-minor] Update the minimum supported Node.js version to 16
  gulpfile.js
  package-lock.json
  package.json
  src/shared/compatibility.js
Labels: other

#16142 Fix the JSDoc `returns`-type for two `PageViewport`-methods (issue 16134)
  src/display/display_utils.js
Labels: other

#16141 Include the document-id in the SVG-filter names (PR 16062 follow-up)
  src/display/api.js
  src/display/display_utils.js
Labels: core

#16108 Slightly delay cleanup, after rendering, in documents with large images
  src/core/image_utils.js
  src/display/api.js
  src/shared/util.js
Labels: core, performance

#16147 Update packages and translations
  l10n/ca/viewer.properties
  l10n/cak/viewer.properties
  l10n/cy/viewer.properties
  l10n/dsb/viewer.properties
  l10n/el/viewer.properties
  l10n/en-CA/viewer.properties
  l10n/eo/viewer.properties
  l10n/fi/viewer.properties
  l10n/hy-AM/viewer.properties
  l10n/ja/viewer.properties
  l10n/kab/viewer.properties
  l10n/tg/viewer.properties
  l10n/th/viewer.properties
  l10n/tr/viewer.properties
  l10n/zh-CN/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#16153 Remove <base> tag from the Firefox built-in viewer (bug 1821408)
  web/app_options.js
  web/viewer-geckoview.html
  web/viewer-snippet-firefox-extension.html
  web/viewer.html
Labels: firefox-specific

#16152 Miscellaneous small TypeScript fixes
  src/display/api.js
  web/pdf_find_controller.js
Labels: other

#16151 [api-minor] Extend general transfer function support to browsers without `OffscreenCanvas`
  src/core/document.js
  src/display/api.js
  src/display/base_factory.js
  src/display/canvas.js
  src/display/display_utils.js
  src/display/node_utils.js
  src/pdf.js
  test/driver.js
  test/test_manifest.json
Labels: core

#16166 Simplify the `applyTransferMapsToCanvas` method (PR 16151 follow-up)
  src/display/canvas.js
Labels: core

#16171 Clean-up the `PDFViewer.{increaseScale, decreaseScale}` methods
  web/pdf_viewer.js
Labels: viewer

#16169 Clean-up the pre-processor statements in `web/viewer.html`
  web/viewer.html
Labels: viewer

#16172 Use `margin-inline` in the `web/pdf_viewer.css` file (PR 14670 follow-up)
  web/pdf_viewer.css
Labels: viewer

#16075 [api-minor] Use a SVG filter when rendering pages in HCM
  src/display/api.js
  src/display/base_factory.js
  src/display/canvas.js
  src/display/display_utils.js
  web/pdf_page_view.js
Labels: core

#16180 Add a helper, in `DOMFilterFactory`, to reduce duplication when creating `<feFuncX>`s
  src/display/api.js
  src/display/display_utils.js
Labels: core

#16181 Only warn about missing `--scale-factor` CSS-variable for visible textLayers (PR 16162 follow-up)
  src/display/text_layer.js
Labels: regression, text-selection

#16175 Fix the `transfer` parameter, for `structuredClone`, in the `LoopbackPort`
  src/display/api.js
  test/unit/api_spec.js
Labels: core

#16188 Use the position of the previous xref stream if any when saving a pdf (bug 1823296)
  src/core/worker.js
  src/core/xref.js
  src/display/api.js
  test/pdfs/bug1823296.pdf.link
  test/test_manifest.json
  test/unit/api_spec.js
Labels: core, annotations

#16186 Support multi-byte ToUnicode entries, when using predefined CMaps (issue 16176)
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue16176.pdf
  test/unit/api_spec.js
Labels: text-selection

#16191 Track previous "XRefStm"s in a `Set`, rather than an `Object`
  src/core/xref.js
Labels: core

#16193 Add even more non-standard ligatures (PR 15517 follow-up)
  src/core/evaluator.js
  test/test_manifest.json
  test/unit/api_spec.js
Labels: text-selection

#16173 Introduce `inset` usage in the CSS files
  test/text_layer_test.css
  web/text_layer_builder.css
  web/viewer-geckoview.css
  web/viewer.css
Labels: viewer

#16182 Introduce `inset-block` usage in the viewer CSS
  web/viewer.css
Labels: viewer

#16196 Use `String.prototype.replaceAll()` where appropriate
  .eslintrc
  extensions/firefox/tools/l10n.js
  external/builder/builder.js
  external/builder/test-fixtures.js
  external/builder/test-fixtures_esprima.js
  external/cmapscompress/parse.js
  external/importL10n/locales.js
  gulpfile.js
  src/core/catalog.js
  src/core/core_utils.js
  src/core/document.js
  src/core/evaluator.js
  src/core/file_spec.js
  src/core/fonts.js
  src/core/fonts_utils.js
  src/core/metadata_parser.js
  src/core/xfa/fonts.js
  src/core/xfa/template.js
  src/core/xfa/xhtml.js
  src/core/xml_parser.js
  src/display/content_disposition.js
  src/scripting_api/aform.js
  src/scripting_api/util.js
  test/unit/ui_utils_spec.js
  test/unit/xml_spec.js
  test/webserver.js
  web/l10n_utils.js
  web/pdf_find_controller.js
  web/pdf_link_service.js
  web/ui_utils.js
Labels: core, viewer

#16198 Reduce some duplication in the `PDFViewer.{increaseScale, decreaseScale}` methods
  web/pdf_viewer.js
Labels: viewer

#16185 Enable the `unicorn/prefer-negative-index` ESLint plugin rule
  .eslintrc
  src/core/core_utils.js
  src/core/type1_parser.js
  src/core/xfa/utils.js
  src/core/xfa/xfa_object.js
Labels: core

#16208 Use `replaceAll` in the `recoverJsURL` helper function
  src/core/core_utils.js
Labels: core

#16207 Enable the `declaration-block-no-redundant-longhand-properties` Stylelint rule
  .stylelintrc
  examples/mobile-viewer/viewer.css
  test/resources/reftest-analyzer.css
  web/debugger.css
Labels: viewer

#16206 Update packages and translations
  l10n/sc/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#16199 Slightly reduce the size of the `FontInspector`-integration in the API
  src/display/api.js
  src/display/font_loader.js
Labels: core

#16211 Fix spelling of `occurred` in a couple of comments
  src/display/editor/annotation_editor_layer.js
  web/pdf_viewer.js
Labels: other

#16212 [GeckoView] Remove unused `transition` CSS-rules
  web/viewer-geckoview.css
Labels: viewer

#16217 ESMify some modules for m-c (bug 1824610)
  extensions/firefox/content/PdfJsDefaultPreferences.sys.mjs
  gulpfile.js
  src/pdf.sandbox.external.js
Labels: firefox-specific

#16218 Simplify the `isPDFFunction` helper function
  src/core/function.js
Labels: core

#16213 Reduce duplication in the `validateCSSFont` helper function
  src/core/core_utils.js
Labels: form-xfa

#16228 [Firefox] Set the `imageResourcesPath` correctly (PR 16153 follow-up)
  web/app_options.js
Labels: viewer, regression, annotations, firefox-specific
