Repository mozilla/pdf.js, pull requests merged in 2023-05, with the labels that each got.

#16380 Apply HCM filters on annotations which have their own canvas (bug 1830850)
  src/display/api.js
  src/display/canvas.js
  test/test_manifest.json
Labels: annotations

#12563 [api-minor] Remove SystemJS usage, in development mode, from the worker
  .eslintrc
  external/systemjs/plugin-babel-cached.js
  package-lock.json
  package.json
  src/core/.eslintrc
  src/core/annotation.js
  src/core/catalog.js
  src/core/chunked_stream.js
  src/core/colorspace.js
  src/core/core_utils.js
  src/core/document.js
  src/core/evaluator.js
  src/core/fonts.js
  src/core/function.js
  src/core/glyphlist.js
  src/core/image_utils.js
  src/core/jpx.js
  src/core/operator_list.js
  src/core/parser.js
  src/core/pattern.js
  src/core/pdf_manager.js
  src/core/primitives.js
  src/core/ps_parser.js
  src/core/unicode.js
  src/core/worker.js
  src/core/xfa/formcalc_parser.js
  src/core/xfa/parser.js
  src/core/xfa/template.js
  src/core/xfa/utils.js
  src/display/annotation_layer.js
  src/display/api.js
  src/display/fetch_stream.js
  src/display/network.js
  src/display/node_stream.js
  src/display/pattern_helper.js
  src/display/text_layer.js
  src/display/transport_stream.js
  src/pdf.js
  src/shared/.eslintrc
  src/shared/fonts_utils.js
  src/shared/message_handler.js
  src/shared/util.js
  src/worker_loader.js
  systemjs.config.js
  test/driver.js
  test/unit/api_spec.js
  test/unit/message_handler_spec.js
  test/unit/util_spec.js
  web/app.js
  web/app_options.js
  web/password_prompt.js
  web/pdf_attachment_viewer.js
  web/pdf_document_properties.js
  web/pdf_find_controller.js
  web/pdf_outline_viewer.js
  web/pdf_scripting_manager.js
  web/pdf_viewer.js
Labels: core, viewer, dependencies

#16381 Remove the unused `isStandardFont` font-property (PR 15880 follow-up)
  src/core/evaluator.js
Labels: font-conversion

#16368 Inline the `addPageIndex` method in `GlobalImageCache.shouldCache`
  src/core/evaluator.js
  src/core/image_utils.js
Labels: core

#16374 Simplify the thumbnail styling in the viewer
  web/pdf_thumbnail_view.js
  web/viewer.css
Labels: viewer

#16379 Simplify the `PDFSidebar.#forceRendering` method
  web/pdf_sidebar.js
Labels: viewer

#16106 Better approximate gradient color stops
  src/core/pattern.js
  test/pdfs/.gitignore
  test/pdfs/issue10572.pdf
  test/pdfs/issue14165.pdf
  test/test_manifest.json
Labels: core, shading-pattern

#16387 [Annotations] Draw readonly annotations on their own canvas and show the HTML elements when there is a JS interaction (issue #16384)
  src/core/annotation.js
  src/display/annotation_layer.js
  test/pdfs/issue16384.pdf.link
  test/test_manifest.json
Labels: annotations

#16391 [GeckoView] Add a button to download and open the file in an external app (bug 1829367)
  l10n/en-US/viewer.properties
  web/app.js
  web/download_manager.js
  web/firefoxcom.js
  web/images/gv-toolbarButton-openinapp.svg
  web/interfaces.js
  web/toolbar-geckoview.js
  web/viewer-geckoview.css
  web/viewer-geckoview.html
  web/viewer-geckoview.js
Labels: viewer, firefox-specific

#16394 Enable the `unicorn/no-invalid-remove-event-listener` ESLint plugin rule
  .eslintrc
Labels: other

#16396 Improve handling of JPEG images with non-standard /Decode-entries (issue 16395)
  src/core/image.js
  test/pdfs/issue16395.pdf.link
  test/test_manifest.json
Labels: image-conversion, image-jpeg

#16399 Bump versions in `pdfjs.config`
  pdfjs.config
Labels: other

#16293 [api-minor] Update the minimum supported Node.js version to 18
  external/.eslintrc
  external/builder/builder.js
  external/builder/preprocessor2.js
  external/cmapscompress/compress.js
  external/cmapscompress/optimize.js
  gulpfile.js
  package-lock.json
  package.json
  src/core/worker.js
  src/shared/compatibility.js
  test/test.js
Labels: other, node-specific

#16398 Introduce some optional chaining in the `src/core/xfa/` folder
  src/core/xfa/bind.js
  src/core/xfa/builder.js
  src/core/xfa/fonts.js
  src/core/xfa/html_utils.js
  src/core/xfa/layout.js
  src/core/xfa/template.js
  src/core/xfa/text.js
  src/core/xfa/xhtml.js
Labels: form-xfa

#16397 Make something similar to Acrobat when Underline annotation has no appearance
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/issue14565.pdf
  test/test_manifest.json
Labels: annotations

#16392 Compress the data when saving annotions
  src/core/annotation.js
  src/core/document.js
  src/core/writer.js
  test/pdfs/.gitignore
  test/pdfs/multiline.pdf
  test/test_manifest.json
  test/unit/annotation_spec.js
  test/unit/writer_spec.js
Labels: core, annotations

#16363 [api-minor] Use a local font or fallback on an embedded one (if it exists) for non-embedded fonts (bug 1766039)
  external/standard_fonts/FoxitSans.pfb
  external/standard_fonts/FoxitSansBold.pfb
  external/standard_fonts/FoxitSansBoldItalic.pfb
  external/standard_fonts/FoxitSansItalic.pfb
  src/core/core_utils.js
  src/core/evaluator.js
  src/core/font_substitutions.js
  src/core/fonts.js
  src/core/standard_fonts.js
  src/display/canvas.js
  src/display/font_loader.js
  web/app_options.js
Labels: font-conversion

#16408 Add a cache to avoid to load several times a local font
  src/core/catalog.js
  src/core/document.js
  src/core/evaluator.js
  src/core/font_substitutions.js
  src/display/font_loader.js
  test/unit/annotation_spec.js
Labels: font-conversion

#16410 Reduce some duplication when toggling "expanded" buttons in the viewer toolbars
  web/pdf_find_bar.js
  web/pdf_sidebar.js
  web/secondary_toolbar.js
  web/ui_utils.js
  web/viewer.html
Labels: viewer

#16401 [api-minor] Update the minimum supported Safari version to 15.4
  gulpfile.js
  package-lock.json
  package.json
  src/shared/compatibility.js
  web/overlay_manager.js
  web/pdf_viewer.js
Labels: other, safari-specific

#16413 Move the sidebar-resizing handling into the `PDFSidebar` class
  gulpfile.js
  test/unit/unit_test.html
  web/app.js
  web/pdf_sidebar.js
  web/pdf_sidebar_resizer.js
  web/stubs-geckoview.js
  web/viewer-geckoview.html
  web/viewer.html
  web/viewer.js
Labels: viewer

#16416 For missing font, use a local font if it exists even if there's no standard substitution
  src/core/evaluator.js
  src/core/font_substitutions.js
  src/core/fonts.js
  src/core/standard_fonts.js
  src/display/font_loader.js
Labels: font-conversion, non-standard-fonts

#16417 Update packages and translations
  l10n/be/viewer.properties
  l10n/cak/viewer.properties
  l10n/cy/viewer.properties
  l10n/da/viewer.properties
  l10n/el/viewer.properties
  l10n/en-GB/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/es-CL/viewer.properties
  l10n/es-MX/viewer.properties
  l10n/fr/viewer.properties
  l10n/fur/viewer.properties
  l10n/gd/viewer.properties
  l10n/gl/viewer.properties
  l10n/he/viewer.properties
  l10n/hsb/viewer.properties
  l10n/hu/viewer.properties
  l10n/ia/viewer.properties
  l10n/it/viewer.properties
  l10n/kab/viewer.properties
  l10n/kk/viewer.properties
  l10n/ko/viewer.properties
  l10n/lo/viewer.properties
  l10n/nl/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/oc/viewer.properties
  l10n/pa-IN/viewer.properties
  l10n/pt-BR/viewer.properties
  l10n/ru/viewer.properties
  l10n/sk/viewer.properties
  l10n/skr/viewer.properties
  l10n/sv-SE/viewer.properties
  l10n/tg/viewer.properties
  l10n/tr/viewer.properties
  l10n/uk/viewer.properties
  l10n/vi/viewer.properties
  l10n/zh-CN/viewer.properties
  l10n/zh-TW/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#16415 Enable the `unicorn/no-useless-promise-resolve-reject` ESLint plugin rule
  .eslintrc
  test/unit/api_spec.js
Labels: other

#16418 Update `jasmine` to version 5
  package-lock.json
  package.json
Labels: test, dependencies

#16421 Add tests for the font substitution
  test/unit/clitests.json
  test/unit/font_substitutions_spec.js
  test/unit/jasmine-boot.js
Labels: test

#16425 [GeckoView] Add a Nimbus experiment for the toolbar (bug 1833093)
  web/app.js
  web/firefoxcom.js
  web/toolbar-geckoview.js
  web/viewer-geckoview.css
  web/viewer-geckoview.html
Labels: viewer, firefox-specific

#16420 Simplify the code to generate font substitution information
  src/core/font_substitutions.js
Labels: font-conversion

#16426 For non-embedded fonts, don't generate the fallback several times
  src/core/fonts.js
Labels: non-standard-fonts

#16430 Update `package-lock.json` to lockfileVersion=3
  package-lock.json
Labels: dependencies

#16434 Attempt to fallback to a default font, for non-available ones, in more cases (issue 16432)
  src/core/evaluator.js
  test/pdfs/issue16432.pdf.link
  test/test_manifest.json
Labels: font-conversion, corrupted-pdf

#16433 For text widgets, get the text from the AP stream instead of from the format callback (bug 1825002)
  src/core/annotation.js
  src/display/annotation_layer.js
  src/scripting_api/event.js
  src/scripting_api/field.js
  test/integration/scripting_spec.js
  test/pdfs/.gitignore
  test/pdfs/bug1825002.pdf
Labels: form-js

#16424 Introduce more optional chaining in the `src/core/` folder
  src/core/annotation.js
  src/core/catalog.js
  src/core/ccitt.js
  src/core/cff_font.js
  src/core/cff_parser.js
  src/core/core_utils.js
  src/core/crypto.js
  src/core/dataset_reader.js
  src/core/decode_stream.js
  src/core/decrypt_stream.js
  src/core/document.js
  src/core/evaluator.js
  src/core/font_renderer.js
  src/core/fonts.js
  src/core/function.js
  src/core/image.js
  src/core/image_utils.js
  src/core/jpg.js
  src/core/operator_list.js
  src/core/parser.js
  src/core/primitives.js
  src/core/struct_tree.js
  src/core/unicode.js
  src/core/xfa/template.js
  src/core/xml_parser.js
  src/core/xref.js
  web/app.js
Labels: core

#16439 Flush the current chunk when the font changed because of a restore op (issue #14755)
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue14755.pdf
  test/unit/api_spec.js
Labels: text-selection

#16440 Introduce even more modern JavaScript features in the code-base
  src/core/ccitt.js
  src/core/colorspace.js
  src/core/document.js
  src/core/fonts.js
  src/core/xfa/formcalc_parser.js
  src/core/xfa/template.js
  src/display/canvas.js
  src/display/display_utils.js
  src/scripting_api/field.js
  web/chromecom.js
Labels: core

#16443 [api-minor] Slightly shorten some `idFactory` strings
  src/core/document.js
  src/core/evaluator.js
  src/core/font_substitutions.js
  src/core/struct_tree.js
  test/unit/api_spec.js
  test/unit/font_substitutions_spec.js
Labels: core

#16446 Extend `getNonStdFontMap` for non-embedded Impact fonts (bug 1365930)
  src/core/standard_fonts.js
  test/pdfs/.gitignore
  test/pdfs/bug1365930.pdf
  test/test_manifest.json
Labels: non-standard-fonts

#16448 Improve performance of canvas::rescaleAndStroke by around 30% (bug 1135277)
  src/display/canvas.js
Labels: performance

#16449 Stop trying to sort the attachments in the sidebar
  web/pdf_attachment_viewer.js
Labels: viewer

#16450 Sanitize the glyph bounding box
  src/core/fonts.js
  test/pdfs/issue15813.pdf.link
  test/pdfs/issue16300.pdf.link
  test/test_manifest.json
Labels: font-wont-sanitize, font-conversion

#16453 [GeckoView] Add some telemetry for the toolbar buttons (bug 1829216)
  web/app.js
  web/toolbar-geckoview.js
Labels: viewer, firefox-specific

#16445 [Editor] Improve curve smoothing for Ink tool (bug 1789443)
  .eslintrc
  gulpfile.js
  package-lock.json
  package.json
  src/display/editor/fit_curve.js
  src/display/editor/ink.js
  test/unit/editor_spec.js
  test/unit/unit_test.html
  web/viewer-geckoview.html
  web/viewer.html
Labels: editor

#16461 Improve "EI" detection in inline images (PR 12028 follow-up, issue 16454)
  src/core/parser.js
  test/pdfs/issue16454.pdf.link
  test/test_manifest.json
Labels: core

#16465 Ignore named encoding for non-embedded symbol fonts (issue 16464)
  src/core/evaluator.js
  test/pdfs/issue16464.pdf.link
  test/test_manifest.json
Labels: font-conversion

#16466 [GeckoView] Remove the `Toolbar`-stub since the viewer has an actual toolbar now
  web/stubs-geckoview.js
Labels: viewer, firefox-specific

#16472 Extract all the text of text annotations
  src/core/document.js
  test/pdfs/issue16471.pdf.link
  test/test_manifest.json
Labels: annotations

#16474 Reset the formatted value when after a text field has been modified
  src/display/annotation_layer.js
  test/integration/annotation_spec.js
  test/pdfs/.gitignore
  test/pdfs/issue16473.pdf
Labels: annotations

#16479 Re-factor the `isPageVisible`-handling in the find-controller (PR 10217 follow-up)
  web/interfaces.js
  web/pdf_find_controller.js
  web/pdf_link_service.js
  web/pdf_viewer.js
Labels: viewer

#16481 Update packages and translations
  l10n/cs/viewer.properties
  l10n/de/viewer.properties
  l10n/dsb/viewer.properties
  l10n/es-ES/viewer.properties
  l10n/fa/viewer.properties
  l10n/fi/viewer.properties
  l10n/fy-NL/viewer.properties
  l10n/gl/viewer.properties
  l10n/gn/viewer.properties
  l10n/is/viewer.properties
  l10n/ja/viewer.properties
  l10n/ka/viewer.properties
  l10n/kab/viewer.properties
  l10n/nb-NO/viewer.properties
  l10n/pt-PT/viewer.properties
  l10n/rm/viewer.properties
  l10n/ru/viewer.properties
  l10n/sc/viewer.properties
  l10n/sl/viewer.properties
  l10n/sr/viewer.properties
  l10n/th/viewer.properties
  l10n/zh-TW/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#16470 Introduce a "thumbnailrendered" event to simplify cleanup after thumbnail rendering (PR 12613 follow-up)
  web/app.js
  web/interfaces.js
  web/pdf_link_service.js
  web/pdf_thumbnail_view.js
  web/pdf_thumbnail_viewer.js
  web/pdf_viewer.js
Labels: viewer

#16483 [OTS] Remove cntrmask instruction with no stem in charstring (bug 1529502)
  src/core/cff_parser.js
  test/pdfs/.gitignore
  test/pdfs/bug1529502.pdf
  test/test_manifest.json
Labels: font-wont-sanitize, font-conversion

#16484 Re-factor updating of thumbnails in the `PDFSidebar`-class
  web/app.js
  web/pdf_sidebar.js
  web/pdf_viewer.js
Labels: viewer

#16487 Bump versions in `pdfjs.config`
  pdfjs.config
Labels: other

#16489 Update Puppeteer to version 20
  package-lock.json
  package.json
  test/test.js
Labels: test, dependencies
