Repository mozilla/pdf.js, pull requests merged in 2023-09, with the labels that each got.

#16895 Update packages and translations
  l10n/el/viewer.properties
  l10n/eu/viewer.properties
  l10n/fi/viewer.properties
  l10n/fur/viewer.properties
  l10n/gn/viewer.properties
  l10n/ja/viewer.properties
  l10n/kab/viewer.properties
  l10n/nb-NO/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/rm/viewer.properties
  l10n/sat/viewer.properties
  l10n/tg/viewer.properties
  l10n/tr/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#16881 A couple of small `InternalRenderTask` changes
  src/display/api.js
Labels: core

#16896 Drop redundant styles from .grab-to-pan-grab:active
  web/viewer.css
Labels: viewer

#16898 Make annotations focusable (bug 1851489)
  src/display/annotation_layer.js
  test/integration/annotation_spec.js
Labels: annotations, accessibility

#16899 Unconditionally render non-form annotations in the annotation layer (bug 1851498)
  src/display/annotation_layer.js
  test/pdfs/.gitignore
  test/pdfs/bug1851498.pdf
  test/test_manifest.json
  web/annotation_layer_builder.css
Labels: annotations

#16902 Support downloading FileAttachment annotations with the keyboard
  src/display/annotation_layer.js
Labels: annotations, accessibility

#16905 Only call the focus/blur callbacks when it's necessary (bug 1851517)
  src/display/annotation_layer.js
  test/integration/scripting_spec.js
Labels: annotations, form-js

#16915 Construct the correct field name and strip out classes when searching
  src/core/annotation.js
  src/core/xml_parser.js
  test/unit/api_spec.js
Labels: annotations

#16916 [Editor] Add the parent tag id (if any) to the serialized editors (bug 1845087)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  test/integration/freetext_editor_spec.js
  web/text_accessibility.js
Labels: accessibility, editor

#16920 Slightly reduce asynchronicity when parsing Annotations
  src/core/annotation.js
  src/core/catalog.js
  src/core/document.js
  src/core/pdf_manager.js
  test/unit/annotation_spec.js
Labels: core, annotations

#16925 Update packages and translations
  gulpfile.mjs
  l10n/en-CA/viewer.properties
  l10n/es-ES/viewer.properties
  l10n/oc/viewer.properties
  l10n/th/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#16932 Enable unit test "creates pdf doc from non-existent URL"
  test/unit/api_spec.js
Labels: test

#16940 [Editor] Only get back the focus when it has been lost after an editor has been moved in the DOM
  src/display/editor/annotation_editor_layer.js
Labels: editor

#16944 [Editor] Move an editor in the DOM just after having moved it on the screen
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
Labels: editor

#16943 [Editor] Change the style of the bounding box and the resizers (bug 1852897)
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  web/annotation_editor_layer_builder.css
Labels: editor

#16950 [Editor] Change the colors of the outline and the resizers for selected editors in HCM
  web/annotation_editor_layer_builder.css
Labels: accessibility, editor

#16951 Make it possible to clear the cache, used by the `getB` function in `src/core/pattern.js`
  src/core/cleanup_helper.js
  src/core/pattern.js
Labels: core

#16954 Remove the remaining closures in the `src/core/colorspace.js` file
  src/core/colorspace.js
Labels: core

#16956 Simplify the `EvaluatorPreprocessor.opMap` getter a little bit
  src/core/evaluator.js
Labels: core

#16957 Use `await` even more in the "SaveDocument" worker-thread handler
  src/core/worker.js
Labels: core

#16958 Update Puppeteer to version 21.2.1
  package-lock.json
  package.json
Labels: test, dependencies

#16959 Remove the closure from the `CipherTransformFactory` class
  src/core/crypto.js
Labels: core

#16961 Remove (some) closures from `web/debugger.js`
  web/debugger.css
  web/debugger.js
Labels: viewer

#16962 Fix integration test "Interaction in bug1844576.pdf must check that a field has the correct formatted value"
  test/integration/scripting_spec.js
Labels: test

#16964 Fix off-by-one errors in the "FreeText must move several annotations" integration test
  test/integration/freetext_editor_spec.js
Labels: test

#16955 [Editor] Add a button to trigger a dialog for adding an alt text (bug 1844952)
  l10n/en-US/viewer.properties
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
  web/annotation_editor_layer_builder.css
  web/annotation_editor_layer_builder.js
  web/images/altText_add.svg
  web/images/altText_done.svg
  web/l10n_utils.js
Labels: editor

#16972 [Editor] Avoid to have some transparency in the icon used in the 'Alt text' button
  web/annotation_editor_layer_builder.css
Labels: editor

#16975 [Editor] Use the same height as in the svg for icons for the alt-text button
  web/annotation_editor_layer_builder.css
Labels: editor

#16952 [Editor] Add a dialog box in order to get alt-text data (bug 1844952)
  l10n/en-US/viewer.properties
  web/annotation_editor_layer_builder.css
  web/viewer.html
Labels: editor

#16980 [Editor] Make the border of the resizers slightly rounded
  web/annotation_editor_layer_builder.css
Labels: editor

#16979 [Editor] Update alt text dialog description
  l10n/en-US/viewer.properties
  web/viewer.html
Labels: editor

#16977 [Editor] Allow the user to add and save an alt-text for images (bug 1844952)
  src/display/editor/editor.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
  web/alt_text_manager.js
  web/annotation_editor_layer_builder.css
  web/app.js
  web/pdf_viewer.js
  web/viewer.js
Labels: accessibility, editor

#16982 [Editor] Remove copy/paste listener when alt text dialog is displayed
  src/display/editor/tools.js
  web/alt_text_manager.js
Labels: editor

#16984 Don't try to close the `altText` dialog if it's not open (PR 16977 follow-up)
  web/alt_text_manager.js
Labels: viewer

#16986 [Editor] Change some strings in the alt-text dialog
  l10n/en-US/viewer.properties
  web/viewer.html
Labels: editor

#16985 [Editor] Change the colors for the disabled Save button in alt text dialoag in HCM
  web/annotation_editor_layer_builder.css
  web/viewer.html
Labels: editor

#16989 Use the new "reporttelemetry" event in more viewer components
  web/app.js
  web/secondary_toolbar.js
  web/toolbar-geckoview.js
Labels: viewer

#16990 [Editor] Add an aria-label to the alt-text button depending on its state
  l10n/en-US/viewer.properties
  src/display/editor/editor.js
  web/l10n_utils.js
Labels: editor

#16988 [Editor] Tweak few values after review from UX
  l10n/en-US/viewer.properties
  src/display/editor/editor.js
  web/alt_text_manager.js
  web/annotation_editor_layer_builder.css
  web/viewer.html
Labels: editor

#16991 Ensure that all "alt_text_*" save-telemetry values are boolean (PR 16987 follow-up)
  web/alt_text_manager.js
Labels: editor

#16996 Enable the Stylelint `declaration-block-no-duplicate-properties` rule (issue 16995)
  .stylelintrc
  web/annotation_editor_layer_builder.css
  web/text_layer_builder.css
Labels: viewer, other

#16993 [GeckoView] Avoid bundling the `AltTextManager` class, since it's unused
  gulpfile.mjs
  test/unit/unit_test.html
  web/app.js
  web/stubs-geckoview.js
  web/viewer-geckoview.html
  web/viewer.html
Labels: viewer, firefox-specific

#16999 [GeckoView] Exclude `annotation_editor_layer_builder.css` in the build (issue 16994)
  external/builder/builder.mjs
  gulpfile.mjs
  web/pdf_viewer.css
Labels: other, firefox-specific

#17003 Restore the `collectFields` parameter in the Annotation code (issue 17000)
  src/core/annotation.js
Labels: regression, printing, annotations

#17004 Prevent wheel/touch zooming in the viewer when a dialog is open
  web/app.js
Labels: viewer

#17002 [Editor] Avoid to darken the current editor when opening the alt-text dialog
  src/pdf.js
  test/unit/pdf_spec.js
  web/alt_text_manager.js
  web/annotation_editor_layer_builder.css
Labels: editor

#17009 [Editor] Make the altText dialog labels part of telemetry (PR 16987 follow-up)
  web/alt_text_manager.js
Labels: editor

#17010 [Editor] Darken the toolbar when the alt-text dialog is opened
  web/alt_text_manager.js
  web/app.js
Labels: editor

#17014 Don't bother trying to unregister the "reporttelemetry" event listener
  web/app.js
Labels: viewer

#17005 [Editor] Tweak the save flow in the alt-text dialog
  src/display/editor/editor.js
  web/alt_text_manager.js
Labels: editor

#17015 [Editor] Let the Save button always enabled in the alt-text dialog
  src/display/editor/editor.js
  web/alt_text_manager.js
  web/viewer.html
Labels: editor

#17012 [Editor] Report telemetry when closing the altText dialog with `Esc` (PR 16987 follow-up)
  web/alt_text_manager.js
Labels: editor

#17016 [Editor] Disable context menu on alt-text button and in the associated dialog
  src/display/editor/editor.js
  web/alt_text_manager.js
Labels: editor

#16967 Fix integration test "FreeText Editor FreeText (edit existing in double clicking on it) must move an annotation"
  test/integration/freetext_editor_spec.js
Labels: test

#16970 Fix integration test "Interaction in issue15053.pdf must check that a button and text field with a border are hidden"
  test/integration/scripting_spec.js
Labels: test

#17017 Use one `noContextMenu` function in both the src/- and web/-folders
  src/display/display_utils.js
  src/display/editor/editor.js
  src/display/editor/ink.js
  src/pdf.js
  test/unit/pdf_spec.js
  web/toolbar.js
  web/ui_utils.js
Labels: core, viewer

#17020 Update packages and translations
  l10n/cs/viewer.properties
  l10n/dsb/viewer.properties
  l10n/en-GB/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/es-CL/viewer.properties
  l10n/eu/viewer.properties
  l10n/gl/viewer.properties
  l10n/gn/viewer.properties
  l10n/he/viewer.properties
  l10n/hsb/viewer.properties
  l10n/hu/viewer.properties
  l10n/ia/viewer.properties
  l10n/is/viewer.properties
  l10n/it/viewer.properties
  l10n/ka/viewer.properties
  l10n/kk/viewer.properties
  l10n/ko/viewer.properties
  l10n/nb-NO/viewer.properties
  l10n/nl/viewer.properties
  l10n/oc/viewer.properties
  l10n/pa-IN/viewer.properties
  l10n/sl/viewer.properties
  l10n/sv-SE/viewer.properties
  l10n/tg/viewer.properties
  l10n/tr/viewer.properties
  l10n/uk/viewer.properties
  l10n/zh-CN/viewer.properties
  l10n/zh-TW/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#17019 [Editor] The ::before containter containing the border of a selected editor mustn't catch mouse events (bug 1854818)
  test/integration/freetext_editor_spec.js
  web/annotation_editor_layer_builder.css
Labels: editor, release-blocker

#17021 Fix integration test "Interaction in autoprint.pdf must check if printing is triggered when the document is open"
  test/integration/scripting_spec.js
Labels: test

#17018 [Editor] Add an integration test for the new alt-text flow
  test/integration/stamp_editor_spec.js
  test/test.mjs
Labels: editor

#17023 [Editor] Add padding to the altText-button to account for different locales
  web/annotation_editor_layer_builder.css
Labels: editor, release-blocker

#17022 Fix integration test "Interaction in issue14307.pdf (1) must check input for US zip format"
  test/integration/scripting_spec.js
Labels: test

#17024 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#17031 [Editor] Slightly postpone the move in the DOM in order to not block the UI (bug 1854991)
  src/display/editor/editor.js
Labels: editor

#17030 [Editor] Remove the class fooEditing from the layer when destroying it
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  web/annotation_editor_layer_builder.css
Labels: editor

#17034 [Editor] Don't try to add data to the struct tree when there is no accessibilityData (bug 1855157)
  src/core/struct_tree.js
  test/unit/api_spec.js
Labels: editor

#17039 [Editor] Disabled the alt-text button when the editor is being resized
  src/display/editor/editor.js
  web/annotation_editor_layer_builder.css
Labels: editor

#17040 [Editor] Remove unused CSS rules for the altText "Save"-button (PR 17015 follow-up)
  web/annotation_editor_layer_builder.css
Labels: editor

#17041 [Editor] Clear the different timeouts when destroying
  src/display/editor/annotation_editor_layer.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
Labels: editor

#17043 StructParents entry isn't required on pages with no tagged contents (bug 1855641)
  src/core/struct_tree.js
  src/core/worker.js
  test/unit/api_spec.js
Labels: accessibility, editor

#17045 [Editor] Disable pointer events in the parent layer while an editor is resized
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  web/annotation_editor_layer_builder.css
Labels: editor

#17035 Remove comments from the *built* CSS files
  gulpfile.mjs
  package-lock.json
  package.json
Labels: other

#17027 Update Puppeteer to the latest version
  package-lock.json
  package.json
Labels: dependencies

#17026 Convert `layerProperties` to an Object (PR 15811 follow-up)
  web/pdf_page_view.js
  web/pdf_viewer.js
Labels: viewer

#17036 [Editor] Remove almost all the waitForTimeout from the freetext integration tests
  test/integration/freetext_editor_spec.js
  test/integration/scripting_spec.js
  test/integration/test_utils.js
Labels: editor

#17048 Remove the timeouts from the inkEditor integration tests
  test/integration/ink_editor_spec.js
Labels: test

#17049 Remove the timeouts from the stampEditor integration tests
  test/integration/stamp_editor_spec.js
Labels: test

#17050 [Editor] Make a deleted (when it was invisible) editor undoable
  src/display/editor/annotation_editor_layer.js
  test/integration/freetext_editor_spec.js
Labels: editor
