Repository mozilla/pdf.js, pull requests merged in 2023-02, with the labels that each got.

#15970 [Editor] Make the annotation editor layer invisible when disabled and empty
  src/display/editor/annotation_editor_layer.js
  web/annotation_editor_layer_builder.js
Labels: editor

#15992 Remove the loading icon div and replace it by a pure css solution using :after.
  l10n/en-US/viewer.properties
  web/l10n_utils.js
  web/pdf_page_view.js
  web/pdf_viewer.css
Labels: viewer

#15996 Limit the `singlePageView` CSS rules to only the COMPONENTS build
  web/pdf_viewer.css
Labels: viewer

#15997 Remove the `loadingIcon` in all cases when resetting the page (PR 15992 follow-up)
  web/pdf_page_view.js
Labels: viewer

#15999 [GeckoView] Remove unused `@media` CSS rules
  web/viewer-geckoview.css
Labels: viewer

#15991 Remove a couple of manual loops in the `PDFViewerApplication.open` method
  web/app.js
Labels: viewer

#16001 [GeckoView] Don't initalize the cursor-tools, since they're unused
  web/app.js
  web/viewer-geckoview.css
Labels: viewer

#16005 Remove the `isEmptyObj` unit-test helper function
  src/core/metadata_parser.js
  test/unit/metadata_spec.js
  test/unit/test_utils.js
Labels: core, test

#16003 Move the `--scale-select-width` CSS variable to the relevant DOM element
  web/toolbar.js
  web/viewer.css
Labels: viewer

#15981 [api-minor] Let the `cMapPacked` parameter, in `getDocument`, default to `true`
  src/display/api.js
  src/display/base_factory.js
  test/driver.js
  test/unit/annotation_spec.js
  test/unit/cmap_spec.js
  test/unit/pdf_find_controller_spec.js
  test/unit/test_utils.js
Labels: core

#15968 [api-minor] Update the minimum supported browsers, and remove the PostCSS `logical` plugin
  gulpfile.js
  package-lock.json
  package.json
  web/viewer.css
Labels: viewer, other

#15987 Remove unused parameters from the `onOpenWithTransport` method in `PDFViewerApplication.initPassiveLoading`
  src/display/api.js
  web/app.js
  web/firefoxcom.js
Labels: core, viewer

#16004 Improve how we cache Promises in `WorkerTransport`
  src/display/api.js
Labels: core

#16006 Miscellaneous small viewer improvements
  web/app.js
Labels: viewer

#16007 Re-factor the parameter parsing/validation in `getDocument`
  src/display/api.js
  web/app.js
Labels: core

#16016 [GeckoView] Avoid unused outline, attachments, and layers fetching
  web/app.js
Labels: viewer

#16009 [GeckoView] Reduce the size of the *built* viewer
  .eslintrc
  gulpfile.js
  test/unit/unit_test.html
  web/app.js
  web/pdf_cursor_tools.js
  web/secondary_toolbar.js
  web/stubs-geckoview.js
  web/ui_utils.js
  web/viewer-geckoview.html
  web/viewer.html
Labels: viewer

#16020 [Annotation] Avoid to encrypt the appearance stream two times (bug 1815476)
  src/core/annotation.js
  src/core/writer.js
  test/pdfs/.gitignore
  test/pdfs/bug1815476.pdf
  test/test_manifest.json
  test/unit/annotation_spec.js
Labels: regression, annotations

#16018 [GeckoView] Skip fetching/parsing of pageLabels
  web/app.js
  web/pdf_scripting_manager.js
  web/viewer-geckoview.js
Labels: viewer

#16019 Remove most build-time `require` statements from the viewer (PR 16009 follow-up)
  gulpfile.js
  test/unit/unit_test.html
  web/pdf_page_view.js
  web/viewer-geckoview.html
  web/viewer-geckoview.js
  web/viewer.html
  web/viewer.js
Labels: viewer

#16025 Avoid a useless animation when the spinner is invisible
  web/pdf_viewer.css
Labels: viewer

#16017 Hide the struct tree layer during zooming
  web/pdf_page_view.js
  web/pdf_viewer.css
  web/struct_tree_layer_builder.js
Labels: viewer

#16030 Change the `LoopbackPort` class to use a Set internally
  src/display/api.js
Labels: core

#16031 [Annotation] For choice widget, use the I entry instead of the V one (bug 1770750)
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/bug1770750.pdf
  test/test_manifest.json
Labels: annotations

#16033 Ignore position of combining diacritics when getting text (bug 1640217)
  src/core/evaluator.js
  test/unit/pdf_find_controller_spec.js
Labels: text-selection

#16032 Reduce usage of the `arrayByteLength` helper function
  src/core/chunked_stream.js
  src/core/worker.js
  src/shared/util.js
Labels: core

#16035 [Annotation] A combo can have a value other than one in the options
  src/core/annotation.js
Labels: annotations

#16042 Ensure that "GetAnnotations" errors are propagated to the main-thread (PR 15267 follow-up)
  src/core/worker.js
Labels: core, regression, annotations

#16048 Update Stylelint to version 15
  .stylelintrc
  package-lock.json
  package.json
Labels: dependencies

#16047 Improve the consistency between the `LocalPdfManager`/`NetworkPdfManager` constructor
  src/core/pdf_manager.js
  src/core/worker.js
Labels: core

#16045 Slightly re-factor preferences/options initialization in the viewer
  web/app.js
  web/app_options.js
Labels: viewer

#16028 Move `rewriteUrlClosure` into the `web/chromecom.js` file
  web/chromecom.js
  web/viewer.js
Labels: viewer

#16013 Remove inline opening of PDF attachments in the COMPONENTS build
  web/download_manager.js
Labels: viewer

#16040 Re-factor the `arraysToBytes` helper function (PR 16032 follow-up)
  src/core/chunked_stream.js
  src/core/core_utils.js
  src/core/worker.js
  src/shared/util.js
  test/unit/core_utils_spec.js
Labels: core

#16051 Remove the unused `eventBus` option in `PDFThumbnailViewer` (PR 15215 follow-up)
  web/app.js
  web/pdf_thumbnail_viewer.js
Labels: viewer

#16053 Reduce duplication for reference tests with an `annotationStorage` entry
  src/display/annotation_storage.js
  test/driver.js
Labels: test

#16065 Don't replace an eol by a whitespace when the last char is a Katakana-Hiragana diacritic
  test/pdfs/.gitignore
  test/pdfs/issue16063.pdf
  test/unit/pdf_find_controller_spec.js
  web/pdf_find_controller.js
Labels: text-selection

#16054 A little clean-up of the `getDocument` call in `test/driver.js`
  test/driver.js
Labels: test

#16055 [api-minor] Deprecate providing binary data as `Buffer` in Node.js environments
  src/display/api.js
Labels: core

#16056 Don't try to place the `xfaLayer` "on top" in regular PDF documents
  web/pdf_page_view.js
Labels: viewer

#16080 [a11y] Improve the visibility of link annotations in HCM
  web/annotation_layer_builder.css
Labels: accessibility

#16086 Use `OffscreenCanvas` as intended for all code-paths in `src/display/text_layer.js` (PR 15722 follow-up)
  src/display/text_layer.js
Labels: text-selection

#16093 Bump versions in `pdfjs.config`
  pdfjs.config
Labels: other

#16095 Check `OffscreenCanvas` support once on the worker-thread
  src/core/annotation.js
  src/core/evaluator.js
  src/core/image.js
  src/core/pdf_manager.js
Labels: core
