Repository mozilla/pdf.js, pull requests merged in 2023-12, with the labels that each got.

#17360 Remove the "transitionend" event listener from the default viewer (issue 17347)
  test/unit/annotation_spec.js
  web/app.js
  web/pdf_sidebar.js
Labels: viewer, test

#17363 [Firefox] Restore opening of PDF attachments (issue 17353, bug 1867764)
  web/firefoxcom.js
  web/pdf_link_service.js
Labels: viewer, regression, firefox-specific

#17364 [Editor] Disable mouse events when leaving the highlight mode
  src/display/editor/highlight.js
  web/annotation_editor_layer_builder.css
Labels: editor

#17337 fuzz: initial integration
  package-lock.json
  package.json
  test/fuzz/.eslintrc
  test/fuzz/README.md
  test/fuzz/jbig2_image.fuzz.js
  test/fuzz/jpeg_image.fuzz.js
  test/fuzz/jpx_image.fuzz.js
Labels: test

#17370 [Editor] Make sure that all layers are disabled when an editing session is done
  src/display/editor/annotation_editor_layer.js
  test/integration/ink_editor_spec.mjs
Labels: editor

#17375 [Editor] Always give the focus to the ink editor when starting drawing (bug 1867588)
  src/display/editor/ink.js
  test/integration/ink_editor_spec.mjs
Labels: editor

#17374 [Editor] Avoid conflicts between new persistent refs and the ones created when saving (bug 1865341)
  src/core/font_substitutions.js
  src/core/xref.js
  test/driver.js
  test/pdfs/.gitignore
  test/pdfs/bug1865341.pdf
  test/test_manifest.json
Labels: core, editor

#17377 Remove the unused `--editor-toolbar-active-bg-color` CSS variable (PR 17352 follow-up)
  web/annotation_editor_layer_builder.css
Labels: viewer, editor

#17380 [Editor] Don't remove elements from the draw layer after it has been destroyed
  src/display/draw_layer.js
  test/integration-boot.mjs
  test/integration/highlight_editor_spec.mjs
  web/app_options.js
Labels: editor

#17381 [Editor] Highlight must keep selected after the document has been scrolled
  src/display/editor/highlight.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#17385 Set text field value as a string when it's for a date or a time (bug 1868503)
  src/scripting_api/common.js
  src/scripting_api/field.js
  test/unit/scripting_spec.js
Labels: form-js

#17359 [Editor] Add a color picker with predefined colors for highlighting text (bug 1866434)
  extensions/chromium/preferences_schema.json
  gulpfile.mjs
  l10n/en-US/viewer.ftl
  src/display/editor/color_picker.js
  src/display/editor/editor.js
  src/display/editor/highlight.js
  src/display/editor/toolbar.js
  src/display/editor/tools.js
  src/pdf.js
  src/shared/util.js
  test/unit/pdf_spec.js
  web/annotation_editor_layer_builder.css
  web/annotation_editor_params.js
  web/app.js
  web/app_options.js
  web/draw_layer_builder.css
  web/pdf_viewer.js
  web/pdfjs.js
  web/toolbar.js
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: editor

#17386 Remove focus from the toggleButton when closing the sidebar with a mouse (issue 17361)
  web/pdf_sidebar.js
Labels: viewer

#17172 Switch Puppeteer tests from CDP to WebDriver BiDi
  test/test.mjs
Labels: test

#17391 Collect a few non-MOZCENTRAL `AppOptions` default values together
  web/app_options.js
Labels: viewer

#17395 Support Annotations with corrupt /BS-entries
  src/core/annotation.js
  test/pdfs/pypdf2332.pdf.link
  test/test_manifest.json
  test/unit/annotation_spec.js
  test/unit/test_utils.js
Labels: annotations

#17397 Re-factor how the `sandboxBundleSrc` option is passed to `PDFScriptingManager`
  web/app.js
  web/chromecom.js
  web/firefoxcom.js
  web/genericcom.js
  web/pdf_scripting_manager.component.js
  web/pdf_scripting_manager.js
Labels: viewer

#17398 Don't run beforeunload callback when closing page in integration tests
  test/integration/test_utils.mjs
Labels: test

#17400 Set a print listener as soon as possible in the autoprint integration test
  test/integration/scripting_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#17415 Adds missing button closing tag
  web/viewer.html
Labels: viewer

#17414 [Editor] Add some missing strings to localize for highlighting
  l10n/en-US/viewer.ftl
  web/viewer.html
Labels: editor

#17431 Modernize the code in the `test/downloadutils.mjs` file
  test/downloadutils.mjs
  test/test.mjs
Labels: test

#17429 Center radio button checkmark
  web/annotation_layer_builder.css
Labels: viewer, form-acroform

#17441 Toggle the visibility of the `outlineOptionsContainer`, in the sidebar, using only CSS
  web/pdf_sidebar.js
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: viewer

#17428 Attempt to further reduce re-parsing for globally cached images (PR 11912, 16108 follow-up)
  src/core/evaluator.js
  src/display/api.js
  test/unit/api_spec.js
Labels: performance, image-conversion

#17464 Remove the internal "toolbarreset"/"secondarytoolbarreset" events and slightly re-factor the code
  web/secondary_toolbar.js
  web/toolbar.js
Labels: viewer

#17474 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other
