Repository mozilla/pdf.js, pull requests merged in 2023-07, with the labels that each got.

#16607 Improve lint-chromium to output actionable information
  gulpfile.js
Labels: chrome-specific

#16601 Revert "Temporarily stop listing the official Chrome extension in the main README"
  README.md
  gulpfile.js
Labels: addon, chrome-specific

#16626 [api-minor] Remove the `CSS.supports` checks for the `pageColors`-option in the GENERIC viewer
  web/pdf_thumbnail_viewer.js
  web/pdf_viewer.js
Labels: viewer

#16627 [api-minor] Stop "supporting" binary data provided as `Buffer` in Node.js environments (PR 16055 follow-up)
  src/display/api.js
Labels: node-specific

#16616 A couple of small tweaks of the `PDFCursorTools` class
  web/grab_to_pan.js
  web/pdf_cursor_tools.js
Labels: viewer

#16612 Fix reading property of null object in chrome extension's updateEmbedElement function
  extensions/chromium/contentscript.js
Labels: addon, chrome-specific

#16628 Inline the `webViewerInitialized` function in `PDFViewerApplication.run`
  web/app.js
Labels: viewer

#16629 Bump versions in `pdfjs.config`
  pdfjs.config
Labels: other

#16635 Tweak the README slightly
  README.md
Labels: other

#16637 [Editor] Fix dimensions of a rotated FreeText after a dimensions change
  src/display/editor/freetext.js
  test/integration/freetext_editor_spec.js
Labels: editor

#16641 [Editor] Move the 'keep aspect ratio' stuff to the AnnotationEditor level
  src/display/editor/editor.js
  src/display/editor/ink.js
Labels: editor

#16645 [Editor] Use css aspect-ratio property to keep the aspect ratio during resize
  src/display/editor/editor.js
  src/display/editor/ink.js
Labels: editor

#16646 Fix typos when handling CMYK colors in `src/core/default_appearance.js`
  src/core/default_appearance.js
Labels: annotations

#16585 [Editor] Add a basic stamp editor (bug 1790255)
  extensions/chromium/preferences_schema.json
  src/display/annotation_layer.js
  src/display/annotation_storage.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
  src/shared/util.js
  web/annotation_editor_layer_builder.css
  web/app.js
  web/app_options.js
  web/images/toolbarButton-editorStamp.svg
  web/pdf_viewer.js
  web/toolbar.js
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: editor

#16649 [Editor] Add l10n-strings for the Stamp-editor (PR 16585 follow-up)
  l10n/en-US/viewer.properties
Labels: viewer, editor

#16648 Improve `parseAppearanceStream` to handle more "complex" ColorSpaces
  src/core/annotation.js
  src/core/default_appearance.js
  test/unit/annotation_spec.js
  test/unit/default_appearance_spec.js
Labels: annotations, editor

#16652 [Editor] Avoid to throw when deleting some invisible editors
  src/display/editor/editor.js
  src/display/editor/freetext.js
  test/integration/freetext_editor_spec.js
Labels: editor

#16661 Don't try to hide an already invisible PopupAnnotation (issue 16660)
  src/display/annotation_layer.js
Labels: annotations

#16659 [Editor] Edit an existing FreeText annotation in double-clicking on it (bug 1787298)
  src/display/annotation_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.js
  web/app.js
  web/pdf_presentation_mode.js
  web/pdf_viewer.js
Labels: editor

#16658 Add unit-tests to check that more PDF.js APIs expose the expected functionality
  gulpfile.js
  src/pdf.image_decoders.js
  test/unit/clitests.json
  test/unit/jasmine-boot.js
  test/unit/pdf.image_decoders_spec.js
  test/unit/pdf.worker_spec.js
Labels: test

#16631 [CRX] Drop code supporting ancient Chrome versions
  extensions/chromium/contentscript.js
  extensions/chromium/contentstyle.css
  extensions/chromium/pdfHandler.js
  extensions/chromium/preserve-referer.js
  extensions/chromium/telemetry.js
Labels: chrome-specific

#16630 Correct recognition of fragments at document load
  extensions/chromium/pdfHandler.js
  web/chromecom.js
Labels: addon, chrome-specific

#16664 [ESM] Convert `parseMinified` to use `import()` syntax
  gulpfile.js
Labels: other

#16665 [ESM] Convert *most* of `test`-folder to use standard modules
  gulpfile.js
  test/add_test.mjs
  test/downloadutils.mjs
  test/font/ttxdriver.mjs
  test/integration-boot.mjs
  test/test.mjs
  test/testutils.mjs
  test/webserver.mjs
Labels: test

#16666 [ESM] Convert the "wintersmith"-task to use `import()` syntax
  gulpfile.js
Labels: other

#16667 [ESM] Convert the "cmaps"-task to use `import()` syntax
  external/cmapscompress/compress.mjs
  external/cmapscompress/optimize.mjs
  external/cmapscompress/parse.mjs
  gulpfile.js
Labels: other

#16671 [ESM] Convert the "default preferences"-handling to use `import()` syntax
  gulpfile.js
Labels: other

#16668 [ESM] Convert the `gulpfile` to use standard modules
  gulpfile.mjs
Labels: other

#16669 [ESM] Convert the `external/builder/`-folder to use standard modules
  external/builder/builder.mjs
  external/builder/preprocessor2.mjs
  external/builder/test-fixtures.mjs
  external/builder/test-fixtures_esprima.mjs
  external/webpack/pdfjsdev-loader.mjs
  gulpfile.mjs
Labels: other

#16642 [Editor] Try to make the position of an edited FreeText the more accurated as possible
  package-lock.json
  package.json
  src/core/annotation.js
  src/display/annotation_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  test/integration/freetext_editor_spec.js
  test/integration/test_utils.js
  test/pdfs/.gitignore
  test/pdfs/issue16633.pdf
  test/pdfs/rotated_freetexts.pdf
Labels: editor

#16675 Re-enable editing, if necessary, when exiting PresentationMode (PR 16659 follow-up)
  web/pdf_presentation_mode.js
Labels: viewer, regression

#16678 Tweak the `writeStream` implementation slightly
  src/core/writer.js
Labels: core

#16683 Access the `isOffscreenCanvasSupported` option *once* in `PDFViewerApplication._initializeViewerComponents`
  web/app.js
  web/viewer.html
Labels: viewer

#16686 [Editor] Always use the data url when loading a SVG in order to avoid CSP issue (bug 1843255)
  src/display/editor/tools.js
Labels: editor

#16693 Update packages and translations
  l10n/it/viewer.properties
  package-lock.json
  package.json
  src/core/standard_fonts.js
  test/integration/freetext_editor_spec.js
  test/unit/api_spec.js
  web/viewer.css
Labels: dependencies

#16695 Ensure that a test-suite that runs no tests is treated as a failure
  test/test.mjs
Labels: test

#16697 Enable more ESLint `unicorn` plugin rules
  .eslintrc
  package-lock.json
  package.json
  src/core/function.js
Labels: other

#16687 Re-factor the `PDFScriptingManager`-class for the viewer-components
  gulpfile.mjs
  test/unit/pdf_viewer.component_spec.js
  web/pdf_scripting_manager.component.js
  web/pdf_scripting_manager.js
  web/pdf_viewer.component.js
  web/pdfjs.js
Labels: other

#16701 [GeckoView] Fix l10n of the download toolbar-button (PR 16340 follow-up)
  web/viewer-geckoview.html
Labels: viewer, regression, firefox-specific

#16689 [Editor] Avoid to have some part of an editor outside its page (bug 1843303)
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  test/integration/stamp_editor_spec.js
  test/integration/test_utils.js
  web/annotation_editor_layer_builder.css
Labels: editor

#16702 [Editor] Use 2 decimals for editor positions and dimensions
  src/display/editor/editor.js
Labels: editor

#16703 [api-minor] Let Babel handle the necessary `core-js` polyfills automatically
  gulpfile.mjs
  src/core/worker.js
  src/display/api.js
  src/display/canvas.js
  src/display/font_loader.js
  src/display/node_utils.js
  src/display/svg.js
  src/shared/compatibility.js
  src/shared/is_node.js
  src/shared/util.js
  test/unit/api_spec.js
  test/unit/clitests_helper.js
  test/unit/display_svg_spec.js
  test/unit/display_utils_spec.js
  test/unit/event_utils_spec.js
  test/unit/jasmine-boot.js
  test/unit/node_stream_spec.js
  test/unit/pdf_find_controller_spec.js
  test/unit/test_utils.js
  test/unit/text_layer_spec.js
  test/unit/xfa_tohtml_spec.js
Labels: core

#16698 Remove most build-time `require`-calls from the `src/display/`-folder
  .eslintrc
  gulpfile.mjs
  src/display/annotation_layer.js
  src/display/api.js
  src/display/node_stream.js
  src/display/stubs.js
  src/pdf.js
  test/unit/pdf_spec.js
  test/unit/unit_test.html
  web/viewer-geckoview.html
  web/viewer.html
Labels: core

#16706 [Editor] Don't forget to generate non-missing images when printing (bug 1844036)
  src/core/document.js
  test/driver.js
  test/test_manifest.json
Labels: annotations

#16709 [Editor] Bind redo action on meta+shift+z on mac (bug 1844293)
  src/display/editor/tools.js
Labels: editor

#16713 Draw correctly background images in ref tests
  test/driver.js
Labels: test

#16492 [Annotation] Use the clip-path property when an annotation has some quad points
  src/display/annotation_layer.js
  test/annotation_layer_builder_overrides.css
  test/driver.js
  web/annotation_layer_builder.css
Labels: annotations

#16717 Don't reset temporary XRef-entries during saving (PR 16392 follow-up)
  src/core/worker.js
Labels: core, regression

#16719 [Editor] Allow to delete an editor in using the Delete key (aka fn+backspace) (bug 1844625)
  src/display/editor/tools.js
Labels: editor

#16720 Text annotations must use their own canvas when their appearance is generated (bug 1844576)
  src/core/annotation.js
  test/integration/scripting_spec.js
  test/pdfs/.gitignore
  test/pdfs/bug1844576.pdf
Labels: annotations

#16721 Don't get the text content for an annotation when /NeedAppearances is true (bug 1844583)
  src/core/annotation.js
  test/integration/annotation_spec.js
  test/pdfs/.gitignore
  test/pdfs/bug1844583.pdf
Labels: annotations

#16722 Don't uselessly change the filter when drawing (bug 1508765)
  src/display/canvas.js
Labels: performance

#16714 XFA - Set storage values to select and option elements
  src/display/xfa_layer.js
Labels: form-xfa

#16715 Enable the `no-lonely-if` ESLint rule
  .eslintrc
  external/builder/builder.mjs
  external/importL10n/locales.mjs
  src/core/annotation.js
  src/core/bidi.js
  src/core/chunked_stream.js
  src/core/colorspace.js
  src/core/font_renderer.js
  src/core/glyf.js
  src/core/xfa/template.js
  src/display/svg.js
  src/scripting_api/field.js
  web/pdf_find_controller.js
  web/pdf_link_service.js
  web/preferences.js
Labels: other

#16724 Enable the ESLint `no-var rule` in the `extensions/firefox/` folder
  extensions/firefox/.eslintrc
  extensions/firefox/tools/l10n.js
Labels: firefox-specific

#16725 Update Stylelint to the latest version
  gulpfile.mjs
  package-lock.json
  package.json
Labels: dependencies

#16728 Update packages and translations
  l10n/be/viewer.properties
  l10n/ca/viewer.properties
  l10n/cs/viewer.properties
  l10n/cy/viewer.properties
  l10n/de/viewer.properties
  l10n/dsb/viewer.properties
  l10n/el/viewer.properties
  l10n/en-GB/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/es-CL/viewer.properties
  l10n/fr/viewer.properties
  l10n/fur/viewer.properties
  l10n/fy-NL/viewer.properties
  l10n/gl/viewer.properties
  l10n/gn/viewer.properties
  l10n/he/viewer.properties
  l10n/hsb/viewer.properties
  l10n/is/viewer.properties
  l10n/it/viewer.properties
  l10n/kk/viewer.properties
  l10n/ko/viewer.properties
  l10n/nb-NO/viewer.properties
  l10n/nl/viewer.properties
  l10n/pt-BR/viewer.properties
  l10n/pt-PT/viewer.properties
  l10n/ru/viewer.properties
  l10n/sat/viewer.properties
  l10n/si/viewer.properties
  l10n/sl/viewer.properties
  l10n/sv-SE/viewer.properties
  l10n/tg/viewer.properties
  l10n/tr/viewer.properties
  l10n/zh-CN/viewer.properties
  l10n/zh-TW/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#16729 Remove the `useOnlyCssZoom` preference
  extensions/chromium/preferences_schema.json
  web/app_options.js
Labels: viewer

#16730 Remove the `vinyl-fs` dependency
  gulpfile.mjs
  package-lock.json
  package.json
Labels: dependencies

#16726 [GeckoView] Fix string for download button
  l10n/en-US/viewer.properties
  web/viewer-geckoview.html
Labels: viewer

#16718 Don't replace Acroform dictionary if nothing has changed when saving (bug 1844572)
  src/core/worker.js
  src/core/writer.js
  src/core/xref.js
  test/pdfs/bug1844572.pdf.link
  test/test_manifest.json
Labels: form-acroform, editor

#16733 [api-minor] Attempt to prevent Node.js-specific polyfill errors from completely breaking the library
  src/display/node_utils.js
Labels: node-specific

#16736 [Editor] Avoid spurious text selection when double clicking to add a FreeText
  web/annotation_editor_layer_builder.css
Labels: editor

#16735 Fix copying of the reduced Planck constant
  src/core/glyphlist.js
  test/pdfs/reduced_planck_constant.pdf.link
  test/test_manifest.json
Labels: text-selection

#16732 [Editor] Add some resizers all around an editor (bug 1843302)
  src/display/editor/editor.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
  src/shared/util.js
  web/annotation_editor_layer_builder.css
Labels: editor

#16738 Re-factor how the `debugger` accesses API-functionality
  web/app.js
  web/debugger.js
Labels: viewer

#16740 [Editor] Set keyboard events on window instead of the main container
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.js
Labels: editor

#16741 [Editor] Avoid to trigger an editor creation when pinching on a touchscreen
  src/display/editor/annotation_editor_layer.js
Labels: editor

#16748 Improve rendering of buttons in the toolbar in HCM (bug 1845515)
  web/viewer.css
Labels: viewer, accessibility

#16746 [Editor] Make editors movable in using the keyboard (bug 1845088)
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
  src/shared/util.js
  test/integration/freetext_editor_spec.js
  test/integration/test_utils.js
Labels: editor

#16749 [Editor] Use the same keyboard shortcut as in Preview to move an editor on mac
  src/display/editor/tools.js
Labels: editor

#16753 Enable the `unicorn/prefer-ternary` ESLint plugin rule
  .eslintrc
  src/core/annotation.js
  src/core/ccitt.js
  src/core/cff_parser.js
  src/core/colorspace.js
  src/core/crypto.js
  src/core/document.js
  src/core/evaluator.js
  src/core/fonts.js
  src/core/fonts_utils.js
  src/core/function.js
  src/core/jpg.js
  src/core/jpx.js
  src/core/operator_list.js
  src/core/pattern.js
  src/core/predictor_stream.js
  src/core/writer.js
  src/core/xfa/bind.js
  src/core/xfa/html_utils.js
  src/core/xfa/som.js
  src/core/xfa/template.js
  src/core/xfa/xfa_object.js
  src/core/xfa/xhtml.js
  src/core/xfa_fonts.js
  src/core/xref.js
  src/display/canvas.js
  src/display/pattern_helper.js
  src/display/svg.js
  src/display/xfa_layer.js
  src/scripting_api/aform.js
  src/scripting_api/doc.js
  src/scripting_api/util.js
Labels: other

#16750 [Editor] Add the possibility to move an empty freetext editor with the keyboard (bug 1845088)
  src/display/editor/freetext.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.js
Labels: editor

#16755 [Editor] Reduce a bit of duplication on `_keyboardManager` initialization
  src/display/editor/freetext.js
  src/display/editor/tools.js
Labels: editor

#16756 [Editor] Blur unselected editors
  src/display/editor/editor.js
  test/integration/freetext_editor_spec.js
Labels: editor

#16758 Tweak the `useWorkerFetch` default value checks (PR 15879 follow-up)
  src/display/api.js
Labels: core

#16760 Avoid eagerly matching "trailer"-strings when searching for incomplete objects in `XRef.indexObjects` (issue 16759, PR 15854 follow-up, bug 1845762)
  src/core/xref.js
  test/pdfs/issue16759.pdf.link
  test/test_manifest.json
Labels: core, corrupted-pdf

#16762 [Editor] When an editor is unselected give the focus to the current page
  src/display/editor/editor.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.js
  test/integration/test_utils.js
Labels: editor

#16163 [GeckoView] Bundle the Firefox printing code in the viewer (bug 1810111)
  gulpfile.mjs
  web/pdf_print_service.js
  web/viewer-geckoview.css
  web/viewer-geckoview.html
  web/viewer-geckoview.js
Labels: viewer, firefox-specific

#16744 A few small `web/app.js` simplifications
  web/app.js
Labels: viewer

#16765 Add an `eq` test for bug 858128
  test/pdfs/bug858128.pdf.link
  test/test_manifest.json
Labels: test

#16731 [api-minor] Replace the `useOnlyCssZoom` option with `maxCanvasPixels = 0` instead (PR 16729 follow-up)
  examples/mobile-viewer/viewer.js
  web/app.js
  web/app_options.js
  web/pdf_page_view.js
  web/pdf_viewer.js
Labels: viewer

#16768 Ensure that failing to open the password dialog once won't permanently disable it (PR 15335 follow-up)
  src/display/api.js
  web/password_prompt.js
Labels: viewer

#16769 Bump versions in `pdfjs.config`
  pdfjs.config
Labels: other

#16767 Add the color changes in the annotation storage
  src/display/annotation_layer.js
  src/shared/scripting_utils.js
  test/integration/scripting_spec.js
  test/integration/test_utils.js
Labels: form-js

#16770 Fix typo in the `baseVersion` commit hash (PR 16769 follow-up)
  pdfjs.config
Labels: other, regression

#16766 Make sure WillPrint ran before starting printing
  src/scripting_api/app_utils.js
  src/scripting_api/doc.js
  src/scripting_api/initialization.js
  web/pdf_scripting_manager.js
Labels: form-js

#16771 [GeckoView] Add missing CSS variables for the dialog functionality
  web/app.js
  web/viewer-geckoview.css
Labels: viewer

#16773 [Editor] Limit image types to the ones supported by the browser (bug 1846230)
  src/display/editor/stamp.js
Labels: editor

#16029 [api-minor] Don't print hidden annotations (bug 1815196)
  src/core/annotation.js
  src/core/document.js
  src/display/annotation_layer.js
  test/integration/scripting_spec.js
  test/pdfs/.gitignore
  test/pdfs/annotation_hidden_noview.pdf
  test/pdfs/annotation_hidden_print.pdf
  test/pdfs/widget_hidden_print.pdf
  test/test_manifest.json
Labels: annotations
