Repository mozilla/pdf.js, pull requests merged in 2023-08, with the labels that each got.

#16776 [GeckoView] Allow to query pdf.js to know if we can avoid to print a pdf (bug 1846296)
  src/display/api.js
  src/display/optional_content_config.js
  web/firefoxcom.js
Labels: firefox-specific

#16779 [api-minor] Deprecate the `PDFDocumentProxy.getJavaScript` method
  src/core/catalog.js
  src/core/worker.js
  src/display/api.js
  test/unit/api_spec.js
  web/app.js
Labels: core, viewer

#16784 [Editor] Use a getter and not a function for the _checkIfSVGFitsInCanvas (bug 1846727)
  src/display/editor/tools.js
Labels: editor

#16786 [Editor] Stop the resize session when the window is blurred
  src/display/editor/editor.js
Labels: editor

#16781 [Editor] Refactor dragging and dropping an editor (bug 1802895, bug 1844618)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.js
  test/integration/test_utils.js
  web/annotation_editor_layer_builder.css
  web/pdf_viewer.css
  web/pdf_viewer.js
Labels: editor

#16795 Update packages and translations
  gulpfile.mjs
  l10n/ach/viewer.properties
  l10n/be/viewer.properties
  l10n/cs/viewer.properties
  l10n/cy/viewer.properties
  l10n/de/viewer.properties
  l10n/dsb/viewer.properties
  l10n/el/viewer.properties
  l10n/en-GB/viewer.properties
  l10n/eo/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/es-CL/viewer.properties
  l10n/es-ES/viewer.properties
  l10n/eu/viewer.properties
  l10n/fi/viewer.properties
  l10n/fr/viewer.properties
  l10n/fur/viewer.properties
  l10n/gn/viewer.properties
  l10n/he/viewer.properties
  l10n/hi-IN/viewer.properties
  l10n/hsb/viewer.properties
  l10n/hu/viewer.properties
  l10n/ia/viewer.properties
  l10n/is/viewer.properties
  l10n/it/viewer.properties
  l10n/ja/viewer.properties
  l10n/kk/viewer.properties
  l10n/ko/viewer.properties
  l10n/mk/viewer.properties
  l10n/nn-NO/viewer.properties
  l10n/oc/viewer.properties
  l10n/pl/viewer.properties
  l10n/pt-BR/viewer.properties
  l10n/pt-PT/viewer.properties
  l10n/rm/viewer.properties
  l10n/ru/viewer.properties
  l10n/sat/viewer.properties
  l10n/si/viewer.properties
  l10n/sk/viewer.properties
  l10n/skr/viewer.properties
  l10n/sl/viewer.properties
  l10n/sv-SE/viewer.properties
  l10n/tg/viewer.properties
  l10n/th/viewer.properties
  l10n/tr/viewer.properties
  l10n/uk/viewer.properties
  l10n/vi/viewer.properties
  l10n/zh-CN/viewer.properties
  l10n/zh-TW/viewer.properties
  package-lock.json
  package.json
Labels: dependencies

#16790 Attempt to expose e.g. `pdfjsLib` globally regardless of how the library is imported (issue 16778)
  gulpfile.mjs
Labels: other

#16794 Use the `round` CSS function in the `setLayerDimensions` helper function
  src/display/display_utils.js
  test/test.mjs
Labels: core, viewer

#16799 [Editor] Change the resize cursors to bidirectional variants
  web/annotation_editor_layer_builder.css
Labels: editor

#16802 [Editor] Move the stamp button on the right of the pen one (bug 1847707)
  web/viewer.html
Labels: editor

#16793 [Editor] Fix the resizing of an editor when it's rotated (bug 1847268)
  gulpfile.mjs
  package-lock.json
  package.json
  src/display/editor/editor.js
  src/display/editor/tools.js
  test/integration/stamp_editor_spec.js
  test/integration/test_utils.js
  web/annotation_editor_layer_builder.css
Labels: editor

#16808 [Editor] Avoid to add a new line when hitting enter with a selected freetext editor
  src/display/editor/freetext.js
  test/integration/freetext_editor_spec.js
Labels: editor

#16812 [Editor] Avoid to unselect some editors when the main window is focused
  src/display/editor/tools.js
Labels: editor

#16813 [Editor] Move the parameter elements for FreeText and Ink annotations at the right place (follow-up of #16802)
  web/viewer.css
Labels: editor

#16818 [Editor] Avoid to add a cancelled added image in the undo/redo stack
  src/display/editor/stamp.js
Labels: editor

#16815 Introduce even more optional chaining in the code-base
  src/core/chunked_stream.js
  src/display/api.js
  src/display/editor/tools.js
Labels: core

#16820 [Editor] Avoid to have slightly truncated images because of non-integer canvas dimensions
  src/display/editor/stamp.js
Labels: editor

#16811 [Editor] Add the possibility to move all the selected editors with the mouse (bug 1847894)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.js
  test/integration/test_utils.js
  web/annotation_editor_layer_builder.css
Labels: editor

#16822 [Editor] Don't forget to encrypt image streams (see issue #16821)
  src/core/annotation.js
  src/core/writer.js
  test/pdfs/.gitignore
  test/pdfs/empty_protected.pdf
  test/test_manifest.json
Labels: editor

#16823 Fallback to check all pages when getting the pageIndex of FieldObjects
  src/core/annotation.js
  test/unit/api_spec.js
Labels: form-js

#16810 Re-factor `PDFViewerApplication._initializeAutoPrint` slightly (PR 16779 follow-up)
  web/app.js
Labels: viewer

#16819 [Editor] Add a button to explicitly add an image (bug 1848108)
  l10n/en-US/viewer.properties
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
  src/shared/util.js
  test/integration/stamp_editor_spec.js
  web/annotation_editor_params.js
  web/toolbar.js
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: editor

#16826 [Editor] Remove the stamp editor displayed when the image was loading (bug 1848313)
  src/display/editor/stamp.js
  src/display/editor/tools.js
  test/integration/stamp_editor_spec.js
  web/annotation_editor_layer_builder.css
Labels: editor

#16828 [Editor] Add the possibility to paste an image from the clipboard (bug 1848317)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
Labels: editor

#16829 Remove the `src/core/` Babel excludes, since they no longer seem necessary
  gulpfile.mjs
Labels: other

#16831 Remove the "no-babel-preset" comment used with the LIB build-target (PR 16829 follow-up)
  gulpfile.mjs
  src/core/glyphlist.js
Labels: other

#16830 Avoid using the global `workerPort` when destruction has started, but not yet finished (issue 16777)
  src/display/api.js
  test/unit/api_spec.js
Labels: core

#16835 Improve the "write a new annotation, save the pdf and check that the text content is correct" unit-test (PR 16559 follow-up)
  test/unit/api_spec.js
Labels: test

#16840 Add a helper method to reduce duplication in `StampEditor.#getBitmap`
  src/display/editor/stamp.js
Labels: editor

#16844 Update the `StampEditor.isEmpty` method to handle File (PR 16828 follow-up)
  src/display/editor/stamp.js
Labels: editor

#16850 Update packages and translations
  gulpfile.mjs
  l10n/be/viewer.properties
  l10n/cs/viewer.properties
  l10n/cy/viewer.properties
  l10n/da/viewer.properties
  l10n/de/viewer.properties
  l10n/dsb/viewer.properties
  l10n/en-GB/viewer.properties
  l10n/eo/viewer.properties
  l10n/es-AR/viewer.properties
  l10n/es-CL/viewer.properties
  l10n/fi/viewer.properties
  l10n/fr/viewer.properties
  l10n/fy-NL/viewer.properties
  l10n/gn/viewer.properties
  l10n/he/viewer.properties
  l10n/hsb/viewer.properties
  l10n/hu/viewer.properties
  l10n/ia/viewer.properties
  l10n/is/viewer.properties
  l10n/it/viewer.properties
  l10n/ja/viewer.properties
  l10n/ka/viewer.properties
  l10n/kk/viewer.properties
  l10n/ko/viewer.properties
  l10n/nl/viewer.properties
  l10n/pl/viewer.properties
  l10n/pt-BR/viewer.properties
  l10n/pt-PT/viewer.properties
  l10n/rm/viewer.properties
  l10n/ru/viewer.properties
  l10n/sc/viewer.properties
  l10n/sk/viewer.properties
  l10n/sl/viewer.properties
  l10n/sv-SE/viewer.properties
  l10n/tg/viewer.properties
  l10n/uk/viewer.properties
  l10n/vi/viewer.properties
  l10n/zh-CN/viewer.properties
  l10n/zh-TW/viewer.properties
  package-lock.json
  package.json
  src/core/document.js
  src/core/writer.js
  test/unit/pdf_find_controller_spec.js
  web/pdf_link_service.js
Labels: dependencies

#16834 Add a unit-test for the "correct" way of using the global `workerPort` in parallel (PR 16830 follow-up)
  test/unit/api_spec.js
Labels: test

#16852 Initialize the `PDFWorker.#workerPorts` WeakMap lazily
  src/display/api.js
Labels: core

#16860 Add the `.mjs` file-extension to the EditorConfig
  .editorconfig
Labels: other

#16858 Add the "aria-controls" attribute to the StampEditor toolbar-button
  web/viewer.html
Labels: viewer, editor

#16862 Revert fix for bug 1838855 (bug 1849876)
  src/core/annotation.js
  src/core/document.js
  src/display/annotation_layer.js
  test/integration/annotation_spec.js
  test/unit/api_spec.js
Labels: annotations

#16864 Don't reset all fields when the resetForm argument is an array
  src/core/annotation.js
  src/display/annotation_layer.js
  src/scripting_api/doc.js
  test/integration/scripting_spec.js
  test/pdfs/issue16863.pdf.link
  test/test_manifest.json
Labels: annotations, form-js

#16856 Exclude `lineEndings`, in Annotation-data, in MOZCENTRAL builds (PR 14899 follow-up)
  src/core/annotation.js
Labels: annotations, firefox-specific

#16875 Introduce more optional chaining in the code-base
  src/core/worker_stream.js
  src/display/api.js
  src/pdf.sandbox.js
Labels: core

#16876 Bump versions in `pdfjs.config`
  pdfjs.config
Labels: other

#16886 Add tagged annotations in the structure tree (bug 1850797)
  src/core/annotation.js
  src/core/document.js
  src/core/struct_tree.js
  src/display/annotation_layer.js
  src/display/display_utils.js
  src/shared/util.js
  test/integration/accessibility_spec.js
  test/pdfs/.gitignore
  test/pdfs/tagged_stamp.pdf
  web/struct_tree_layer_builder.js
Labels: accessibility

#16891 Ignore null-chars when using structTree-data in the viewer
  test/integration/accessibility_spec.js
  web/struct_tree_layer_builder.js
Labels: viewer, accessibility

#16892 Stop using `removeNullCharacters` in the `addLinkAttributes` helper function
  web/pdf_link_service.js
Labels: viewer
