Repository mozilla/pdf.js, pull requests merged in 2024-06, with the labels that each got.

#18197 Upgrade `gulp` to version 5.0.0
  gulpfile.mjs
  package-lock.json
  package.json
Labels: dependencies

#18167 Decompress when it's possible images in using DecompressionStream
  src/core/base_stream.js
  src/core/decode_stream.js
  src/core/flate_stream.js
  src/core/image.js
  src/core/jbig2_stream.js
  src/core/jpeg_stream.js
  src/core/jpx_stream.js
Labels: core, performance, image-conversion

#18204 Fix decoding of JPX images having an alpha channel
  external/openjpeg/openjpeg.js
  src/core/base_stream.js
  src/core/colorspace.js
  src/core/decode_stream.js
  src/core/flate_stream.js
  src/core/image.js
  src/core/jpx.js
  src/core/jpx_stream.js
  test/pdfs/isssue18194.pdf.link
  test/pdfs/issue11306.pdf.link
  test/pdfs/issue16782.pdf.link
  test/test_manifest.json
Labels: image-jpx, image-conversion

#18216 Change `DownloadManager.download` to use Uint8Array-data
  web/app.js
  web/download_manager.js
  web/firefoxcom.js
  web/interfaces.js
Labels: viewer

#18217 Inline the `#finishRendering` helper in `TextLayerBuilder.prototype.render`
  web/text_layer_builder.js
Labels: viewer, text-selection

#18214 [Editor] Support dragging & dropping images on a pdf (bug 1900907)
  src/display/editor/tools.js
  web/app.js
Labels: viewer, editor

#18228 Don't display annotations with a PMD (barcode stuff) entry (bug 1899804)
  src/core/annotation.js
  test/pdfs/bug1899804.pdf.link
  test/test_manifest.json
Labels: annotations

#18231 Update dependencies and translations to the most recent versions
  l10n/br/viewer.ftl
  l10n/kab/viewer.ftl
  l10n/nn-NO/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#18238 Add an option to enable/disable hardware acceleration (bug 1902012)
  extensions/chromium/preferences_schema.json
  src/core/default_appearance.js
  src/display/api.js
  src/display/base_factory.js
  src/display/display_utils.js
  src/display/editor/tools.js
  src/display/text_layer.js
  web/app.js
  web/app_options.js
  web/pdf_page_view.js
  web/pdf_thumbnail_view.js
  web/pdf_thumbnail_viewer.js
  web/pdf_viewer.js
Labels: core, viewer

#18236 Remove the `DownloadManager.downloadUrl` method
  web/app.js
  web/download_manager.js
  web/firefoxcom.js
  web/interfaces.js
Labels: viewer

#18243 Display a wait cursor when saving
  web/app.js
  web/viewer.css
Labels: viewer

#18246 Fix an query with an empty selector in integration tests
  test/integration/test_utils.mjs
Labels: test

#18244 Improve how the wait-cursor is toggled when copying all text
  web/pdf_viewer.css
  web/pdf_viewer.js
Labels: viewer

#18234 Improve date parsing in the js sandbox
  src/scripting_api/aform.js
  test/unit/scripting_spec.js
Labels: form-js

#18247 Don't recommend installing `gulp-cli` globally in the README and on the website
  README.md
  docs/contents/getting_started/index.md
Labels: other

#18248 Replace Wintersmith with Metalsmith
  docs/config.json
  docs/contents/api/index.md
  docs/contents/css/a11y-light.css
  docs/contents/css/bootstrap.min.css
  docs/contents/css/main.css
  docs/contents/examples/index.md
  docs/contents/getting_started/index.md
  docs/contents/index.md
  docs/contents/js/bootstrap.min.js
  docs/contents/js/jquery-2.1.0.min.js
  docs/contents/js/jquery-3.7.1.min.js
  docs/plugins/wintersmith-makerelative.coffee
  docs/templates/layout.jade
  docs/templates/layout.njk
  gulpfile.mjs
  package-lock.json
  package.json
Labels: dependencies

#18251 Include the generated API documentation directly on the API page
  docs/contents/api/index.md
  docs/contents/css/main.css
Labels: website

#18250 Improve some old code in the `src/display/api.js` file
  src/display/api.js
Labels: core

#18253 Compute correctly the unitsPerEm value from the fontMatrix when converting a font (bug 1539074)
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/bug1539074.pdf
  test/test_manifest.json
Labels: font-conversion

#18256 Implement reproducibility for the JSDoc builds
  gulpfile.mjs
  jsdoc.json
Labels: other

#18254 Ensure that saving, in the viewer, works for partially loaded documents
  web/app.js
Labels: viewer, editor, release-blocker

#18258 Implement reproducibility for the release builds
  gulpfile.mjs
Labels: other

#18257 Update jpx decoder
  external/openjpeg/openjpeg.js
Labels: performance, image-jpx

#18255 Only disable HWA in m-c build and for local dev
  extensions/chromium/preferences_schema.json
  web/app_options.js
Labels: viewer, addon, chrome-specific

#18269 Ensure that dependencies are added to the operatorList for locally cached images (issue 18259)
  src/core/evaluator.js
Labels: core, regression

#18271 Clean up before closing the tab in integration tests
  test/integration/test_utils.mjs
  web/app.js
Labels: test

#18273 Add a helper function for handling locally cached image data (PR 18269 follow-up)
  src/core/evaluator.js
Labels: core

#18275 [Editor] Set the canvas in the stamp editor at the right position in odd spread mode
  test/integration/stamp_editor_spec.mjs
  web/annotation_editor_layer_builder.css
  web/app.js
Labels: editor

#18277 [Editor] Fix intermittent failure in integration test when highlighting with the keyboard
  test/integration/highlight_editor_spec.mjs
Labels: test

#18260 Enable dumpio when running the tests in order to have some useful debug data
  test/test.mjs
Labels: test

#18282 Don't save modified documents, when running tests, upon closing the viewer (issue 18274)
  web/app.js
Labels: viewer, test

#18280 Pause l10n (i.e. disconnect the mutation observer in fluent) when closing the viewer
  web/app.js
Labels: viewer

#18286 Avoid to call a function in the js sandbox when it has been destroyed
  src/pdf.sandbox.external.js
Labels: form-js

#18284 [Editor] Remove the various listeners when destroying the editor manager
  src/display/editor/alt_text.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/color_picker.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/highlight.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  src/display/editor/toolbar.js
  src/display/editor/tools.js
Labels: editor

#18278 Update dependencies to the most recent versions and upgrade `eslint-plugin-unicorn` to version 54.0.0
  package-lock.json
  package.json
Labels: dependencies

#18289 Add a new helper, in the viewer, to close everything during testing
  test/integration/test_utils.mjs
  web/app.js
Labels: viewer, test

#18218 Respect `maxCanvasPixels` when computing canvas dimensions
  test/integration/test_utils.mjs
  test/integration/viewer_spec.mjs
  web/pdf_page_view.js
  web/ui_utils.js
Labels: viewer, test

#18301 [Editor] Don't create an observer for the stamp annotation after the viewer has been closed
  src/display/editor/stamp.js
  test/integration/stamp_editor_spec.mjs
Labels: editor

#18304 Don't throw if there's not enough data to get the header in `FlateStream` (issue 18298)
  src/core/flate_stream.js
  test/pdfs/issue18298.pdf.link
  test/test_manifest.json
Labels: core

#18296 [Editor] Correctly set the accessibility data when copying & pasting a stamp with an alt text (bug 1903589)
  src/display/editor/editor.js
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: editor

#18302 Close `PDFFindBar` when closing the viewer during testing
  web/app.js
Labels: viewer, test

#18306 Always use DW if it's a number for the font default width (bug 1903731)
  src/core/evaluator.js
  test/pdfs/bug1903731.pdf.link
  test/test_manifest.json
Labels: font-conversion, corrupted-pdf

#18308 Use the new formatted issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: other

#18303 Expose entireWord in updateFindControlState
  test/unit/pdf_find_controller_spec.js
  web/app.js
  web/pdf_find_controller.js
Labels: viewer

#18312 Update dependencies and translations to the most recent versions
  l10n/is/viewer.ftl
  l10n/ja/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#18313 Try to shutdown Fluent "more" when closing the viewer during testing
  web/app.js
  web/l10n.js
Labels: viewer, test

#18316 Disable system addon updates for Firefox in testing mode
  test/test.mjs
Labels: test

#18317 Close the page in the text layer caret selection integration test
  test/integration/test_utils.mjs
  test/integration/text_layer_spec.mjs
Labels: test

#18320 Fix the "copy/paste from a tab to an other" stamp editor integration test
  test/integration/stamp_editor_spec.mjs
Labels: test

#18321 Don't ignore errors in the Jasmine suite start/end stages
  test/integration-boot.mjs
  test/unit/testreporter.js
Labels: test

#18311 Include a security policy for PDF.js
  .github/SECURITY.md
  .github/security.png
Labels: other

#18323 Improve the security policy
  .github/ISSUE_TEMPLATE/config.yml
  .github/SECURITY.md
Labels: other

#18324 Fix the computation of unitsPerEm when the fontMatrix has some negative coefficients
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/bug1539074.1.pdf
  test/test_manifest.json
Labels: font-conversion

#18325 Fix the timeout logic in the `waitForEvent` integration test helper function
  test/integration/test_utils.mjs
Labels: test

#18326 Use `waitForEvent` in the `pasteFromClipboard` integration test helper function
  test/integration/test_utils.mjs
Labels: test

#18283 Override the minimum font size when rendering the text layer
  src/display/text_layer.js
  test/integration/text_layer_spec.mjs
Labels: text-selection

#18333 Remove the `requestAnimationFrame` work-around in `L10n.prototype.destroy` (PR 18313 follow-up)
  package-lock.json
  package.json
  test/integration/stamp_editor_spec.mjs
  web/l10n.js
Labels: viewer, test, dependencies

#18332 Add the possibility to dispatch some pdf.js events at the chrome level (bug 1904585)
  web/app.js
  web/event_utils.js
  web/external_services.js
  web/firefoxcom.js
Labels: firefox-specific

#18331 Refactor the copy/paste logic in the integration tests and fix a race condition involving the `waitForEvent` integration test helper function
  test/integration/copy_paste_spec.mjs
  test/integration/freetext_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#18335 Cancel the `requestAnimationFrame` in the `watchScroll` helper (PR 18193 follow-up)
  web/ui_utils.js
Labels: viewer, test

#18336 Cancel the `requestAnimationFrame` in the API when cancelling rendering
  src/display/api.js
Labels: core, test

#18339 Add a port option to gulp server
  gulpfile.mjs
Labels: other

#18341 Ignore test issue17779.pdf in talos because it times out
  test/test_manifest.json
Labels: test, firefox-specific

#18345 Take into account PageOpen and PageClose actions which are present in some fields
  src/scripting_api/doc.js
  test/integration/scripting_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/issue18305.pdf
Labels: form-js

#18346 Add a comment about `test/webserver.mjs` being development-only code
  test/webserver.mjs
Labels: test
