Repository mozilla/pdf.js, pull requests merged in 2024-11, with the labels that each got.

#18993 Use the `hexNumbers` structure in the `stringToUTF16HexString` helper
  src/core/core_utils.js
  src/shared/util.js
Labels: core

#18990 Ensure that serializing of StructTree-data cannot fail during loading
  src/core/document.js
  web/struct_tree_layer_builder.js
Labels: core, viewer, release-blocker

#18992 Inline the `flushChunks` helper function, used in `getPdfManager` on the worker-thread
  src/core/worker.js
Labels: core

#18988 Move the various DOM-factories into their own files
  gulpfile.mjs
  src/display/annotation_layer.js
  src/display/api.js
  src/display/base_factory.js
  src/display/canvas_factory.js
  src/display/cmap_reader_factory.js
  src/display/display_utils.js
  src/display/draw_layer.js
  src/display/filter_factory.js
  src/display/node_utils.js
  src/display/standard_fontdata_factory.js
  src/display/stubs.js
  src/display/svg_factory.js
  src/pdf.js
  test/unit/canvas_factory_spec.js
  test/unit/clitests.json
  test/unit/display_utils_spec.js
  test/unit/jasmine-boot.js
  test/unit/pdf_spec.js
  test/unit/svg_factory_spec.js
  test/unit/unit_test.html
  tsconfig.json
  web/viewer-geckoview.html
  web/viewer.html
Labels: core

#18994 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#18995 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/bg/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/da/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fur/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/is/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/si/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/sq/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#18998 Enable the "should have an alt attribute from toolTip" unit-test in Node.js
  test/unit/xfa_tohtml_spec.js
Labels: test, node-specific

#18997 Enable the 'gets PDF filename from query string appended to "blob:" URL' unit-test in Node.js
  test/unit/display_utils_spec.js
Labels: test, node-specific

#18999 Use the `toBase64Util` helper function in the unit-tests
  test/unit/display_utils_spec.js
Labels: test

#19000 Install and use the most recent Node types for the types tests
  package-lock.json
  package.json
  test/types/tsconfig.json
Labels: test, types

#19001 Fix the "must convert input to uppercase" scripting integration test
  test/integration/scripting_spec.mjs
Labels: test

#18959 [api-minor] Update the minimum supported Node.js version to 20, and only support the Fetch API for "remote" PDF documents in Node.js
  .github/workflows/ci.yml
  gulpfile.mjs
  package-lock.json
  package.json
  src/display/api.js
  src/display/node_stream.js
  src/display/node_utils.js
  src/display/stubs.js
  test/unit/clitests_helper.js
  test/unit/node_stream_spec.js
  test/unit/test_utils.js
Labels: core, node-specific

#19010 Fix error on empty response headers
  src/display/network.js
Labels: core

#19005 Shorten a few helper functions in `src/core/core_utils.js`
  src/core/core_utils.js
Labels: core

#19003 Add helper functions to load image blob/bitmap data in `test/unit/api_spec.js`
  test/unit/api_spec.js
Labels: test

#19002 Bump library version to `4.9`
  pdfjs.config
Labels: other

#19011 Simplify toRomanNumerals function
  src/core/core_utils.js
Labels: core

#19012 Fix Typo:XFATemplate class Para Styling paddingight => paddingRight
  src/core/xfa/template.js
Labels: form-xfa

#19018 Set the padding of the buttons in the toolbars to zero
  web/annotation_editor_layer_builder.css
  web/viewer.css
Labels: viewer

#19019 Shorten the `Page.prototype.userUnit` getter slightly
  src/core/document.js
Labels: core

#19015 [api-minor] Replace the `canvas` package with `@napi-rs/canvas`
  README.md
  examples/node/pdf2png/README.md
  examples/node/pdf2png/pdf2png.mjs
  gulpfile.mjs
  package-lock.json
  package.json
  src/display/canvas.js
  src/display/node_utils.js
Labels: node-specific, dependencies

#19023 Apply gradient when stroking text
  src/display/canvas.js
  src/display/font_loader.js
  test/pdfs/issue19022.pdf.link
  test/test_manifest.json
Labels: tiling-type

#19026 Simplify saving added/modified annotations.
  src/core/annotation.js
  src/core/document.js
  src/core/primitives.js
  src/core/struct_tree.js
  src/core/worker.js
  src/core/writer.js
  test/unit/annotation_spec.js
  test/unit/writer_spec.js
Labels: core

#19029 Migrate to ESLint flat config
  .eslintignore
  .eslintrc
  eslint.config.mjs
  examples/.eslintrc
  examples/node/.eslintrc
  examples/webpack/.eslintrc
  external/.eslintrc
  gulpfile.mjs
  package-lock.json
  package.json
  src/core/image_resizer.js
  src/core/jpeg_stream.js
  test/.eslintrc
  test/fuzz/.eslintrc
  test/integration/.eslintrc
  test/unit/.eslintrc
Labels: other, dependencies

#19021 Add a `PartialEvaluator` helper for fetching CMap and Standard Font data
  src/core/evaluator.js
Labels: core

#19035 Use Python 3.13 in the GitHub workflows
  .github/workflows/fluent_linter.yml
  .github/workflows/font_tests.yml
  test/font/README.md
Labels: other

#19033 Update dependencies and translations to the most recent versions
  l10n/es-ES/viewer.ftl
  l10n/eu/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/hr/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/pt-PT/viewer.ftl
  l10n/sl/viewer.ftl
  l10n/sq/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/uk/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#19031 [api-minor] Add a `getDocument` option to disable `ImageDecoder` usage
  src/core/evaluator.js
  src/core/image_resizer.js
  src/core/jpeg_stream.js
  src/core/pdf_manager.js
  src/display/api.js
  src/shared/util.js
Labels: core

#19052 Remove the `extensions/chromium/.eslintrc` file (PR 19029 follow-up)
  extensions/chromium/.eslintrc
Labels: other

#19050 Enable the ESLint `no-var` rule in the `src/core/evaluator.js` file
  src/core/evaluator.js
Labels: core

#19042 Enable the ESLint `no-console` rule in parts of the code-base
  eslint.config.mjs
  src/display/display_utils.js
  src/display/editor/tools.js
  src/pdf.sandbox.js
  src/shared/util.js
  test/integration/test_utils.mjs
Labels: other

#19057 Avoid redundant CMap-value lookup in `extendCMap` (PR 5101 follow-up)
  src/core/cmap.js
Labels: core

#19051 Convert the `Dict`-implementation to use a `Map` internally
  .prettierignore
  .stylelintignore
  eslint.config.mjs
  src/core/catalog.js
  src/core/document.js
  src/core/primitives.js
  src/core/struct_tree.js
  src/core/worker.js
  src/pdf.js
  test/unit/primitives_spec.js
Labels: core

#19059 Improve clean-up of `#_hcmCache`-data in `DOMFilterFactory.prototype.destroy`
  src/display/filter_factory.js
Labels: core

#19045 [api-minor] Disable `ImageDecoder` usage by default in Chromium browsers
  src/core/evaluator.js
  src/core/image_resizer.js
  src/display/api.js
Labels: core

#19054 When saving some annotations with the same name, set the value in the parent
  src/core/annotation.js
  src/core/core_utils.js
  test/unit/annotation_spec.js
Labels: annotations, form-acroform

#19062 Remove obsolete Gitpod files
  .gitpod.Dockerfile
  .gitpod.yml
Labels: other

#19061 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/cs/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/da/viewer.ftl
  l10n/de/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/eu/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hr/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/is/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/rm/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#19068 Use JSON imports instead of PDFJSDev.json
  eslint.config.mjs
  external/builder/babel-plugin-pdfjs-preprocessor.mjs
  external/builder/fixtures_babel/evals-expected.js
  external/builder/fixtures_babel/evals.js
  external/builder/fixtures_babel/evals.json
  gulpfile.mjs
  web/chromecom.js
Labels: other

#19064 Fix the "must check that an infinite loop is not triggered" integration test
  test/integration/scripting_spec.mjs
Labels: test, intermittent

#19071 Enable the `unicorn/no-single-promise-in-promise-methods` ESLint plugin rule
  eslint.config.mjs
Labels: other

#19069 Fix 'must load a SVG, delete it and undo' integration test
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#19084 Simplify the `getUuid` helper function
  src/shared/util.js
  test/unit/util_spec.js
Labels: core

#19086 Use the V entry as an option when no options in a choice widget
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/issue19083.pdf
  test/test_manifest.json
Labels: form-acroform

#19085 [Editor] Simplify the draw layer code
  src/display/draw_layer.js
  src/display/editor/drawers/freedraw.js
  src/display/editor/drawers/highlight.js
  src/display/editor/drawers/outline.js
  src/display/editor/highlight.js
  test/driver.js
  web/draw_layer_builder.css
Labels: editor

#19087 [Editor] Avoid to scroll when dragging an editor on a touch screen
  src/display/editor/editor.js
Labels: editor

#19088 [Editor] Avoid to use event.movementX/Y when resizing an editor
  src/display/editor/editor.js
Labels: editor

#19028 Ensure that the response-origin of range requests match the full request (issue 12744)
  src/display/fetch_stream.js
  src/display/network.js
  src/display/network_utils.js
  src/interfaces.js
  test/unit/fetch_stream_spec.js
  test/unit/network_spec.js
Labels: core

#19095 Rescale the image data when they're really too large
  src/core/core_utils.js
  src/core/image_resizer.js
  src/core/jbig2.js
  src/shared/image_utils.js
  test/pdfs/issue17190.pdf.link
  test/pdfs/issue17190_1.pdf.link
  test/test_manifest.json
Labels: image-conversion

#19096 Fix path traversal issue in createTemporaryNodeServer
  test/unit/test_utils.js
Labels: test

#19100 Drop trailing whitespace from test/unit/api_spec.js
  test/unit/api_spec.js
Labels: test

#19111 Fix the highlight integration test when highlighting with the keyboard
  test/integration/highlight_editor_spec.mjs
Labels: test

#19121 Use the `stopEvent` helper function everywhere possible
  src/display/editor/highlight.js
  src/display/editor/toolbar.js
  src/display/editor/tools.js
  src/pdf.js
  test/unit/pdf_spec.js
  web/app.js
  web/grab_to_pan.js
  web/pdf_viewer.js
  web/pdfjs.js
  web/text_layer_builder.js
Labels: core, viewer

#19123 Very slightly improve the performance when searching in a pdf
  web/pdf_find_controller.js
Labels: viewer

#19129 [Editor] Allow to abort the current drawing
  src/display/editor/annotation_editor_layer.js
  src/display/editor/draw.js
  src/display/editor/tools.js
  test/integration/ink_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: editor

#19066 Fix #serializeBoxes function not output correct quadPoints values for deserialize (issue19056)
  src/display/editor/highlight.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#19124 Simplify the code to zoom in using a pinch gesture
  web/app.js
Labels: viewer

#19131 Build date consistently (in term of tz) when executing some embedded JS (bug 1934157)
  src/scripting_api/util.js
  test/integration/scripting_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/bug1934157.pdf
  test/unit/scripting_spec.js
Labels: form-js
