Repository mozilla/pdf.js, pull requests merged in 2024-08, with the labels that each got.

#18517 Give all HTML button elements a type
  examples/learning/prevnext.html
  examples/mobile-viewer/viewer.html
  extensions/chromium/options/options.html
  web/viewer-geckoview.html
  web/viewer.html
Labels: viewer

#18518 Introduce a CSS variable for the toolbar height (bug 1171799)
  web/viewer.css
Labels: viewer

#18535 Further emphasize the importance of `Attach (recommended) or Link to PDF file` in the bug report template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: other

#18523 Move all event listeners into `Toolbar.prototype.#bindListeners`
  web/toolbar.js
Labels: viewer

#18537 [Editor] Add a new dialog for alt-text settings (bug 1909604)
  extensions/chromium/preferences_schema.json
  l10n/en-US/viewer.ftl
  src/display/editor/stamp.js
  src/display/editor/tools.js
  web/annotation_editor_layer_builder.css
  web/app.js
  web/app_options.js
  web/dialog.css
  web/firefoxcom.js
  web/genericcom.js
  web/new_alt_text_manager.js
  web/pdf_viewer.js
  web/secondary_toolbar.js
  web/stubs-geckoview.js
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: editor

#18539 [Editor] Use the color defined for the message bar foreground
  web/dialog.css
Labels: editor

#18538 [Editor] Fix l10n issues
  l10n/en-US/viewer.ftl
  web/new_alt_text_manager.js
  web/viewer.html
Labels: editor

#18540 [Editor] Don't create the image settings dialog if new alt-text is disabled
  web/app.js
Labels: editor

#18543 [Editor] Avoid to have the create alt-text button without a click listener
  web/new_alt_text_manager.js
Labels: editor

#18547 Fix the color of the buttons in a dialog in HCM
  web/dialog.css
Labels: viewer

#18542 Link to the list of supported browsers in the bug report template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: other

#18527 Inline single-line event handlers in the `web/app.js` file
  web/app.js
Labels: viewer

#18546 [Editor] Load the model when the user switch to the stamp editing mode
  web/firefoxcom.js
  web/genericcom.js
  web/pdf_viewer.js
Labels: editor

#18544 Improve the larger event listeners in the `web/app.js` file
  web/app.js
Labels: viewer

#18541 [Editor] Guess alt text even when showing the dialog is disabled
  src/display/editor/stamp.js
  src/display/editor/tools.js
  web/new_alt_text_manager.js
Labels: editor

#18551 Stop sending the unused `options` parameter to various download-methods in the viewer
  web/app.js
  web/download_manager.js
  web/firefoxcom.js
  web/interfaces.js
Labels: viewer, regression

#18552 Empty fields are 0 when using AFSimple_Calculate
  src/scripting_api/aform.js
  test/integration/scripting_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/issue18536.pdf
Labels: form-js

#18562 Update the Babel plugin to remove empty static blocks
  external/builder/babel-plugin-pdfjs-preprocessor.mjs
  external/builder/fixtures_babel/staticblock-expected.js
  external/builder/fixtures_babel/staticblock.js
Labels: other

#18554 Update dependencies to the most recent versions
  package-lock.json
  package.json
Labels: dependencies

#18555 Use the `waitForEvent` helper function in the text layer integration tests
  test/integration/text_layer_spec.mjs
Labels: test

#18560 Define a few editor event handler functions inline
  src/display/editor/highlight.js
  src/display/editor/tools.js
Labels: editor

#18570 [Editor] Update the disclaimer string in the new alt-text dialog (bug 1911738)
  l10n/en-US/viewer.ftl
  web/annotation_editor_layer_builder.css
  web/viewer.html
Labels: editor

#18567 Remove obsolete `otherPages` variable from the scripting integration tests
  test/integration/scripting_spec.mjs
Labels: test

#18566 Don't stop calculating field values when a Calculate callback throws
  src/scripting_api/event.js
  test/integration/scripting_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/issue18561.pdf
Labels: form-js

#18574 [Editor] Add the uiManager to the window object when testing
  src/display/editor/tools.js
  test/integration/highlight_editor_spec.mjs
Labels: test, editor

#18575 [Editor] Move the AI icon on the top of its parent div
  web/annotation_editor_layer_builder.css
Labels: firefox-specific, editor

#18573 [Editor] Dispatch changes in prefs enableAltTextModelDownload and enableGuessAltText to the viewer (bug 1912024)
  src/display/editor/stamp.js
  web/app.js
  web/app_options.js
  web/firefoxcom.js
  web/genericcom.js
  web/new_alt_text_manager.js
Labels: firefox-specific, editor

#18580 [Editor] Pass a buffer instead of a typed array when passing image data to the model
  src/display/editor/stamp.js
Labels: firefox-specific, editor

#18571 Enable the `unicorn/{prefer-includes,throw-new-error}` linting rules
  .eslintrc
  test/driver.js
Labels: other

#18583 Remove the `eslint-plugin-mozilla` dependency
  .eslintrc
  extensions/chromium/.eslintrc
  extensions/chromium/pdfHandler-vcros.js
  extensions/chromium/pdfHandler.js
  extensions/chromium/preserve-referer.js
  package-lock.json
  package.json
Labels: other, dependencies

#18568 Group and scope the findbar rules using CSS nesting
  web/viewer.css
Labels: viewer

#18584 [Editor] Change the background color of the image preview in the new alt text dialog
  web/annotation_editor_layer_builder.css
Labels: editor

#18586 [Editor] Remove event listeners with `AbortSignal.any()`
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/highlight.js
  src/display/editor/ink.js
  src/display/editor/tools.js
  web/app.js
  web/pdf_viewer.js
  web/viewer.html
Labels: editor

#18587 Check that `AbortSignal.any()` is supported in `PDFViewer` too (PR 18586 follow-up)
  web/pdf_viewer.js
Labels: viewer, regression

#18581 [Editor] Add a first test to test the new alt text flow
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
  web/app.js
Labels: editor

#18592 [Firefox] Remove the "loadaiengineprogress" listener with `AbortSignal.any()`
  web/firefoxcom.js
Labels: firefox-specific, editor

#18593 Remove the sidebar resizing event listeners with an `AbortController`
  web/pdf_sidebar.js
Labels: viewer

#18589 [Editor] Add the telemetry for the new alt text (bug 1912500)
  src/display/editor/alt_text.js
  src/display/editor/stamp.js
  web/annotation_editor_params.js
  web/new_alt_text_manager.js
  web/toolbar.js
Labels: editor

#18595 Group and scope the secondary toolbar button container/icon rules using CSS nesting
  web/viewer.css
Labels: viewer

#18596 Remove the `secondaryToolbarButton` CSS class
  web/viewer.css
  web/viewer.html
Labels: viewer

#18597 Group and scope the secondary toolbar rules using CSS nesting
  web/viewer.css
Labels: viewer

#18598 Limit base-class initialization checks to development and TESTING modes
  src/core/base_stream.js
  src/core/colorspace.js
  src/core/crypto.js
  src/core/font_renderer.js
  src/core/image_utils.js
  src/core/name_number_tree.js
  src/core/pattern.js
  src/core/pdf_manager.js
  src/display/base_factory.js
  src/display/editor/editor.js
  src/display/pattern_helper.js
  src/shared/util.js
  web/app_options.js
  web/base_tree_viewer.js
  web/external_services.js
  web/preferences.js
Labels: core, viewer

#18594 Remove the `enableHighlightEditor` preference
  extensions/chromium/preferences_schema.json
  web/app.js
  web/app_options.js
  web/viewer.html
Labels: viewer, editor

#18549 [api-minor] Allow specifying custom match logic in PDFFindController
  test/unit/pdf_find_controller_spec.js
  web/pdf_find_controller.js
Labels: viewer

#18604 Bump library version to `4.6`
  pdfjs.config
Labels: other

#18601 Improve the viewer CSS after nesting the findbar and secondary toolbar rules
  web/viewer.css
  web/viewer.html
Labels: viewer

#18605 Handle the "switchannotationeditorparams" event in the editor-code (issue 18196)
  src/display/editor/tools.js
  web/app.js
  web/pdf_viewer.js
Labels: viewer, editor

#18610 Link to official releases and the demo viewer in the bug report template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: other

#18611 Fix the telemetry for the new alt-text flow
  src/display/editor/alt_text.js
  src/display/editor/stamp.js
Labels: editor

#18613 Enable disabled integration tests for Firefox
  test/integration/stamp_editor_spec.mjs
  test/integration/viewer_spec.mjs
Labels: test

#18612 Shorten the `PDFViewerApplication._parseHashParams` method
  web/app.js
Labels: viewer

#18615 Update dependencies and translations to the most recent versions
  external/importL10n/locales.mjs
  gulpfile.mjs
  l10n/cs/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/de/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-CA/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/es-MX/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hr/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/is/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/oc/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/skr/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#18617 Set the event handlers in the integration tests before any event is triggered
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/scripting_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#18623 [Editor] Move setting `window.uiManager` back to the test code
  src/display/editor/tools.js
  test/integration/highlight_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
Labels: test, editor

#18624 Fix the "must check that a value is correctly updated on a field and its siblings" scripting integration test
  test/integration/scripting_spec.mjs
Labels: test

#18628 Use standard glyph mapping for non-embedded and non-composite Calibri fonts (issue 18208)
  src/core/fonts.js
  test/pdfs/issue18208.pdf.link
  test/test_manifest.json
Labels: font-conversion

#18627 Send fetch requests for all page dict lookups in parallel
  src/core/catalog.js
Labels: core, performance

#18646 Support an odd number of digits in hexadecimal strings (issue 18645)
  src/core/parser.js
  test/pdfs/.gitignore
  test/pdfs/issue18645.pdf
  test/test_manifest.json
  test/unit/parser_spec.js
Labels: core

#18635 Don't show the print dialog when printing in some integration tests
  test/integration/scripting_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#18636 Introduce a helper method for fetching l10n-data in `PDFDocumentProperties`
  web/l10n.js
  web/pdf_document_properties.js
Labels: viewer, l10n

#18643 Introduce a `L10n`-method to translate an element once, and use that in `PDFLayerViewer`
  web/l10n.js
  web/pdf_layer_viewer.js
Labels: viewer, l10n

#18644 Use `HTMLCanvasElement.toBlob()` unconditionally in `PDFPrintService`
  web/pdf_print_service.js
Labels: viewer, printing

#18648 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/be/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/da/viewer.ftl
  l10n/de/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fur/viewer.ftl
  l10n/he/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/it/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/pt-PT/viewer.ftl
  l10n/skr/viewer.ftl
  l10n/zh-CN/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#18638 Utilize Fluent to format numbers and dates in `PDFDocumentProperties`/`AnnotationLayer`
  l10n/en-US/viewer.ftl
  src/display/annotation_layer.js
  web/pdf_document_properties.js
Labels: viewer, annotations, l10n

#18650 [Editor] Add a missing parameter in the telemetry for the new alt text flow (bug 1914480)
  src/display/editor/stamp.js
  web/new_alt_text_manager.js
Labels: editor

#18649 [Editor] Utilize Fluent "better" when localizing the resizer DOM-elements
  l10n/en-US/viewer.ftl
  src/display/editor/editor.js
Labels: editor, l10n

#18654 [Editor] Define the "pdfjs-editor-new-alt-text-generated-alt-text-with-disclaimer" string once
  src/display/editor/editor.js
Labels: editor

#18661 [Editor] Fix few telemetry issues with the new alt text flow (bug 1915434)
  src/display/editor/alt_text.js
  src/display/editor/editor.js
  src/display/editor/toolbar.js
  web/new_alt_text_manager.js
Labels: editor

#18590 Upgrade Puppeteer to version 23.1.1
  .puppeteerrc
  package-lock.json
  package.json
  test/integration/freetext_editor_spec.mjs
  test/test.mjs
Labels: test, dependencies

#18651 [CRX] Remove obsolete manifest features
  extensions/chromium/extension-router.js
  extensions/chromium/icon19.png
  extensions/chromium/icon38.png
  extensions/chromium/manifest.json
  extensions/chromium/pageAction/background.js
  extensions/chromium/pageAction/popup.html
  extensions/chromium/pageAction/popup.js
  extensions/chromium/pdfHandler-vcros.js
  extensions/chromium/pdfHandler.html
  extensions/chromium/preserve-referer.js
  web/chromecom.js
  web/pdf_history.js
Labels: addon, chrome-specific

#18655 Simplify the `PDFDocumentProperties.#updateUI` method
  web/pdf_document_properties.js
Labels: viewer

#18657 Use the URL global instead of the deprecated url.parse
  src/display/node_stream.js
  test/test.mjs
  test/unit/node_stream_spec.js
  test/webserver.mjs
Labels: core, test, node-specific

#18663 Use "full" localization ids in the `PDFDocumentProperties` class
  web/pdf_document_properties.js
Labels: viewer

#18666 [Editor] Update the loading icon when wait for ML to take into account prefered-reduced-motion setting
  .svglintrc.js
  gulpfile.mjs
  package-lock.json
  package.json
  web/images/altText_spinner.svg
Labels: editor

#18671 Update l10n files
  l10n/be/viewer.ftl
  l10n/bg/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/da/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/eo/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/is/viewer.ftl
  l10n/it/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pl/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sc/viewer.ftl
  l10n/skr/viewer.ftl
  l10n/sl/viewer.ftl
  l10n/sq/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/th/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/uk/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  l10n/zh-TW/viewer.ftl
Labels: release-blocker, l10n
