Repository mozilla/pdf.js, pull requests merged in 2024-10, with the labels that each got.

#18822 [api-minor] Update the minimum supported Google Chrome version to 103
  gulpfile.mjs
Labels: other, chrome-specific

#18830 Make the secondary menu button usable with the keyboard when NVDA is enabled
  web/app.js
Labels: viewer

#18824 Write the display flags in F entry when saving an annotation (issue 18072)
  src/core/annotation.js
  src/core/document.js
  test/pdfs/.gitignore
  test/pdfs/issue18072.pdf
  test/test_manifest.json
Labels: annotations, form-acroform

#18831 Fix `toolbarViewer`/`toolbarContainer` regressions (PR 18385, 18786 follow-up)
  web/app.js
  web/caret_browsing.js
  web/viewer.js
Labels: viewer, regression, release-blocker

#18805 [Editor] Add the possibility to save an updated stamp annotation (bug 1921291)
  src/core/annotation.js
  src/core/document.js
  src/core/name_number_tree.js
  src/core/struct_tree.js
  test/pdfs/.gitignore
  test/pdfs/stamps.pdf
  test/test_manifest.json
  test/unit/annotation_spec.js
  test/unit/api_spec.js
Labels: annotations, editor

#18837 [GV] Increase the height (48px) of the toolbar in order to fit the a11y recommendations (bug 1838602)
  web/viewer-geckoview.css
Labels: viewer

#18843 [Editor] Make the editor deserialization async
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/highlight.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
Labels: editor

#18842 Remove the `PDFViewer.annotationEditorMode` setter event listeners with `AbortSignal.any()`
  web/pdf_viewer.js
Labels: viewer

#18834 [Editor] Make stamp annotations editable (bug 1921291)
  src/core/annotation.js
  src/display/annotation_layer.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/stamp.js
  src/display/editor/toolbar.js
  src/display/editor/tools.js
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
  web/annotation_editor_layer_builder.css
  web/annotation_editor_layer_builder.js
  web/pdf_page_view.js
Labels: editor

#18851 [Editor] Avoid an exception when undoing the deletion of a pre-existing annotation
  src/display/editor/stamp.js
  src/display/editor/tools.js
  test/integration/stamp_editor_spec.mjs
Labels: editor

#18845 Fix missing annotation parent in using the one from the Fields entry
  src/core/annotation.js
  src/core/document.js
  src/core/worker.js
  test/pdfs/.gitignore
  test/pdfs/issue15096.pdf
  test/test_manifest.json
  test/unit/document_spec.js
Labels: form-js

#18852 Change how we handle l10n-args for dates in the DocumentProperties dialog (bug 1922618)
  web/pdf_document_properties.js
Labels: viewer, regression

#18854 Add more authors
  AUTHORS
Labels: other

#18853 Keep the empty lines in the text fields
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/issue18036.pdf
  test/test_manifest.json
Labels: annotations

#18855 Update dependencies and translations to the most recent versions
  external/builder/fixtures_babel/importalias-expected.js
  l10n/es-ES/viewer.ftl
  l10n/hr/viewer.ftl
  l10n/pl/viewer.ftl
  l10n/pt-PT/viewer.ftl
  l10n/skr/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#18844 Use Calibri and Lucida Console, when it's possible, in place of sans-serif and monospaced (bug 1922063)
  src/display/text_layer.js
  src/shared/util.js
Labels: font-conversion, release-blocker

#18858 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#18862 Fix typing logic in the scripting integration tests
  test/integration/scripting_spec.mjs
Labels: test

#18871 Improve the promise-caching in the `PDFDocument.fieldObjects` getter
  src/core/document.js
Labels: core

#18873 Remove the temporary "visibilitychange" listener, in `PDFViewer`, with `AbortSignal.any()`
  web/pdf_viewer.js
Labels: viewer

#18878 Avoid exceptions in the console with ill-formed flate streams
  src/core/flate_stream.js
  src/core/writer.js
Labels: core

#18874 [Editor] Remove `ColorPicker` event listeners with `AbortSignal.any()` (PR 18586 follow-up)
  src/display/editor/color_picker.js
Labels: editor

#18860 Fix failing integration test on Windows with Chrome
  test/integration/highlight_editor_spec.mjs
  test/integration/text_layer_spec.mjs
Labels: test

#18833 Add an option to gulp makeref/browsertest to only run tests with specific ids
  gulpfile.mjs
Labels: test

#18885 Move the regular expression caching into the `PDFDateString` class
  src/display/display_utils.js
Labels: core

#18881 Remove event listeners with `AbortSignal` in the `AltTextManager` class
  web/alt_text_manager.js
Labels: viewer, editor

#18889 Don't add attribute 'aria-haspopup' when no popup is rendered for an annotation
  src/display/annotation_layer.js
  test/integration/annotation_spec.mjs
Labels: annotations

#18890 Clamp the hival parameter of Indexed color space to the range [0; 255]
  src/core/colorspace.js
Labels: core

#18895 Fallback on gray colorspace when there are no colorspace and no name in the scn/SCN arguments
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue18894.pdf
  test/test_manifest.json
Labels: core

#18899 Some jpx images can have a mask
  src/core/colorspace.js
  src/core/image.js
  test/pdfs/issue18896.pdf.link
  test/test_manifest.json
Labels: image-jpx, image-conversion

#18825 implementing optional content radiobutton groups
  src/core/catalog.js
  src/display/optional_content_config.js
  test/pdfs/.gitignore
  test/pdfs/issue18823.pdf
  test/test_manifest.json
Labels: core

#18893 Remove unnecessary options from `removeEventListener` in the `web/app.js` file
  web/app.js
Labels: viewer

#18898 Create fewer Objects in `PDFViewerApplication.bindEvents`
  web/app.js
Labels: viewer

#18905 Reduce duplication when collecting optional content groups
  src/core/catalog.js
Labels: core

#18902 Add the `pdkids` PDF document to the repository
  test/pdfs/.gitignore
  test/pdfs/pdkids.pdf
  test/pdfs/pdkids.pdf.link
  test/test_manifest.json
Labels: test

#18888 Re-factor the `MessageHandler`-class event handler function
  src/display/api.js
  src/shared/message_handler.js
Labels: core

#18919 Remove event listeners with `AbortSignal` in the `GrabToPan` class
  web/grab_to_pan.js
Labels: viewer

#18922 [api-minor] Update the `canvas` package to version 3
  .github/workflows/ci.yml
  gulpfile.mjs
  package-lock.json
  package.json
  src/display/node_utils.js
Labels: node-specific, dependencies

#18924 Bump library version to `4.8`
  pdfjs.config
Labels: other

#18925 Run CI tests in Node.js version 23
  .github/workflows/ci.yml
Labels: test, node-specific

#18927 Remove the `eslint-plugin-{fetch-options,html}` and `eslint-config-prettier` dependencies
  package-lock.json
  package.json
Labels: dependencies

#18921 Update dependencies and translations to the most recent versions
  l10n/br/viewer.ftl
  l10n/es-ES/viewer.ftl
  l10n/es-MX/viewer.ftl
  l10n/eu/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/th/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#18920 Simplify localization of the "default-content" in FreeText editors
  l10n/en-US/viewer.ftl
  src/display/editor/editor.js
  src/display/editor/freetext.js
Labels: editor, l10n

#18929 Replace `eslint-plugin-sort-exports` by `eslint-plugin-perfectionist`
  .eslintrc
  package-lock.json
  package.json
  web/viewer-geckoview.js
  web/viewer.js
Labels: dependencies

#18923 Fix the "Text selection using mouse doesn't jump when hovering on an empty area in a single page" integration test
  test/integration/text_layer_spec.mjs
Labels: test

#18930 Remove `mask-image` duplication for the print/download buttons
  web/viewer.css
Labels: viewer

#18942 Fallback to a standard font if a font-file entry doesn't contain a Stream (issue 18941)
  src/core/evaluator.js
  test/pdfs/issue18941.pdf.link
  test/test_manifest.json
Labels: font-conversion

#18933 Change the `BaseCMapReaderFactory` fetch-helper to return a `Uint8Array`
  src/display/base_factory.js
  src/display/display_utils.js
  src/display/node_utils.js
  test/unit/test_utils.js
Labels: core, test

#18910 Use ImageDecoder in order to decode jpeg images (bug 1901223)
  src/core/base_stream.js
  src/core/image.js
  src/core/jpeg_stream.js
  src/core/jpg.js
  src/display/canvas.js
Labels: core, image-conversion, image-jpeg

#18947 Add a comment in l10n file for the non-standard attribute default-content
  l10n/en-US/viewer.ftl
Labels: l10n

#18960 Always fill the mask with the backdrop color
  src/display/canvas.js
  test/pdfs/.gitignore
  test/pdfs/issue18956.pdf
  test/test_manifest.json
Labels: smask

#18965 Re-factor the `ImageResizer._goodSquareLength` definition
  src/core/image_resizer.js
Labels: image-conversion

#18951 [api-minor] Remove the `CMapCompressionType` enumeration
  src/core/cmap.js
  src/core/evaluator.js
  src/display/base_factory.js
  src/pdf.js
  src/shared/util.js
  test/unit/pdf_spec.js
  web/pdfjs.js
Labels: core, font-conversion

#18967 Make util.scand a bit more flexible with dates which don't match the given format (bug 1910431)
  src/scripting_api/aform.js
  src/scripting_api/util.js
  test/unit/scripting_spec.js
Labels: form-js

#18968 [Editor] Split the long words when showing the alt-text tooltip (bug 1903588)
  test/integration/stamp_editor_spec.mjs
  web/annotation_editor_layer_builder.css
Labels: editor

#18918 Use a BMP decoder when resizing an image
  src/core/evaluator.js
  src/core/image_resizer.js
  src/display/api.js
Labels: core, image-conversion

#18971 [Editor] Utilize Fluent "better" when localizing the AltText
  l10n/en-US/viewer.ftl
  src/display/editor/alt_text.js
  src/display/editor/editor.js
  test/integration/stamp_editor_spec.mjs
Labels: editor, l10n

#18974 Allow `StreamsSequenceStream` to skip sub-streams that are not actual Streams (issue 18973)
  src/core/decode_stream.js
  test/pdfs/issue18973.pdf.link
  test/test_manifest.json
Labels: core

#17862 Improve the implementation of the `PDFDocument.fingerprints`-getter
  src/core/document.js
  src/core/xfa/template.js
  src/display/font_loader.js
  src/shared/util.js
Labels: core

#18977 Simplify the "ReaderHeadersReady" message-handler in the API
  src/display/api.js
Labels: core

#18972 [Editor] Refactor the free highlight stuff in order to be able to use the code for more general drawing
  src/display/draw_layer.js
  src/display/editor/drawers/freedraw.js
  src/display/editor/drawers/highlight.js
  src/display/editor/drawers/outline.js
  src/display/editor/highlight.js
  src/pdf.js
  test/driver.js
Labels: editor

#18978 Re-factor the `toHexUtil` helper (PR 17862 follow-up)
  src/shared/util.js
Labels: core

#18979 Don't initialize `L10n.#elements` eagerly since it's unused in MOZCENTRAL builds
  web/l10n.js
Labels: viewer, l10n

#18983 Change the "FetchBuiltInCMap"/"FetchStandardFontData" message-handlers to be asynchronous
  src/display/api.js
Labels: core
