Repository mozilla/pdf.js, pull requests merged in 2024-09, with the labels that each got.

#18674 Use "full" localization ids throughout the code-base
  src/display/editor/toolbar.js
  web/new_alt_text_manager.js
  web/password_prompt.js
  web/pdf_find_bar.js
Labels: viewer, editor, l10n

#18665 Add a helper function for http/https requests in `src/display/node_stream.js`
  src/display/node_stream.js
Labels: node-specific

#18672 Shorten the code that inits `AnnotationEditorLayerBuilder` in the `web/pdf_page_view.js` file
  web/pdf_page_view.js
Labels: viewer

#18675 Add an option (i.e. --noFirefox) to only use Chrome when running tests
  gulpfile.mjs
  test/test.mjs
Labels: test

#18678 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#18664 [Editor] Make the focused stamp annotation more clear from a screen reader point of view (bug 1911994)
  src/display/editor/alt_text.js
  src/display/editor/editor.js
  src/display/editor/stamp.js
  src/display/editor/toolbar.js
Labels: accessibility, editor

#18427 [Editor] Make highlight annotations editable (bug 1883884)
  src/core/annotation.js
  src/display/annotation_layer.js
  src/display/draw_layer.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/highlight.js
  test/integration/highlight_editor_spec.mjs
  test/integration/test_utils.mjs
  test/pdfs/.gitignore
  test/pdfs/highlight.pdf
  test/pdfs/highlights.pdf
  test/test_manifest.json
Labels: editor

#18673 Use `Headers` consistently in the different `IPDFStream` implementations
  src/display/fetch_stream.js
  src/display/network.js
  src/display/network_utils.js
  src/display/node_stream.js
  test/unit/network_utils_spec.js
Labels: core, node-specific

#18658 [Editor] Make the stamp annotations alt text readable by either VO or NVDA (bug 1912001)
  src/display/annotation_layer.js
  test/integration/accessibility_spec.mjs
  web/annotation_layer_builder.js
  web/pdf_page_view.js
  web/struct_tree_layer_builder.js
Labels: annotations, editor

#18670 [Editor] Remove the disclaimer when the user is editing the alt-text in the new alt-text modal (bug 1911764)
  test/integration/stamp_editor_spec.mjs
  web/new_alt_text_manager.js
Labels: editor

#18689 Improve the `StructTreeLayerBuilder.render` method
  web/struct_tree_layer_builder.js
Labels: viewer

#18697 [Editor] Avoid to throw when an highlight annotation is resetted
  src/display/editor/editor.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#18692 Make tagged images visible for screen readers (bug 1708040)
  src/core/struct_tree.js
  src/display/editor/annotation_editor_layer.js
  test/integration/accessibility_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/bug1708040.pdf
  test/unit/api_spec.js
  test/unit/struct_tree_spec.js
  web/annotation_editor_layer_builder.css
  web/pdf_page_view.js
  web/struct_tree_layer_builder.js
  web/text_layer_builder.css
Labels: accessibility

#18698 Avoid to have a white line around the canvas
  src/display/display_utils.js
  test/integration/viewer_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/issue18694.pdf
  test/unit/ui_utils_spec.js
  web/pdf_page_view.js
  web/pdf_viewer.css
  web/ui_utils.js
Labels: viewer

#18705 Use "full" localization ids in the `ColorPicker` class (PR 18674 follow-up)
  src/display/editor/color_picker.js
Labels: editor, l10n

#18706 Use "full" localization ids in the `AltText` class (PR 18674 follow-up)
  src/display/editor/alt_text.js
Labels: editor, l10n

#18682 Use response-`Headers` in the different `IPDFStream` implementations
  src/display/fetch_stream.js
  src/display/network.js
  src/display/network_utils.js
  src/display/node_stream.js
  test/unit/network_utils_spec.js
Labels: core

#18707 Prevent `.visibleMediumView` from overriding already hidden elements (issue 18704, PR 18596 follow-up)
  web/viewer.css
Labels: viewer

#18681 [CRX] Migrate Chrome extension to Manifest Version 3
  extensions/chromium/.eslintrc
  extensions/chromium/background.js
  extensions/chromium/contentscript.js
  extensions/chromium/extension-router.js
  extensions/chromium/manifest.json
  extensions/chromium/options/migration.js
  extensions/chromium/options/options.html
  extensions/chromium/pdfHandler.html
  extensions/chromium/pdfHandler.js
  extensions/chromium/preserve-referer.js
  extensions/chromium/restoretab.js
  extensions/chromium/suppress-update.js
  extensions/chromium/telemetry.js
  web/chromecom.js
Labels: addon, chrome-specific

#18711 [CRX] Detect availability of DNR responseHeaders before use
  extensions/chromium/pdfHandler.js
Labels: addon, chrome-specific

#18718 [JS] Let AFSpecial_KeystrokeEx match a format without 'decoration' (bug 1916714)
  src/scripting_api/aform.js
  test/unit/scripting_spec.js
Labels: form-js

#18719 [Editor] Avoid to have the ML disclaimer when the ML engine isn't ready (bug 1917543)
  test/integration/stamp_editor_spec.mjs
  web/new_alt_text_manager.js
Labels: editor

#18716 [Editor] Avoid to have a stamp editor resizing itself
  src/display/editor/editor.js
  src/display/editor/stamp.js
  test/integration/stamp_editor_spec.mjs
Labels: editor

#18724 Remove ununsed static `HighlightEditor._l10nPromise` field
  src/display/editor/highlight.js
Labels: editor

#18726 Consume any pending path before drawing an annotation
  src/display/canvas.js
  test/pdfs/issue18058.pdf.link
  test/test_manifest.json
Labels: annotations

#18730 Consider foo-\nBar as a compound word
  test/pdfs/.gitignore
  test/pdfs/issue18693.pdf
  test/unit/pdf_find_controller_spec.js
  web/pdf_find_controller.js
Labels: text-selection

#18731 Ensure that textLayers can be rendered in parallel, without interfering with each other
  src/display/text_layer.js
  test/unit/text_layer_spec.js
Labels: text-selection

#18737 [JS] Correctly format floating numbers when they're close to an integer (bug 1918115)
  src/scripting_api/util.js
  test/integration/scripting_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/bug1918115.pdf
Labels: form-js

#18740 [Editor] Avoid an extra new line when serializing a FreeText annotation (bug 1897909)
  src/display/editor/freetext.js
  test/integration/freetext_editor_spec.mjs
Labels: editor

#18742 Use the "pageColorsBackground" option as background-color for non-loaded pages (issue 18680)
  web/pdf_page_view.js
  web/pdf_viewer.css
  web/pdf_viewer.js
Labels: viewer, ux

#18748 [CRX] Enable WebAssembly in Chrome extension
  extensions/chromium/manifest.json
Labels: addon, chrome-specific

#18728 [CRX] Fix feature detect of DNR responseHeaders option
  extensions/chromium/pdfHandler.js
Labels: addon, chrome-specific

#18749 [Editor] Take into account the device pixel ratio when drawing an added image
  src/display/display_utils.js
  src/display/editor/stamp.js
  src/pdf.js
  test/unit/pdf_spec.js
  web/new_alt_text_manager.js
  web/pdf_page_view.js
  web/pdf_thumbnail_view.js
  web/pdfjs.js
  web/ui_utils.js
Labels: editor

#18756 Simplify the code that picks the appropriate NetworkStream-implementation
  src/display/api.js
Labels: core

#18757 Rename the toolbar buttons in order to free their current names
  test/integration/accessibility_spec.mjs
  test/integration/find_spec.mjs
  test/integration/freetext_editor_spec.mjs
  test/integration/scripting_spec.mjs
  test/integration/test_utils.mjs
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: viewer

#18761 Fix the rendering of the different separators we've in the UI
  web/annotation_editor_layer_builder.css
  web/dialog.css
  web/viewer-geckoview.css
  web/viewer.css
Labels: viewer

#18763 Link to the new issue templates from the README (PR 18308 follow-up)
  README.md
Labels: other

#18766 Ignore non-existing /Shading resources during parsing (issue 18765)
  src/core/evaluator.js
  test/pdfs/issue18765.pdf.link
  test/test_manifest.json
Labels: core

#18772 Use `fs/promises` in the Node.js unit-tests (PR 17714 follow-up)
  test/driver.js
  test/test.mjs
  test/unit/test_utils.js
Labels: test

#18771 Update dependencies and translations to the most recent versions
  l10n/be/viewer.ftl
  l10n/eo/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/hr/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/kab/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/skr/viewer.ftl
  l10n/sq/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/uk/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#18777 Bump library version to `4.7`
  pdfjs.config
Labels: other

#18385 Refactor the toolbar html & css to improve its overall accessibility (bug 1171799, bug 1855695)
  test/integration/find_spec.mjs
  web/annotation_editor_layer_builder.css
  web/app.js
  web/pdf_find_bar.js
  web/toolbar.js
  web/viewer-geckoview.html
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: viewer

#18781 Update `typescript` to version 5.6.2
  package-lock.json
  package.json
Labels: dependencies

#18783 Remove useless css variable --editor-toolbar-base-offset
  web/viewer.css
Labels: viewer

#18784 Remove duplicated --toolbar-height definition in the css
  web/viewer.css
Labels: viewer

#18790 Correctly compute the font size when printing a text field with an auto font size (bug 1917734)
  src/core/annotation.js
  test/unit/annotation_spec.js
Labels: form-acroform

#18786 Increase the size of the toolbar depending on the uidensity (bug 1171799)
  web/toolbar.js
  web/viewer.css
  web/viewer.html
Labels: viewer

#18795 Remove the unused `splitToolbarButton` CSS class (PR 18385 follow-up)
  web/viewer.css
Labels: viewer

#18796 Unify separate `#toolbarContainer`-blocks in the CSS (PR 18385 follow-up)
  web/viewer.css
Labels: viewer

#18798 Fix the rendering of tiling pattern when the steps are lower than the tile dimensions (bug 1837738)
  src/display/pattern_helper.js
  test/pdfs/.gitignore
  test/pdfs/issue16038.pdf
  test/pdfs/issue16444.pdf.link
  test/test_manifest.json
Labels: tiling-type

#18785 Slightly re-factor the `transportFactory` initialization in `getDocument`
  src/display/api.js
Labels: core

#18799 Remove `trackTransform` arguments from `CachedCanvases.getCanvas`-calls (PR 15281 follow-up)
  src/display/pattern_helper.js
Labels: core

#18802 Add basic support for non-embedded GillSansMT fonts (issue 18801)
  src/core/standard_fonts.js
  test/pdfs/issue18801.pdf.link
  test/test_manifest.json
Labels: font-conversion

#18793 [Editor] Avoid to have a selected stamp annotation on top of the secondary toolbar (bug 1911980)
  test/images/firefox_logo.png
  test/images/firefox_logo.svg
  test/images/red.png
  test/integration/stamp_editor_spec.mjs
  web/viewer.css
Labels: viewer, editor

#18812 Ensure that the CursorTools-buttons are disabled e.g. during editing (PR 15522 follow-up)
  web/pdf_cursor_tools.js
  web/secondary_toolbar.js
Labels: viewer
