Repository mozilla/pdf.js, pull requests merged in 2024-04, with the labels that each got.

#17865 Remove the `addWindowResolutionChange` listener unconditionally (PR 17767 follow-up)
  web/app.js
Labels: viewer, firefox-specific

#17855 Avoid useless CSS animation when nothing is done (bug 1888657)
  web/viewer.css
Labels: viewer

#17861 Limit all `compatibilityParams` handling to the GENERIC viewer
  web/app_options.js
  web/pdf_page_view.js
Labels: viewer

#17854 [api-minor] Replace the `PromiseCapability` with `Promise.withResolvers()`
  gulpfile.mjs
  src/core/chunked_stream.js
  src/core/evaluator.js
  src/core/worker.js
  src/display/api.js
  src/display/fetch_stream.js
  src/display/network.js
  src/display/node_stream.js
  src/display/text_layer.js
  src/display/transport_stream.js
  src/pdf.js
  src/shared/message_handler.js
  src/shared/util.js
  test/driver.js
  test/unit/api_spec.js
  test/unit/message_handler_spec.js
  test/unit/pdf_spec.js
  test/unit/util_spec.js
  web/app.js
  web/event_utils.js
  web/password_prompt.js
  web/pdf_attachment_viewer.js
  web/pdf_document_properties.js
  web/pdf_find_controller.js
  web/pdf_outline_viewer.js
  web/pdf_scripting_manager.js
  web/pdf_viewer.js
  web/pdfjs.js
Labels: core, viewer, test

#17810 Don't translate char codes when platform,encoding isn't (3,0)
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue17808.pdf
  test/test_manifest.json
Labels: font-conversion, font-truetype

#17875 Update the current stride before composing when decoding a text region
  src/core/jbig2.js
  test/pdfs/.gitignore
  test/pdfs/issue17871_bottom_right.pdf
  test/pdfs/issue17871_top_right.pdf
  test/test_manifest.json
Labels: image-jbig2, image-conversion

#17885 [Editor] Remove the mark from the highlight element and set its role to mark (bug 1889623)
  src/display/editor/highlight.js
  test/integration/highlight_editor_spec.mjs
Labels: accessibility, editor

#17880 Update dependencies and translations to the most recent versions
  l10n/be/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/de/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/es-ES/viewer.ftl
  l10n/eu/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fur/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/is/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/oc/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/rm/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/th/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/uk/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, L10n

#17905 Fix annotation border style parsing by handling empty dash arrays
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/issue17904.pdf
  test/test_manifest.json
  test/unit/annotation_spec.js
Labels: annotations

#17891 Convert the thumbnail view(er) code to use proper private methods
  web/pdf_thumbnail_view.js
  web/pdf_thumbnail_viewer.js
Labels: viewer

#17890 Modernize the TTX driver code
  test/font/ttxdriver.mjs
  test/test.mjs
Labels: test

#17907 [Editor] Don't add an already added editor (bug 1890367)
  src/display/editor/annotation_editor_layer.js
  test/integration/ink_editor_spec.mjs
Labels: editor

#17903 [Editor] Avoid calling setTimeout when editing an existing freetext
  src/display/editor/editor.js
  src/display/editor/freetext.js
Labels: editor

#17908 Don't render annotations with a null dimension
  src/core/annotation.js
  test/pdfs/issue17906.pdf.link
  test/test_manifest.json
Labels: core, annotations, form-acroform

#17882 Use the string value of the field when calling the Format callback (bug 1889122)
  src/scripting_api/event.js
  test/integration/scripting_spec.mjs
  test/integration/test_utils.mjs
  test/pdfs/.gitignore
  test/pdfs/bug1889122.pdf
  web/pdf_scripting_manager.js
Labels: form-js

#17916 Tweak the `fill`-value of the Stamp-icon to work better in non-Firefox browsers
  web/images/toolbarButton-editorStamp.svg
Labels: viewer

#17917 Fix the RTL-rule for the `editorHighlightShowAll` button, such that it works outside of the Firefox PDF Viewer
  web/toggle_button.css
Labels: viewer

#17915 Implement a linting rule to discourage using `waitForTimeout` for new usages
  test/integration/.eslintrc
  test/integration/annotation_spec.mjs
  test/integration/freetext_editor_spec.mjs
  test/integration/scripting_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#17913 Don't install `gulp-cli` globally in the GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/font_tests.yml
  .github/workflows/lint.yml
  .github/workflows/publish_website.yml
  .github/workflows/types_tests.yml
Labels: test

#17893 Fix the "must highlight text in the right position" integration test
  test/integration/find_spec.mjs
Labels: test

#17924 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#17925 Convert the history code to use proper private methods
  web/pdf_history.js
Labels: viewer

#17927 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/cy/viewer.ftl
  l10n/da/viewer.ftl
  l10n/en-CA/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/pl/viewer.ftl
  l10n/pt-PT/viewer.ftl
  l10n/skr/viewer.ftl
  l10n/th/viewer.ftl
  l10n/uk/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, L10n

#17930 Remove the tag for missing font subset when trying to find a substitution
  src/core/evaluator.js
  src/core/font_substitutions.js
  test/pdfs/.gitignore
  test/pdfs/issue17929.pdf
  test/test_manifest.json
  test/unit/font_substitutions_spec.js
Labels: font-conversion

#17933 Fix resetting of cursor-tools when closing the document (PR 17464 follow-up)
  web/pdf_cursor_tools.js
  web/secondary_toolbar.js
Labels: viewer, regression

#17934 Warn when a non-embedded font has an invalid name
  src/core/font_substitutions.js
Labels: font-conversion

#17935 Remove the `mkdirp` dependency in favor of the built-in Node.js `fs.mkdirSync`
  gulpfile.mjs
  package-lock.json
  package.json
Labels: other, dependencies

#17879 Improve type definitions for the viewer
  tsconfig.json
  web/annotation_editor_params.js
  web/app.js
  web/base_tree_viewer.js
  web/external_services.js
  web/grab_to_pan.js
  web/password_prompt.js
  web/pdf_attachment_viewer.js
  web/pdf_cursor_tools.js
  web/pdf_document_properties.js
  web/pdf_layer_viewer.js
  web/pdf_outline_viewer.js
  web/pdf_presentation_mode.js
  web/pdf_print_service.js
  web/pdf_sidebar.js
  web/secondary_toolbar.js
  web/toolbar.js
Labels: viewer, types

#17940 Fix the "must check that invisible fields are made visible" scripting integration test
  test/integration/scripting_spec.mjs
Labels: test

#17942 [api-minor] Update the minimum supported Safari version to 16.4
  gulpfile.mjs
  src/core/writer.js
  web/app.js
Labels: other, safari-specific

#17947 Fix the "must check that a field has the correct value when a choice is changed" scripting integration test
  test/integration/scripting_spec.mjs
Labels: test

#17946 [api-minor] Add a jpx decoder based on OpenJPEG 2.5.2
  .eslintignore
  external/openjpeg/README.md
  external/openjpeg/openjpeg.js
  gulpfile.mjs
  src/core/cleanup_helper.js
  src/core/decode_stream.js
  src/core/image.js
  src/core/jpx.js
  src/core/jpx_stream.js
  test/pdfs/.gitignore
  test/pdfs/bug1659412.pdf.link
  test/pdfs/issue12213.1.pdf.link
  test/pdfs/issue12213.pdf
  test/pdfs/issue13051.pdf.link
  test/pdfs/issue16485.pdf.link
  test/pdfs/issue17061.pdf.link
  test/pdfs/issue17289.pdf.link
  test/pdfs/issue4648.pdf.link
  test/pdfs/issue6365.pdf.link
  test/test_manifest.json
Labels: image-jpx

#17949 Bump library version to `4.2`
  pdfjs.config
Labels: other

#17954 Build the openjpeg-based decoder in a web environment in order to avoid issues when used in node
  external/openjpeg/openjpeg.js
Labels: image-jpx

#17951 Fix `JpxImage` API issues (PR 17946 follow-up)
  src/core/jpx.js
  test/fuzz/jpx_image.fuzz.js
Labels: image-jpx

#17956 [JPX] Throw an exception with the error messages returned by openjpeg
  external/openjpeg/openjpeg.js
  src/core/jpx.js
Labels: image-jpx

#17914 [Editor] Provide an element to render in the annotation layer after a freetext has been edited (bug 1890535)
  src/display/annotation_layer.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/tracemonkey_freetext.pdf
  web/annotation_layer_builder.css
  web/annotation_layer_builder.js
  web/pdf_page_view.js
Labels: annotations, editor

#17964 Remove *some* event listeners with `signal` in the viewer
  web/app.js
  web/pdf_presentation_mode.js
Labels: viewer

#17970 Correctly update the xref table when an annotation is deleted
  src/core/document.js
  src/core/writer.js
  test/test_manifest.json
  test/unit/writer_spec.js
Labels: annotations

#17972 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/ar/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/skr/viewer.ftl
  l10n/sl/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, L10n

#17983 Improve jpx decoding by around 20% in enabling simd support when compiling OpenJPEG
  external/openjpeg/openjpeg.js
Labels: performance, image-jpx

#17979 [api-minor] Remove the image-related error message prefixes
  src/core/jbig2.js
  src/core/jpg.js
  src/core/jpx.js
  src/pdf.image_decoders.js
  test/fuzz/jbig2_image.fuzz.js
  test/fuzz/jpeg_image.fuzz.js
  test/fuzz/jpx_image.fuzz.js
  test/unit/pdf.image_decoders_spec.js
Labels: image-conversion

#17985 Use the pdf.js warn when using jpx decoder
  external/openjpeg/openjpeg.js
  src/core/jpx.js
Labels: image-jpx

#17978 Extend the globally cached image main-thread copying to "complex" images as well (PR 17428 follow-up)
  src/core/evaluator.js
  test/pdfs/issue11518.pdf.link
  test/test_manifest.json
  test/unit/api_spec.js
Labels: performance, image-conversion

#17977 Update `JpxImage.parseImageProperties` to support TypedArray data in IMAGE_DECODERS builds
  src/core/jpx.js
Labels: image-jpx

#17969 Remove all `waitForTimeout` usage from the annotation integration tests
  test/integration/annotation_spec.mjs
Labels: test

#17984 Validate explicit destinations on the worker-thread to prevent `DataCloneError` (issue 17981)
  src/core/catalog.js
  src/display/api.js
  test/pdfs/issue17981.pdf.link
  test/test_manifest.json
  web/pdf_link_service.js
Labels: core

#17986 Allow to insert several annotations under the same parent in the structure tree
  src/core/primitives.js
  src/core/struct_tree.js
  test/pdfs/.gitignore
  test/pdfs/pdfjs_wikipedia.pdf
  test/unit/api_spec.js
  test/unit/primitives_spec.js
Labels: annotations, accessibility

#17868 Always enable smoothing when rendering downscaled image
  src/display/canvas.js
Labels: core, image-quality

#18015 Simplify the way to pass the glyph drawing instructions from the worker to the main thread
  src/core/evaluator.js
  src/core/font_renderer.js
  src/display/api.js
  src/display/font_loader.js
  src/shared/util.js
Labels: font-conversion

#18014 Validate additional font-dictionary properties
  src/core/core_utils.js
  src/core/evaluator.js
  src/core/font_renderer.js
  src/core/function.js
Labels: core

#18017 Add more validation of width-data
  src/core/evaluator.js
Labels: font-conversion

#18018 Reduce code-duplication when caching data in `CompiledFont.getPathJs`
  src/core/font_renderer.js
Labels: font-conversion

#18013 Re-factor `SimpleLinkService` to extend `PDFLinkService`
  web/pdf_link_service.js
Labels: viewer

#18001 [api-minor] Move the page reference/number caching into the API
  src/core/worker.js
  src/display/api.js
  web/interfaces.js
  web/pdf_link_service.js
  web/pdf_outline_viewer.js
  web/pdf_viewer.js
Labels: core, viewer

#18023 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#18019 Fix rendering problem when zooming on Safari
  web/pdf_viewer.css
Labels: viewer, safari-specific
