Repository mozilla/pdf.js, pull requests merged in 2024-01, with the labels that each got.

#17475 [Editor] Take into account the crop box when saving/printing some highlighted text (bug 1872721)
  src/display/editor/highlight.js
  test/pdfs/.gitignore
  test/pdfs/bug1872721.pdf
  test/test_manifest.json
Labels: editor

#17477 Update Puppeteer to version 21.7.0
  package-lock.json
  package.json
Labels: dependencies

#17476 Avoid to have the text layer mismatching the rendered text with mismatching locales (bug 1869001)
  src/display/api.js
  src/display/text_layer.js
  web/app.js
  web/pdf_page_view.js
  web/pdf_viewer.css
  web/pdf_viewer.js
  web/text_layer_builder.js
Labels: text-selection

#17458 Preserve the whitespaces when getting text from FreeText annotations (bug 1871353)
  src/core/annotation.js
  src/core/default_appearance.js
  src/core/evaluator.js
  src/display/editor/freetext.js
  test/integration/freetext_editor_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/bug1871353.1.pdf
  test/pdfs/bug1871353.pdf
Labels: core, editor

#17481 [Editor] Init the default highlight color before creating the first editor instance
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/highlight.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  test/integration/highlight_editor_spec.mjs
  test/integration/test_utils.mjs
  web/app.js
  web/app_options.js
Labels: editor

#17482 Update packages and translations
  gulpfile.mjs
  l10n/bg/viewer.ftl
  l10n/br/viewer.ftl
  l10n/da/viewer.ftl
  l10n/fur/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/ka/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/th/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, L10n

#17487 Remove terminal white spaces when extracting text from annotation appearances
  src/core/annotation.js
  test/integration-boot.mjs
  test/integration/text_field_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/file_pdfjs_form.pdf
Labels: regression, annotations

#17498 [Editor] Don't throw when changing the color of an invisible highlight
  src/display/editor/highlight.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#17499 [Editor] Move the code to generate the SVG path from draw_layer.js to outliner.js
  src/display/draw_layer.js
  src/display/editor/outliner.js
Labels: editor

#17501 [Editor] Correctly serialize highlight data (regression from #17499)
  src/display/editor/highlight.js
  src/display/editor/outliner.js
  test/integration/highlight_editor_spec.mjs
Labels: regression, editor

#17504 [api-minor] Validate the `workerPort`/`workerSrc` options
  src/display/worker_options.js
Labels: core

#17490 Add note about running `npm install` on MacOS
  README.md
Labels: other

#17507 Bump library version to `4.1`
  pdfjs.config
Labels: other

#17489 Update `gulp-cli` to 2.3.0 and explicitly add it as a dependency
  README.md
  package-lock.json
  package.json
Labels: other, dependencies

#17508 Consistently remove the "visibilitychange" listener in `PDFViewer` (PR 14388 follow-up)
  web/pdf_viewer.js
Labels: viewer

#17513 Update l10n files
  l10n/be/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/de/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/eo/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ka/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/pl/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/th/viewer.ftl
  l10n/uk/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  l10n/zh-TW/viewer.ftl
Labels: L10n

#17511 [Editor] Extract all the lines when adding a FreeText annotation
  src/display/editor/freetext.js
  test/integration/freetext_editor_spec.mjs
Labels: editor

#17517 [Editor] Slightly simplify the serialization of an highlight annotation
  src/display/editor/highlight.js
  src/display/editor/outliner.js
Labels: editor

#17519 [Editor] Make editors draggable with touchscreens
  src/display/editor/editor.js
  web/annotation_editor_layer_builder.css
Labels: editor

#17405 Add the font Linux Libertine as a possible substitution for Times New Roman
  src/core/font_substitutions.js
  test/unit/font_substitutions_spec.js
Labels: font-conversion

#17525 Format json files in using prettier
  .prettierignore
  extensions/chromium/manifest.json
  extensions/chromium/preferences_schema.json
  gulpfile.mjs
  test/test_manifest.json
  test/types/tsconfig.json
  test/unit/clitests.json
  tsconfig.json
Labels: other

#17527 [Editor] Avoid an exception when pressing space key to change the color of an highlight
  src/display/editor/color_picker.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#17529 Exclude the `web/locale/` folder from linting (PR 17525 follow-up)
  .eslintignore
  .prettierignore
  .stylelintignore
Labels: other

#17528 [Editor] Avoid to move a non-draggable editor with the keyboard
  src/display/editor/highlight.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#17506 [Editor] Add the ability to make a free highlight (i.e. without having to select some text) (bug 1856218)
  src/display/draw_layer.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/highlight.js
  src/display/editor/outliner.js
  web/annotation_editor_layer_builder.css
  web/draw_layer_builder.css
  web/text_layer_builder.css
Labels: editor

#17534 [Editor] Change the arrow direction when the dropdown is visible in the color picker (bug 1875357)
  src/display/editor/color_picker.js
  test/integration/highlight_editor_spec.mjs
  web/annotation_editor_layer_builder.css
Labels: editor

#17533 Make the caret visible in the text layer in caret browsing mode
  src/display/base_factory.js
  src/display/display_utils.js
  web/annotation_layer_builder.css
  web/pdf_page_view.js
  web/pdf_viewer.css
  web/pdf_viewer.js
  web/text_layer_builder.css
Labels: text-selection, accessibility

#17531 [Editor] Add support for printing/saving free highlight annotations
  src/core/annotation.js
  src/core/writer.js
  src/display/editor/highlight.js
  src/display/editor/outliner.js
  test/test_manifest.json
  test/unit/annotation_spec.js
Labels: annotations, editor

#17537 Remove the `isArrayBuffer` helper function
  src/display/api.js
  src/shared/murmurhash3.js
  src/shared/util.js
  test/unit/util_spec.js
Labels: core

#17544 Update packages and translations
  .prettierrc
  l10n/cy/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/es-ES/viewer.ftl
  l10n/eu/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/is/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/skr/viewer.ftl
  l10n/sl/viewer.ftl
  l10n/tr/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, L10n

#17546 Ignore auto-formatting patches in `git blame`
  .git-blame-ignore-revs
Labels: other

#17547 Remove DNS resolver workaround from the test framework
  test/test.mjs
Labels: test

#17543 [Editor] Unselect highlights when the user click on the text layer (bug 1869767)
  src/display/editor/annotation_editor_layer.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#17541 Use the original value of a field when propagating event (fixes #17540)
  src/scripting_api/aform.js
  src/scripting_api/event.js
  test/integration/scripting_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/issue17540.pdf
  test/unit/scripting_spec.js
Labels: form-js

#17539 [Editor] Don't add the keyboard listener on the color-picker each time the dropdown menu is shown
  src/display/editor/color_picker.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#17548 Avoid to have focused tests in using eslint-plugin-jasmine
  package-lock.json
  package.json
  test/.eslintrc
Labels: other

#17550 Use shorter arrow functions where possible
  .eslintrc
  src/core/annotation.js
  src/core/catalog.js
  src/core/cmap.js
  src/core/document.js
  src/core/evaluator.js
  src/core/fonts.js
  src/core/writer.js
  src/core/xfa/utils.js
  src/display/annotation_layer.js
  src/display/api.js
  src/display/canvas.js
  src/display/display_utils.js
  src/display/editor/tools.js
  src/display/fetch_stream.js
  src/display/network.js
  src/display/node_stream.js
  src/display/node_utils.js
  src/pdf.sandbox.js
  src/scripting_api/util.js
  src/shared/util.js
  test/driver.js
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/test_utils.mjs
  test/unit/api_spec.js
  test/unit/cff_parser_spec.js
  test/unit/message_handler_spec.js
  test/unit/node_stream_spec.js
  test/unit/pdf_find_controller_spec.js
  test/unit/scripting_spec.js
  web/app.js
  web/pdf_document_properties.js
  web/pdf_find_controller.js
  web/pdf_link_service.js
  web/pdf_scripting_manager.component.js
  web/ui_utils.js
Labels: core, viewer, test

#17553 Add more `async` code when loading fonts in the `PartialEvaluator`
  src/core/evaluator.js
Labels: core

#17555 Don't ignore `test.mjs` child process exit codes in the Gulpfile
  gulpfile.mjs
Labels: test

#17556 Ensure that `EvaluatorPreprocessor.opMap` has a null-prototype (issue 17554)
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue17554.pdf
  test/test_manifest.json
Labels: core

#17558 Print correctly documents containing chars with an unicode greater than 0xFFFF (bug 1669097)
  src/core/annotation.js
  src/core/core_utils.js
  src/core/default_appearance.js
  test/pdfs/.gitignore
  test/pdfs/bug1669097.pdf
  test/test_manifest.json
Labels: form-acroform

#17562 Add more `async` code in the `PartialEvaluator`
  src/core/evaluator.js
Labels: core

#17564 [Editor] Update the parameters in the UI of the last selected editor when undoing/redoing
  src/display/editor/freetext.js
  src/display/editor/highlight.js
  src/display/editor/ink.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.mjs
Labels: editor

#17568 [Editor] Add the possibility to change the thickness of a free highlight (bug 1876096)
  l10n/en-US/viewer.ftl
  src/display/draw_layer.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/highlight.js
  src/display/editor/outliner.js
  src/shared/util.js
  test/integration/highlight_editor_spec.mjs
  web/annotation_editor_layer_builder.css
  web/annotation_editor_params.js
  web/viewer.html
  web/viewer.js
Labels: editor

#17578 Fix unreferenced CSS variables (PR 17533 follow-up)
  web/pdf_viewer.css
  web/text_layer_builder.css
Labels: viewer

#17580 [Editor] Change the icon to add a FreeText annotation (bug 1876564)
  web/images/toolbarButton-editorFreeText.svg
Labels: ux, editor

#17587 Fix the textLayer-opacity when using the FontInspector (PR 17533 follow-up)
  web/debugger.css
Labels: viewer

#17581 [Editor] Change the cursors for highlighting (bug 1876588)
  gulpfile.mjs
  src/display/editor/annotation_editor_layer.js
  web/annotation_editor_layer_builder.css
  web/images/cursor-editorTextHighlight.svg
  web/text_layer_builder.css
Labels: editor

#17582 [Editor] Add a tooltip to the slider to set the thickness of free highlights
  l10n/en-US/viewer.ftl
  web/viewer.html
Labels: editor

#17588 Re-factor `DefaultExternalServices` into a regular class, without static methods
  gulpfile.mjs
  test/unit/unit_test.html
  web/app.js
  web/chromecom.js
  web/external_services.js
  web/firefoxcom.js
  web/genericcom.js
  web/viewer-geckoview.html
  web/viewer.html
Labels: viewer

#17590 Update dependencies/translations to the most recent versions
  gulpfile.mjs
  l10n/ar/viewer.ftl
  l10n/en-CA/viewer.ftl
  l10n/fur/viewer.ftl
  l10n/it/viewer.ftl
  package-lock.json
  package.json
  test/unit/annotation_spec.js
Labels: other, test, dependencies

#17591 Re-enable the `should compress and save text` unit-test (issue 17399)
  test/unit/annotation_spec.js
Labels: test

#17592 [GENERIC viewer] Generate the `fileInput` DOM-element dynamically
  web/app.js
  web/viewer-geckoview.html
  web/viewer-geckoview.js
  web/viewer.html
  web/viewer.js
Labels: viewer

#17593 Move the `debuggerSrc`-parameter into the `AppOptions`
  web/app.js
  web/app_options.js
  web/viewer.js
Labels: viewer

#17596 Fix transform of unary expression in Babel plugin
  external/builder/babel-plugin-pdfjs-preprocessor.mjs
  external/builder/fixtures_esprima/evals-expected.js
  external/builder/fixtures_esprima/evals.js
  web/firefoxcom.js
Labels: other

#17598 [Editor] Update highlight cursors
  web/annotation_editor_layer_builder.css
  web/images/cursor-editorFreeHighlight.svg
  web/images/cursor-editorTextHighlight.svg
Labels: editor

#17586 [Editor] Remove the outline which is inside the free highlight shape
  src/display/draw_layer.js
  web/draw_layer_builder.css
Labels: editor

#17602 [Editor] Fix the position of the free highlight toolbar
  src/display/editor/highlight.js
  src/display/editor/outliner.js
Labels: editor

#17603 Ensure that `GenericL10n` works if the locale files cannot be loaded
  examples/mobile-viewer/viewer.mjs
  gulpfile.mjs
  test/unit/pdf_viewer.component_spec.js
  test/unit/unit_test.html
  tsconfig.json
  web/annotation_editor_layer_builder.js
  web/genericl10n.js
  web/l10n.js
  web/l10n_utils.js
  web/pdf_page_view.js
  web/pdf_viewer.component.js
  web/pdf_viewer.js
  web/stubs.js
  web/viewer-geckoview.html
  web/viewer.html
Labels: viewer

#17604 Initialize the `ExternalServices`-instance lazily in the viewer (PR 17588 follow-up)
  web/app.js
Labels: viewer, firefox-specific
