Repository mozilla/pdf.js, pull requests merged in 2024-02, with the labels that each got.

#17610 Point the *development mode* fallback locale-path to the `l10n`-folder (issue 17609, PR 17603 follow-up)
  web/genericl10n.js
Labels: viewer

#17619 Use a limit, in more places, when splitting strings
  extensions/chromium/extension-router.js
  src/core/evaluator.js
  src/core/fonts.js
  test/driver.js
  web/generic_scripting.js
  web/pdf_history.js
Labels: core, viewer, addon

#17620 Simplify the signature of the `PDFDataTransportStream` constructor
  src/display/api.js
  src/display/transport_stream.js
Labels: core

#17611 Implement caret browsing mode (bug 807730)
  test/integration-boot.mjs
  test/integration/caret_browsing_spec.mjs
  web/app.js
  web/app_options.js
  web/caret_browsing.js
Labels: accessibility

#17638 [Editor] Set the right color to size samples in the highlight thickness panelwhen in HCM (bug 1879107)
  web/annotation_editor_layer_builder.css
Labels: accessibility, editor

#17634 Remove support for `require` statements from the build system
  external/builder/babel-plugin-pdfjs-preprocessor.mjs
  external/builder/fixtures_esprima/importalias-expected.js
  external/builder/fixtures_esprima/importalias.js
Labels: other

#17643 [Editor] Compute the position of the last point before applying rotation (bug 1879113)
  src/display/editor/highlight.js
Labels: editor

#17645 Update quickjs to 3f81070e573e3592728dbbbd04c84c498b20d6dc
  external/quickjs/quickjs-eval.js
Labels: form-js

#17646 Break import cycles, in the viewer, for `PDFViewerApplication`
  gulpfile.mjs
  test/unit/unit_test.html
  web/app.js
  web/chromecom.js
  web/firefox_print_service.js
  web/firefoxcom.js
  web/genericcom.js
  web/interfaces.js
  web/pdf_print_service.js
  web/viewer-geckoview.html
  web/viewer-geckoview.js
  web/viewer.html
  web/viewer.js
Labels: viewer

#17655 Update translations and dependencies to the most recent versions
  l10n/be/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/de/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fur/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/is/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/rm/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/th/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/uk/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
  test/integration/annotation_spec.mjs
  test/integration/freetext_editor_spec.mjs
  test/integration/scripting_spec.mjs
  test/integration/test_utils.mjs
  test/test.mjs
Labels: test, dependencies, L10n

#17657 Prevent duplicate names in unit/integration tests
  test/.eslintrc
  test/integration/find_spec.mjs
  test/unit/scripting_spec.js
  test/unit/xfa_parser_spec.js
Labels: test

#17658 Enable the `no-new-symbol` and `require-yield` ESLint rules
  .eslintrc
Labels: other

#17652 [Editor] Disable the thickness slider for non-free highlight
  src/display/editor/highlight.js
  src/shared/util.js
  web/annotation_editor_params.js
Labels: editor

#17650 [Editor] Add a way to highlight text in using the keyboard (bug 1877426)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/tools.js
  test/integration/highlight_editor_spec.mjs
Labels: accessibility, editor

#17651 Revert "Remove the `enableStampEditor` preference" (bug 1879588)
  extensions/chromium/preferences_schema.json
  web/app.js
  web/app_options.js
  web/viewer.html
Labels: editor

#17647 Remove empty, top-level, nodes in the Babel plugin
  external/builder/babel-plugin-pdfjs-preprocessor.mjs
  external/builder/fixtures_esprima/ifs-expected.js
  external/builder/fixtures_esprima/ifs.js
Labels: other

#17661 Modernize the webserver code (part 1)
  test/webserver.mjs
Labels: other

#17662 [Editor] Set rotated free highlight at the right position after having changed its thickness (bug 1879108)
  src/display/draw_layer.js
  src/display/editor/highlight.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#17663 Tweak the issue 11878 unit-test parsing time check (PR 17428 follow-up)
  test/unit/api_spec.js
Labels: test

#17664 [Editor] Ends a free highlight where the mouse pointer is (bug 1879281)
  src/display/editor/outliner.js
Labels: editor

#17666 Skip any whitespace after the first object in linearized PDFs (issue 17665)
  src/core/document.js
  src/core/worker.js
  src/display/api.js
  test/unit/api_spec.js
Labels: core

#17636 When updating, write the xref table in the same format as the previous one (bug 1878916)
  src/core/core_utils.js
  src/core/worker.js
  src/core/writer.js
  test/unit/core_utils_spec.js
  test/unit/writer_spec.js
Labels: core

#17637 Move the `__non_webpack_import__` re-writing into the Babel plugin
  external/builder/babel-plugin-pdfjs-preprocessor.mjs
  external/builder/fixtures_esprima/importalias-expected.js
  external/builder/fixtures_esprima/importalias.js
  gulpfile.mjs
Labels: other

#17674 Fix the endoffset of the last glyph when it's followed by a null offset in the loca table
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue17671.pdf
  test/test_manifest.json
Labels: font-truetype

#17676 Access `PDFViewerApplication.findBar` safely in more spots (PR 15831 follow-up)
  web/app.js
Labels: viewer

#17680 Add a dummy `beginMarkedContentProps` operator when optional content parsing fails (issue 17679)
  src/core/evaluator.js
  src/display/optional_content_config.js
  test/pdfs/.gitignore
  test/pdfs/issue17679.pdf
  test/pdfs/issue17679_2.pdf
  test/test_manifest.json
Labels: core

#17667 Change `PDFPrintServiceFactory.createPrintService` to take a parameter object
  web/app.js
  web/firefox_print_service.js
  web/pdf_print_service.js
Labels: viewer, printing

#17678 Remove unneeded `tweakWebpackOutput` usage in the gulpfile (PR 17637 follow-up)
  gulpfile.mjs
Labels: other

#17681 Tweak the `parseMinified` handling slightly in the gulpfile
  gulpfile.mjs
Labels: other

#17685 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/cs/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/da/viewer.ftl
  l10n/el/viewer.ftl
  l10n/eo/viewer.ftl
  l10n/fur/viewer.ftl
  l10n/he/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/pl/viewer.ftl
  l10n/rm/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/zh-CN/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, L10n

#17684 Modernize the webserver code (part 2)
  gulpfile.mjs
  test/test.mjs
  test/webserver.mjs
Labels: other

#17686 Run minification directly during Webpack building
  gulpfile.mjs
  package-lock.json
  package.json
Labels: other

#17687 Disable source-map generation in the minified builds (PR 17686 follow-up)
  gulpfile.mjs
Labels: other

#17702 [Editor] Disable annotation layer when highlighting (bug 1868759)
  src/display/editor/annotation_editor_layer.js
  test/integration/highlight_editor_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/bug1868759.pdf
  web/annotation_layer_builder.css
Labels: editor

#17701 [Editor] Add the possibility to query some ML stuff to guess an alt text for an image
  extensions/chromium/preferences_schema.json
  src/display/editor/alt_text.js
  src/display/editor/editor.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
  web/app.js
  web/app_options.js
  web/chromecom.js
  web/firefoxcom.js
  web/genericcom.js
  web/pdf_viewer.js
Labels: editor

#17708 [Editor] Add the possibility to create an highlight from the context menu when some text is selected (bug 1867739)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/tools.js
  test/integration/caret_browsing_spec.mjs
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  web/pdf_presentation_mode.js
  web/toolbar.js
Labels: editor

#17719 [Editor] In caret browsing mode, get the caret position in the text layer (bug 1881692)
  test/integration/highlight_editor_spec.mjs
  web/app.js
  web/caret_browsing.js
Labels: accessibility, editor

#17718 Tweak how the `hexNumbers` Array, used by `Util.makeHexColor`, is built
  src/shared/util.js
Labels: core

#17722 Fix the string GlobalConstants.IDS_INVALID_DATE
  src/scripting_api/constants.js
Labels: form-js

#17720 [Editor] In caret browsing mode, allow to select in pressing shift and arrow down (bug 1881802)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/tools.js
  test/integration/highlight_editor_spec.mjs
  test/test.mjs
Labels: editor

#17724 Avoid to have to wait to zoom after scrolling
  web/app.js
Labels: viewer

#17738 Always add links in the annotation layer
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/issue17730.pdf
  test/test_manifest.json
Labels: annotations

#17737 [Editor] Add some telemetry for the highlight feature (bug 1866437)
  src/display/annotation_storage.js
  src/display/editor/alt_text.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/highlight.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
  web/alt_text_manager.js
  web/app.js
Labels: editor

#17748 [Editor] Count the colors used when highlighting whatever the highlight kind is
  src/display/editor/highlight.js
Labels: editor

#17750 Inline the `HighlightEditor.#telemetryType` getter at its only call-site (PR 17748 follow-up)
  src/display/editor/highlight.js
Labels: editor

#17755 [Editor] Add the possibility to move the caret with the keyboard once an highlight has been made (bug 1881684)
  src/display/editor/highlight.js
  src/display/editor/tools.js
  test/integration/highlight_editor_spec.mjs
Labels: accessibility, editor

#17756 [Editor] Make the delete button clickable with the space key (bug 1882248)
  src/display/editor/tools.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#17757 [Editor] Enable the thickness input when no editors are selected (bug 1881219)
  src/display/editor/tools.js
  test/integration/highlight_editor_spec.mjs
Labels: editor
