Repository mozilla/pdf.js, pull requests merged in 2024-12, with the labels that each got.

#19135 Use even more optional chaining in the `src/display/api.js` file
  src/display/api.js
Labels: core

#19136 Shorten the `WorkerMessageHandler` class a little bit
  src/core/worker.js
Labels: core

#19137 Move the `getPage` call in `PDFDocumentProperties` class
  web/pdf_document_properties.js
Labels: viewer

#19099 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/be/viewer.ftl
  l10n/da/viewer.ftl
  l10n/el/viewer.ftl
  l10n/es-ES/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pl/viewer.ftl
  l10n/si/viewer.ftl
  l10n/sl/viewer.ftl
  l10n/sq/viewer.ftl
  l10n/sr/viewer.ftl
  l10n/th/viewer.ftl
  l10n/uk/viewer.ftl
  package-lock.json
  package.json
  src/display/api.js
Labels: dependencies, l10n

#19117 Disable the browser-tests in Google Chrome on the bots
  gulpfile.mjs
  test/driver.js
  test/test_manifest.json
Labels: chrome-specific, test

#19139 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#19142 Fix the clickable area for rotated ink annotations
  src/display/annotation_layer.js
  test/integration/annotation_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/rotated_ink.pdf
Labels: annotations

#19144 [Editor] Don't focus a newly added drawing if it isn't visible on screen
  src/display/editor/draw.js
  src/display/editor/editor.js
  test/integration/ink_editor_spec.mjs
Labels: editor

#19151 [Editor] Make ink annotation editable
  src/core/annotation.js
  src/display/annotation_layer.js
  src/display/editor/drawers/inkdraw.js
  src/display/editor/drawers/outline.js
  src/display/editor/editor.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  test/integration/annotation_spec.mjs
  test/integration/freetext_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/test_utils.mjs
  test/pdfs/.gitignore
  test/pdfs/inks.pdf
  test/pdfs/inks_basic.pdf
  test/test_manifest.json
Labels: annotations, editor

#19074 Add test cases for redirected responses
  test/unit/api_spec.js
  test/unit/common_pdfstream_tests.js
  test/unit/fetch_stream_spec.js
  test/unit/network_spec.js
  test/unit/test_utils.js
  test/webserver.mjs
Labels: core, test

#18900 Annotation deletion popup (bug 1899731)
  gulpfile.mjs
  l10n/en-US/viewer.ftl
  src/display/editor/draw.js
  src/display/editor/editor.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
  web/app.js
  web/dialog.css
  web/editor_undo_bar.js
  web/message_bar.css
  web/pdf_viewer.css
  web/pdf_viewer.js
  web/viewer.html
  web/viewer.js
Labels: editor

#19155 [Editor] Corrrectly get the words from the alt-text when reporting the telemetry (bug 1929311)
  test/integration/stamp_editor_spec.mjs
  web/genericcom.js
  web/new_alt_text_manager.js
Labels: editor

#19160 Fix unused css variables (follow-up of #18900)
  web/message_bar.css
Labels: viewer

#19161 Introduce `Promise.try()` usage in the code-base
  src/shared/message_handler.js
  src/shared/util.js
Labels: core

#19163 Correctly wait for the editor mode when double clicking on an annotation in integration tests
  test/integration/ink_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
Labels: test, editor

#19172 Ensure that the `.toggleButton`, as used in the findbar, always have visible hover/focus state (issue 19165)
  web/viewer.css
Labels: viewer

#19174 [Editor] Correctly update the current drawing when zooming
  src/display/editor/annotation_editor_layer.js
  src/display/editor/tools.js
  test/integration/ink_editor_spec.mjs
Labels: editor

#19177 Avoid to display an alert or a confirm dialog if the message is empty
  src/scripting_api/app.js
  test/unit/scripting_spec.js
Labels: form-js

#19178 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#19164 When zooming replace the css-zoomed canvas by the new one only when rendering is finished
  test/integration/viewer_spec.mjs
  web/pdf_page_view.js
  web/pdf_viewer.css
Labels: viewer

#19114 Ensure that a missing/invalid "Content-Range" header is handled in `PDFNetworkStream` (issue 19075)
  src/display/network.js
  test/unit/network_spec.js
  test/webserver.mjs
Labels: core, test

#19148 Do not stringify errors when logging them
  eslint.config.mjs
  test/downloadutils.mjs
  test/driver.js
  test/unit/testreporter.js
  web/app.js
  web/download_manager.js
  web/firefoxcom.js
  web/l10n.js
  web/pdf_page_view.js
  web/pdf_rendering_queue.js
  web/pdf_scripting_manager.js
  web/viewer.js
Labels: viewer, test

#19184 Get the first codepoint instead of the first char when using the toUnicode map
  src/core/to_unicode_map.js
  test/pdfs/.gitignore
  test/pdfs/issue19182.pdf
  test/test_manifest.json
Labels: font-conversion

#19185 Support toggling the `PDFFindBar` options with the `Enter` key (issue 19175)
  web/pdf_find_bar.js
Labels: viewer

#19190 Update dependencies and translations to the most recent versions
  eslint.config.mjs
  gulpfile.mjs
  l10n/cs/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/en-CA/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/fa/viewer.ftl
  l10n/hr/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/id/viewer.ftl
  l10n/is/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sr/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
  web/viewer-geckoview.js
  web/viewer.js
Labels: dependencies, l10n

#19191 Print more warnings about potential problems in Node.js environments
  src/display/node_utils.js
Labels: node-specific

#19192 Fix intermittent issues in the `issue14307.pdf` integration tests
  test/integration/scripting_spec.mjs
Labels: test

#19197 Add a ref test for setting disableFontFace to true
  test/driver.js
  test/test_manifest.json
Labels: test

#19196 Take the `userUnit` into account in the `PageViewport` class (issue 19176)
  src/display/api.js
  src/display/display_utils.js
  test/pdfs/.gitignore
  test/pdfs/issue19176.pdf
  test/test_manifest.json
  test/unit/api_spec.js
Labels: core

#19189 Improve perfs of the font renderer
  src/core/font_renderer.js
  src/display/canvas.js
  src/display/font_loader.js
  src/shared/util.js
Labels: core, performance, font-conversion

#19200 Remove the raw path-strings after creating the actual `Path2D` glyph-objects
  src/display/api.js
  src/display/font_loader.js
Labels: core, performance

#19203 Update OpenJPEG to 2.5.3
  external/openjpeg/openjpeg.js
Labels: image-jpx, dependencies

#19204 Make sure the canvas is always the first child of its wrapper
  web/pdf_page_view.js
Labels: viewer, editor

#19201 [Editor] When resizing a stamp annotation, the opposite corner must stay fixed
  src/display/editor/stamp.js
  test/integration/freetext_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: editor

#19198 Fix intermittent failures when moving a freetext annotation in integration tests
  src/display/editor/editor.js
  test/integration/freetext_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#19208 Update Puppeteer to version 23.10.2
  package-lock.json
  package.json
Labels: dependencies

#19210 Update Puppeteer to version 23.10.3
  package-lock.json
  package.json
Labels: dependencies

#19209 [Editor] Improve drawing on a touch screen.
  src/display/editor/annotation_editor_layer.js
  src/display/editor/draw.js
  src/display/editor/drawers/inkdraw.js
  web/annotation_editor_layer_builder.css
Labels: editor

#19215 [Editor] Avoid to focus an existing editor when enabling the layer
  src/display/editor/annotation_editor_layer.js
  src/display/editor/draw.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/highlight.js
  src/display/editor/stamp.js
  test/integration/highlight_editor_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/issue18911.pdf
Labels: editor

#19216 Move the pinch stuff in its own file in order to use for editors
  src/display/touch_manager.js
  src/pdf.js
  test/unit/pdf_spec.js
  web/app.js
  web/pdfjs.js
Labels: viewer

#19219 [Editor] Add the ability to resize an editor in using a pinch gesture
  src/display/editor/editor.js
  src/display/editor/tools.js
  src/display/touch_manager.js
  web/app.js
  web/pdf_viewer.js
Labels: editor

#19214 Don't remove trailing regular spaces from the "raw" response headers (issue 19205)
  src/display/network.js
Labels: core, regression

#19224 [api-minor] Remove deprecated `getDocument` options (PR 18776 follow-up)
  src/display/api.js
Labels: core

#19225 Bump library version to `4.10`
  pdfjs.config
Labels: other

#19226 Disable touch-zooming, in the viewer, if `AbortSignal.any` is unsupported (PR 19216 follow-up)
  web/app.js
Labels: viewer

#19236 Add basic support for non-embedded HelveticaLTStd-Bold fonts (issue 19234)
  src/core/standard_fonts.js
  test/pdfs/issue19234.pdf.link
  test/test_manifest.json
Labels: font-conversion

#19238 Take the absolute value of the font size when the annotation contents is in xhtml (bug 1938087)
  src/core/xfa/xhtml.js
  test/unit/xfa_tohtml_spec.js
Labels: annotations

#19237 Disable the `handle reading ranges with missing/invalid "Content-Range" header` unit-test in Google Chrome (PR 19114 follow-up)
  test/unit/network_spec.js
Labels: test, intermittent

#19232 Fix left offset when scrolling to search result
  test/integration/find_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/issue19207.pdf
  web/text_highlighter.js
Labels: text-selection

#19243 Update dependencies and translations to the most recent versions
  l10n/be/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/da/viewer.ftl
  l10n/de/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-CA/viewer.ftl
  l10n/eo/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/es-ES/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/ka/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/oc/viewer.ftl
  l10n/pl/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/pt-PT/viewer.ftl
  l10n/rm/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/skr/viewer.ftl
  l10n/sl/viewer.ftl
  l10n/sq/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/th/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/uk/viewer.ftl
  l10n/zh-CN/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#19246 Add missing `startWorkerTask` calls in the "SaveDocument" handler
  src/core/worker.js
Labels: core

#19254 Improve the test folder structure
  test/font/font_test.html
  test/font/jasmine-boot.js
  test/integration/jasmine-boot.js
  test/reporter.js
  test/resources/favicon.ico
  test/test.mjs
  test/unit/jasmine-boot.js
  test/unit/unit_test.html
Labels: test

#19258 Remove mention of Bower from the README (PR 15390 follow-up)
  README.md
Labels: other

#19260 Shorten some `if`-statements in the `src/core/` folder
  src/core/annotation.js
  src/core/catalog.js
  src/core/ccitt.js
  src/core/decrypt_stream.js
  src/core/font_renderer.js
  src/core/xref.js
Labels: core

#19263 Remove the unused `glyphNameMap` parameter from `Type2Compiled`
  src/core/font_renderer.js
Labels: core, font-conversion

#19262 Assert that the `fontMatrix` is always valid in `compileGlyph`
  src/core/font_renderer.js
Labels: core, font-conversion

#19259 Reduce duplication when handling "DocException" and "PasswordRequest" messages
  src/core/worker.js
  src/display/api.js
  src/shared/message_handler.js
Labels: core

#19269 For images that include SMask/Mask entries, ignore an SMask defined in the current graphics state (bug 986450)
  src/core/evaluator.js
  src/core/operator_list.js
  test/pdfs/.gitignore
  test/pdfs/issue14200.pdf
  test/test_manifest.json
Labels: smask

#19271 Update l10n files
  l10n/es-CL/viewer.ftl
  l10n/es-MX/viewer.ftl
  l10n/eu/viewer.ftl
  l10n/ka/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/uk/viewer.ftl
Labels: l10n

#19273 Remove the `requestRange`/`requestFull` methods from the `NetworkManager` class
  src/display/network.js
Labels: core
