Repository mozilla/pdf.js, pull requests merged in 2024-05, with the labels that each got.

#18029 [api-minor] Remove the use of (get/put)ImageData when drawing SMasks (bug 1874013)
  src/display/base_factory.js
  src/display/canvas.js
  src/display/display_utils.js
  test/pdfs/issue17779.pdf.link
  test/test_manifest.json
Labels: performance, smask

#18031 [api-minor] Expose the /Desc-attribute of file attachments in the viewer (issue 18030)
  src/core/file_spec.js
  src/display/annotation_layer.js
  test/pdfs/.gitignore
  test/pdfs/issue18030.pdf
  test/unit/annotation_spec.js
  test/unit/api_spec.js
  web/pdf_attachment_viewer.js
Labels: core, viewer

#18033 Bump library version to `4.3`
  pdfjs.config
Labels: other

#18034 [api-minor] Improve the `FileSpec` implementation
  src/core/catalog.js
  src/core/file_spec.js
  src/display/annotation_layer.js
  src/display/display_utils.js
  test/unit/annotation_spec.js
  test/unit/api_spec.js
  test/unit/display_utils_spec.js
  web/pdf_attachment_viewer.js
Labels: core, viewer

#18009 Pin GitHub actions to Node.js 21
  .github/workflows/ci.yml
Labels: test

#18044 Avoid to aria-hide the structure tree (bug 1894849)
  test/integration/accessibility_spec.mjs
  web/pdf_page_view.js
Labels: accessibility

#18041 Remove most `waitForTimeout` usage from the freetext editor integration tests
  test/integration/annotation_spec.mjs
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
Labels: test

#18026 Validate even more dictionary properties
  src/core/annotation.js
  src/core/catalog.js
  src/core/core_utils.js
  src/core/document.js
  src/core/evaluator.js
  src/core/pattern.js
  src/display/canvas.js
  src/display/pattern_helper.js
Labels: core

#18069 Remove the unused `Font.prototype.spaceWidth` getter (PR 13424 follow-up)
  src/core/fonts.js
Labels: font-conversion

#18079 Revert "Fix rendering problem when zooming on Safari" for causing bug 1895909
  web/pdf_viewer.css
Labels: viewer, regression

#18061 Slightly re-factor how the viewer initializes debug-only functionality
  src/display/api.js
  web/app.js
Labels: core, viewer

#18066 Remove the `ignoreErrors` option from the `FontFaceObject` class
  src/display/api.js
  src/display/font_loader.js
Labels: core

#18051 [api-minor] Re-factor how Node.js packages/polyfills are loaded (issue 17245)
  gulpfile.mjs
  src/display/api.js
  src/display/node_stream.js
  src/display/node_utils.js
  src/display/stubs.js
  test/unit/clitests_helper.js
  web/pdfjs.js
Labels: core, node-specific, release-blocker

#18052 Restore broken functionality and simplify the implementation in `src/display/text_layer.js`
  src/display/text_layer.js
  test/driver.js
  test/unit/text_layer_spec.js
Labels: core, text-selection

#18060 Update the Babel plugin to remove empty class constructors
  .eslintignore
  .prettierignore
  .stylelintignore
  external/builder/babel-plugin-pdfjs-preprocessor.mjs
  external/builder/fixtures_babel/blocks-expected.js
  external/builder/fixtures_babel/blocks.js
  external/builder/fixtures_babel/comments-expected.js
  external/builder/fixtures_babel/comments.js
  external/builder/fixtures_babel/constants-expected.js
  external/builder/fixtures_babel/constants.js
  external/builder/fixtures_babel/constructors-expected.js
  external/builder/fixtures_babel/constructors.js
  external/builder/fixtures_babel/deadcode-expected.js
  external/builder/fixtures_babel/deadcode.js
  external/builder/fixtures_babel/evals-expected.js
  external/builder/fixtures_babel/evals.js
  external/builder/fixtures_babel/evals.json
  external/builder/fixtures_babel/ifs-expected.js
  external/builder/fixtures_babel/ifs.js
  external/builder/fixtures_babel/importalias-expected.js
  external/builder/fixtures_babel/importalias.js
  external/builder/test-fixtures_babel.mjs
  gulpfile.mjs
Labels: other

#17941 [api-minor] Include the document /Lang attribute in the textContent-data
  src/core/catalog.js
  src/core/document.js
  src/core/evaluator.js
  src/display/api.js
  src/display/text_layer.js
  test/unit/api_spec.js
Labels: text-selection

#18080 [Editor] Fix the CSS properties of the canvas when it's used in a stampEditor (bug 1895909)
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
  web/annotation_editor_layer_builder.css
  web/pdf_viewer.css
Labels: editor

#17923 Fix flickering on text selection
  test/integration-boot.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/test_utils.mjs
  test/integration/text_layer_spec.mjs
  test/test.mjs
  web/text_layer_builder.css
  web/text_layer_builder.js
Labels: viewer, ux

#18089 Improve the `TextLayerRenderTask` implementation
  src/display/text_layer.js
Labels: text-selection

#18087 Update openjpeg build (bug 1896577)
  external/openjpeg/openjpeg.js
Labels: image-jpx

#18091 Inline the `_fetchDocument` helper function in `getDocument`
  src/display/api.js
Labels: core

#18093 Implement a unit test for the `BaseException` class
  test/unit/util_spec.js
Labels: test

#18094 Remove unnecessary `signal` parameter from `removeEventListener` calls
  web/app.js
Labels: viewer

#18047 Avoid re-parsing global images that failed decoding (issue 18042, PR 17428 follow-up)
  src/core/evaluator.js
  src/core/image_utils.js
  src/display/api.js
  test/pdfs/.gitignore
  test/pdfs/issue18042.pdf
  test/unit/api_spec.js
Labels: corrupted-pdf, image-conversion, release-blocker

#18103 Actually disable `TextLayerRenderTask.prototype.#processItems` when `MAX_TEXT_DIVS_TO_RENDER` is reached (PR 18089 follow-up)
  src/display/text_layer.js
Labels: regression, text-selection

#18077 [api-minor] Respect the `drawingDelay` also when CSS-only zooming is used (issue 18022)
  web/pdf_page_view.js
Labels: viewer

#18106 Remove the `rimraf` dependency in favor of the built-in Node.js `fs.rmSync`
  gulpfile.mjs
  package-lock.json
  package.json
Labels: other, dependencies

#18107 Remove the obsolete `needle` dependency
  package-lock.json
  package.json
Labels: dependencies

#18119 Support charCodes larger than 32-bit in `adjustMapping` (issue 18117)
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue18117.pdf
  test/test_manifest.json
Labels: font-conversion

#18115 Freeze `evaluatorOptions` in the src/core/pdf_manager.js file
  src/core/pdf_manager.js
Labels: core

#18104 [api-minor] Re-factor the basic textLayer-functionality
  src/display/api.js
  src/display/text_layer.js
  src/pdf.js
  test/driver.js
  test/unit/pdf_spec.js
  test/unit/text_layer_spec.js
  web/pdf_page_view.js
  web/pdfjs.js
  web/text_layer_builder.js
Labels: core, viewer, text-selection

#18121 Update puppeteer to 22.9.0
  package-lock.json
  package.json
Labels: dependencies

#17968 [Editor] Update popup position and contents after a FreeText has been edited
  src/display/annotation_layer.js
  src/display/editor/freetext.js
  test/integration/freetext_editor_spec.mjs
Labels: editor

#18136 [Editor] Pass a buffer instead of a blob url to the ML api
  src/display/editor/stamp.js
Labels: editor

#18129 Add test for drawing delay with CSS-only zoom
  test/integration/viewer_spec.mjs
  web/app.js
Labels: test

#17974 Remove most `waitForTimeout` usage from the scripting integration tests
  test/integration/scripting_spec.mjs
Labels: test

#17770 Add language attribute to canvas
  src/display/text_layer.js
  test/pdfs/issue16843.pdf.link
  test/test_manifest.json
Labels: viewer, text-selection

#18143 Improve /Page validation for linearized documents (issue 18138)
  src/core/document.js
  test/pdfs/issue18138.pdf.link
  test/test_manifest.json
Labels: core, corrupted-pdf

#18145 Remove the `merge-stream` dependency in favor of the `ordered-read-streams` dependency
  gulpfile.mjs
  package-lock.json
  package.json
Labels: other, dependencies

#18153 Update dependencies and translations to the most recent versions
  l10n/ia/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, L10n

#18154 Introduce a `getRect` utility function for the integration tests
  test/integration/caret_browsing_spec.mjs
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#18166 Prevent XRef errors from breaking font loading (bug 1898802)
  src/core/evaluator.js
  test/pdfs/bug1898802.pdf.link
  test/test_manifest.json
Labels: font-conversion, corrupted-pdf

#18160 Update the "File Layout Overview" docs
  docs/contents/getting_started/index.md
Labels: other

#18159 Improve the `loadingParams` functionality in the API
  src/display/api.js
  test/unit/api_spec.js
Labels: core

#18165 Simplify the integration test in adding a function to turn on/off an editing tool
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#18161 Target ES2022 when building the TypeScript definitions (issue 17932)
  tsconfig.json
Labels: other

#18169 Slightly shorten some worker-thread code
  src/core/document.js
  src/core/evaluator.js
  src/core/parser.js
Labels: core

#18171 Don't register a pending `TextLayer` until `render` is invoked (PR 18104 follow-up)
  src/display/text_layer.js
Labels: text-selection, release-blocker

#18179 [api-minor] Simplify API to implement zoom in custom viewers
  test/integration/viewer_spec.mjs
  web/app.js
  web/pdf_viewer.js
Labels: viewer

#18182 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#18183 Update dependencies and translations to the most recent versions
  l10n/ja/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/sl/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#18163 [api-minor] Simplify how the list of points are structured
  src/core/annotation.js
  src/display/annotation_layer.js
  src/display/editor/highlight.js
  test/integration/test_utils.mjs
  test/unit/annotation_spec.js
Labels: performance, annotations

#18193 Disconnect the resize observer and remove scroll listener when unbinding window events
  web/app.js
  web/pdf_thumbnail_viewer.js
  web/pdf_viewer.js
  web/ui_utils.js
Labels: viewer

#18189 Switch to page-scrolling mode when the pdf has more than 10000 pages (bug 1895050)
  web/pdf_viewer.js
Labels: viewer
