Repository mozilla/pdf.js, pull requests merged in 2024-03, with the labels that each got.

#17710 Simplify the `XMLHttpRequest`-branch in the `fetchData` helper function (PR 17277 follow-up)
  src/display/display_utils.js
Labels: core

#17760 [Editor] Fix the quadpoints value when serializing an highlight annotation
  src/display/editor/highlight.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#17761 [Editor] Indicate if the highlight-thickness slider is disabled
  web/annotation_editor_layer_builder.css
Labels: viewer, editor

#17768 [Editor] Set the creation method for free highlights to 'main_toolbar' (bug 1883394)
  src/display/editor/highlight.js
Labels: editor

#17766 [Editor] Unselect highlight editor when pressing Escape when the focus is on the color picker without a dropdown menu
  src/display/editor/color_picker.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#17764 [Editor] Use a null instead of an empty stats object when sending the telemetry
  src/display/annotation_storage.js
Labels: editor

#17772 Don't stringify data for telemetry
  web/firefoxcom.js
Labels: firefox-specific

#17771 [GeckoView] Remove the open-in-app button (bug 1832519)
  l10n/en-US/viewer.ftl
  web/app.js
  web/images/gv-toolbarButton-openinapp.svg
  web/toolbar-geckoview.js
  web/viewer-geckoview.css
  web/viewer-geckoview.html
  web/viewer-geckoview.js
Labels: firefox-specific

#17775 [Editor] Let a free highlight be clipped when its bounding box exceeds the page limits (bug 1883632)
  src/display/editor/editor.js
  src/display/editor/highlight.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#17776 [Annotations] Widget annotations must be in front of the other ones (bug 1883609)
  src/core/annotation.js
  src/core/document.js
  test/integration/annotation_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/bug1883609.pdf
Labels: form-acroform

#17767 In the m-c automation, give the possibility to remove window listeners when a test ended
  web/app.js
Labels: firefox-specific

#17778 [Editor] Add a toggle button to show/hide all the highlights (bug 1867740)
  l10n/en-US/viewer.ftl
  src/display/draw_layer.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/highlight.js
  src/display/editor/tools.js
  src/shared/util.js
  test/integration/highlight_editor_spec.mjs
  web/annotation_editor_layer_builder.css
  web/annotation_editor_params.js
  web/toggle_button.css
  web/viewer.html
  web/viewer.js
Labels: editor

#17781 [Editor] Make sure the alt-text button is there when pasting an image from an other tab
  src/display/editor/stamp.js
  test/integration/stamp_editor_spec.mjs
Labels: editor

#17711 Use the Fetch API to download the l10n files
  external/importL10n/locales.mjs
  l10n/br/viewer.ftl
  l10n/es-ES/viewer.ftl
  l10n/eu/viewer.ftl
  l10n/gl/viewer.ftl
  l10n/it/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/pt-PT/viewer.ftl
  l10n/sl/viewer.ftl
  l10n/th/viewer.ftl
  l10n/uk/viewer.ftl
Labels: other, L10n

#17788 [Editor] Improve the accessibility of the highlight editor (bug 1881743)
  src/display/draw_layer.js
  src/display/editor/color_picker.js
  src/display/editor/highlight.js
  src/display/editor/toolbar.js
  src/display/editor/tools.js
  web/annotation_editor_layer_builder.css
Labels: accessibility, editor

#17726 [api-minor] Implement basic support for OptionalContent `Usage` dicts (issue 5764, bug 1826783)
  src/core/catalog.js
  src/display/api.js
  src/display/optional_content_config.js
  test/driver.js
  test/pdfs/bug1826783.pdf.link
  test/test_manifest.json
  web/app.js
  web/firefox_print_service.js
  web/firefoxcom.js
  web/pdf_layer_viewer.js
  web/pdf_link_service.js
  web/pdf_print_service.js
  web/pdf_thumbnail_viewer.js
  web/pdf_viewer.js
Labels: core, viewer

#17717 Combine a few lines in the `dist-pre` target (PR 17681 follow-up)
  gulpfile.mjs
Labels: other

#17732 [Editor] Add a floating button close to the selected text to highlight it (bug 1867742)
  extensions/chromium/preferences_schema.json
  l10n/en-US/viewer.ftl
  src/display/editor/toolbar.js
  src/display/editor/tools.js
  test/integration/highlight_editor_spec.mjs
  web/annotation_editor_layer_builder.css
  web/app.js
  web/app_options.js
  web/pdf_viewer.js
Labels: editor

#17694 Add better validation for the "PREFERENCE" kind `AppOptions`
  gulpfile.mjs
  test/unit/app_options_spec.js
  test/unit/clitests.json
  test/unit/jasmine-boot.js
  web/app_options.js
  web/pdf_page_view.js
  web/preferences.js
Labels: viewer

#17793 When zooming the scrollbar can disappear and then no scrollend is triggered
  test/integration-boot.mjs
  test/integration/viewer_spec.mjs
  web/app.js
Labels: viewer

#17795 Don't render corrupted inlined images
  src/core/evaluator.js
  test/pdfs/issue17794.pdf.link
  test/test_manifest.json
Labels: core, image-conversion

#17800 Update packages and translations
  l10n/gn/viewer.ftl
  l10n/it/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/tr/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, L10n

#17790 [Editor] Make the text layer focusable before the editors (bug 1881746)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/test_utils.mjs
  web/annotation_editor_layer_builder.css
  web/annotation_editor_layer_builder.js
  web/annotation_layer_builder.css
  web/annotation_layer_builder.js
  web/pdf_page_view.js
  web/pdf_viewer.css
  web/text_layer_builder.css
  web/text_layer_builder.js
Labels: accessibility, editor

#17809 Don't hide the editor layer when rotating (follow-up of #17802)
  src/display/editor/annotation_editor_layer.js
  test/integration/freetext_editor_spec.mjs
  web/annotation_editor_layer_builder.js
Labels: editor

#17811 Simplify the copy & paste integration test
  test/integration/copy_paste_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#17691 Move the `alias`-building out of the `createWebpackConfig` function
  external/builder/babel-plugin-pdfjs-preprocessor.mjs
  external/builder/builder.mjs
  gulpfile.mjs
Labels: other

#17814 [Editor] Make sure the text in the mark has null dimensions to avoid to see a meaningless rectangle in voiceover (bug 1886427)
  test/integration/highlight_editor_spec.mjs
  web/annotation_editor_layer_builder.css
Labels: editor

#17817 Avoid wrong scrolling when calling zoomReset
  test/integration/viewer_spec.mjs
  web/annotation_editor_layer_builder.js
  web/pdf_page_view.js
Labels: viewer

#17818 Allow listening for preference changes in the Firefox PDF viewer (bug 1886586)
  web/app.js
  web/preferences.js
Labels: viewer, firefox-specific

#17813 Remove `PDFViewerApplication.initPassiveLoading` and directly invoke the `open`-method from the extension-specific code
  web/app.js
  web/chromecom.js
  web/external_services.js
  web/firefoxcom.js
Labels: viewer

#17825 [Editor] Add a label to the highight floating button readable with NVDA (bug 1886964)
  l10n/en-US/viewer.ftl
  src/display/editor/toolbar.js
  web/annotation_editor_layer_builder.css
Labels: editor

#17823 [Editor] Fix undoing an editor deletion (bug 1886959)
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/highlight.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
Labels: editor

#17830 Update the `Path2D` polyfill for Node.js environments
  gulpfile.mjs
  package-lock.json
  package.json
  src/display/node_utils.js
Labels: node-specific, dependencies

#17835 Add alternative text to annotation if any
  src/display/annotation_layer.js
Labels: annotations, accessibility

#17837 Increase the maxCanvasPixels value to 2 ** 25
  web/app_options.js
  web/pdf_page_view.js
  web/pdf_viewer.js
Labels: viewer

#17842 A couple of small tweaks of the `BasePreferences` class
  web/preferences.js
Labels: viewer

#17844 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/be/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/de/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/eo/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/eu/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fur/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/is/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/pt-PT/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/sq/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/uk/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, L10n

#17852 [Editor] Correctly handle lines when pasting some text in a freetext
  src/display/editor/freetext.js
  test/integration/freetext_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: editor

#17851 [api-minor] Update the minimum supported Google Chrome version to 98
  gulpfile.mjs
Labels: other, chrome-specific

#17847 Add better support for /Launch actions with /FileSpec dictionaries (issue 17846)
  src/core/catalog.js
  src/core/file_spec.js
  test/pdfs/.gitignore
  test/pdfs/issue17846.pdf
  test/unit/api_spec.js
Labels: core, annotations

#17857 Display outlines even if one has no title
  src/core/catalog.js
  test/pdfs/issue17856.pdf.link
  test/test_manifest.json
  test/unit/api_spec.js
Labels: core

#17858 Ensure that Mesh /Shadings have non-zero width/height (issue 17848)
  src/core/evaluator.js
  src/core/pattern.js
  test/pdfs/.gitignore
  test/pdfs/issue17848.pdf
  test/test_manifest.json
Labels: shading-pattern
