Repository mozilla/pdf.js, pull requests merged in 2025-01, with the labels that each got.

#19276 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#19277 Remove the `getSelectedEditors` integration test helper function
  test/integration/freetext_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#19278 Use `Dict` iteration more (PR 19051 follow-up)
  src/core/catalog.js
  src/core/document.js
  src/core/evaluator.js
Labels: core

#19289 Skip LinkAnnotations when collecting field objects (issue 19281)
  src/core/document.js
  test/pdfs/issue19281.pdf.link
  test/test_manifest.json
  test/unit/api_spec.js
Labels: performance, annotations

#19291 Implement a commit helper function for the freetext integration tests
  test/integration/freetext_editor_spec.mjs
Labels: test

#19280 Let be more tolerant with predefined phone number format
  src/scripting_api/aform.js
  test/unit/scripting_spec.js
Labels: form-js

#19295 Update the toggle-button css after the changes in m-c (bug 1940085)
  web/toggle_button.css
Labels: viewer

#19300 Remove unused CSS variables
  web/toggle_button.css
Labels: viewer

#19307 Remove the fuzz tests (issue 19297)
  eslint.config.mjs
  package-lock.json
  package.json
  test/fuzz/README.md
  test/fuzz/jbig2_image.fuzz.js
  test/fuzz/jpeg_image.fuzz.js
  test/fuzz/jpx_image.fuzz.js
Labels: test, dependencies

#19305 Access the bbox/background data correctly in the `MeshShadingPattern` class (issue 18816)
  src/display/pattern_helper.js
  test/pdfs/.gitignore
  test/pdfs/issue18816.pdf
  test/test_manifest.json
Labels: regression, shading-pattern

#19309 [Editor] Set a unique id for each element in the draw layer
  src/display/draw_layer.js
  test/integration/ink_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: editor

#19311 [Editor] Don't try to use an non-existing canvas when rendering an in visible existing stamp editor
  src/display/annotation_layer.js
  src/display/editor/stamp.js
  src/display/editor/tools.js
  test/integration/stamp_editor_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/issue19239.pdf
  web/pdf_page_view.js
Labels: editor

#19313 Update dependencies to the most recent versions
  gulpfile.mjs
  package-lock.json
  package.json
Labels: dependencies

#19317 Re-use existing helper functions in `FontRendererFactory`
  src/core/font_renderer.js
Labels: core

#19318 Upgrade Puppeteer to version 24.0.0
  package-lock.json
  package.json
Labels: test, dependencies

#19321 Improve performance when reading very large TrueType "cmap" tables (issue 19319)
  src/core/fonts.js
  test/pdfs/issue19319.pdf.link
  test/test_manifest.json
Labels: performance, font-conversion, font-truetype

#19320 Enable editor when double-clicking on stamp annotation
  test/integration/stamp_editor_spec.mjs
  web/annotation_layer_builder.css
Labels: annotations, editor

#19327 Access the number of components correctly in JPEG 2000 images with color space entries (issue 19326)
  src/core/image.js
  test/pdfs/.gitignore
  test/pdfs/issue19326.pdf
  test/test_manifest.json
Labels: regression, image-jpx

#19324 Allow searching for number-number on two lines
  test/unit/pdf_find_controller_spec.js
  web/pdf_find_controller.js
Labels: text-selection

#19329 [api-major] Add openjpeg.wasm to pdf.js (bug 1935076)
  external/openjpeg/openjpeg.js
  external/openjpeg/openjpeg.wasm
  gulpfile.mjs
  src/core/base_stream.js
  src/core/decode_stream.js
  src/core/evaluator.js
  src/core/jpx.js
  src/core/jpx_stream.js
  src/display/api.js
  src/display/node_utils.js
  src/display/stubs.js
  src/display/wasm_factory.js
  test/driver.js
  test/test_manifest.json
  test/unit/test_utils.js
  test/unit/unit_test.html
  test/webserver.mjs
  tsconfig.json
  web/app_options.js
  web/viewer-geckoview.html
  web/viewer.html
Labels: image-jpx, image-conversion

#19264 [api-major] Replace `MissingPDFException` and `UnexpectedResponseException` with one exception
  examples/mobile-viewer/viewer.mjs
  src/display/fetch_stream.js
  src/display/network.js
  src/display/network_utils.js
  src/display/node_stream.js
  src/pdf.js
  src/shared/message_handler.js
  src/shared/util.js
  test/unit/api_spec.js
  test/unit/network_spec.js
  test/unit/network_utils_spec.js
  test/unit/pdf_spec.js
  web/app.js
  web/app_options.js
  web/pdfjs.js
Labels: core, viewer

#19332 Bump library version to `5.0`
  pdfjs.config
Labels: other

#19333 Handle JPX wasm fetch-response errors correctly (PR 19329 follow-up)
  src/core/core_utils.js
  src/core/evaluator.js
  src/core/jpx.js
Labels: image-jpx

#19335 Reduce console spam when running tests in Firefox
  test/test.mjs
Labels: test

#19340 Handle the case where openjpeg.wasm is missing
  src/core/jpx.js
Labels: image-jpx

#19331 Simplify the JSDocs for the various `getDocument` Factory-parameters
  src/display/api.js
Labels: core

#19341 Inline the default Factory-definitions in `getDocument`
  src/display/api.js
  test/unit/annotation_spec.js
  test/unit/api_spec.js
  test/unit/cmap_spec.js
  test/unit/custom_spec.js
  test/unit/test_utils.js
Labels: core, test

#19342 Update dependencies to the most recent versions
  package-lock.json
  package.json
Labels: dependencies

#19344 Implement helper functions for (un)selecting an editor in the integration tests
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#19350 Centralize the editor selector definitions in the stamp editor integration tests
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#19351 Centralize the editor selector definitions in the ink editor integration tests
  test/integration/ink_editor_spec.mjs
Labels: test

#19356 Replace the EXIF-block with dummy data to prevent JPEG images being rotated (bug 1942064)
  src/core/jpg.js
  test/pdfs/.gitignore
  test/pdfs/bug1942064.pdf
  test/test_manifest.json
Labels: image-conversion, image-jpeg

#19353 Enable the `import/no-restricted-paths` ESLint plugin rule for the viewer
  eslint.config.mjs
Labels: other

#19337 Support multiple wasm-files in the development viewer
  gulpfile.mjs
  web/.gitignore
  web/app_options.js
Labels: viewer

#19361 Correctly render the glyph outline when it has a stroke pattern
  src/core/font_renderer.js
  src/display/canvas.js
  test/pdfs/.gitignore
  test/pdfs/issue19360.pdf
  test/test_manifest.json
Labels: shading-pattern

#19371 [Editor] Ensure that `highlightSelection` waits until we've fully updated the editing-mode (issue 19369)
  test/integration/highlight_editor_spec.mjs
  web/pdf_viewer.js
Labels: viewer, editor

#19372 [GENERIC viewer] Re-initialize the viewer-toolbar `ColorPicker` for each PDF document
  src/display/editor/tools.js
  web/annotation_editor_params.js
  web/toolbar.js
Labels: viewer, editor

#19338 [Editor] Don't scroll when drawing (issue 17327)
  src/display/editor/annotation_editor_layer.js
  test/integration/ink_editor_spec.mjs
Labels: editor

#19365 [api-major] Change viewer component `render`-methods to take parameter objects
  web/annotation_editor_layer_builder.js
  web/annotation_layer_builder.js
  web/draw_layer_builder.js
  web/pdf_page_view.js
  web/struct_tree_layer_builder.js
  web/text_layer_builder.js
  web/xfa_layer_builder.js
Labels: viewer, release-blocker

#19373 [Editor] Add validation for the target element of curve endpoints
  src/display/editor/draw.js
  test/integration/ink_editor_spec.mjs
Labels: editor

#19381 Remove unused `isInEditingMode` method (PR 19311 follow-up)
  src/display/editor/tools.js
Labels: editor

#19358 Enable the "checks that the viewer re-exports the expected API functionality" unit-test in Node.js
  gulpfile.mjs
  test/unit/pdf_spec.js
Labels: test, node-specific

#19368 [api-minor] Simplify clean-up of page resources after rendering
  src/core/image_utils.js
  src/display/api.js
  src/shared/util.js
Labels: core

#19384 Handle *empty* BigInt64Array/BigUint64Array in the `isNumberArray` helper
  src/core/core_utils.js
Labels: core

#19388 Introduce a `readInt16` helper function in the `src/core/core_utils.js` file
  src/core/cff_parser.js
  src/core/core_utils.js
  src/core/font_renderer.js
Labels: core

#19390 Support the password field-flag in TextWidgetAnnotation (issue 19389)
  src/core/annotation.js
  src/display/annotation_layer.js
  test/pdfs/.gitignore
  test/pdfs/issue19389.pdf
  test/test_manifest.json
Labels: annotations, form-acroform

#19339 [Editor] (WIP) Add a new tool in order to add an handwritten signature to a pdf (bug 1942343)
  extensions/chromium/preferences_schema.json
  src/display/editor/annotation_editor_layer.js
  src/display/editor/draw.js
  src/display/editor/drawers/contour.js
  src/display/editor/drawers/signaturedraw.js
  src/display/editor/signature.js
  src/display/editor/toolbar.js
  src/shared/util.js
  web/annotation_editor_layer_builder.css
  web/annotation_editor_params.js
  web/app.js
  web/app_options.js
  web/editor_undo_bar.js
  web/images/toolbarButton-editorSignature.svg
  web/toolbar.js
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: editor

#19392 Initialize the image-options, on the worker-thread, once per document
  src/core/evaluator.js
  src/core/pdf_manager.js
Labels: core

#19393 Use fewer `hasFieldFlag` calls in the `src/core/annotation.js` file
  src/core/annotation.js
Labels: annotations

#19394 Move the array containing the supported image mime types in display_utils
  src/display/display_utils.js
  src/display/editor/signature.js
  src/display/editor/stamp.js
  src/pdf.js
  test/unit/pdf_spec.js
  web/pdfjs.js
Labels: core

#19395 Avoid to remove the active overlay when a cancelled dialog (like the file picker) was called from a dialog
  web/overlay_manager.js
Labels: viewer

#19397 Add width/height getters in the `Annotation` class
  src/core/annotation.js
Labels: annotations
