Repository mozilla/pdf.js, pull requests merged in 2025-06, with the labels that each got.

#19952 Fix intermittent failure in the "supports specifying a custom origin" viewer integration test
  test/integration/viewer_spec.mjs
Labels: test, intermittent

#19981 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#19997 Update dependencies and translations to the most recent versions
  l10n/cs/viewer.ftl
  l10n/da/viewer.ftl
  l10n/et/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/th/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#20000 Fix intermittent failure in the find integration tests
  test/integration/find_spec.mjs
Labels: test

#20011 [Editor] Fix the text alignment in freetext annotations (bug 1971134)
  test/integration/freetext_editor_spec.mjs
  web/annotation_editor_layer_builder.css
Labels: editor

#19996 Fix a printing issue on Mac (bug 1961423)
  src/core/cff_parser.js
  test/unit/cff_parser_spec.js
Labels: font-conversion, firefox-specific

#20021 [JS] Make the date parser less strict
  src/core/annotation.js
  src/display/annotation_layer.js
  src/scripting_api/aform.js
  src/scripting_api/util.js
  src/shared/scripting_utils.js
  test/unit/scripting_spec.js
Labels: form-js

#19992 Correctly handle files with a hash sign in their names (bug 1894166)
  src/display/display_utils.js
  test/integration/viewer_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/empty#hash.pdf
  test/unit/display_utils_spec.js
  web/app.js
Labels: core, viewer

#20027 Allow to have an URL as file parameter when loading the viewer
  test/integration/test_utils.mjs
  test/integration/viewer_spec.mjs
  web/app.js
Labels: viewer

#20023 [Editor] When editing mode is disabled, allow to double click on a added annotation to edit it
  src/display/editor/annotation_editor_layer.js
  test/integration/freetext_editor_spec.mjs
  web/annotation_editor_layer_builder.css
Labels: editor

#20028 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/hr/viewer.ftl
  l10n/ml/viewer.ftl
  l10n/nb-NO/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#20019 Get the text under highlight/squiggly/underline/strikethrough annotations (bug 1885505)
  src/core/annotation.js
  src/core/document.js
  src/core/evaluator.js
  src/core/intersector.js
  src/display/annotation_layer.js
  test/integration/annotation_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/bug1885505.pdf
  test/unit/api_spec.js
  web/annotation_layer_builder.css
Labels: annotations, accessibility

#20039 [Editor] In the signature modal, disable the save checkbox when the storage is full (bug 1974257)
  test/integration/signature_editor_spec.mjs
  web/signature_manager.js
  web/viewer.html
Labels: editor
