Repository mozilla/pdf.js, pull requests merged in 2025-07, with the labels that each got.

#20047 Make horizontal padding relative to device width
  test/integration/find_spec.mjs
  web/pdf_find_controller.js
  web/ui_utils.js
Labels: viewer

#20043 Make Popup annotations always have noRotate flag set as true
  src/display/annotation_layer.js
  test/pdfs/.gitignore
  test/pdfs/pr20043.pdf
  test/test_manifest.json
Labels: annotations

#20061 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#20058 Use the creation date in the popup when there is no modification date
  src/core/annotation.js
  src/display/annotation_layer.js
  test/pdfs/.gitignore
  test/pdfs/firefox_logo.pdf
  test/test_manifest.json
  web/annotation_layer_builder.css
Labels: annotations

#20060 Fix typos across the codebase
  extensions/chromium/pdfHandler.js
  src/core/annotation.js
  src/core/evaluator.js
  src/core/fonts.js
  src/core/image.js
  src/core/image_resizer.js
  src/core/xfa/formcalc_parser.js
  src/display/canvas.js
  src/display/editor/annotation_editor_layer.js
  src/shared/util.js
  test/driver.js
  test/integration/stamp_editor_spec.mjs
  web/event_utils.js
  web/pdf_find_controller.js
Labels: other

#20063 Fix the default appearance of a Polygon annotation when a fill color is provided
  src/core/annotation.js
  test/pdfs/.gitignore
  test/pdfs/issue20062.pdf
  test/test_manifest.json
Labels: annotations

#20071 Bump library version to `5.4`
  pdfjs.config
Labels: other

#20082 Use the canvas context from mozPrintCallback when printing a pdf from the Firefox viewer
  src/display/api.js
  web/firefox_print_service.js
Labels: firefox-specific

#20084 In HCM, invert colors when hovering an annotation with a popup
  web/annotation_layer_builder.css
Labels: accessibility

#20081 Add the l10n parameter when pasting a Signature annotation
  src/display/editor/signature.js
  test/integration/signature_editor_spec.mjs
Labels: editor

#20077 [Editor] Remove a popup from the DOM when it's deleted
  src/display/annotation_layer.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/freetext.js
  test/integration/freetext_editor_spec.mjs
Labels: editor

#20086 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/br/viewer.ftl
  l10n/bs/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-CA/viewer.ftl
  l10n/gl/viewer.ftl
  l10n/hr/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#20085 Handle the case where all the image data are in the alpha channel (bug 1975719)
  l10n/en-US/viewer.ftl
  src/display/editor/drawers/signaturedraw.js
  test/integration/signature_editor_spec.mjs
  web/signature_manager.js
  web/viewer.html
  web/viewer.js
Labels: editor

#20070 [Editor] Add a color picker in the toolbar of Ink and Freetext annotations
  l10n/en-US/viewer.ftl
  src/display/editor/color_picker.js
  src/display/editor/draw.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  web/annotation_editor_layer_builder.css
Labels: editor

#20098 [Editor] Make possible to change the highlight color from the main panel
  src/display/editor/color_picker.js
  src/display/editor/highlight.js
  src/display/editor/tools.js
  src/shared/util.js
  test/integration/highlight_editor_spec.mjs
  web/annotation_editor_params.js
Labels: editor

#20106 Fix intermittent failure in the viewer alert tests
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/signature_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
Labels: test

#20107 Update translations and dependencies to the most recent versions
  gulpfile.mjs
  l10n/it/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#20116 Use a HTML date/time input when a field requires a date or a time.
  src/core/annotation.js
  src/core/core_utils.js
  src/display/annotation_layer.js
  src/scripting_api/console.js
  src/scripting_api/doc.js
  src/scripting_api/field.js
  src/scripting_api/initialization.js
  src/scripting_api/util.js
  test/integration/scripting_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/dates.pdf
  test/pdfs/dates_save.pdf
  test/unit/api_spec.js
  test/unit/scripting_spec.js
Labels: form-js

#20119 [Editor] Add a floating button in order to highlight the text selection and add a comment (bug 1979381)
  l10n/en-US/viewer.ftl
  src/display/editor/toolbar.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
  web/annotation_editor_layer_builder.css
Labels: editor

#20109 Add regression test for PR 19639
  test/unit/evaluator_spec.js
Labels: test

#20134 Fix intermittent failure in the "must check that the computed value is correct" scripting integration test
  test/integration/scripting_spec.mjs
Labels: test
