Repository mozilla/pdf.js, pull requests merged in 2025-10, with the labels that each got.

#20321 [Editor] Add a fake annotation (in the annotation layer) associated with an editor in order to be able to show the comment button (bug 1989420)
  src/display/annotation_layer.js
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/tools.js
  test/integration/comment_spec.mjs
  web/annotation_editor_layer_builder.css
  web/annotation_layer_builder.js
  web/pdf_page_view.js
Labels: editor, To Review

#20337 Update dependencies and translations to the most recent versions
  l10n/be/viewer.ftl
  l10n/bg/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/da/viewer.ftl
  l10n/de/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-CA/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/eo/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/es-ES/viewer.ftl
  l10n/es-MX/viewer.ftl
  l10n/eu/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/hy-AM/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/ka/viewer.ftl
  l10n/kab/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/ro/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/th/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#20335 [Editor] Remove obsolete arguments for `setDims` calls in the highlight code
  src/display/editor/highlight.js
Labels: editor

#20338 Add a test for PR #20320
  test/integration/scripting_spec.mjs
  test/integration/test_utils.mjs
Labels: test, form-js

#20343 [Editor] Make sure the editor is focused after the comment has been deleted (bug 1992832)
  test/integration/comment_spec.mjs
  web/comment_manager.js
Labels: editor

#20347 [Editor] Remove the role radio for the editing buttons (bug 1990826)
  web/viewer.html
Labels: editor, To Review
