Repository mozilla/pdf.js, pull requests merged in 2025-02, with the labels that each got.

#19402 Add width/height getters in the `AnnotationElement` class
  src/display/annotation_layer.js
Labels: annotations

#19405 Centralize the editor selector definitions in the highlight editor integration tests
  test/integration/highlight_editor_spec.mjs
Labels: test

#19408 Remove the `color-mix` fallback used with PopupAnnotations
  src/display/annotation_layer.js
Labels: annotations

#19410 Centralize the editor selector definitions in the freetext editor integration tests
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
Labels: test

#19415 Bundle wasm-files in `pdfjs-dist` (PR 19329 follow-up)
  external/openjpeg/LICENSE_OPENJPEG
  external/openjpeg/LICENSE_PDFJS_OPENJPEG
  gulpfile.mjs
Labels: other, release-blocker

#19416 [api-minor] Add more validation for the `cMapUrl`, `standardFontDataUrl`, and `wasmUrl` parameters
  src/display/api.js
Labels: core, release-blocker

#19414 [Editor] Add a new dialog for the signature editor (bug 1945574)
  gulpfile.mjs
  l10n/en-US/viewer.ftl
  src/display/editor/drawers/inkdraw.js
  src/display/editor/ink.js
  src/display/editor/signature.js
  src/display/editor/tools.js
  web/annotation_editor_layer_builder.css
  web/app.js
  web/dialog.css
  web/pdf_viewer.js
  web/signature_manager.css
  web/signature_manager.js
  web/stubs-geckoview.js
  web/viewer-geckoview.html
  web/viewer.html
  web/viewer.js
Labels: editor

#19110 Enable automatic URL linking (bug 1019475)
  extensions/chromium/preferences_schema.json
  src/display/annotation_layer.js
  src/pdf.js
  test/integration/autolinker_spec.mjs
  test/integration/jasmine-boot.js
  test/pdfs/.gitignore
  test/pdfs/bug1019475_1.pdf
  test/pdfs/bug1019475_2.pdf
  test/unit/autolinker_spec.js
  test/unit/clitests.json
  test/unit/jasmine-boot.js
  test/unit/pdf_spec.js
  web/annotation_layer_builder.js
  web/app.js
  web/app_options.js
  web/autolinker.js
  web/pdf_find_controller.js
  web/pdf_page_view.js
  web/pdf_viewer.js
  web/pdfjs.js
Labels: viewer

#19429 Enable autolinking in Firefox (bug 1019475)
  web/app_options.js
Labels: firefox-specific

#19431 Fix `--save-warning-color` CSS variable typo (PR 19414 follow-up)
  web/signature_manager.css
Labels: viewer

#19430 [GENERIC viewer] Add Fluent `PLATFORM` function (PR 19414 follow-up)
  src/shared/util.js
  web/genericl10n.js
Labels: viewer, l10n

#19432 Use the `FeatureTest` helper in the `src/display/font_loader.js` file
  src/display/font_loader.js
Labels: core

#19433 [Editor] Add an icon for the signature tool and move it before the highlight one
  web/images/toolbarButton-editorSignature.svg
  web/viewer.html
Labels: editor

#19419 Disable the "Blank issue" alternative when using the GitHub "New issue"-button
  .github/ISSUE_TEMPLATE/config.yml
Labels: other

#19423 Use the `getPdfColorArray` helper more in the `src/core/annotation.js` file
  src/core/annotation.js
Labels: annotations

#19436 Combine the main-thread message handlers for CMap-, StandardFontData-, and Wasm-files
  src/core/evaluator.js
  src/core/jpx.js
  src/display/api.js
Labels: core

#19399 [api-minor] Simplify the `TextLayer.#getAscent` fallback (PR 12896 follow-up)
  src/display/text_layer.js
Labels: text-selection, release-blocker

#19450 Use `crypto.getRandomValues` unconditionally in the `src/core/crypto.js` file
  src/core/crypto.js
Labels: core

#19447 Check for the correct link-id prefix in "must not add links when unnecessary" integration-test (PR 19110 follow-up)
  test/integration/autolinker_spec.mjs
Labels: test

#19446 Shorten the `MeshStreamReader.prototype.readBits` method a little bit
  src/core/pattern.js
Labels: core

#19454 [api-minor] Update the minimum supported Google Chrome version to 110
  gulpfile.mjs
Labels: other, chrome-specific

#19437 [Editor] Add the ability to print and save some newly added signatures (bug 1946795)
  src/core/annotation.js
  src/display/editor/draw.js
  src/display/editor/signature.js
  test/test_manifest.json
  test/unit/annotation_spec.js
  web/signature_manager.js
Labels: annotations, editor

#19457 Isolate the ink editor integration tests
  test/integration/ink_editor_spec.mjs
Labels: test

#19449 Ignore the URLs when checking if inferred links overlap existing LinkAnnotations (PR 19110 follow-up)
  test/integration/autolinker_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/pr19449.pdf
  web/annotation_layer_builder.js
  web/app.js
Labels: viewer

#19460 Check that the annotationLayer is still active before injecting inferred links (PR 19110 follow-up)
  web/pdf_page_view.js
Labels: viewer, regression

#19461 Create the `borderStyle` of inferred links lazily (PR 19110 follow-up)
  src/display/annotation_layer.js
  src/pdf.js
  test/unit/pdf_spec.js
  web/autolinker.js
  web/pdfjs.js
Labels: viewer

#19425 [Editor] Add the possibility to compress/decompress the signature data in order to store them in the logins storage in Firefox (bug 1946171)
  src/display/editor/drawers/signaturedraw.js
  src/display/editor/signature.js
  src/pdf.js
  test/unit/editor_spec.js
  test/unit/pdf_spec.js
  web/app.js
  web/chromecom.js
  web/external_services.js
  web/firefoxcom.js
  web/generic_signature_storage.js
  web/genericcom.js
  web/pdfjs.js
  web/signature_manager.css
  web/signature_manager.js
  web/viewer.html
Labels: editor

#19464 Catch and ignore any errors during auto-linking parsing (PR 19110 follow-up)
  web/pdf_page_view.js
Labels: viewer, regression

#19472 Fix the color of the background button when hovering it
  web/viewer.css
Labels: viewer

#19469 [api-major] Apply the `userUnit` using CSS, to fix the text/annotation layers (bug 1947248)
  src/core/xfa/template.js
  src/core/xfa/xhtml.js
  src/display/annotation_layer.js
  src/display/display_utils.js
  src/display/editor/freetext.js
  src/display/text_layer.js
  test/driver.js
  test/pdfs/.gitignore
  test/pdfs/bug1947248_forms.pdf
  test/pdfs/bug1947248_text.pdf
  test/test_manifest.json
  web/annotation_editor_layer_builder.css
  web/annotation_layer_builder.css
  web/pdf_page_view.js
  web/pdf_viewer.css
  web/struct_tree_layer_builder.js
Labels: core, viewer, test

#19478 [Editor] Populate the 'Add signature' menu with the saved signatures (bug 1947828)
  l10n/en-US/viewer.ftl
  src/display/editor/annotation_editor_layer.js
  src/display/editor/drawers/signaturedraw.js
  src/display/editor/signature.js
  src/display/editor/tools.js
  web/app.js
  web/dialog.css
  web/firefoxcom.js
  web/generic_signature_storage.js
  web/message_bar.css
  web/pdf_viewer.css
  web/pdf_viewer.js
  web/signature_manager.css
  web/signature_manager.js
  web/viewer.html
Labels: viewer, editor

#19485 Slightly shorten an `Array.from` usage in the `SignatureManager` class
  web/signature_manager.js
Labels: editor

#19475 Move the auto-link handling into its own `PDFPageView` helper-method, and dispatch a "linkannotationsadded" event
  web/pdf_page_view.js
Labels: viewer

#19481 [GenericL10n] Fetch the language bundles in parallel to reduce load time
  web/genericl10n.js
Labels: viewer, l10n

#19486 [Editor] Add the possibility to change a signature description (bug 1948116)
  l10n/en-US/viewer.ftl
  src/display/editor/drawers/signaturedraw.js
  src/display/editor/signature.js
  src/display/editor/toolbar.js
  src/display/editor/tools.js
  web/app.js
  web/chromecom.js
  web/dialog.css
  web/firefoxcom.js
  web/generic_signature_storage.js
  web/genericcom.js
  web/images/editor-toolbar-edit.svg
  web/signature_manager.css
  web/signature_manager.js
  web/viewer.html
  web/viewer.js
Labels: editor

#19487 Add a new `closeIfActive` method in the `OverlayManager` class
  web/alt_text_manager.js
  web/new_alt_text_manager.js
  web/overlay_manager.js
  web/password_prompt.js
  web/pdf_print_service.js
  web/signature_manager.js
Labels: viewer

#19476 Search for destinations in both /Names and /Dests dictionaries (issue 19474)
  src/core/catalog.js
  test/pdfs/.gitignore
  test/pdfs/issue19474.pdf
  test/unit/api_spec.js
Labels: core

#19427 Add some unicode mapping for ligatures when writing the cmap table in the font (bug 1946181)
  src/core/fonts.js
Labels: font-conversion, firefox-specific

#19496 Shorten the `CipherTransformFactory.prototype.#buildObjectKey` method
  src/core/crypto.js
Labels: core

#19495 Check more of the stream when looking for commands after inline image (issue 19494)
  src/core/parser.js
  test/pdfs/issue19494.pdf.link
  test/test_manifest.json
Labels: core

#19499 Ensure that the `useWorkerFetch` fallback value is always a boolean
  src/display/api.js
Labels: core

#19500 [Editor] Add two integration tests for the signature UI
  test/integration/jasmine-boot.js
  test/integration/signature_editor_spec.mjs
  web/signature_manager.js
Labels: test, editor

#19503 Remove a few `eslint-disable` statements in the `web/` folder
  web/generic_scripting.js
  web/pdf_find_controller.js
  web/pdf_print_service.js
Labels: viewer

#19507 [Editor] Add a scrollbar to the signature doorhanger when it's overflowing (bug 1948771)
  web/signature_manager.css
Labels: editor

#19506 [Editor] Scale the signature editor when it's too large (bug 1948741)
  src/display/editor/signature.js
  test/integration/signature_editor_spec.mjs
Labels: editor

#19508 [JS] Skip throwing actions
  src/scripting_api/doc.js
  src/scripting_api/event.js
  src/scripting_api/field.js
  test/integration/scripting_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/issue19505.pdf
Labels: form-js

#19511 [Editor] Wait for switching to stamp mode before adding a new editor when dnd'ing an image
  src/display/editor/annotation_editor_layer.js
Labels: editor

#19504 Fix all outstanding ESLint `arrow-body-style` warnings
  src/core/annotation.js
  src/core/document.js
  src/core/evaluator.js
  test/driver.js
  test/unit/api_spec.js
Labels: core, test

#19512 [Editor] Add two integration tests for the signature feature
  test/integration/ink_editor_spec.mjs
  test/integration/signature_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: editor

#19513 Don't cache free/missing XRef entries (issue 19510)
  src/core/xref.js
  test/pdfs/issue19510.pdf.link
  test/test_manifest.json
Labels: core

#19470 Fix autolinking errors
  test/integration/autolinker_spec.mjs
  test/unit/autolinker_spec.js
  web/annotation_layer_builder.js
  web/autolinker.js
Labels: viewer, regression, release-blocker

#19516 [Editor] Remove the error panel when the user click on an other tab (bug 1949201)
  test/integration/signature_editor_spec.mjs
  web/signature_manager.js
Labels: editor

#19522 [Editor] Make the editing toolbar buttons text visible when hovered in HCM with Desert theme (bug 1949417)
  web/viewer.css
Labels: editor

#19523 [Editor] Fix the outline of a focused button in the doorhanger while navigating with the keyboard
  web/signature_manager.css
Labels: editor

#19524 [Editor] Fix the color of the labels in the editing doorhangers
  web/viewer.css
Labels: editor

#19518 Move the EXIF-block replacement into `JpegStream` (PR 19356 follow-up)
  src/core/jpeg_stream.js
  src/core/jpg.js
  test/unit/api_spec.js
Labels: regression, image-conversion, image-jpeg, release-blocker

#19493 Introduce some `URL.parse()` usage in the code-base
  src/display/api.js
  src/display/display_utils.js
  src/display/network_utils.js
  src/shared/util.js
  web/app.js
Labels: core, viewer, release-blocker

#19533 Consider textRise when showing Type3 font glyphs (issue 19532)
  src/display/canvas.js
  test/pdfs/.gitignore
  test/pdfs/issue19532.pdf
  test/test_manifest.json
Labels: font-type3

#19128 [api-minor] Render high-res partial page views when falling back to CSS zoom (bug 1492303)
  src/display/api.js
  test/integration/test_utils.mjs
  test/integration/viewer_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/colors.pdf
  test/unit/ui_utils_spec.js
  web/app.js
  web/app_options.js
  web/base_pdf_page_view.js
  web/pdf_page_detail_view.js
  web/pdf_page_view.js
  web/pdf_rendering_queue.js
  web/pdf_thumbnail_viewer.js
  web/pdf_viewer.js
  web/ui_utils.js
Labels: viewer, image-quality, release-blocker

#19534 [Editor] Add a test for copy & paste a signature editor
  src/display/editor/drawers/inkdraw.js
  src/display/editor/signature.js
  test/integration/signature_editor_spec.mjs
Labels: test, editor

#19525 Provide a js fallback when the wasm version of openjpeg is failing to load (bug 1935076)
  eslint.config.mjs
  external/openjpeg/openjpeg.js
  external/openjpeg/openjpeg.wasm
  external/openjpeg/openjpeg_nowasm_fallback.js
  gulpfile.mjs
  src/core/jpx.js
  test/driver.js
  test/test_manifest.json
Labels: image-jpx, image-conversion, release-blocker

#19531 Disable the loading of node types in the type tests
  test/types/tsconfig.json
Labels: types

#19537 [api-minor] Re-factor how the `useWorkerFetch` option is used internally
  src/core/evaluator.js
  src/core/jpx.js
  src/core/pdf_manager.js
  src/display/api.js
  test/driver.js
  test/test_manifest.json
Labels: image-jpx, release-blocker

#19538 [Editor] Fix the position in the page of a drawing after it has been moved with the keyboard
  src/display/editor/draw.js
  src/display/editor/editor.js
  src/display/editor/tools.js
  test/integration/freetext_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: editor

#19543 Refactor the editor integration test helper functions
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
Labels: test

#19545 Fix the link for issue5939.pdf
  test/pdfs/issue5939.pdf.link
Labels: test

#19539 [Editor] Shift the signature editor when pasted
  src/display/editor/draw.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/ink.js
  src/display/editor/signature.js
  src/display/editor/stamp.js
  test/integration/signature_editor_spec.mjs
Labels: editor

#19552 Add a comment 'THIS FILE IS GENERATED - DO NOT EDIT' in openjpeg files generated with emscripten
  external/openjpeg/openjpeg.js
  external/openjpeg/openjpeg_nowasm_fallback.js
Labels: image-jpx

#19551 Fix the `assert` in `FontLoader.prototype.loadSystemFont`
  src/display/font_loader.js
Labels: font-conversion, release-blocker

#19555 Pad rev 4 encryption keys to be >= 16 bytes (issue 19484)
  src/core/crypto.js
  test/pdfs/.gitignore
  test/pdfs/issue19484_1.pdf
  test/pdfs/issue19484_2.pdf
  test/test_manifest.json
Labels: core

#19558 Reset `#renderError` on `RenderingCancelledException` (PR 19128 follow-up)
  web/base_pdf_page_view.js
Labels: viewer, release-blocker

#19548 Send `disableFontFace` and `fontExtraProperties` as part of the exported font-data
  src/core/catalog.js
  src/core/document.js
  src/core/evaluator.js
  src/core/fonts.js
  src/display/api.js
  src/display/font_loader.js
  test/font/font_fpgm_spec.js
  test/font/font_os2_spec.js
  test/font/font_post_spec.js
Labels: core, font-conversion, release-blocker

#19565 [Editor] Fix the telemetry for the signature stuff
  web/signature_manager.js
Labels: editor

#19556 Use more local variables in `PDFViewerApplication._initializeViewerComponents`
  web/app.js
Labels: viewer

#19557 Abort various timeouts, in `PDFViewer`, when closing the document (PR 19128 follow-up)
  web/pdf_viewer.js
Labels: viewer, test

#19562 Extend `getGlyphMapForStandardFonts` with some Cyrillic entries (issue 19550)
  src/core/standard_fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue19550.pdf
  test/test_manifest.json
Labels: font-conversion

#19563 Invoke `TranslatedFont.prototype.loadType3Data` only *once* per font
  src/core/catalog.js
  src/core/evaluator.js
Labels: font-conversion, font-type3

#19544 Reenable viewerCssTheme option for Firefox
  gulpfile.mjs
  web/app.js
  web/app_options.js
Labels: viewer

#19584 Fix the build of the openjpeg decoder in order to use an optimized build of the openjpeg library (bug 1951128)
  external/openjpeg/openjpeg.wasm
Labels: performance, regression, image-jpx, image-conversion
