Repository mozilla/pdf.js, pull requests merged in 2025-03, with the labels that each got.

#19583 Add a `GlobalColorSpaceCache` to reduce unnecessary re-parsing
  src/core/annotation.js
  src/core/catalog.js
  src/core/colorspace.js
  src/core/default_appearance.js
  src/core/document.js
  src/core/evaluator.js
  src/core/image.js
  src/core/image_utils.js
  src/core/pattern.js
  test/unit/colorspace_spec.js
  test/unit/default_appearance_spec.js
Labels: core

#19578 Try reducing flakiness of CSS-only zoom test
  test/integration/test_utils.mjs
  test/integration/viewer_spec.mjs
Labels: test, intermittent

#19571 Add the missing return type for `PDFWorker.fromPort()`
  src/display/api.js
Labels: types

#19568 Don't bundle the `FakeMLManager` class in regular builds
  web/genericcom.js
Labels: viewer

#19589 Replace a loop with `TypedArray.prototype.fill()` in the `RunLengthStream` class
  src/core/run_length_stream.js
Labels: core

#19581 Write string-data into the `.error`-file created for broken test-manifest links (issue 19579)
  test/downloadutils.mjs
Labels: test

#19582 Be sure to consume responses in case of error in downloading test files (issue 19580)
  test/downloadutils.mjs
Labels: test

#19577 Re-use the `isValidExplicitDest` helper function in the worker/viewer
  src/core/catalog.js
  src/display/api.js
  src/pdf.js
  src/shared/util.js
  test/unit/pdf_spec.js
  web/pdf_link_service.js
  web/pdfjs.js
Labels: core, viewer

#19596 Use arrow function with various Array methods
  src/core/chunked_stream.js
  src/core/fonts.js
  src/core/jbig2.js
  src/core/xml_parser.js
  test/font/jasmine-boot.js
  test/stats/statcmp.js
  test/test.mjs
  test/unit/api_spec.js
  test/unit/jasmine-boot.js
  web/debugger.mjs
Labels: core, viewer, test

#19576 Fix autolinking with highlighted search results
  test/integration/autolinker_spec.mjs
  web/autolinker.js
Labels: viewer

#19597 Use arrow functions with some `Promise.then` calls
  src/core/annotation.js
  src/core/catalog.js
  src/core/document.js
  src/core/worker.js
  test/unit/api_spec.js
Labels: core, test

#19604 [api-minor] Limit the maximum canvas width/height, in addition to its total area (bug 1943094)
  web/app.js
  web/app_options.js
  web/pdf_page_view.js
  web/pdf_thumbnail_view.js
  web/pdf_thumbnail_viewer.js
  web/pdf_viewer.js
Labels: viewer, release-blocker

#19585 Use the latest emsdk version to compile openjpeg decoder
  external/openjpeg/openjpeg.js
  external/openjpeg/openjpeg.wasm
  external/openjpeg/openjpeg_nowasm_fallback.js
  gulpfile.mjs
Labels: image-jpx, image-conversion

#19564 [api-minor] Support using ICC profiles in using qcms (bug 860023)
  .prettierignore
  eslint.config.mjs
  external/qcms/LICENSE_PDFJS_QCMS
  external/qcms/LICENSE_QCMS
  external/qcms/README.md
  external/qcms/qcms.js
  external/qcms/qcms_bg.wasm
  external/qcms/qcms_utils.js
  gulpfile.mjs
  src/core/annotation.js
  src/core/catalog.js
  src/core/colorspace.js
  src/core/colorspace_utils.js
  src/core/default_appearance.js
  src/core/evaluator.js
  src/core/icc_colorspace.js
  src/core/image.js
  src/core/pattern.js
  src/core/pdf_manager.js
  test/pdfs/issue2856.pdf.link
  test/test_manifest.json
  test/unit/colorspace_spec.js
Labels: core, image-conversion, image-quality, release-blocker

#19599 Remove `ColorSpaceUtils.parseAsync` and simplify the ColorSpace "API-surface"
  src/core/colorspace_utils.js
  src/core/evaluator.js
Labels: core

#19607 Simplify the `ColorSpaceUtils.singletons` handling (PR 19564 follow-up)
  src/core/annotation.js
  src/core/catalog.js
  src/core/colorspace_utils.js
  src/core/default_appearance.js
  src/core/evaluator.js
Labels: core

#19617 Introduce a helper function for clamping a value to a range
  src/core/colorspace.js
  src/core/colorspace_utils.js
  src/core/function.js
  src/core/image.js
  src/core/xfa/utils.js
  src/display/editor/drawers/inkdraw.js
  src/display/editor/editor.js
  src/pdf.js
  src/shared/util.js
  test/unit/pdf_spec.js
  web/pdfjs.js
  web/ui_utils.js
Labels: core, viewer

#19618 [Editor] In edit mode, a non-editable stamp must be visible after the page is rendered
  src/core/annotation.js
  test/integration/freetext_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
  test/pdfs/.gitignore
  test/pdfs/red_stamp.pdf
Labels: editor

#19619 Fix the `#savedHasOwnCanvas` handling in the `StampAnnotation` class
  src/core/annotation.js
Labels: annotations

#19628 Use the `MathClamp` helper function more (PR 19617 follow-up)
  src/core/pattern.js
  src/core/xfa/layout.js
  src/core/xfa/xhtml.js
Labels: core, form-xfa

#19623 Remove the `PDFFunctionFactory.createFromArray` method
  src/core/function.js
  src/core/pattern.js
Labels: core

#19629 Re-factor the `src/core/crypto.js` file
  src/core/calculate_md5.js
  src/core/calculate_sha256.js
  src/core/calculate_sha_other.js
  src/core/crypto.js
  src/core/document.js
  src/core/writer.js
  test/unit/crypto_spec.js
Labels: core

#19621 Limit the maximum thumbnail canvas width/height, similar to pages (PR 19604 follow-up)
  web/pdf_thumbnail_view.js
Labels: viewer, release-blocker

#19613 Let SMask/Mask images fallback to the parent image dimensions (issue 19611)
  src/core/image.js
  test/pdfs/issue19611.pdf.link
  test/test_manifest.json
Labels: image-conversion

#19625 Improve text-selection for Type3 fonts, using `d0` operators, with empty /FontBBox-entries (issue 19624)
  src/core/evaluator.js
  test/pdfs/issue19624.pdf.link
  test/test_manifest.json
Labels: text-selection, font-type3

#19635 Support the `maxCanvasPixels` option in the thumbnails code
  src/display/display_utils.js
  web/app.js
  web/pdf_page_view.js
  web/pdf_thumbnail_view.js
  web/pdf_thumbnail_viewer.js
Labels: viewer

#19620 [api-minor] Use an icc profile for converting CMYK to RGB
  external/iccs/CGATS001Compat-v2-micro.icc
  external/iccs/LICENSE
  external/iccs/README.md
  external/qcms/qcms_bg.wasm
  external/qcms/qcms_utils.js
  gulpfile.mjs
  src/core/colorspace_utils.js
  src/core/evaluator.js
  src/core/icc_colorspace.js
  src/core/jpg.js
  src/core/pdf_manager.js
  src/display/api.js
  test/driver.js
  web/app_options.js
Labels: core, image-quality, release-blocker

#19636 [Editor] Make sure the save checkbox isn't focusable when saving is disabled (bug 1952558)
  test/integration/signature_editor_spec.mjs
  web/signature_manager.css
  web/signature_manager.js
  web/viewer.html
Labels: editor

#19639 Always use the absolute value of the line thickness (issue 19633)
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue19633.pdf
  test/test_manifest.json
Labels: core

#19640 Don't close the `secondaryToolbar` when clicking inside it (PR 18385 follow-up)
  test/integration/viewer_spec.mjs
  web/app.js
Labels: viewer, regression, release-blocker

#19642 [Editor] Fix the style of the buttons in dialog (bug 1953003)
  web/dialog.css
  web/signature_manager.css
Labels: editor

#19647 Let `Lexer.prototype.getNumber` treat more cases of a single minus sign as zero (bug 1953099)
  src/core/parser.js
  test/pdfs/.gitignore
  test/pdfs/bug1953099.pdf
  test/test_manifest.json
  test/unit/parser_spec.js
Labels: core, corrupted-pdf

#19646 Don't shadow the `TouchManager.prototype.MIN_TOUCH_DISTANCE_TO_PINCH` value
  src/display/touch_manager.js
Labels: viewer

#19643 Update l10n files
  l10n/eu/viewer.ftl
  l10n/fur/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/hy-AM/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/zh-TW/viewer.ftl
Labels: release-blocker, l10n

#19644 Introduce a common base class for the `PDF17` and `PDF20` crypto classes
  src/core/crypto.js
Labels: core

#19645 Add an `OutputScale` static method to get the `devicePixelRatio`
  src/display/canvas.js
  src/display/display_utils.js
  src/display/text_layer.js
  src/display/touch_manager.js
  test/driver.js
  web/app.js
  web/pdf_page_detail_view.js
Labels: core, viewer, test

#19648 [Editor] Fix the role of the different editors in order to make them interactive elements (bug 1953290)
  l10n/en-US/viewer.ftl
  src/display/editor/alt_text.js
  src/display/editor/editor.js
  src/display/editor/highlight.js
  src/display/editor/ink.js
  src/display/editor/signature.js
  src/display/editor/stamp.js
  test/integration/signature_editor_spec.mjs
  test/integration/stamp_editor_spec.mjs
Labels: editor

#19650 Shorten the `src/core/crypto.js` file a little bit
  src/core/crypto.js
  test/test_manifest.json
Labels: core, test

#19649 [Editor] Fix the title of saved signature button (bug 1953298)
  l10n/en-US/viewer.ftl
  web/signature_manager.js
  web/viewer.html
Labels: editor

#19652 [Editor] Remove useless css variable
  web/signature_manager.css
Labels: editor

#19653 Remove all the translatable strings from the html
  web/viewer-geckoview.html
  web/viewer.html
Labels: viewer

#19657 Replace the regular expression in `GenericL10n.#getPaths` with simple string parsing
  web/genericl10n.js
Labels: viewer, release-blocker

#19656 Slightly shorten a couple of `MeshStreamReader` methods
  src/core/pattern.js
Labels: core

#19661 Inline the `PDFThumbnailView.prototype.#finishRenderTask` helper method
  web/pdf_thumbnail_view.js
Labels: viewer

#19663 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#19662 Replace a few simple regular expressions in the XFA-code with string parsing
  src/core/xfa/config.js
  src/core/xfa/utils.js
  src/core/xfa/xhtml.js
Labels: form-xfa

#19665 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/el/viewer.ftl
  l10n/it/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/nn-NO/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#19632 [api-minor] Attempt to support fetching the raw data of the PDF document from the `PDFDocumentLoadingTask`-instance (issue 15085)
  src/display/api.js
  test/unit/api_spec.js
  web/app.js
Labels: core, viewer

#19667 Bump library version to `5.1`
  pdfjs.config
Labels: other

#19671 Fix the "Signature Editor Basic operations must check copy and paste" integration test
  test/integration/signature_editor_spec.mjs
Labels: test, intermittent

#19673 Remove documentation for unused l10n variable (PR 18492 follow-up)
  l10n/en-US/viewer.ftl
Labels: l10n

#19677 For JPEG images with CMYK-data, ensure that the alpha-component is set correctly when WebAssembly is disabled (issue 19676)
  src/core/jpg.js
  test/test_manifest.json
Labels: regression, image-conversion, image-jpeg

#19674 Introduce more `async` code in the `src/core/document.js` file
  src/core/document.js
Labels: core

#19684 Improve `addSignatureDescription`/`editSignatureDescription` handling (issue 19683)
  web/signature_manager.js
  web/viewer.html
Labels: viewer, editor, release-blocker

#19693 Fix the MD5 computation in the `src/core/writer.js` file
  src/core/writer.js
  test/unit/writer_spec.js
Labels: core, release-blocker

#19692 Improve the implementation in `src/core/writer.js` a little bit
  src/core/writer.js
Labels: core

#19703 Replace the `setValues` function with `Array.prototype.fill()` in the `src/core/bidi.js` file
  src/core/bidi.js
Labels: core

#19681 [api-minor] Add a basic `AbortSignal.any` polyfill in PDF.js `legacy` builds
  src/shared/util.js
  web/app.js
  web/pdf_viewer.js
Labels: core, viewer

#19696 Extend `getSupplementalGlyphMapForCalibri` with Pound-sign (issue 19695)
  src/core/standard_fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue19695.pdf
  test/test_manifest.json
Labels: font-conversion

#19705 Isolate the scripting integration tests
  test/integration/scripting_spec.mjs
Labels: test

#19689 [api-minor] Use a Path2D when doing a path operation in the canvas (bug 1946953)
  src/core/evaluator.js
  src/core/operator_list.js
  src/display/canvas.js
  src/display/pattern_helper.js
  src/shared/util.js
  test/pdfs/bug1946953.pdf.link
  test/test_manifest.json
  test/unit/annotation_spec.js
  test/unit/api_spec.js
  test/unit/evaluator_spec.js
Labels: core, performance

#19706 Isolate the "move editor with arrows" freetext editor integration tests
  test/integration/freetext_editor_spec.mjs
Labels: test

#19710 Introduce `Math.sumPrecise` usage in the code-base
  src/core/annotation.js
  src/core/crypto.js
  src/core/glyf.js
  src/core/writer.js
  src/core/xfa/html_utils.js
  src/core/xfa/layout.js
  src/display/editor/freetext.js
  src/shared/util.js
  test/unit/pdf_find_controller_spec.js
Labels: core, test

#19708 Fix save/restore while in smask mode
  src/display/canvas.js
Labels: smask

#19715 Take into account the path and the line width when consuming a stroked path
  src/display/canvas.js
  test/pdfs/.gitignore
  test/pdfs/issue18529.pdf
  test/test_manifest.json
Labels: core

#19713 Add new bounding-box helpers in `Util` to reduce code duplication
  src/core/annotation.js
  src/core/evaluator.js
  src/display/editor/drawers/freedraw.js
  src/display/editor/drawers/highlight.js
  src/display/editor/drawers/inkdraw.js
  src/shared/util.js
  web/autolinker.js
Labels: core, viewer

#19702 In the struct tree a kid can be a reference to an MCID entry (issue #19694)
  src/core/struct_tree.js
Labels: core

#19691 Remove `Array.prototype.reduce` usage from the `src/core/xfa/template.js` file
  src/core/xfa/template.js
Labels: form-xfa

#19719 Pass the `XRef`-instance explicitly to the `StructTreeRoot` class, and simplify the `StructElementNode.prototype.role` getter
  src/core/catalog.js
  src/core/struct_tree.js
  src/core/worker.js
Labels: core

#19722 [Editor] Fix the border color of a tab panel in HCM (bug 1956110)
  web/signature_manager.css
Labels: editor

#19725 [Editor] in the signature UI, disable the description input if there is no signature (bug 1956114)
  test/integration/signature_editor_spec.mjs
  web/signature_manager.css
  web/signature_manager.js
Labels: editor

#19728 [Editor] Set an aria-description for an added signature (bug 1956513)
  l10n/en-US/viewer.ftl
  src/display/editor/signature.js
  test/integration/signature_editor_spec.mjs
Labels: editor

#19730 Update @fluent/dom to 0.10.1
  package-lock.json
  package.json
  src/display/editor/signature.js
Labels: dependencies

#19731 Pre-apply the transform when building the `Path2D` objects for Type3-fonts
  src/display/canvas.js
  test/pdfs/bug810214.pdf.link
  test/test_manifest.json
Labels: font-type3

#19734 [Editor] Add a border to the undo button in the snackbar in order to make a contrast (bug 1952563)
  web/message_bar.css
Labels: editor

#19740 Spell "properly" in viewer integration-test names
  test/integration/viewer_spec.mjs
Labels: test

#19737 Simplify handling of the color-parameter in `TilingPattern` (PR 4824 follow-up)
  src/display/canvas.js
  src/display/pattern_helper.js
Labels: core

#19720 Shorten the `PDFViewerApplication._initializeViewerComponents` method
  web/app.js
Labels: viewer

#19739 Reduce duplication when specifying the fn-operations in `buildPaintImageXObject`
  src/core/evaluator.js
Labels: core

#19733 [api-minor] Attempt to improve support for using the PDF.js builds with Vite
  eslint.config.mjs
  external/builder/babel-plugin-pdfjs-preprocessor.mjs
  external/builder/fixtures_babel/importalias-expected.js
  external/builder/fixtures_babel/importalias.js
  src/core/jpx.js
  src/display/api.js
  web/app.js
  web/generic_scripting.js
Labels: other, release-blocker

#19735 Apply char/word-spacing correctly for missing Type3-glyphs
  src/display/canvas.js
  test/pdfs/.gitignore
  test/pdfs/Type3WordSpacing.pdf
  test/test_manifest.json
Labels: font-conversion, font-type3

#19741 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#19742 Update dependencies and translations to the most recent versions
  l10n/ar/viewer.ftl
  l10n/be/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/da/viewer.ftl
  l10n/de/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-CA/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/eo/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/es-ES/viewer.ftl
  l10n/es-MX/viewer.ftl
  l10n/eu/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fur/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hr/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/id/viewer.ftl
  l10n/is/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ka/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/ml/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/pl/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/pt-PT/viewer.ftl
  l10n/rm/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/skr/viewer.ftl
  l10n/sl/viewer.ftl
  l10n/sq/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/th/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/uk/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#19743 Isolate the "basic operations" freetext editor integration tests
  test/integration/freetext_editor_spec.mjs
Labels: test

#19721 Simplify singularValueDecompose2dScale in order to make it using less memory
  src/display/canvas.js
  src/display/pattern_helper.js
  src/shared/util.js
Labels: core
