Repository mozilla/pdf.js, pull requests merged in 2025-08, with the labels that each got.

#20142 Trigger a fake scrollend event in case it hasn't been triggered by the browser (bug 1957680)
  web/app.js
Labels: viewer

#20159 Update l10n files
  l10n/be/viewer.ftl
  l10n/cak/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/da/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/ka/viewer.ftl
  l10n/kab/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/ro/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/sl/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/zh-TW/viewer.ftl
Labels: l10n

#20160 Check the setDash arguments
  src/core/evaluator.js
  test/unit/evaluator_spec.js
Labels: core

#20164 [Editor] Correctly hide deleted annotations
  src/display/editor/annotation_editor_layer.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/highlight.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  test/integration/freetext_editor_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/tracemonkey_with_annotations.pdf
Labels: editor

#20167 [Editor] Add the ability to get all the editable annotations in a pdf document
  src/core/annotation.js
  src/core/document.js
  src/core/worker.js
  src/display/api.js
  test/pdfs/.gitignore
  test/pdfs/tracemonkey_with_editable_annotations.pdf
  test/unit/api_spec.js
Labels: editor

#20169 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/be/viewer.ftl
  l10n/bs/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/da/viewer.ftl
  l10n/de/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-CA/viewer.ftl
  l10n/eo/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/pl/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#20184 Use the cached annotations when collecting them by types
  src/core/document.js
  test/unit/api_spec.js
Labels: annotations

#20180 [Editor] Move the comment button just before the delete one
  src/display/editor/editor.js
  src/display/editor/toolbar.js
Labels: editor

#20187 Update puppeteer to 24.17.0
  package-lock.json
  package.json
Labels: test

#20170 Don't iterate over all empty slots in the xref entries (bug 1980958)
  src/core/xref.js
  test/pdfs/.gitignore
  test/pdfs/bug1980958.pdf
  test/unit/api_spec.js
Labels: core, performance

#20194 [Editor] Change the icon for inline comments
  web/annotation_editor_layer_builder.css
  web/annotation_layer_builder.css
  web/comment_manager.css
  web/images/comment-editButton.svg
  web/images/comment-inline-editButton.svg
  web/viewer.css
Labels: editor

#20196 [Editor] Add a method to get an editor rect in the pdf page coordinates
  src/display/editor/draw.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/highlight.js
  src/display/editor/stamp.js
Labels: editor

#20200 [Editor] Remove useless CSS and fix styling for the comment button
  src/display/annotation_layer.js
  web/comment_manager.css
Labels: editor

#20211 [Editor] Fix unit (for consistency) and remove few useless px
  web/annotation_editor_layer_builder.css
Labels: editor

#20212 Reset editing mode when changing the pdf document
  web/pdf_viewer.js
Labels: viewer

#20210 [Editor] Add a sidebar allowing the user to navigate between the comments in a pdf (bug 1985567)
  l10n/en-US/viewer.ftl
  src/display/editor/tools.js
  src/shared/util.js
  web/app.js
  web/comment_manager.css
  web/comment_manager.js
  web/pdf_viewer.css
  web/sidebar.css
  web/toolbar.js
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: editor

#20215 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#20204 Add a function changeLightness in order to change the lightness of a RGB color
  src/display/annotation_layer.js
  src/display/display_utils.js
  src/pdf.js
  test/unit/display_utils_spec.js
  test/unit/pdf_spec.js
  web/comment_manager.js
  web/pdfjs.js
Labels: core, viewer, editor

#20220 [Editor] Hide the comment sidebar on document change
  web/comment_manager.js
Labels: editor

#20217 [Editor] Add editors with a comment in the sidebar
  src/display/editor/annotation_editor_layer.js
  src/display/editor/comment.js
  src/display/editor/drawers/freedraw.js
  src/display/editor/drawers/highlight.js
  src/display/editor/editor.js
  src/display/editor/highlight.js
  src/display/editor/toolbar.js
  src/display/editor/tools.js
  web/comment_manager.css
  web/comment_manager.js
Labels: editor
