Repository mozilla/pdf.js, pull requests merged in 2025-09, with the labels that each got.

#20269 Use a dichotomy to find a color with a good contrast ratio
  src/display/display_utils.js
  test/unit/display_utils_spec.js
Labels: editor

#20271 Replace manual returns with `pending` in the integration tests
  test/integration/highlight_editor_spec.mjs
  test/integration/ink_editor_spec.mjs
  test/integration/viewer_spec.mjs
Labels: test

#20272 Update dependencies and translations to the most recent versions
  gulpfile.mjs
  l10n/ca/viewer.ftl
  l10n/es-ES/viewer.ftl
  l10n/eu/viewer.ftl
  l10n/id/viewer.ftl
  l10n/is/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/th/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#20249 [Editor] Add a new popup for comments (bug 1987425)
  extensions/chromium/preferences_schema.json
  l10n/en-US/viewer.ftl
  src/display/editor/annotation_editor_layer.js
  src/display/editor/comment.js
  src/display/editor/draw.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/highlight.js
  src/display/editor/toolbar.js
  src/display/editor/tools.js
  web/annotation_editor_layer_builder.css
  web/app.js
  web/app_options.js
  web/comment_manager.css
  web/comment_manager.js
  web/images/comment-popup-editButton.svg
  web/pdf_viewer.js
  web/viewer.html
  web/viewer.js
Labels: editor

#20274 [Annotation] Save the comment changes made in reading mode (bug 1987427)
  src/display/annotation_layer.js
  src/display/annotation_storage.js
  src/display/editor/editor.js
  src/display/editor/tools.js
Labels: editor

#20281 [Editor] Fix the focus outline for the comment dialog buttons
  web/comment_manager.css
  web/viewer.html
Labels: editor

#20282 [Editor] Make sure to not add extra editors when showing again a destroyed page
  src/display/editor/annotation_editor_layer.js
  src/display/editor/tools.js
  test/integration/highlight_editor_spec.mjs
Labels: editor

#20295 [Editor] Update the color and the position of the comment button in reading mode they've been modified
  src/display/annotation_layer.js
  src/display/annotation_storage.js
  src/display/editor/editor.js
  src/display/editor/freetext.js
  src/display/editor/highlight.js
  src/display/editor/ink.js
  src/display/editor/stamp.js
  test/integration/comment_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/comments.pdf
Labels: editor, To Review

#20297 [Editor] Don't add scrollbars when it's useless in the comment sidebar (bug 1990099)
  web/comment_manager.css
Labels: editor, To Review

#20303 [Editor] Make the comment sidebar resizable (bug 1990544)
  test/integration/comment_spec.mjs
  web/app.js
  web/comment_manager.css
  web/comment_manager.js
  web/sidebar.css
  web/viewer.css
  web/viewer.html
  web/viewer.js
Labels: editor, To Review

#20305 [Editor] Add a title to the comment buttons (bug 1990813)
  l10n/en-US/viewer.ftl
  src/display/annotation_layer.js
  src/display/editor/comment.js
  test/integration/comment_spec.mjs
Labels: editor, To Review

#20307 [Editor] Make sure the selected editor is correctly focused after switching editing mode (bug 1990872)
  src/display/editor/editor.js
  src/display/editor/tools.js
  test/integration/highlight_editor_spec.mjs
Labels: editor, To Review

#20308 [Editor] Fix the URL for the 'Learn more' link in the comment sidebar (bug 1990454)
  web/app_options.js
Labels: editor, To Review

#20310 [Editor] Show the comments in the sidebar in the chronological order,newest to oldest (bug 1990762)
  test/integration/comment_spec.mjs
  web/comment_manager.js
Labels: editor, To Review

#20312 [Annotation] In reading mode with new commment stuff enabled, use the comment popup for annotations without a popup but with some contents (bug 1991029)
  src/display/annotation_layer.js
  test/integration/annotation_spec.mjs
  web/comment_manager.js
Labels: annotations, editor, To Review

#20313 [Editor] Add some telemetry for the commenting feature (bug 1991172)
  src/display/annotation_storage.js
  src/display/editor/editor.js
  web/app.js
  web/comment_manager.js
Labels: editor, To Review
