Repository mozilla/pdf.js, pull requests merged in 2025-04, with the labels that each got.

#19712 Optimize save-transform-constructPath-restore
  src/core/operator_list.js
  src/shared/util.js
Labels: core, performance

#19746 Reduce some code duplication when handling globally cached images
  src/core/evaluator.js
Labels: core

#19732 Remove few useless beginPaths
  src/display/canvas.js
Labels: core

#19751 Change `Util.applyTransform` to use the point-argument as an in/out parameter
  src/core/annotation.js
  src/core/operator_list.js
  src/display/canvas.js
  src/display/display_utils.js
  src/shared/util.js
Labels: core

#19752 Simplify updateRectMinMax in order to use slightly less memory
  src/core/evaluator.js
  src/core/operator_list.js
  src/display/canvas.js
Labels: core

#19760 Also transfer `ImageBitmap`s for image masks and inline images
  src/core/operator_list.js
Labels: core, performance

#19766 Bump library version to `5.2`
  pdfjs.config
Labels: other

#19768 Pass the /Info-strings as a `Map` to the `src/core/writer.js` code
  src/core/worker.js
  src/core/writer.js
  test/unit/writer_spec.js
Labels: core

#19763 Replace UpdateRectMinMax by getAxialAlignedBoundingBox
  src/core/annotation.js
  src/display/canvas.js
  src/display/pattern_helper.js
  src/shared/util.js
Labels: core

#19756 Use `ctx.filter` unconditionally in the `src/display/canvas.js` file
  src/display/canvas.js
Labels: core, node-specific

#19758 Initialize the `isOffscreenCanvasSupported` option, in the `OperatorList` class, once per document
  src/core/evaluator.js
  src/core/operator_list.js
  src/core/pdf_manager.js
Labels: core

#19771 Change how (most) fields are initialized in the `CanvasExtraState` class
  src/display/canvas.js
Labels: core

#19772 Avoid to create an array when setting the text matrix
  src/core/evaluator.js
  src/core/operator_list.js
  src/display/canvas.js
Labels: core

#19776 Remove `Array.prototype.reduce` usage from the unit-tests
  test/unit/ui_utils_spec.js
Labels: test

#19777 Tweak the Node.js version listed in "engines", to ensure that `process.getBuiltinModule` is available
  gulpfile.mjs
  package-lock.json
  package.json
Labels: node-specific

#19775 Use Array-destructuring when computing MIN/MAX in `AFSimple_Calculate`
  src/scripting_api/aform.js
  test/unit/scripting_spec.js
Labels: form-js

#19786 Lint against `export [some declaration]`
  eslint.config.mjs
  src/pdf.sandbox.external.js
Labels: test

#19785 [chrome] Fix text selection with `.markedContent`
  test/integration/text_layer_spec.mjs
  test/pdfs/.gitignore
  test/pdfs/chrome-text-selection-markedContent.pdf
  web/text_layer_builder.js
Labels: text-selection

#19788 Enable the `no-array-reduce` ESLint plugin rule
  eslint.config.mjs
  test/stats/statcmp.js
Labels: other

#19781 Move the `IDENTITY_MATRIX` constant into `src/core/core_utils.js` (PR 19772 follow-up)
  src/core/annotation.js
  src/core/core_utils.js
  src/core/evaluator.js
  src/core/pattern.js
  src/shared/util.js
Labels: core

#19778 [api-minor] Replace various `getAll` methods with iterators
  src/display/annotation_storage.js
  src/display/metadata.js
  src/display/optional_content_config.js
  src/shared/util.js
  test/driver.js
  test/unit/annotation_storage_spec.js
  test/unit/metadata_spec.js
Labels: core, test

#19791 Handle non-integer and out-of-range values correctly in Indexed color spaces
  src/core/colorspace.js
  test/pdfs/.gitignore
  test/pdfs/IndexedCS_negative_and_high.pdf
  test/test_manifest.json
Labels: core, image-quality

#19797 [Editor] Commit the current drawing before switching the current mode
  src/display/editor/tools.js
  src/display/touch_manager.js
Labels: editor

#19804 Use `adjustWidths` unconditionally for all embedded fonts (issue 19802)
  src/core/fonts.js
  test/pdfs/.gitignore
  test/pdfs/issue19802.pdf
  test/test_manifest.json
Labels: font-conversion

#19803 Catch circular references in /Form XObjects (issue 19800)
  src/core/annotation.js
  src/core/core_utils.js
  src/core/document.js
  src/core/evaluator.js
  test/pdfs/.gitignore
  test/pdfs/issue19800.pdf
  test/test_manifest.json
Labels: core

#19790 Simplify the `getAnnotationStorage` integration-test helper function
  test/integration/test_utils.mjs
Labels: test

#19789 Simplify `Object.fromEntries` usage a tiny bit in the `web/generic_signature_storage.js` file
  web/generic_signature_storage.js
Labels: viewer

#19805 Change `PDFDocument.prototype._xfaStreams` to return a `Map`
  src/core/document.js
Labels: core, form-xfa

#19806 Add more logical assignment in the `src/` folder
  src/core/annotation.js
  src/core/catalog.js
  src/core/document.js
  src/core/xfa/parser.js
  src/core/xfa/template.js
  src/scripting_api/app.js
Labels: core

#19807 Update dependencies and translations to the most recent versions
  l10n/be/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/da/viewer.ftl
  l10n/de/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-CA/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/es-ES/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fur/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/hy-AM/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/id/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ja/viewer.ftl
  l10n/ka/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/pl/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/pt-PT/viewer.ftl
  l10n/rm/viewer.ftl
  l10n/ro/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sc/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/sl/viewer.ftl
  l10n/sq/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/uk/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#19809 Run the integration tests in a random order
  test/integration/accessibility_spec.mjs
  test/integration/annotation_spec.mjs
  test/integration/autolinker_spec.mjs
  test/integration/caret_browsing_spec.mjs
  test/integration/copy_paste_spec.mjs
  test/integration/find_spec.mjs
  test/integration/freetext_editor_spec.mjs
  test/integration/highlight_editor_spec.mjs
  test/integration/jasmine-boot.js
  test/integration/scripting_spec.mjs
  test/integration/stamp_editor_spec.mjs
  test/integration/test_utils.mjs
  test/integration/text_field_spec.mjs
  test/integration/text_layer_spec.mjs
  test/integration/viewer_spec.mjs
Labels: test

#19810 Update Webpack to version `5.99.5` (issue 19808)
  gulpfile.mjs
  package-lock.json
  package.json
  src/display/api.js
  src/pdf.image_decoders.js
  src/pdf.js
  src/pdf.sandbox.js
  src/pdf.worker.js
  test/unit/pdf.image_decoders_spec.js
  test/unit/pdf.worker_spec.js
  test/unit/pdf_spec.js
  test/unit/pdf_viewer.component_spec.js
  web/pdf_viewer.component.js
Labels: core, dependencies

#19812 Remove debug code from the integration tests, and skip the "must check that canvas perfectly fits the page whatever the zoom level" integration test in Chrome
  test/integration/stamp_editor_spec.mjs
  test/integration/viewer_spec.mjs
Labels: test

#19824 Improve error handling when parsing page-structTrees
  src/core/document.js
  src/core/struct_tree.js
Labels: core, corrupted-pdf

#19828 Check that the `Object.prototype` hasn't been incorrectly extended (PR 11582 follow-up)
  src/core/worker.js
Labels: core

#19841 Fix printing of XFA documents, by calling `XfaLayerBuilder.prototype.render` correctly (issue 19840)
  web/print_utils.js
Labels: viewer, regression, printing, form-xfa

#19836 Always fallback to checking all destinations, when lookup fails (issue 19835)
  src/core/catalog.js
  test/pdfs/issue19835.pdf.link
  test/test_manifest.json
  test/unit/api_spec.js
Labels: core

#19823 Remove duplicate secondaryToolbar button `mask-image` definitions (PR 18385 follow-up)
  web/viewer.css
Labels: viewer

#19816 Add a "supportsPrinting" viewer-option (bug 1957401)
  web/app.js
  web/app_options.js
Labels: viewer

#19853 Disable userActivation before executing a setTimeout/setInterval callback
  src/scripting_api/app.js
Labels: form-js

#19854 Fix errors when running the integration tests
  web/pdf_find_controller.js
Labels: viewer, test

#19815 Ensure that "local" /Contents stream-dict /Resources aren't empty (PR 19803 follow-up)
  src/core/document.js
Labels: core

#19814 Fix beginner bugs link in README
  README.md
Labels: other

#19858 Tweak the Node.js version listed in "engines", to ensure that process.getBuiltinModule is available
  gulpfile.mjs
  package-lock.json
  package.json
Labels: node-specific

#19868 Use the `MathClamp` helper function more in the `web/` folder (PR 19617 follow-up)
  web/pdf_viewer.js
Labels: viewer

#19866 Avoid (most) string parsing when removing/replacing the hash property of a URL
  extensions/chromium/extension-router.js
  src/core/catalog.js
  src/display/filter_factory.js
  src/pdf.js
  src/shared/util.js
  test/unit/pdf_spec.js
  web/app.js
  web/app_options.js
  web/generic_scripting.js
  web/pdf_history.js
  web/pdfjs.js
Labels: core, viewer

#19869 Update dependencies and translations to the most recent versions
  l10n/be/viewer.ftl
  l10n/bg/viewer.ftl
  l10n/cs/viewer.ftl
  l10n/cy/viewer.ftl
  l10n/da/viewer.ftl
  l10n/de/viewer.ftl
  l10n/dsb/viewer.ftl
  l10n/el/viewer.ftl
  l10n/en-CA/viewer.ftl
  l10n/en-GB/viewer.ftl
  l10n/eo/viewer.ftl
  l10n/es-AR/viewer.ftl
  l10n/es-CL/viewer.ftl
  l10n/es-ES/viewer.ftl
  l10n/es-MX/viewer.ftl
  l10n/eu/viewer.ftl
  l10n/fi/viewer.ftl
  l10n/fr/viewer.ftl
  l10n/fur/viewer.ftl
  l10n/fy-NL/viewer.ftl
  l10n/gn/viewer.ftl
  l10n/he/viewer.ftl
  l10n/hsb/viewer.ftl
  l10n/hu/viewer.ftl
  l10n/ia/viewer.ftl
  l10n/id/viewer.ftl
  l10n/is/viewer.ftl
  l10n/it/viewer.ftl
  l10n/ka/viewer.ftl
  l10n/kk/viewer.ftl
  l10n/ko/viewer.ftl
  l10n/ml/viewer.ftl
  l10n/nb-NO/viewer.ftl
  l10n/nl/viewer.ftl
  l10n/nn-NO/viewer.ftl
  l10n/pa-IN/viewer.ftl
  l10n/pl/viewer.ftl
  l10n/pt-BR/viewer.ftl
  l10n/pt-PT/viewer.ftl
  l10n/rm/viewer.ftl
  l10n/ru/viewer.ftl
  l10n/sk/viewer.ftl
  l10n/sl/viewer.ftl
  l10n/sq/viewer.ftl
  l10n/sv-SE/viewer.ftl
  l10n/tg/viewer.ftl
  l10n/th/viewer.ftl
  l10n/tr/viewer.ftl
  l10n/uk/viewer.ftl
  l10n/vi/viewer.ftl
  l10n/zh-CN/viewer.ftl
  l10n/zh-TW/viewer.ftl
  package-lock.json
  package.json
Labels: dependencies, l10n

#19874 Always render the Annotation- and XFA-layers with light `color-scheme` (issue 19871)
  web/annotation_layer_builder.css
  web/xfa_layer_builder.css
Labels: viewer, annotations, form-xfa

#19875 Bump the stable version in `pdfjs.config`
  pdfjs.config
Labels: other

#19855 Add useractivation check for response function
  src/scripting_api/app.js
Labels: form-js

#19876 Add a basic `navigator` polyfill for older Node.js versions
  src/display/node_utils.js
  src/shared/util.js
  web/app_options.js
Labels: node-specific

#19880 Assert that `numberToString` is called with a number (issue 19877)
  src/core/core_utils.js
Labels: core

#19856 Don't update the visible canvas at 60 fps (bug 1936605)
  web/app.js
  web/app_options.js
  web/base_pdf_page_view.js
  web/pdf_viewer.js
Labels: viewer, performance
